<template>
    <div class="success-answer">
        <object id="animated-svg"
                class="success-answer__image"
                type="image/svg+xml"
                data="/animations/success.svg"
        />
    </div>
</template>

<script>
export default {
    name: "SuccessAnswer",
};
</script>

<style lang="scss">
.success-answer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.success-answer__image {
    width: 80%;
    max-height: 100%;
}
</style>
