<template>
    <div class="wrong-answer">
        <div class="wrong-answer__label">
            Неправильно
        </div>
        <div class="wrong-answer__answer">
            Верный ответ: {{ value.answer }}
        </div>
        <img class="wrong-answer__image"
             src="/animations/wrong.svg"
        >
    </div>
</template>

<script>

export default {
    name: "WrongAnswer",
    props: {
        value: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {};
    },
    mounted() {

    },
};
</script>

<style lang="scss">

.wrong-answer {
    font-weight: 500;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    max-width: 70%;
}

.wrong-answer__label {
    color: $secondary;
}

.app_light {
    .wrong-answer__label {
        color: $primary;
    }
}

.app_mobile, .app_tablet {
    .wrong-answer__label,
    .wrong-answer__answer {
        font-size: 21px;
        line-height: 36px;
    }

    .wrong-answer__image {
        max-width: 50%;
        margin-top: 10px;
        max-height: 25vh;
    }
}

.wrong-answer__image {
    max-width: 60%;
    margin-top: 30px;
    max-height: 25vh;
}
</style>
