<template>
    <div>
        <v-attestation :attestation="{id:this.$route.params.id}" />
    </div>
</template>

<script>
import VAttestation from "@/components/common/attestations/VAttestation";

export default {
    name: "Id",
    components: {
        VAttestation,
    },
    layout: "teacher",
};
</script>

<style scoped>

</style>
