<template>
    <div>
        <page-header>
            Аттестации
            <template #actions>
                <v-button schema="dark"
                          @click.native="d_showPrintModal = true"
                >
                    Печать бланков
                </v-button>
                <v-button schema="secondary"
                          @click.native="d_showModal = true"
                >
                    Пройти аттестацию
                </v-button>
                <v-button schema="secondary"
                          @click.native="d_showAssignmentModal = true"
                >
                    Назначить аттестацию
                </v-button>
            </template>
        </page-header>
        <attestations-table />
        <print-attestations-modal v-if="d_showPrintModal"
                                  @close="d_showPrintModal = false"
        />
        <attestation-assignment-modal v-if="d_showAssignmentModal"
                                      @close="d_showAssignmentModal = false"
        />
        <new-attestation-modal v-if="d_showModal"
                               @close="d_showModal = false"
        />
    </div>
</template>

<script>
import teacherHasAccess from "@/middleware/teacherHasAccess";
import AttestationsTable from "@/components/common/attestations/AttestationsTable";
import NewAttestationModal from "@/components/common/attestations/NewAttestationModal";
import PrintAttestationsModal from "@/components/common/attestations/PrintAttestationsModal";
import AttestationAssignmentModal from "@/components/common/attestations/AttestationAssignmentModal";
import PageHeader from "~/components/common/PageHeader";
import VButton from "~/components/common/form/button/VButton";

export default {
    components: {
        AttestationAssignmentModal,
        PrintAttestationsModal,
        NewAttestationModal,
        AttestationsTable,
        VButton,
        PageHeader,
    },
    layout: "teacher",
    data() {
        return {
            d_showModal: false,
            d_showPrintModal: false,
            d_showAssignmentModal: false,
        };
    },
    head: {
        title: "Аттестация",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
    middleware: [teacherHasAccess],
};
</script>

<style scoped lang="scss">
</style>
