<template>
    <div class="print-page">
        <loading-component v-if="$fetchState.pending" />
        <template v-else>
            <div v-for="(variant, idx) in d_variants"
                 :key="variant.id"
                 class="print-page-variant"
            >
                <addition-stage key="addition"
                                class="print-page__stage"
                                :print-variant="idx+1"
                                :show-controls="false"
                                :show-answers="false"
                                :with-timer="false"
                                :stage="variant.stages[0]"
                />
                <template v-if="variant.stages[1]">
                    <multiplication-stage key="multiplication"
                                          class="print-page__stage"
                                          :print-variant="idx+1"
                                          :show-controls="false"
                                          :show-answers="false"
                                          :with-timer="false"
                                          :stage="variant.stages[1]"
                    />
                </template>
                <template v-if="variant.stages[2]">
                    <multiplication-stage key="division"
                                          class="print-page__stage"
                                          :print-variant="idx+1"
                                          :stage="variant.stages[2]"
                                          :show-controls="false"
                                          :show-answers="false"
                                          :with-timer="false"
                                          :division="true"
                    />
                </template>
            </div>
            <attestations-answers class="print-page__stage"
                                  :attestations="d_variants"
            />
        </template>
    </div>
</template>

<script>
import AdditionStage from "@/components/common/attestations/AdditionStage";
import MultiplicationStage from "@/components/common/attestations/MultiplicationStage";
import LoadingComponent from "@/components/common/LoadingComponent";
import AttestationsAnswers from "@/components/teacher/attestations/AttestationsAnswers";

export default {
    name: "Print",
    components: {
        AttestationsAnswers,
        LoadingComponent,
        MultiplicationStage,
        AdditionStage,
    },
    async fetch() {
        this.d_variants = await this.$api.attestations.generateVariants({
            count: this.$route.query.count,
            level: this.$route.query.level,
            type: this.$route.query.type,
        });
        if (process.client) {
            this.print();
        }
    },
    data() {
        return {
            d_variants: [],
        };
    },
    mounted() {
        if (!this.$fetchState.pending) {
            this.print();
        }
    },
    methods: {
        print() {
            if (this.$route.query.print !== "0") {
                setTimeout(window.print, 2000);
            }
        },
    },
};
</script>

<style scoped lang="scss">
.print-page {
    padding: 0 50px;
}

.print-page__variant + .print-page__variant {
    margin-top: 50px;
    page-break-before: always;
}

.print-page__stage {
    page-break-before: always;
}
</style>
