<template>
    <div>
        <page-header>
            Аттестации
            <template #actions>
                <v-button schema="secondary"
                          @click.native=" d_showModal = true"
                >
                    Пройти аттестацию
                </v-button>
            </template>
        </page-header>
        <attestations-table />
        <need-subscription-modal v-if="d_showModal && !c_hasSubscription">
            <p>Для прохождения аттестации необходимо оформить подписку.</p>
        </need-subscription-modal>
        <new-attestation-modal v-else-if="d_showModal"
                               @close="d_showModal = false"
        />
    </div>
</template>

<script>
import AttestationsTable from "@/components/common/attestations/AttestationsTable";
import NewAttestationModal from "@/components/common/attestations/NewAttestationModal";
import NeedSubscriptionModal from "@/components/student/subscription/NeedSubscriptionModal";
import PageHeader from "~/components/common/PageHeader";
import VButton from "~/components/common/form/button/VButton";

export default {
    components: {
        NeedSubscriptionModal,
        NewAttestationModal,
        AttestationsTable,
        VButton,
        PageHeader,
    },
    layout: "student",
    data() {
        return {
            d_showModal: false,
        };
    },
    computed: {
        c_hasSubscription() {
            return this.$store.getters["auth/hasAccess"];
        },
    },
    head: {
        title: "Аттестация",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
    middleware: [],
};
</script>

<style scoped lang="scss">
</style>
