<template>
    <div>
        <page-header>
            Аттестации
        </page-header>
        <admin-attestations-table />
    </div>
</template>

<script>
import PageHeader from "~/components/common/PageHeader";
import AdminAttestationsTable from "~/components/admin/attestations/AdminAttestationsTable";

export default {
    components: {
        AdminAttestationsTable,
        PageHeader,
    },
    layout: "admin",
    data() {
        return {
            d_showModal: false,
        };
    },
    head: {
        title: "Аттестация",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
    middleware: [],
};
</script>

<style scoped lang="scss">
</style>
