<template>
    <div class="flash-app-task">
        <v-abacus :key="d_currentIdx"
                  class="flash-app-task__abacus"
                  :value="+task['number'][d_currentIdx]"
                  :scheme="preferences.beadImg"
        />
    </div>
</template>

<script>
import VAbacus from "@/components/common/abacus/VAbacus";

export default {
    name: "FlashAppTask",
    components: {
        VAbacus,
    },
    props: {
        session: {
            type: Object,
            required: true,
        },
        preferences: {
            type: Object,
            required: true,
        },
        task: {
            type: Object,
            required: true,
        },
        width: {
            type: Number,
            default: 0,
        },
        timer: {
            type: Number,
            required: true,
        },
    },
    data() {
        return {
            d_currentIdx: 0,
            d_interval: null,
        };
    },
    mounted() {
        this.d_interval = setInterval(() => {
            if (this.d_currentIdx + 1 >= this.task.number.length) {
                this.$emit("needAnswer");
                clearInterval(this.d_interval);
            } else {
                this.d_currentIdx++;
            }
        }, this.timer);
    },
    beforeDestroy() {
        clearInterval(this.d_interval);
    },
};
</script>

<style lang="scss">
.flash-app-task {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
