<template>
    <div v-if="value">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-input v-model.number="value.inputTime"
                         label="Время на ввод ответа"
                         type="number"
                         step="0.1"
                         hint="Укажите 0, если ограничение не требуется"
                />
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-input v-model="value.taskCount"
                         label="Количество примеров"
                         type="number"
                         step="1"
                />
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-input v-model.number="value.watchTime"
                         label="Время на просмотр"
                         type="number"
                         step="0.1"
                />
            </div>
        </div>

        <div class="row align-items-end mb-3">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <div class="mb-2">
                    Разрядность числа
                </div>
                <v-range v-model="value.digitsCapacity"
                         :range="true"
                         :min="1"
                         :max="12"
                         :marks="{1:'1',2:'2',3:'3',4:'4',5:'5',6:'6',7:'7',8:'8',9:'9',10:'10',11:'11',12:'12'}"
                         :show-stops="true"
                />
            </div>
            <div class="col-12 col-md-6">
                <v-input v-model.number="value.taskSize"
                         label="Количество комбинаций"
                         type="number"
                         step="1"
                />
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <v-checkbox v-model="value.watchTimeProgress"
                            class="mb-3"
                            label="Прогресс скорости"
                >
                    <template #hint>
                        <p>
                            При активации этого режима время на просмотр будет уменьшаться (увеличиваться) на 0.1с в
                            случае 5 правильных (неправильных) ответов подряд.
                        </p>
                    </template>
                </v-checkbox>
                <transition-collapse>
                    <v-input v-if="value.watchTimeProgress"
                             v-model.number="value.minWatchTime"
                             class="mb-3"
                             label="Минимальное время"
                             type="number"
                             step="0.1"
                    />
                </transition-collapse>
            </div>
        </div>

        <div class="mb-3">
            <v-brains :value="c_brainsPerTask" />
            <div class="small text-muted">
                за правильный ответ
            </div>
        </div>
        <!-- <v-button schema="secondary"
                  :loading="d_loading"
                  @click.native="$emit('save')">Сохранить
        </v-button> -->
    </div>
</template>

<script>
import VCheckbox from '@/components/common/form/checkbox/VCheckbox';
import VRange from '@/components/common/form/VRange';
import VInput from '@/components/common/form/VInput';
import TransitionCollapse from '@/components/common/transitions/TransitionCollapse';
import VBrains from '@/components/common/brains/VBrains';

export default {
    name: 'FlashAppConfigurator',
    components: {
        VBrains,
        TransitionCollapse,
        VInput,
        VRange,
        VCheckbox,
    },
    props: ['value', 'reInit'],
    data() {
        return {
            d_useFraction: false,
            d_modal: false,
            d_loading: false,
        };
    },
    computed: {
        c_brainsPerTask() {
            try {
                const avgCapacity = (this.value.digitsCapacity[0] + this.value.digitsCapacity[1]) / 2;
                const res = avgCapacity * 0.3 / (this.value.watchTime + this.value.inputTime * 0.3);
                return res.toFixed(2);
            } catch (e) {
                return 0;
            }
        },
    },
    created() {
        if (this.reInit) {
            this.$emit('input', {
                digitsCapacity: [1, 2],
                watchTime: 2,
                watchTimeProgress: false,
                minWatchTime: 0.5,
                taskCount: 30,
                inputTime: 3,
                taskSize: 1,
            });
        }
    },
};
</script>

<style scoped>
</style>
