<template>
    <component :is="tag"
               class="button"
               :class="c_schema"
               :type="type"
               v-bind="$attrs"
    >
        <slot v-if="!loading" />
        <template v-else>
            Загрузка
        </template>
    </component>
</template>

<script>
export default {
    name: "VButton",
    props: {
        schema: {
            default: "primary",
        },
        loading: {
            default: false,
        },
        type: {
            default: "button",
        },
        size: {
            default: null,
        },
        tag: {
            type: String,
            default: "button",
        },
    },
    computed: {
        c_schema() {
            let res = "button_" + this.schema;
            if (this.size === "small") {
                res += " button_small";
            }
            return res;
        },
    },
};
</script>

<style scoped lang="scss">
.button {
    background: $dark;
    position: relative;
    color: white;
    font: $button-font;
    border: none;
    box-shadow: $card-shadow;
    border-radius: 7px;
    padding: 12px 30px;
    z-index: 1;
    cursor: pointer;
    transition: all .1s ease-in;
    overflow: hidden;
    text-decoration: none !important;
    display: inline-block;

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url('/images/button-bg.png') no-repeat center;
        background-size: 100% 50px;
        opacity: 0.4;
    }

    &:active {
        transform: translate(4px, 4px);
        box-shadow: 0 0 0 rgba(15, 40, 94, 0.18);
    }

    &:active, &:focus {
        outline: none;
    }
}

.button_small {
    font-size: 12px;
    padding: 5px 15px;
}

.button_dark {
    background: $dark;

    &:hover {
        background: darken($dark, 2%);
    }
}

.button_primary {
    background: $primary;

    &:hover {
        background: darken($primary, 5%);
    }
}

.button_secondary {
    background: $secondary;
    color: $dark;

    &:hover {
        background: darken($secondary, 2%);
    }

    &:before {
        opacity: 1;
    }
}

.button_extra {
    background: $extra;
    color: $secondary;

    &:hover {
        background: darken($extra, 2%);
    }
}

.button_danger {
    background: $danger;
    color: $secondary;

    &:hover {
        background: darken($danger, 2%);
    }
}

.button_light {
    background: white;
    color: $dark;

    &:before {
        content: none;
    }

    &:hover {
        background: darken(white, 3%);
    }
}

.button_link {
    background: none;
    color: $extra;
    padding: 0;
    box-shadow: none;

    &:hover {
        color: darken($extra, 10%);
    }

    &:active {
        transform: none;
        box-shadow: none;
    }

    [class^="icon-"], [class*=" icon-"] {
        vertical-align: middle;
    }
}

</style>
