<template>
    <iframe src="/tiger.html"
            class="tiger"
    />
</template>

<script>

export default {
    name: "VTiger",

};
</script>

<style scoped lang="scss">
.tiger {
    border: none;
    max-width: 100% !important;
}
</style>
