<template>
    <div ref="addendum"
         class="static-app-task"
    >
        <div class="static-app-task__addendums"
             :class="{'static-app-task__addendums_horizontal':session.settings.horizontal}"
        >
            <span v-for="(addendum, index) in c_addendums"
                  :key="index"
                  :style="c_addendumStyle"
            >
                {{ addendum }}
            </span>
        </div>
    </div>
</template>

<script>

export default {
    name: 'StaticAppTask',
    props: {
        session: {
            type: Object,
            required: true,
        },
        preferences: {
            type: Object,
            required: true,
        },
        task: {
            type: Object,
            required: true,
        },
        width: {
            type: Number,
            default: 0,
        },
        height: {
            type: Number,
            default: 0,
        },
        timer: {
            type: Number,
            required: true,
        },
    },
    data() {
        return {};
    },
    computed: {
        c_addendums() {
            return this.task.addendums.map(item => (item > 0 ? '+' : '') + item);
        },
        c_addendumStyle() {
            const fontSize = this.session.settings.horizontal
                ? (this.width / this.c_addendums.length) / 2.3 / (Math.min(this.c_addendums.length, 3)) + 'px'
                : (this.height / this.c_addendums.length) / 3 + 'px';
            return {
                'font-size': fontSize,
            };
        },
    },
    mounted() {
        setTimeout(() => this.$emit('needAnswer'), this.timer);
    },
};
</script>

<style lang="scss">
.static-app-task {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.static-app-task__play {
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    grid-gap: 20px;
}

.static-app-task__play-button {
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    margin: auto;
}

.static-app-task__play-text {
    font-size: 1.5em;
}

.static-app-task__abacus {
    height: 330px !important;
}

.static-app-task__addendums {
    display: grid;
    line-height: normal;
    font-weight: 900;
    grid-gap: 0.3em;
    text-align: right;
}

.app_mobile {
    .static-app-task__addendums {
        max-height: 70%;
    }

    .static-app-task__play-button {
        width: 1.8em;
        height: 1.8em;
        font-size: 1em;
    }

    .static-app-task__play-text {
        font-size: 0.5em;
    }
}

.static-app-task__addendums_horizontal {
    grid-auto-flow: column;
}
</style>
