<template>
    <div class="static-app"
         :class="c_class"
         :style="c_appStyle"
    >
        <div class="static-app__content">
            <app-header :session="d_session"
                        :task="d_task"
                        :hide-progress="hideProgress"
                        :sidebar="sidebar"
                        @restart="restart"
                        @settings="showSettings"
                        @sidebar="$emit('sidebar')"
            />
            <div class="static-app__body">
                <transition-fade mode="out-in">
                    <app-result v-if="d_session.finished"
                                :session="d_session"
                                :quality="d_session.quality"
                    />
                    <app-task-result v-else-if="d_result !== null"
                                     key="result"
                                     :value="d_result"
                                     :timer="c_preferences.fastMode ? 700 : 3000"
                                     @timer="onTaskResultFinish"
                    />
                    <numeric-answer v-else-if="d_answering"
                                    key="answer"
                                    :session="d_session"
                                    :timer="d_session.settings.inputTime"
                                    :loading="d_answerLoading"
                                    @answer="onAnswer"
                    />
                    <static-app-task v-else-if="d_task"
                                     ref="task"
                                     :task="d_task"
                                     :session="d_session"
                                     :preferences="c_preferences"
                                     :width="d_width"
                                     :height="d_height"
                                     :timer="d_session.settings.watchTime * 1000"
                                     @needAnswer="d_answering = true"
                    />
                    <app-play v-else
                              key="play"
                              :loading="d_taskLoading"
                              @play="getTask"
                    />
                </transition-fade>
            </div>
        </div>

        <app-settings-modal v-if="d_showSettings"
                            type="static"
                            :session="d_session"
                            :task="d_task"
                            @close="d_showSettings = false"
                            @settings-update="restart"
        />
    </div>
</template>

<script>
import baseApp from "@/assets/js/mixins/baseApp";
import AppHeader from "@/components/common/apps/utils/AppHeader";
import AppResult from "@/components/common/apps/utils/AppResult";
import StaticAppTask from "@/components/common/apps/static-app/StaticAppTask";
import AppSettingsModal from "@/components/common/apps/utils/AppSettingsModal";
import AppPlay from "@/components/common/apps/utils/AppPlay";
import NumericAnswer from "@/components/common/apps/utils/NumericAnswer";
import AppTaskResult from "@/components/common/apps/utils/AppTaskResult";
import TransitionFade from "@/components/common/transitions/TransitionFade";

export default {
    name: "StaticApp",
    components: {
        TransitionFade,
        AppTaskResult,
        NumericAnswer,
        AppPlay,
        AppSettingsModal,
        StaticAppTask,
        AppHeader,
        AppResult,
    },
    mixins: [baseApp],
    methods: {},
};
</script>

<style lang="scss">
.static-app {
    height: 100%;
    width: 100%;
    position: absolute;
    max-width: 80%;
    margin: auto;
    left: 0;
    right: 0;
}

.static-app__content {
    display: grid;
    grid-template-rows: 100px calc(100% - 100px);
    height: 100%;
    width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    padding: 0 15px 15px;
}

// .app_mobile{
//     .static-app__content{
//         height: 80%;
//     }
// }

//.static-app__body-wrap {
//    max-height: 100%;
//    padding-bottom: 100px;
//}

.static-app__body {
    max-height: 100%;
    // padding: 1.5em 0;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    background: radial-gradient(
            114% 114% at 35% 9%,
            #1f9bb9 3.33%,
            #004758 100%
    );
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    &:before,
    &:after {
        content: '';
        position: absolute;
        height: 120%;
        width: 100%;
        background: url(~@/assets/images/branches.png) no-repeat;
        background-size: auto 100%;
        pointer-events: none;
        top: -10%;
        z-index: 1;
    }

    &:before {
        transform: translateX(-7%);
    }

    &:after {
        transform: translateX(7%) scaleX(-1);
    }
}

.app_portrait {
    .static-app__body {
        &:before,
        &:after {
            background: url(~@/assets/images/branches-mobile.png) no-repeat;
            background-size: 100% auto;
            width: 115%;
        }

        &:before {
            background: url(~@/assets/images/branches-mobile.png) no-repeat;
            transform: translateX(0%);
            background-size: 100% auto;
            width: 115%;
        }

        &:after {
            content: none;
        }
    }
}

.app_mobile, .app_tablet {
    max-width: 100%;

    .static-app-task__addendum {
        font-size: 36px;
    }
}

//ниже кастомизация в зависимости от темы

.app_no-pictures {
    .static-app__body {
        &::before,
        &::after {
            content: none;
        }
    }
}

.app_bigger {
    .static-app-task__addendum {
        font-size: 170px;
    }

    .static-app-task__play {
        font-size: 70px;
    }
}

.app_biggest {
    .static-app-task__addendum {
        font-size: 240px;
    }

    .static-app-task__play {
        font-size: 90px;
    }
}

.app_light {
    .static-app__body {
        background: radial-gradient(
                114% 114% at 35% 9%,
                #f9f9f9 3.33%,
                #acb3b5 100%
        );
        color: $primary;
    }
}

.app_dark {
    .static-app__body {
        background: radial-gradient(
                114% 114% at 35% 9%,
                $dark 3.33%,
                $dark 100%
        );
        color: $secondary;
    }
}
</style>
