<template>
    <div class="checkbox"
         :class="`checkbox_${position}`"
    >
        <div class="checkbox__wrapper">
            <label class="checkbox__label">
                <input v-model="c_value"
                       class="checkbox__input"
                       type="checkbox"
                       :value="checkboxValue"
                       :disabled="disabled"
                >
                <span class="checkbox__icon" />
                {{ label }}
                <slot />
            </label>

            <dropdown v-if="hint || $slots.hint"
                      class="checkbox__dropdown"
                      width="200px"
                      :hover-open="true"
            >
                <i class="checkbox__hint icon-help-circled" />
                <template #body>
                    <slot v-if="$slots.hint"
                          name="hint"
                    />
                    <div v-else>
                        {{ hint }}
                    </div>
                </template>
            </dropdown>
        </div>
    </div>
</template>

<script>
import Dropdown from "@/components/common/Dropdown";

export default {
    name: "VCheckbox",
    components: { Dropdown },
    props: {
        disabled: {
            default: false,
        },
        value: {
            default: null,
        },
        label: {
            default: null,
        },
        position: {
            default: "right",
        },
        checkboxValue: {
            default: true,
        },
        trackBy: {
            default: undefined,
        },
        hint: {
            default: null,
        },
    },
    data() {
        return {};
    },
    computed: {
        c_value: {
            get() {
                if (this.trackBy) {
                    if (Array.isArray(this.value)) {
                        return this.value.some(item => item[this.trackBy] === this.checkboxValue[this.trackBy]);
                    } else {
                        return this.value && (this.value[this.trackBy] === this.checkboxValue[this.trackBy]);
                    }
                } else {
                    return this.value;
                }
            },
            set(val) {
                if (this.trackBy) {
                    if (Array.isArray(this.value)) {
                        if (val) {
                            if (!this.c_value) {
                                this.$emit("input", [...this.value, this.checkboxValue]);
                            }
                        } else {
                            this.$emit("input", this.value.filter(item => item[this.trackBy] !== this.checkboxValue[this.trackBy]));
                        }
                    } else {
                        this.$emit("input", val ? this.checkboxValue : null);
                    }
                } else {
                    this.$emit("input", val);
                }
            },
        },
    },
    mounted() {
        // if (this.trackBy) {
        //     let valueClone = JSON.parse(JSON.stringify(this.value));
        //     if (Array.isArray(valueClone)) {
        //         const index = valueClone.findIndex(
        //             (item) =>
        //                 item[this.trackBy] === this.checkboxValue[this.trackBy],
        //         );
        //         valueClone[index] = this.checkboxValue;
        //     } else if (
        //         valueClone &&
        //         valueClone[this.trackBy] === this.checkboxValue[this.trackBy]
        //     ) {
        //         valueClone = this.checkboxValue;
        //     }
        //
        //     this.$emit("input", valueClone);
        // }
    },
};
</script>

<style lang="scss" scoped>
.checkbox__input {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.checkbox__label {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
}

.checkbox__icon {
    position: relative;
    transition: all .1s ease-in;
    margin-top: 4px;

    &::before {
        content: '';
        position: absolute;
        display: block;
        background: url('/icons/checkbox.svg') center no-repeat;
        width: 17px;
        height: 13px;
        opacity: 0;
        transition: opacity 0.2s;
    }

    &::after {
        content: '';
        display: block;
        width: 17px;
        height: 17px;
        box-shadow: 4px 4px 0 rgba(15, 40, 94, 0.18);
        border-radius: 4px;
        border: 1px solid $primary;
        background: white;
        transition: all 0.1s ease-in;
    }
}

.checkbox__input:checked + .checkbox__icon::before {
    opacity: 1;
}

.checkbox__input:active {

    & + .checkbox__icon {
        transform: translate(4px, 4px);

        &:after {
            box-shadow: 0 0 0 rgba(15, 40, 94, 0.18);
        }
    }
}

.checkbox_left {
    .checkbox__icon {
        order: 2;
    }
}

.checkbox_bottom {
    .checkbox__label {
        grid-auto-flow: dense;
        grid-gap: 0;
    }
}

.checkbox__hint {
    color: #b3b3b3;
    font-size: 22px;
    vertical-align: bottom;

    &:hover {
        color: $primary;
    }
}

.checkbox__dropdown {
    font-size: 14px;
    line-height: 18px;
}

.checkbox__wrapper {
    position: relative;
    width: fit-content;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
}
</style>
