<template>
    <div class="subscription">
        <img src="/images/figure-top.svg"
             alt=""
             class="subscription__bg-top"
        >

        <div class="container">
            <div class="row">
                <div class="col-xl-8 mx-auto">
                    <h2 class="subscription__title">
                        Абонементы
                    </h2>
                    <div class="subscription__subtitle">
                        Гибкие тарифы для использования платформы с ежемесячной или годовой оплатой.
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-xl-10 mx-auto">
                    <div class="subscription__content">
                        <div class="subscription-card subscription-card__free">
                            <div>
                                <div class="subscription-card__period">
                                    Пробный
                                </div>
                                <div class="subscription-card__price">
                                    Бесплатно
                                </div>
                                <ul class="subscription-card__description">
                                    <li>
                                        <v-collapse>
                                            Базовые тренажеры с простой
                                            сложностью
                                            <template #body>
                                                <div>
                                                    Доступны стандартные тренажеры без возможности настройки.
                                                </div>
                                            </template>
                                        </v-collapse>
                                    </li>
                                </ul>
                            </div>
                            <v-button class="w-100"
                                      schema="secondary"
                                      @click.native="toggleAuthModal(true)"
                            >
                                Зарегистрироваться
                            </v-button>
                        </div>
                        <div class="subscription-card subscription-card_dark">
                            <div>
                                <div class="subscription-card__period">
                                    12 месяцев
                                </div>
                                <div class="subscription-card__price">
                                    {{ $store.state.settings.subscriptionStudentPrice12 }} <span>₽</span>
                                </div>
                                <ul class="subscription-card__description">
                                    <li>
                                        <v-collapse>
                                            Базовые тренажеры с простой сложностью
                                            <template #body>
                                                <div>
                                                    Доступны стандартные тренажеры без возможности настройки.
                                                </div>
                                            </template>
                                        </v-collapse>
                                    </li>
                                    <li>
                                        <v-collapse>
                                            Любая сложность
                                            <template #body>
                                                <div>
                                                    Самостоятельное создание тренажеров любой сложности.
                                                </div>
                                            </template>
                                        </v-collapse>
                                    </li>
                                    <li>
                                        <v-collapse>
                                            Самостоятельная настройка тренажеров
                                            <template #body>
                                                <div>
                                                    Самостоятельная настройка ранее созданных тренажеров.
                                                </div>
                                            </template>
                                        </v-collapse>
                                    </li>
                                    <li>
                                        <v-collapse>
                                            Сохранение процесса прохождения
                                            <template #body>
                                                <div>
                                                    Продолжение выполнения задания даже после его закрытия.
                                                </div>
                                            </template>
                                        </v-collapse>
                                    </li>
                                </ul>
                            </div>
                            <v-button class="w-100"
                                      schema="secondary"
                                      @click.native="toggleAuthModal(true)"
                            >
                                Купить
                            </v-button>
                        </div>
                        <div class="subscription-card">
                            <div>
                                <div class="subscription-card__period">
                                    1 месяц
                                </div>
                                <div class="subscription-card__price">
                                    {{ $store.state.settings.subscriptionStudentPrice1 }} <span>₽</span>
                                </div>
                                <ul class="subscription-card__description">
                                    <li>
                                        <v-collapse>
                                            Базовые тренажеры с простой сложностью
                                            <template #body>
                                                <div>
                                                    Доступны стандартные тренажеры без возможности настройки.
                                                </div>
                                            </template>
                                        </v-collapse>
                                    </li>
                                    <li>
                                        <v-collapse>
                                            Любая сложность
                                            <template #body>
                                                <div>
                                                    Самостоятельное создание тренажеров любой сложности.
                                                </div>
                                            </template>
                                        </v-collapse>
                                    </li>
                                    <li>
                                        <v-collapse>
                                            Самостоятельная настройка тренажеров
                                            <template #body>
                                                <div>
                                                    Самостоятельная настройка ранее созданных тренажеров.
                                                </div>
                                            </template>
                                        </v-collapse>
                                    </li>
                                    <li>
                                        <v-collapse>
                                            Сохранение процесса прохождения
                                            <template #body>
                                                <div>
                                                    Продолжение выполнения задания даже после его закрытия.
                                                </div>
                                            </template>
                                        </v-collapse>
                                    </li>
                                </ul>
                            </div>
                            <v-button class="w-100"
                                      schema="secondary"
                                      @click.native="toggleAuthModal(true)"
                            >
                                Купить
                            </v-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VButton from "@/components/common/form/button/VButton";
import VCollapse from "@/components/common/VCollapse";

export default {
    name: "VSubscription",
    components: {
        VButton,
        VCollapse,
    },
    methods: {
        toggleAuthModal(val) {
            window.toggleAuthModal(val);
        },
    },
};
</script>

<style lang="scss">
.subscription {
    position: relative;
    background: url("/images/subscription/footer.png") bottom no-repeat, $light;
    background-size: contain;
    padding-top: 155px;
    padding-bottom: 100px;
    @include media-breakpoint-down(md) {
        padding: 100px 0;
    }

    &__bg-top {

        width: 100%;
        position: absolute;
        top: 0;
    }

    &__title {
        margin-bottom: 0;
        font-size: 56px;
        line-height: 115%;
        text-align: center;
        letter-spacing: 1.86667px;
        @include media-breakpoint-down(md) {
            font-size: 38px;
            margin-bottom: 15px;
        }
    }

    &__subtitle {
        margin-bottom: 37px;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.5px;
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }
}

.subscription-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    color: $light;
    width: 285px;
    min-height: 344px;
    background: $primary;
    mix-blend-mode: normal;
    border: 1px solid $primary;
    box-shadow: $card-shadow;
    border-radius: 10px;

    @include media-breakpoint-down(md) {
        margin-bottom: 37px;
        min-height: auto !important;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__period {
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.5px;
    }

    &__price {
        font-weight: bold;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0.7px;
        margin-bottom: 7px;

        span {
            font-size: 24px;
        }
    }

    &__description {
        list-style: none;
        font-size: 14px;
        padding-left: 0;
        letter-spacing: 0.05px;

        li {
            display: flex;
            align-items: center;
            line-height: 111%;
            transition: height .3s;

            img {
                margin-right: 8px;
            }
        }
    }

    &_dark {
        background: $dark;
        min-height: 410px;

        .subscription-card__price {
            color: $secondary;
        }

    }

    &__free {
        .subscription-card__price {
            font-size: 36px;
            margin-bottom: 15px;
        }
    }
}

</style>
