<template>
    <div>
        <a :href="getGoogleAuthUrl()">
            <v-button schema="light"
                      class="social-auth__btn"
            >
                <img src="/icons/google.svg"
                     alt=""
                >
            </v-button>
        </a>
        <a class="social-auth__vk"
           :href="getVkAuthUrl()"
        >
            <v-button schema="light"
                      class="social-auth__btn"
            >
                <img src="/icons/vk.svg"
                     alt=""
                >
            </v-button>
        </a>
    </div>
</template>

<script>
import VButton from "@/components/common/form/button/VButton";
export default {
    name: "SocialAuth",
    components: {
        VButton,
    },
    methods: {
        getGoogleAuthUrl() {
            return this.$config.apiHost + "/social-auth?provider=google";
        },
        getVkAuthUrl() {
            return this.$config.apiHost + "/social-auth?provider=vkontakte";
        },
    },
};
</script>

<style lang="scss" scoped>
.social-auth__btn {
    width: 44px;
    height: 44px;
    padding: 0;
}
.social-auth__vk{
    margin-left: 15px;
}
</style>
