<template>
    <div class="chart">
        <canvas ref="canvas" />
    </div>
</template>

<script>
import moment from "moment";
import Chart from "chart.js";

export default {
    name: "BrainsChart",
    props: ["brains"],
    data() {
        return {
            d_ctx: null,
            d_chart: null,
            d_chartData: null,
        };
    },
    mounted() {
        moment.locale("ru");

        this.d_ctx = this.$refs.canvas.getContext("2d");

        const data = this.brains.map((item) => {
            return {
                t: moment(item.date),
                y: parseFloat(item.value),
            };
        });

        this.d_chart = new Chart(this.d_ctx, {
            type: "line",
            data: {
                datasets: [{
                    label: "Брейники",
                    lineTension: 0,
                    data,
                    backgroundColor: [
                        "rgb(4, 151, 186, 0.4)",
                    ],
                    // steppedLine: "before",
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        type: "time",
                        distribution: "linear",
                        time: {
                            unit: "day",
                            tooltipFormat: "DD.MM.YYYY",
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Дата",
                        },
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Брейники",
                        },
                    }],
                },
            },
        });
    },
};
</script>

<style lang="scss">
.chart {
    width: 100%;
    height: 400px;

    @include media-breakpoint-down(md){
        height: 250px;
    }
}
</style>
