<template>
    <div class="student-row">
        <avatar class="student-row__avatar"
                :image="c_image"
        />
        <div class="student-row__username">
            {{ student.firstName }} {{ student.lastName }}
        </div>
        <v-brains v-if="student.brains !== undefined"
                  class="student-row__brains"
                  :mini="true"
                  :value="student.brains"
        />
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import Avatar from "~/components/common/Avatar";
import VBrains from "~/components/common/brains/VBrains";

export default {
    name: "StudentRow",
    components: {
        VBrains,
        Avatar,
    },
    mixins: [dateMixins],
    props: {
        student: {
            default() {
                return null;
            },
        },
    },
    computed: {
        c_image() {
            return this.student.image && this.student.image.url;
        },
        c_class() {
            const res = [];
            if (this.mini) {
                res.push("student-card_mini");
            }
            return res.join(" ");
        },
    },
    methods: {},
};
</script>

<style scoped lang="scss">
.student-row {
    background: white;
    grid-auto-flow: column;
    grid-gap: 30px;
    color: $dark;
    display: grid;
    grid-template-columns: 60px auto max-content;
    align-items: center;

    @include media-breakpoint-down(md) {
        grid-gap: 15px;
        grid-template-columns: auto max-content;
        font-size: 14px;
    }
}

.student-row__username {
}

.student-row__avatar {
    width: 60px;
    height: 60px;
    font-size: 14px;
    @include media-breakpoint-down(md) {
        display: none;
    }
}
</style>
