<template>
    <div class="student-subscriptions"
         :class="{'student-subscriptions_admin': canRemove}"
    >
        <div class="student-subscriptions__header">
            <div>Дата начала</div>
            <div>Дата окончания</div>
            <div v-if="canRemove"
                 class="student-subscriptions__remove"
            />
        </div>
        <div v-for="subscription in subscriptions"
             :key="subscription.id"
             class="student-subscriptions__row"
        >
            <div>{{ formatDate(subscription.createdAt) }}</div>
            <div>{{ formatDate(subscription.expiredAt) }}</div>
            <loading-component v-if="d_deletingIds[subscription.id]"
                               :size="16"
            />
            <i v-else-if="canRemove && isAfter(subscription.expiredAt)"
               class="icon-trash student-subscriptions__remove"
               role="button"
               title="Деактивировать абонемент"
               @click="deactivateSubscription(subscription)"
            />
        </div>
        <div v-if="!subscriptions.length"
             class="student-subscriptions__row"
        >
            Список пуст
        </div>
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import LoadingComponent from "~/components/common/LoadingComponent";

export default {
    name: "StudentSubscriptions",
    components: {
        LoadingComponent,
    },
    mixins: [dateMixins],
    props: {
        subscriptions: {
            type: Array,
            default() {
                return [];
            },
        },
        canRemove: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            d_deletingIds: {},
        };
    },
    methods: {
        async deactivateSubscription(subscription) {
            this.$set(this.d_deletingIds, subscription.id, true);
            await this.$api.subscriptions.delete(subscription.id);
            this.$emit("remove", subscription);
            this.d_deletingIds[subscription.id] = false;
        },
    },
};
</script>

<style scoped lang="scss">
.student-subscriptions__header {
    margin-bottom: 7px;
    border-radius: 7px;
    background: $dark;
    color: white;
    font-weight: 500;
}

.student-subscriptions__header, .student-subscriptions__row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding: 10px;
}

.student-subscriptions_admin {
    .student-subscriptions__header, .student-subscriptions__row {
        grid-template-columns: 1fr 1fr 30px;
    }
}

.student-subscriptions__remove {
    color: $danger;
    opacity: 0.3;
    margin-left: auto;

    &:hover {
        opacity: 1;
    }
}
</style>
