<template>
    <section class="students-select-list">
        <v-input v-model="d_studentsQuery"
                 class="students-select-list__search"
                 label="Поиск"
        />
        <transition-list name="list-complete">
            <v-checkbox v-for="student in c_filteredStudents"
                        :key="student.id"
                        :value="value"
                        class="students-select-list__item"
                        :checkbox-value="student"
                        track-by="id"
                        @input="$emit('input',arguments[0])"
            >
                <div>
                    {{ student.firstName }} {{ student.lastName }}
                    <div class="small text-muted">
                        ({{ getStudentGroup(student).name }})
                    </div>
                </div>
            </v-checkbox>
            <div v-if="c_filteredStudents.length === 0"
                 :key="'empty'"
            >
                Список пуст
            </div>
        </transition-list>
    </section>
</template>

<script>
import VInput from "@/components/common/form/VInput";
import TransitionList from "@/components/common/transitions/TransitionList";
import VCheckbox from "@/components/common/form/checkbox/VCheckbox";
import { mapState } from "vuex";

export default {
    name: "StudentsSelectList",
    components: {
        VCheckbox,
        TransitionList,
        VInput,
    },
    props: {
        value: {
            type: Array,
            default() {
                return [];
            },
        },
    },
    data() {
        return {
            d_studentsQuery: null,
        };
    },
    computed: {
        ...mapState({
            c_students: state => state.students.items,
        }),
        c_filteredStudents() {
            if (this.d_studentsQuery) {
                const lowQuery = this.d_studentsQuery.toLowerCase();
                return this.c_students.filter(
                    item => item.lastName.toLowerCase().includes(lowQuery) || item.firstName.toLowerCase().includes(lowQuery),
                );
            } else {
                return this.c_students;
            }
        },
    },
    methods: {
        getStudentGroup(student) {
            return this.$store.getters["groups/findById"](student.groupId) || {};
        },
    },
};
</script>

<style scoped lang="scss">
.students-select-list__search {
    width: 100%;
    margin-bottom: 15px;
}

.students-select-list__item + .students-select-list__item {
    margin-top: 5px;
}
</style>
