<template>
    <div class="student-card"
         :class="c_class"
    >
        <div>
            <avatar class="student-card__avatar"
                    :image="c_image"
                    :level="student.level"
            />
        </div>
        <div>
            <div class="student-card__username">
                {{ student.firstName }} {{ student.lastName }}
            </div>
            <div v-if="!mini"
                 class="student-card__attrs"
            >
                <p v-if="student.birthday">
                    <b>Дата рождения:</b> {{ formatDate(student.birthday) }}
                </p>
                <p>
                    <b>Абонемент:</b>
                    <template v-if="!student.lastSubscription">
                        не оформлялся
                    </template>
                    <template v-else-if="isBefore(student.lastSubscription.expiredAt)">
                        закончился {{ formatDate(student.lastSubscription.expiredAt) }}
                    </template>
                    <template v-else>
                        до {{ formatDate(student.lastSubscription.expiredAt) }}
                    </template>
                </p>
                <p>
                    <b>Средняя оценка:</b> {{ student.averageQuality }}%
                </p>
                <v-brains v-if="student.brains !== undefined"
                          class="student-card__brains"
                          :mini="true"
                          :value="student.brains"
                />
            </div>

            <nuxt-link v-if="showDetailsLink"
                       class="student-card__details"
                       :to="`/${$store.state.auth.accountType}/students/${student.id}`"
            >
                <v-button schema="link">
                    Подробнее <i class="icon-caret" />
                </v-button>
            </nuxt-link>
        </div>
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import VButton from "~/components/common/form/button/VButton";
import Avatar from "~/components/common/Avatar";
import VBrains from "~/components/common/brains/VBrains";

export default {
    name: "StudentCard",
    components: {
        VBrains,
        Avatar,
        VButton,
    },
    mixins: [dateMixins],
    props: {
        student: {
            default() {
                return null;
            },
        },
        showDetailsLink: {
            default: true,
        },
        mini: {
            default: false,
        },
    },
    computed: {
        c_image() {
            return this.student.image && this.student.image.url;
        },
        c_class() {
            const res = [];
            if (this.mini) {
                res.push("student-card_mini");
            }
            return res.join(" ");
        },
    },
    methods: {},
};
</script>

<style scoped lang="scss">
.student-card {
    box-shadow: $card-shadow;
    padding: 15px;
    background: white;
    border-radius: 7px;
    border: 1px solid lighten($primary, 50%);
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    align-items: flex-start;
    grid-template-columns: min-content auto;
    color: $dark;

    @include media-breakpoint-down(md) {
        grid-gap: 15px;
        padding: 10px;
    }

    b {
        font-weight: 500;
    }
}

.student-card_mini {
    box-shadow: none;
    border: none;
    align-items: center;

    .student-card__avatar {
        width: 50px;
        height: 50px;
        font-size: 24px;
        border-width: 3px;
    }
}

.student-card__username {
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 800;
}

@include media-breakpoint-down(md) {
    .student-card__avatar {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
}

.student-card__attrs {
    font-size: 14px;
    line-height: 18px;

    p + p {
        margin-top: 7px;
    }
}

.student-card__details {
    margin-top: 15px;
    display: inline-block;
}

.student-card__brains {
    margin-top: 5px;
}
</style>
