<template>
    <div class="user-apps-row"
         :class="{'user-apps-row_homeworks': homeworks}"
    >
        <div class="user-apps-row__id">
            {{ app.id }}
        </div>
        <div class="user-apps-row__date">
            {{ formatCalendar(app.createdAt) }}
        </div>
        <div class="user-apps-row__name">
            {{ app.name }}
            <div class="text-muted small">
                {{ formatAppType(app.type) }}
            </div>
        </div>
        <div v-if="homeworks"
             class="user-apps-row__min-quality"
        >
            {{ app.minQuality }}%
        </div>
        <div class="user-apps-row__last-session">
            <template v-if="app.lastSession">
                {{ formatFromNow(app.lastSession.updatedAt) }}
            </template>
            <template v-else>
                Ученик ещё не запускал данный тренажер
            </template>
        </div>
        <div class="user-apps-row__best-session">
            <template v-if="app.bestSession">
                {{ app.bestSession.quality }}%
            </template>
            <template v-else>
                Нет завершенных сессий
            </template>
        </div>
        <div class="user-apps-row__actions">
            <nuxt-link :to="`/${$store.state.auth.accountType}/apps/${app.id}/play`">
                <v-button schema="link">
                    <i class="icon-play" />
                </v-button>
            </nuxt-link>
            <nuxt-link v-if="app.isOwned"
                       :to="`/${$store.state.auth.accountType}/apps/${app.id}/edit`"
            >
                <v-button schema="link">
                    <i class="icon-edit-alt" />
                </v-button>
            </nuxt-link>
            <v-button v-if="app.isOwned"
                      schema="link"
                      @click.native="remove"
            >
                <i class="text-danger icon-trash" />
            </v-button>
        </div>
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import formatAppType from "@/assets/js/filters/formatAppType";
import VButton from "~/components/common/form/button/VButton";

export default {
    name: "UserAppsRow",
    components: { VButton },
    mixins: [dateMixins],
    props: ["app", "homeworks"],
    data() {
        return {
            d_showStudents: false,
            d_students: null,
            d_loading: false,
        };
    },
    methods: {
        formatAppType,
        async remove() {
            await this.$api.apps.delete(this.app.id);
            this.$emit("remove");
        },
        async fetchStudents() {
            this.d_loading = true;
            this.d_students = await this.$api.apps.fetchStudents(this.app.id);
            this.d_loading = false;
        },
        toggleStudentsList() {
            this.d_showStudents = !this.d_showStudents;
            if (this.d_showStudents && !this.d_students) {
                this.fetchStudents();
            }
        },
    },
};
</script>

<style scoped lang="scss">
.user-apps-row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px 180px auto 180px 180px 100px;
    grid-gap: 15px;
    margin-bottom: 7px;
    border-radius: 7px;
    padding: 10px;
    background: white;

    &:nth-child(even) {
        background: #F0F0F0;
    }

    @include media-breakpoint-down(lg) {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
    }
}

.user-apps-row_homeworks {
    grid-template-columns: 50px 180px auto 180px 180px 180px 100px;
}

.user-apps-row__actions {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 25px);
    justify-content: flex-end;
    align-items: flex-start;
}

.user-apps-row__id {
    @include media-breakpoint-down(lg) {
        &:before {
            content: '№: ';
            font-weight: 500;
        }
    }
}

.user-apps-row__date {
    @include media-breakpoint-down(lg) {
        &:before {
            content: 'Дата создания: ';
            font-weight: 500;
        }
    }
}

.user-apps-row__min-quality {
    @include media-breakpoint-down(lg) {
        &:before {
            content: 'Порог прохождения: ';
            font-weight: 500;
        }
    }
}

.user-apps-row__last-session {
    @include media-breakpoint-down(lg) {
        &:before {
            content: 'Последний запуск: ';
            font-weight: 500;
        }
    }
}

.user-apps-row__best-session {
    @include media-breakpoint-down(lg) {
        &:before {
            content: 'Лучший результат: ';
            font-weight: 500;
        }
    }
}
</style>
