<template>
    <div class="user-apps">
        <div class="user-apps__header"
             :class="{'user-apps__header_homeworks': homeworks}"
        >
            <div>№</div>
            <div>Дата создания</div>
            <div>Название</div>
            <div v-if="homeworks">
                Порог прохождения
            </div>
            <div>Последний запуск</div>
            <div>Лучшее прохождение</div>
            <div />
        </div>
        <user-apps-row v-for="(app, index) in apps"
                       :key="app.id"
                       :app="app"
                       :homeworks="homeworks"
                       @remove="apps.splice(index, 1)"
        />
    </div>
</template>

<script>
import UserAppsRow from "~/components/teacher/homeworks/UserAppsRow";

export default {
    name: "UserApps",
    components: { UserAppsRow },
    props: ["apps", "homeworks"],
};
</script>

<style scoped lang="scss">
.user-apps__header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px 180px auto 180px 180px 100px;
    grid-gap: 15px;
    margin-bottom: 7px;
    border-radius: 7px;
    padding: 10px;
    background: $dark;
    color: white;
    font-weight: 500;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.user-apps__header_homeworks {
    grid-template-columns: 50px 180px auto 180px 180px 180px 100px;
}

</style>
