<template>
    <modal-component v-if="!d_studentModal"
                     width="500px"
                     @close="$emit('close')"
    >
        <div class="small">
            Преподаватель
        </div>
        <h4 class="mb-0">
            {{ teacher.lastName }} {{ teacher.firstName }} {{ teacher.middleName }}
        </h4>
        <nuxt-link class="d-block text-secondary mb-3"
                   :to="`/admin/teachers/${teacher.id}`"
        >
            Перейти на страницу преподавателя
        </nuxt-link>
        <div class="mb-3">
            <div>
                Зарегистрирован {{ formatDate(teacher.createdAt) }}
            </div>
            <div v-if="teacher.birthday">
                Дата рождения {{ formatDate(teacher.birthday) }}
            </div>
        </div>
        <div>
            <loading-component v-if="!d_teacher.groups" />
            <div v-else
                 class="teacher-modal__groups"
            >
                <div v-for="(group, idx) in d_teacher.groups"
                     :key="idx"
                >
                    <div class="text-secondary mb-1">
                        <b>{{ group.name }}</b>
                    </div>
                    <div class="teacher-modal__students">
                        <student-card v-for="student in group.students"
                                      :key="student.id"
                                      class="teacher-modal__student"
                                      :student="student"
                                      :mini="true"
                                      :show-details-link="false"
                                      @click.native="d_studentModal = student"
                        />
                        <div v-if="!group.students.length">
                            Список учеников пуст
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </modal-component>
    <student-modal v-else
                   :student="d_studentModal"
                   @close="d_studentModal = null"
    />
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import TeacherFactory from "@/assets/js/factories/TeacherFactory";
import StudentModal from "@/components/admin/student/StudentModal";
import StudentCard from "@/components/teacher/student/StudentCard";
import ModalComponent from "~/components/common/ModalComponent";
import LoadingComponent from "~/components/common/LoadingComponent";

export default {
    name: "TeacherModal",
    components: {
        StudentModal,
        StudentCard,
        LoadingComponent,
        ModalComponent,
    },
    mixins: [dateMixins],
    props: ["teacher"],
    data() {
        return {
            d_teacher: TeacherFactory.create({
                ...this.teacher,
                groups: null,
            }),
            d_studentModal: null,
        };
    },
    async mounted() {
        if (!this.d_teacher.groups) {
            this.d_loading = true;
            this.d_teacher = await this.$api.teachers.fetchOne(this.d_teacher.id, {
                include: ["groups.students"],
            });
            this.d_loading = false;
        }
    },
    methods: {},
};
</script>

<style scoped lang="scss">
.teacher-modal__students {
    display: grid;
    grid-gap: 15px;
}

.teacher-modal__student {
    cursor: pointer;
    transition: all .1s ease-in;

    &:hover {
        background: #f1f1f1;
        transform: scale(1.05);
    }
}

.teacher-modal__groups {
    display: grid;
    grid-gap: 15px;
}
</style>
