<template>
    <vue-multiselect v-model="d_query"
                     :options="d_teachers"
                     :allow-empty="allowEmpty"
                     placeholder="Поиск преподавателя"
                     deselect-label="Убрать"
                     select-label="Выбрать"
                     selected-label="Выбрано"
                     :searchable="true"
                     :internal-search="false"
                     :loading="d_loading"
                     @search-change="search"
                     @input="onInput"
    >
        <template #noResult>
            Преподаватель не найден
        </template>
        <template #noOptions>
            <div class="small text-wrap">
                {{ d_query ? "Список пуст" : "Начните вводить фамилию, email или телефон преподавателя" }}
            </div>
        </template>
        <template #option="{option}">
            <div>
                {{ option.lastName }} {{ option.firstName }} {{ option.middleName }}
            </div>
            <div class="small text-primary">
                {{ option.email }} {{ option.phone }}
            </div>
        </template>
        <template #singleLabel="{option}">
            <div>
                {{ option.lastName }} {{ option.firstName }} {{ option.middleName }}
            </div>
            <div class="small text-primary">
                {{ option.email }} {{ option.phone }}
            </div>
        </template>
    </vue-multiselect>
</template>

<script>
import VueMultiselect from "vue-multiselect/src/Multiselect.vue";
import debounce from "lodash.debounce";

export default {
    name: "TeacherSearch",
    components: { VueMultiselect },
    props: {
        allowEmpty: {
            default: false,
        },
        value: {
            default: null,
        },
        include: {
            default: undefined,
        },
    },
    data() {
        return {
            d_query: this.value,
            d_teachers: this.value ? [this.value] : [],
            d_loading: false,
        };
    },
    methods: {
        search: debounce(async function(query) {
            if (!query) { return; }

            this.d_loading = true;
            try {
                this.d_teachers = await this.$api.teachers.fetch({
                    filter: {
                        query,
                    },
                    include: this.include,
                });
            } catch (e) {
                console.error(e);
            }
            this.d_loading = false;
        }, 500),
        onInput(val) {
            this.$emit("input", val);
        },
    },
};
</script>

<style scoped lang="scss">
.multiselect {
    background: white;
    box-shadow: $card-shadow;
    display: inline-block;
    border-radius: 7px;
    border: 1px solid $primary;
}

.multiselect--active {
    border-radius: 7px 7px 0 0;
}

::v-deep {
    .multiselect__tags {
        display: flex;
        padding-left: 15px;
        min-height: 42px;
        background: none;
    }

    .multiselect__input {
        //width: auto !important;
        position: static !important;
        padding: 0;
        min-width: 0;

        &::placeholder {
            color: $primary;
        }
    }

    .multiselect__placeholder {
        //display: none;
        color: $primary;
        font-size: 16px;
    }

    .multiselect__single {
        font: $base-font;
    }

    .multiselect__tags {
        border: none;
    }

    .multiselect__option--highlight {
        background: #d9ead6;
        color: $dark;

        &:after {
            background: #d9ead6;
            color: $dark;
        }
    }

    .multiselect__content-wrapper {
        border-radius: 0 0 7px 7px;
        border: 1px solid $primary;
        border-top: none;
        box-shadow: $card-shadow;
    }
}
</style>
