<template>
    <div>
        <page-header>
            Домашние задания
        </page-header>
        <div class="apps">
            <app-card v-for="app in d_apps"
                      :key="app.id"
                      :app="app"
            />
        </div>
        <loading-component v-if="d_loading" />
    </div>
</template>

<script>
import AppCard from "@/components/student/apps/AppCard";
import PageHeader from "~/components/common/PageHeader";
import LoadingComponent from "~/components/common/LoadingComponent";

export default {
    components: {
        AppCard,
        LoadingComponent,
        PageHeader,
    },
    layout: "student",
    async fetch() {
        this.d_apps = await this.$api.apps.fetch({
            filter: {
                isHomework: 1,
            },
            include: "userSessionsCount",
        });
        this.d_loading = false;
    },
    data() {
        return {
            d_apps: null,
            d_loading: true,
        };
    },
    head: {
        title: "Домашние задания",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped lang="scss">
.apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}
</style>
