<template>
    <div style="min-width: 300px">
        <div>Примеры шаблонов:</div>
        <div v-for="(example, idx) in d_examples"
             :key="idx"
             class="text-primary"
             role="button"
             @click="$emit('apply', example.template)"
        >
            {{ idx + 1 }}. {{ example.name }}
        </div>
    </div>
</template>

<script>

export default {
    name: "MultiplicationAppTemplateExamples",
    components: {},
    data() {
        return {
            d_examples: [
                {
                    template: "#0",
                    name: "Десятки (10, 20, 30..., 90)",
                },
                {
                    template: "**#",
                    name: "Число от 1 до 999",
                },
                {
                    template: "**",
                    name: "Случайное двухзначное",
                },
            ],
        };
    },
};
</script>

<style scoped>

</style>
