<template>
    <div class="multiplication-app-task">
        <div class="multiplication-app__exp"
             :style="c_style"
             @click="$emit('needAnswer')"
        >
            <div>{{ task.numbers[0] }}</div>
            <div class="multiplication-app__sign">
                {{ c_sign }}
            </div>
            <div>{{ task.numbers[1] }}</div>
        </div>
    </div>
</template>

<script>

export default {
    name: "MultiplicationAppTask",
    components: {},
    props: {
        session: {
            type: Object,
            required: true,
        },
        preferences: {
            type: Object,
            required: true,
        },
        task: {
            type: Object,
            required: true,
        },
        width: {
            type: Number,
            default: 0,
        },
        timer: {
            type: Number,
            required: true,
        },
    },
    computed: {
        c_sign() {
            return this.session.settings.operation === "mul" ? "×" : "÷";
        },
        c_taskLength() {
            return this.task.numbers.reduce(function(
                previousValue,
                currentValue,
            ) {
                return (
                    previousValue.toString().length +
                    currentValue.toString().length
                );
            });
        },
        c_style() {
            return {
                fontSize: ((this.width / this.c_taskLength) * 4) / 135 + "em",
            };
        },
    },
    mounted() {
        setTimeout(() => this.$emit("needAnswer"), this.timer);
    },
};
</script>

<style lang="scss">
.multiplication-app-task {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.multiplication-app-task__play {
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    grid-gap: 20px;
}

.multiplication-app-task__play-button {
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    margin: auto;
}

.multiplication-app-task__play-text {
    font-size: 1.5em;
}

.multiplication-app-task__abacus {
    height: 330px !important;
}

.multiplication-app__exp {
    // font-size: 100px;
    line-height: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.multiplication-app__sign {
    margin: 0 15px;
}

.app_mobile {
    .multiplication-app-task__play-button {
        width: 1.8em;
        height: 1.8em;
        font-size: 1em;
    }

    .multiplication-app-task__play-text {
        font-size: 0.5em;
    }
}
</style>
