<template>
    <modal-component ref="modal"
                     width="600px"
                     @close="$emit('close')"
    >
        <h3>Детализация прохождения</h3>
        <div class="dynamic-app-passing-details__result">
            <div>
                Результат: <span class="text-secondary">{{ +session.quality.toFixed(0) }}%
                    ({{ c_trueCount }}/{{ session.settings.taskCount }})</span>
            </div>
            <stars-score :value="session.quality"
                         class="dynamic-app-passing-details__stars"
            />
        </div>
        <v-message class="mb-3">
            Числа со штрихом были показаны на абакусе.
        </v-message>
        <ol class="dynamic-app-passing-details__list">
            <li v-for="(task, taskIdx) in session.tasks"
                :key="task.id"
                class="dynamic-app-passing-details__list-item"
            >
                <div>
                    <h5 class="text-secondary mb-0">
                        Задача {{ taskIdx + 1 }}
                    </h5>
                    <div class="font-weight-medium">
                        <template v-for="(addendum, idx) in task.numbers">
                            {{ addendum }} <template v-if="idx !== task.numbers.length-1">
                                {{ c_operation }}
                            </template>
                        </template>
                        ({{ session.answers[taskIdx] }})
                    </div>
                </div>
                <div class="dynamic-app-passing-details__user-answer">
                    <span>{{ session.state.userAnswers[taskIdx] }}</span>
                    <i v-if="isEqual(session.state.userAnswers[taskIdx], session.answers[taskIdx])"
                       class="icon-check-round text-success"
                    />
                    <i v-else
                       class="icon-warning text-secondary"
                    />
                </div>
            </li>
        </ol>
        <v-button schema="light"
                  @click.native="$refs.modal.close()"
        >
            Закрыть
        </v-button>
    </modal-component>
</template>

<script>
import ModalComponent from "@/components/common/ModalComponent";
import StarsScore from "@/components/common/stars-score/StarsScore";
import VButton from "@/components/common/form/button/VButton";
import VMessage from "@/components/common/VMessage";

export default {
    name: "MultiplicationAppPassingDetails",
    components: {
        VMessage,
        VButton,
        StarsScore,
        ModalComponent,
    },
    props: {
        session: {
            type: Object,
            required: true,
        },
    },
    computed: {
        c_trueCount() {
            return (this.session.settings.taskCount / 100 * this.session.quality).toFixed(0);
        },
        c_operation() {
            switch (this.session.settings.operation) {
            case "mul":
                return "*";
            case "div":
                return "÷";
            default:
                return "?";
            }
        },
    },
    methods: {
        isEqual(a, b) {
            a = parseFloat(String(a).replace(/\D/g, ""));
            b = parseFloat(String(b).replace(/\D/g, ""));
            return a === b;
        },
    },
};
</script>

<style scoped lang="scss">
.dynamic-app-passing-details__result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;

    @include media-breakpoint-down(md) {
        font-size: 16px;
    }
}

.dynamic-app-passing-details__stars {
    --star-size: 40px;
}

.dynamic-app-passing-details__list {
    padding: 0;
    list-style: none;
    margin: 0 0 30px;

    li + li {
        margin-top: 10px;
    }
}

.dynamic-app-passing-details__list-item {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.dynamic-app-passing-details__user-answer {
    font-size: 24px;
    font-weight: bold;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    align-items: center;

    i {
        font-size: 18px;
        line-height: 1;
    }
}
</style>
