<template>
    <div v-if="value">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-select v-model="value.operation"
                          label="Операция"
                          :options="['mul','div']"
                >
                    <template #singleLabel="{option}">
                        {{ formatOperation(option) }}
                    </template>
                    <template #option="{option}">
                        {{ formatOperation(option) }}
                    </template>
                </v-select>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-input v-model="value.taskCount"
                         label="Количество примеров"
                         type="number"
                         step="1"
                />
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-input v-model.number="value.inputTime"
                         label="Время на ввод ответа"
                         type="number"
                         step="0.1"
                         hint="Укажите 0, если ограничение не требуется"
                />
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-input v-model.number="value.watchTime"
                         label="Время на просмотр"
                         type="number"
                         step="0.1"
                />
            </div>
        </div>
        <v-message class="mb-3">
            <h5 class="text-primary">
                Шаблоны чисел
            </h5>
            <div>Каждое число выражения задаётся по следующему шаблону:</div>
            <div><b>0-9</b> - точная цифра</div>
            <div><b>#</b> - любая цифра кроме 0</div>
            <div><b>$</b> - любая цифра кроме 0 и 1</div>
            <div><b>*</b> - любая цифра</div>
        </v-message>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-6 mb-3">
                <v-input v-model.trim="value.template1"
                         :label="value.operation ==='mul'? 'Шаблон множителя 1' : 'Шаблон делимого'"
                >
                    <template #hint>
                        <multiplication-app-template-examples @apply="value.template1 = arguments[0]" />
                    </template>
                </v-input>
            </div>
            <div class="col-12 col-md-6 col-xl-6 mb-3">
                <v-input v-model.trim="value.template2"
                         :label="value.operation ==='mul'? 'Шаблон множителя 2' : 'Шаблон делителя'"
                >
                    <template #hint>
                        <multiplication-app-template-examples @apply="value.template2 = arguments[0]" />
                    </template>
                </v-input>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <transition-collapse>
                    <v-checkbox v-if="value.operation === 'div'"
                                v-model.number="value.isInteger"
                                class="mb-3"
                                label="Целочисленное деление"
                    />
                </transition-collapse>
            </div>
        </div>

        <div>
            <v-brains :value="c_brainsPerTask" />
            <div class="small text-muted">
                за правильный ответ
            </div>
        </div>
    </div>
</template>

<script>
import VSelect from '@/components/common/form/VSelect';
import VCheckbox from '@/components/common/form/checkbox/VCheckbox';
import VInput from '@/components/common/form/VInput';
import TransitionCollapse from '@/components/common/transitions/TransitionCollapse';
import VBrains from '@/components/common/brains/VBrains';
import VMessage from '@/components/common/VMessage';
import MultiplicationAppTemplateExamples
    from '@/components/common/apps/multiplication-app/MultiplicationAppTemplateExamples';

export default {
    name: 'MultiplicationAppConfigurator',
    components: {
        MultiplicationAppTemplateExamples,
        VMessage,
        VBrains,
        TransitionCollapse,
        VInput,
        VCheckbox,
        VSelect,
    },
    props: ['value', 'reInit'],
    data() {
        return {
            d_useFraction: false,
            d_modal: false,
        };
    },
    computed: {
        c_brainsPerTask() {
            try {
                const v1 = (this.value.template1.match(/[#*$]/g) || []).length;
                const v2 = (this.value.template2.match(/[#*$]/g) || []).length;
                if (!v1 || !v2) {
                    return 0;
                }
                return ((v1 + v2) * 0.3).toFixed(2);
            } catch (e) {
                return 0;
            }
        },
    },
    beforeMount() {
        if (this.reInit) {
            this.$emit('input', {
                operation: 'mul',
                taskCount: 15,
                watchTime: 5,
                inputTime: 10,
                isInteger: false,
                template1: '',
                template2: '',
            });
        }
    },
    methods: {
        formatOperation(val) {
            return {
                mul: 'Умножение',
                div: 'Деление',
            }[val] || val;
        },
    },
};
</script>

<style scoped>
</style>
