<template>
    <div class="lessons">
        <img src="/images/lessons/left-leaves.png"
             alt=""
             class="lessons__img-left"
        >
        <img src="/images/lessons/right-leaves.png"
             alt=""
             class="lessons__img-right"
        >
        <div class="container">
            <v-tabs v-model="d_tab"
                    :minimize-mobile="true"
                    :tabs="['Статический тренажер', 'Динамический тренажер', 'Флеш', 'Умножение и деление']"
            >
                <template slot="Динамический тренажер">
                    <div class="pt-5">
                        <div class="row">
                            <div class="col-lg-6 mb-5">
                                <img src="/images/lessons/video.png"
                                     alt=""
                                     class="w-100"
                                >
                                <circle-button class="lessons__tab-btn-play"
                                               schema="secondary"
                                >
                                    <img src="/images/lessons/right-arrow.svg"
                                         alt=""
                                    >
                                </circle-button>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="lessons__tab-title">
                                    Описание
                                </h5>
                                <p class="lessons__tab-description">
                                    Отработка любых тем на сложение и вычитание в динамическом режиме - когда одно
                                    слагаемое сменяется другим на экране с заданной скоростью. Этот тренажёр - следущая
                                    ступень в обучении занимающихся ментальной арифметикой после статического.
                                </p>
                                <h5 class="lessons__tab-title">
                                    Подходит
                                </h5>
                                <p class="lessons__tab-description mb-4">
                                    Для учащихся, освоивших ментальный счет в статическом режиме, в качестве новой
                                    тренировки для повышения мастерства (рекомендуется на первых тренировках использовать
                                    голосовое сопровождение - это облегчит счет занимающемуся).
                                </p>
                                <p class="lessons__tab-description">
                                    Для учеников и педагогов, когда необходимо увеличить скорость счета на абакусе или ментально.
                                </p>
                                <h5 class="lessons__tab-title">
                                    Что тренирует
                                </h5>
                                <p class="lessons__tab-description">
                                    Позволяет преодолеть «скоростной потолок», когда занимающийся решает ментально примеры
                                    с определенной скоростью и не может ее увеличить. Тренажер постепенно увеличивает скорость
                                    счета и количество слагаемых, незаметно для занимающегося.
                                </p>
                            </div>
                        </div>
                    </div>
                </template>

                <template slot="Статический тренажер">
                    <div class="pt-5">
                        <div class="row">
                            <div class="col-lg-6 mb-5 mb-lg-auto">
                                <img src="/images/lessons/video.png"
                                     alt=""
                                     class="w-100"
                                >
                                <circle-button class="lessons__tab-btn-play"
                                               schema="secondary"
                                >
                                    <img src="/images/lessons/right-arrow.svg"
                                         alt=""
                                    >
                                </circle-button>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="lessons__tab-title">
                                    Описание
                                </h5>
                                <p class="lessons__tab-description">
                                    <!-- Примеры любой заданной сложности и с заданным количеством слагаемых автоматически генерируются в
                  данном виде тренажера. Может заменять рабочую тетрадь, или быть использован в качестве
                  дополнительного материала на уроке. Удобен для обучения ментальному счету начального уровня -
                  когда занимающийся учится решать примеры ментально, направив взгляд при этом не на руки, а на
                  экран компьютера. -->
                                    Этот тренажёр начальная ступень в обучении ментальной арифметики.
                                    В данном тренажере автоматически генерируется примеры любой заданной сложности и заданными количеством
                                    слагаемых.
                                </p>
                                <h5 class="lessons__tab-title">
                                    Подходит
                                </h5>
                                <p class="lessons__tab-description mb-4">
                                    Рекомендовано применение данного тренажёра с самого первого занятия.
                                    Когда дети только начинают изучать простое сложение и вычитание,
                                    этот тренажёр может использоваться как при отработке примеров на абакусе,
                                    заменяя рабочую тетрадь, так и при вводе ментального счёта. В дальнейшем, такой тренажёр
                                    важно применять каждый раз когда усложняется тема. Например, увеличивается количество слагаемых
                                    или появляются новые формулы.
                                </p>
                            </div>
                        </div>
                    </div>
                </template>

                <template #Флеш>
                    <div class="pt-5">
                        <div class="row">
                            <div class="col-lg-6 mb-5 mb-lg-auto">
                                <img src="/images/lessons/video.png"
                                     alt=""
                                     class="w-100"
                                >
                                <circle-button class="lessons__tab-btn-play"
                                               schema="secondary"
                                >
                                    <img src="/images/lessons/right-arrow.svg"
                                         alt=""
                                    >
                                </circle-button>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="lessons__tab-title">
                                    Описание
                                </h5>
                                <p class="lessons__tab-description">
                                    Комбинации бусин абакуса, по которым занимающийся должен определить соответствующее
                                    числовое значение. Подходит для детей нулевого уровня. Способствует эффективной
                                    зрительной тренировке для быстрого восприятия цифр в виде бусин, что необходимо для
                                    ментального счета.
                                </p>
                            </div>
                        </div>
                    </div>
                </template>

                <template slot="Умножение и деление">
                    <div class="pt-5">
                        <div class="row">
                            <div class="col-lg-6 mb-5 mb-lg-auto">
                                <img src="/images/lessons/video.png"
                                     alt=""
                                     class="w-100"
                                >
                                <circle-button class="lessons__tab-btn-play"
                                               schema="secondary"
                                >
                                    <img src="/images/lessons/right-arrow.svg"
                                         alt=""
                                    >
                                </circle-button>
                            </div>
                            <div class="col-lg-6">
                                <h5 class="lessons__tab-title">
                                    Описание
                                </h5>
                                <p class="lessons__tab-description">
                                    Можно применять уже в дошкольном возрасте при изучении таблицы умножения,
                                    а так же при отработке умножения многозначных чисел с заданными параметрами - как на абакусе,
                                    так и ментально.
                                </p>
                            </div>
                        </div>
                    </div>
                </template>
            </v-tabs>
        </div>
    </div>
</template>

<script>
import VTabs from "@/components/common/form/VTabs";
import CircleButton from "@/components/common/form/CircleButton";

export default {
    name: "VLessons",
    components: {
        VTabs,
        CircleButton,
    },
    data() {
        return {
            d_tab: "Статический тренажер",
        };
    },
};
</script>

<style lang="scss">
.lessons {
  padding: 262px 0 70px 0;
  background: linear-gradient(
          90deg,
          #004758 0%,
          #2AB5CE 37.21%,
          #2AB5CE 62.5%,
          #004758 100%
  );
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;

  @include media-breakpoint-down(lg) {
    background: linear-gradient(90deg, #197294 0%, #2ab5ce 97%);
    padding-top: 50px;
  }

  @include media-breakpoint-down(sm) {
    padding: 70px 0;
  }
}

.lessons__img-left,
.lessons__img-right {
  position: absolute;

  @include media-breakpoint-down(lg) {
    display: none;
  }

  @media (max-width: 1666px) {
    top: -110px;
    width: 120px;
    filter: brightness(0.6);
  }
}

.lessons__img-left {
  left: 0;
  top: -150px;
  z-index: 1;

  @media (max-width: 1666px) {
    top: -75px;
  }
}

.lessons__img-right {
  right: 0;
  top: 60%;
  transform: translateY(-50%);

  @media (max-width: 1666px) {
    right: -25px;
  }
}

.lessons__tab-title {
  text-transform: uppercase;
  color: $secondary;
  margin-bottom: 20px;
}

.lessons__tab-description {
  color: $light;
  margin-bottom: 48px;

  &:last-child {
    margin-bottom: 0;
  }
}

.lessons__tab-btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -38.5px 0 0 -38.5px;

  img {
    transform: translate(20%, 0);
  }
}
</style>
