$primary: rgba(#0497BA, 1);
$secondary: rgba(#FFEC00, 1);
$extra: rgba(#B00185, 1);
$dark: rgba(#004758, 1);
$success: rgba(#2EC69C, 1);
$danger: rgba(#FF0000, 1);
$light: rgba(#F9F9F9, 1);

$base-font-family: 'Ubuntu', sans-serif;
$header-font-family: 'Ubuntu', sans-serif;

$base-font: 16px/150% $base-font-family;

$h1-font: 500 56px/115% $header-font-family;
$h1-font-sm: 500 36px/115% $header-font-family;

$h2-font: 500 48px/115% $header-font-family;
$h2-font-sm: 500 32px/115% $header-font-family;

$h3-font: 500 28px/115% $header-font-family;
$h3-font-sm: 500 24px/115% $header-font-family;

$h4-font: 700 24px/130% $base-font-family;
$h4-font-sm: 700 18px/130% $base-font-family;

$h5-font: 500 18px/125% $base-font-family;
$h5-font-sm: 500 18px/125% $base-font-family;

$small-font: 400 14px/18px $base-font-family;
$button-font: 500 16px/20px $base-font-family;

$card-shadow: 4px 4px 0 rgba(15, 40, 94, 0.18);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        //xl: 1260px
        xl: 1290px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        //xl: 1230px,
        xl:1260px
);

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "mixins/typo";
@import "mixins/scroll";
