<template>
    <div>
        <breadcrumbs :items="[{name: 'Ученики', url: '/admin/teachers'}, {name:'Добавление ученика'}]" />
        <page-header>
            Добавление преподавателя
        </page-header>
        <form @submit.prevent="store">
            <h5>Основная информация</h5>
            <div class="row">
                <div class="col-12 col-md-4 col-xl-4 mb-3">
                    <v-input v-model="d_teacher.lastName"
                             label="Фамилия"
                    />
                </div>
                <div class="col-12 col-md-4 col-xl-4 mb-3">
                    <v-input v-model="d_teacher.firstName"
                             label="Имя"
                    />
                </div>
                <div class="col-12 col-md-4 col-xl-4 mb-3">
                    <v-input v-model="d_teacher.middleName"
                             label="Отчество"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input-date v-model="d_teacher.birthday"
                                  label="Дата рождения"
                    />
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_teacher.city"
                             label="Город"
                    />
                </div>
            </div>
            <h5>Данные для авторизации</h5>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <v-input v-model="d_teacher.email"
                             label="E-Mail"
                             type="email"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_teacher.password"
                             label="Пароль"
                             type="password"
                    />
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_teacher.passwordConfirmation"
                             label="Подтвердите пароль"
                             type="password"
                    />
                </div>
            </div>
            <form-errors v-if="d_error"
                         class="mb-3"
                         :errors="d_error"
            />
            <v-button :loading="d_loading"
                      type="submit"
            >
                Зарегистрировать
            </v-button>
        </form>
    </div>
</template>

<script>
import TeacherFactory from "@/assets/js/factories/TeacherFactory";
import Breadcrumbs from "~/components/common/Breadcrumbs";
import VInput from "~/components/common/form/VInput";
import VButton from "~/components/common/form/button/VButton";
import FormErrors from "~/components/common/form/FormErrors";
import PageHeader from "~/components/common/PageHeader";
import VInputDate from "~/components/common/form/VInputDate";

export default {
    name: "Create",
    components: {
        VInputDate,
        PageHeader,
        FormErrors,
        VButton,
        VInput,
        Breadcrumbs,
    },
    layout: "admin",
    data() {
        return {
            d_teacher: TeacherFactory.create({
                password: null,
                passwordConfirmation: null,
            }),
            d_loading: null,
            d_error: null,
            d_exists: 0,
        };
    },
    methods: {
        async store() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$api.teachers.store(this.d_teacher);
                this.$router.push("/admin/teachers");
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
    head: {
        title: "Добавление преподавателя",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped>

</style>
