<template>
    <div>
        <page-header>
            Преподаватели
            <template #actions>
                <nuxt-link to="/admin/teachers/create">
                    <v-button schema="secondary">
                        Добавить
                    </v-button>
                </nuxt-link>
                <v-input v-model="d_query"
                         label="Поиск"
                />
            </template>
        </page-header>
        <div class="table table_lg teachers-table">
            <div class="table__head teachers-table__row">
                <div class="table__cell" />
                <div class="table__cell">
                    ФИО
                </div>
                <div class="table__cell">
                    E-Mail
                </div>
                <div class="table__cell">
                    Подписка
                </div>
                <div class="table__cell">
                    Абонементов
                </div>
                <div class="table__cell">
                    Количество учеников
                </div>
            </div>
            <div v-for="teacher in d_teachers"
                 :key="teacher.id"
                 class="table__row teachers-table__row"
            >
                <div class="table__cell">
                    <avatar class="teachers-table__avatar"
                            :image="teacher.image && teacher.image.url"
                            :level="teacher.level"
                    />
                </div>
                <div class="table__cell">
                    <span class="table__lg-label">ФИО: </span>
                    <nuxt-link :to="`/admin/teachers/${teacher.id}`">
                        {{ teacher.lastName }} {{ teacher.firstName }}
                    </nuxt-link>
                </div>
                <div class="table__cell">
                    <div>
                        <span class="table__lg-label">E-Mail: </span>
                        {{ teacher.email }}
                    </div>
                    <div>
                        <span class="font-weight-medium">Зарегистрирован: </span>
                        {{ formatDate(teacher.createdAt) }}
                    </div>
                </div>
                <div class="table__cell">
                    <span class="table__lg-label">Подписка: </span>
                    <template v-if="!teacher.lastSubscription">
                        не оформлялась
                    </template>
                    <template v-else-if="isBefore(teacher.lastSubscription.expiredAt)">
                        закончилась {{ formatDate(teacher.lastSubscription.expiredAt) }}
                    </template>
                    <template v-else>
                        до {{ formatDate(teacher.lastSubscription.expiredAt) }}
                    </template>
                </div>
                <div class="table__cell">
                    <span class="table__lg-label">Абонементов: </span>
                    {{ teacher.subscriptionsLeft }}
                </div>
                <div class="table__cell">
                    <span class="table__lg-label">Студентов: </span>
                    {{ teacher.studentsCount }}
                </div>
                <div class="table__cell table__actions">
                    <nuxt-link :to="`/admin/teachers/${teacher.id}/edit`"
                               title="Редактировать"
                    >
                        <v-button schema="link">
                            <i class="icon-edit-alt" />
                        </v-button>
                    </nuxt-link>
                </div>
            </div>
        </div>
        <loading-component v-if="d_loading"
                           class="mt-3"
        />
        <load-more-observer ref="loadMore"
                            v-model="d_teachers"
                            :fetch="fetch"
                            :chunk="30"
                            @fetch="d_loading = true"
                            @fetched="d_loading = false"
        />
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import debounce from "lodash.debounce";
import PageHeader from "~/components/common/PageHeader";
import VButton from "~/components/common/form/button/VButton";
import Avatar from "~/components/common/Avatar";
import LoadingComponent from "~/components/common/LoadingComponent";
import VInput from "~/components/common/form/VInput";
import LoadMoreObserver from "~/components/common/LoadMoreObserver";

export default {
    components: {
        LoadMoreObserver,
        VInput,
        LoadingComponent,
        Avatar,
        VButton,
        PageHeader,
    },
    layout: "admin",
    mixins: [dateMixins],
    data() {
        return {
            d_teachers: [],
            d_loading: false,
            d_query: null,
        };
    },
    watch: {
        d_query: debounce(function() {
            this.$refs.loadMore.reset();
        }, 500),
    },
    methods: {
        async fetch() {
            return await this.$api.teachers.fetch({
                filter: {
                    query: this.d_query || undefined,
                },
                limit: 30,
                offset: this.d_teachers.length,
                include: ["studentsCount", "lastSubscription"],
            });
        },
    },
    head: {
        title: "Преподаватели",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped lang="scss">
.teachers-table__avatar {
}

.teachers-table__row {
    grid-template-columns: 100px 1fr 1fr 250px 150px 150px 50px;
}

.teachers-table__avatar {
    @include media-breakpoint-down(md) {
        width: 100px;
        height: 100px;
    }
}
</style>
