<template>
    <div>
        <page-header>
            Домашние задания
            <template #actions>
                <nuxt-link to="/teacher/apps/create">
                    <v-button schema="secondary">
                        Сконфигурировать новое задание
                    </v-button>
                </nuxt-link>
            </template>
        </page-header>
        <apps-table :apps="d_apps" />
        <loading-component v-if="d_loading"
                           class="mt-3"
        />
    </div>
</template>

<script>
import teacherHasAccess from "@/middleware/teacherHasAccess";
import AppsTable from "~/components/teacher/apps/AppsTable";
import PageHeader from "~/components/common/PageHeader";
import VButton from "~/components/common/form/button/VButton";
import LoadingComponent from "~/components/common/LoadingComponent";

export default {
    components: {
        LoadingComponent,
        AppsTable,
        VButton,
        PageHeader,
    },
    layout: "teacher",
    data() {
        return {
            d_apps: [],
            d_loading: false,
        };
    },
    async mounted() {
        this.d_loading = true;
        this.d_apps = await this.$api.apps.fetch({
            filter: {
                isHomework: 1,
            },
        });
        this.d_loading = false;
    },
    head: {
        title: "Домашние задания",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
    middleware: [teacherHasAccess],
};
</script>

<style scoped lang="scss">
</style>
