<template>
    <div>
        <breadcrumbs :items="[{name: 'Ученики', url: '/admin/students'}, {name:'Редактирование ученика'}]" />
        <page-header>
            Редактирование ученика
            <template #actions>
                <loading-component v-if="d_deleting"
                                   size="16"
                />
                <div v-else
                     class="text-danger"
                     role="button"
                     @click="destroy"
                >
                    <i class="icon-trash" /> Удалить
                </div>
            </template>
        </page-header>
        <form v-if="d_student"
              @submit.prevent="store"
        >
            <h5>Основная информация</h5>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_student.lastName"
                             label="Фамилия"
                    />
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_student.firstName"
                             label="Имя"
                    />
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_student.middleName"
                             label="Отчество"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input-date v-model="d_student.birthday"
                                  label="Дата рождения"
                    />
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_student.city"
                             label="Город"
                    />
                </div>
            </div>

            <h5>Преподаватель</h5>
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <teacher-search v-model="d_teacher"
                                    :allow-empty="true"
                                    :include="['groups']"
                                    @input="onTeacherInput"
                    />
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <v-select v-if="d_teacher"
                              v-model="d_student.group"
                              track-by="id"
                              :options="d_teacher.groups"
                              label="Группа"
                              multiselect-label="name"
                    />
                </div>
            </div>

            <h5>Данные авторизации</h5>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <v-input v-model="d_student.email"
                             label="E-Mail"
                             type="email"
                    />
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <v-input v-model="d_student.login"
                             label="Логин"
                    />
                </div>
            </div>
            <v-checkbox v-model="d_changePassword"
                        class="mb-3"
                        label="Сменить пароль"
            />
            <transition-collapse>
                <div v-if="d_changePassword"
                     class="row"
                >
                    <div class="col-12 col-md-6 col-xl-4 mb-3">
                        <v-input v-model="d_student.password"
                                 label="Пароль"
                                 type="password"
                        />
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 mb-3">
                        <v-input v-model="d_student.passwordConfirmation"
                                 label="Подтвердите пароль"
                                 type="password"
                        />
                    </div>
                </div>
            </transition-collapse>
            <form-errors v-if="d_error"
                         class="mb-3"
                         :errors="d_error"
            />
            <v-button :loading="d_loading"
                      type="submit"
            >
                Сохранить
            </v-button>
        </form>
        <loading-component v-else />
    </div>
</template>

<script>
import StudentFactory from "@/assets/js/factories/StudentFactory";
import TeacherSearch from "~/components/admin/teacher/TeacherSearch";
import Breadcrumbs from "~/components/common/Breadcrumbs";
import VInput from "~/components/common/form/VInput";
import VButton from "~/components/common/form/button/VButton";
import FormErrors from "~/components/common/form/FormErrors";
import VSelect from "~/components/common/form/VSelect";
import PageHeader from "~/components/common/PageHeader";
import LoadingComponent from "~/components/common/LoadingComponent";
import VCheckbox from "~/components/common/form/checkbox/VCheckbox";
import TransitionCollapse from "~/components/common/transitions/TransitionCollapse";
import VInputDate from "~/components/common/form/VInputDate";

export default {
    name: "Create",
    components: {
        VInputDate,
        TeacherSearch,
        TransitionCollapse,
        VCheckbox,
        LoadingComponent,
        PageHeader,
        VSelect,
        FormErrors,
        VButton,
        VInput,
        Breadcrumbs,
    },
    layout: "admin",
    async fetch() {
        const student = await this.$api.students.fetchOne(this.$route.params.id, {
            include: ["group.teacher.groups"],
        });
        this.d_teacher = student.group && student.group.teacher;
        this.d_student = StudentFactory.create({
            teacher: null,
            ...student,
            password: null,
            passwordConfirmation: null,
        });
    },
    data() {
        return {
            d_student: null,
            d_loading: null,
            d_changePassword: false,
            d_error: null,
            d_exists: 0,
            d_deleting: false,
            d_teacher: null,
        };
    },
    watch: {
        d_changePassword() {
            this.d_student.password = null;
            this.d_student.passwordConfirmation = null;
        },
    },
    methods: {
        async store() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$api.students.update(this.$route.params.id, this.d_student);
                this.$router.push("/admin/students");
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
        async destroy() {
            if (this.d_loading || this.d_deleting) {
                return;
            }
            const confirm = window.confirm("Вы уверены, что хотите удалить этого пользователя? Это действие нельзя отменить!");
            if (!confirm) {
                return;
            }

            this.d_deleting = true;
            try {
                await this.$api.students.delete(this.$route.params.id);
                this.$router.push("/admin/students");
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_deleting = false;
        },
        onTeacherInput() {
            this.d_student.group = null;
            this.d_student.groupId = null;
        },
    },
    head: {
        title: "Редактирование ученика",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped>

</style>
