<template>
    <loading-component v-if="!d_student" />
    <div v-else>
        <breadcrumbs :items="[{url: '/admin/students', name: 'Ученики'}, {name: c_fullName}]" />
        <page-header>
            {{ c_fullName }}
            <v-brains v-if="d_student.brains !== undefined"
                      class="student-card__brains"
                      :mini="true"
                      :value="d_student.brains"
            />
        </page-header>
        <div class="card user-info mb-5">
            <avatar class="user-info__avatar"
                    :image="c_imageUrl"
                    :level="d_student.level"
            />
            <div>
                <p class="user-info__row">
                    <span>Аккаунт зарегистрирован:</span> {{ formatDate(d_student.createdAt) }}
                </p>
                <p v-if="d_student.birthday"
                   class="user-info__row"
                >
                    <span>Дата рождения:</span> {{ formatDate(d_student.birthday) }}
                </p>
                <p class="user-info__row">
                    <span>Логин:</span> {{ d_student.login || "-" }}
                </p>
                <p class="user-info__row">
                    <span>E-Mail:</span> {{ d_student.email || "-" }}
                </p>
                <p class="user-info__row">
                    <span>Абонемент:</span>
                    <template v-if="!d_student.subscriptions || !d_student.subscriptions.length">
                        не оформлялся
                    </template>
                    <template v-else-if="isBefore(d_student.subscriptions[0].expiredAt)">
                        закончился {{ formatDate(d_student.subscriptions[0].expiredAt) }}
                    </template>
                    <template v-else>
                        до {{ formatDate(d_student.subscriptions[0].expiredAt) }}
                    </template>
                </p>
                <p class="user-info__row">
                    <span>Преподаватель:</span>
                    <template v-if="c_teacher">
                        <nuxt-link :to="`/admin/teachers/${c_teacher.id}`">
                            {{ c_teacher.lastName }} {{ c_teacher.firstName }}
                        </nuxt-link>
                    </template>
                    <template v-else>
                        -
                    </template>
                </p>
                <v-button v-if="d_student.level"
                          size="small"
                          class="mt-3"
                          :loading="d_clearingLevel"
                          @click.native="clearLevel"
                >
                    Убрать уровень аттестации
                </v-button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-8 mb-5">
                <section>
                    <h4>График результативности</h4>
                    <brains-chart :brains="d_student.brainsHistory" />
                </section>
            </div>
            <div class="col-12 col-xl-4 mb-5">
                <section>
                    <h4>Абонементы</h4>
                    <student-subscriptions v-if="d_student"
                                           :subscriptions="d_student.subscriptions"
                                           :can-remove="true"
                                           @remove="onSubscriptionRemove"
                    />
                    <v-button class="mt-3"
                              schema="secondary"
                              @click.native="d_showEditorModal = true"
                    >
                        Выдать абонемент
                    </v-button>
                    <student-subscription-editor v-if="d_showEditorModal"
                                                 :subscription="d_showEditorModal"
                                                 :student="d_student"
                                                 @close="d_showEditorModal = null"
                                                 @store="onSubscriptionStore"
                    />
                </section>
            </div>
        </div>
        <section class="mb-5">
            <h4>Тренажеры</h4>
            <user-apps :apps="c_apps" />
        </section>
        <section class="mb-5">
            <h4>Домашние задания</h4>
            <user-apps :apps="c_homeworks"
                       :homeworks="true"
            />
        </section>
        <section class="mb-5">
            <h4>Аттестации</h4>
            <student-attestations-table :student-id="+this.$route.params.id" />
        </section>
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import StudentAttestationsTable from "@/components/teacher/attestations/StudentAttestationsTable";
import StudentSubscriptionEditor from "~/components/admin/student/StudentSubscriptionEditor";
import UserApps from "~/components/teacher/homeworks/UserApps";
import BrainsChart from "~/components/teacher/student/BrainsChart";
import StudentSubscriptions from "~/components/teacher/student/StudentSubscriptions";
import LoadingComponent from "~/components/common/LoadingComponent";
import VBrains from "~/components/common/brains/VBrains";
import Avatar from "~/components/common/Avatar";
import Breadcrumbs from "~/components/common/Breadcrumbs";
import PageHeader from "~/components/common/PageHeader";
import VButton from "~/components/common/form/button/VButton";

export default {
    name: "Index",
    components: {
        StudentAttestationsTable,
        VButton,
        StudentSubscriptions,
        BrainsChart,
        StudentSubscriptionEditor,
        LoadingComponent,
        VBrains,
        UserApps,
        Avatar,
        Breadcrumbs,
        PageHeader,
    },
    layout: "admin",
    mixins: [dateMixins],
    async fetch() {
        this.d_student = await this.$api.students.fetchOne(this.$route.params.id, {
            include: ["brainsHistory", "subscriptions", "group.teacher"],
            append: ["appsWithStats", "brains"],
        });
    },
    data() {
        return {
            d_clearingLevel: false,
            d_student: null,
            d_showEditorModal: null,
        };
    },
    computed: {
        c_imageUrl() {
            return this.d_student.image && this.d_student.image.url;
        },
        c_homeworks() {
            if (!this.d_student) {
                return null;
            }
            return this.d_student.appsWithStats.filter(item => item.isHomework);
        },
        c_apps() {
            if (!this.d_student) {
                return null;
            }
            return this.d_student.appsWithStats.filter(item => !item.isHomework);
        },
        c_fullName() {
            if (!this.d_student) {
                return null;
            }
            return this.d_student.lastName + " " + this.d_student.firstName;
        },
        c_teacher() {
            if (!this.d_student || !this.d_student.group) {
                return null;
            }
            return this.d_student.group.teacher;
        },
    },
    methods: {
        onSubscriptionStore(subscription) {
            this.d_student.subscriptions.splice(0, 0, subscription);
            this.d_showEditorModal = false;
        },
        onSubscriptionRemove(subscription) {
            const idx = this.d_student.subscriptions.indexOf(subscription);
            if (idx >= 0) {
                this.d_student.subscriptions.splice(idx, 1);
            }
        },
        async clearLevel() {
            if (!this.d_student.attestationLevel) {
                return;
            }
            this.d_clearingLevel = true;
            const newLevel = await this.$api.attestations.deleteLevel(this.d_student.attestationLevel.id);
            if (newLevel) {
                this.d_student.attestationLevel = newLevel;
                this.d_student.level = newLevel.level;
            } else {
                this.d_student.attestationLevel = null;
                this.d_student.level = null;
            }
            this.d_clearingLevel = false;
        },
    },
    head() {
        return {
            title: this.c_fullName,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: "Home page description",
                },
            ],
        };
    },
};
</script>

<style scoped lang="scss">
.user-info {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    align-items: center;

    @include media-breakpoint-down(md) {
        grid-auto-flow: row;
        grid-gap: 10px;
    }
}

.user-info__avatar {
    width: 150px;
    height: 150px;

    @include media-breakpoint-down(md) {
        margin: auto;
    }
}

.user-info__row {
    span {
        font-weight: 500;
    }

    & + & {
        margin-top: 5px;
    }
}
</style>
