<template>
    <div class="header">
        <img src="/images/header/header-forest.png"
             alt=""
             class="header__img-forest"
        >
        <img src="/images/header/tiger.png"
             alt=""
             class="header__img-tiger"
        >
        <div class="container">
            <img class="logo"
                 src="/images/header/logo.svg"
                 alt=""
            >
            <div class="row">
                <div class="col-12 col-md-7 col-lg-6">
                    <h1 class="header__title">
                        Платформа уникальных онлайн&#8209;тренажеров
                    </h1>
                    <div class="header__subtitle">
                        Эффективные тренажеры для обучения и аттестации по ментальной арифметике и брейн-фитнесу.
                    </div>
                    <v-button class="d-xl-none mt-3"
                              schema="secondary"
                              @click.native="d_showAuthModal = true"
                    >
                        Вход/Регистрация
                    </v-button>
                </div>
                <div class="d-none d-xl-block col-xl-4 offset-xl-2">
                    <auth-form />
                </div>
            </div>
        </div>
        <modal-component v-if="d_showAuthModal"
                         @close="d_showAuthModal = null"
        >
            <h3>Авторизация</h3>
            <auth-form />
        </modal-component>
    </div>
</template>

<script>
import VButton from "@/components/common/form/button/VButton";
import AuthForm from "@/components/common/auth-form/AuthForm";
import ModalComponent from "@/components/common/ModalComponent";

export default {
    name: "VHeader",
    components: {
        ModalComponent,
        VButton,
        AuthForm,
    },
    data() {
        return {
            d_showAuthModal: false,
        };
    },
    mounted() {
        window.toggleAuthModal = this.toggleAuthModal;
    },
    methods: {
        toggleAuthModal(val) {
            this.d_showAuthModal = val !== undefined ? val : !this.d_showAuthModal;
        },
    },
};
</script>

<style lang="scss">
.header {
    background: linear-gradient(90deg, #197294 -8.88%, #2AB5CE 36.17%, #2AB5CE 66.79%, #197294 112.19%), #FFFFFF;
    padding: 40px 0 78px 0;
    color: $light;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(lg) {
        background: linear-gradient(90deg, #197294 0%, #2ab5ce 97%);
    }

    @include media-breakpoint-down(md) {
        background: radial-gradient(55.67% 55.67% at 50% 50%, rgba(0, 71, 88, 0.40) 0%, rgba(0, 72, 89, 0.96) 100%),
        url('/images/forest.jpg') center no-repeat;
        background-size: cover;
    }

    @include media-breakpoint-down(sm) {
        padding-bottom: 360px;
    }
}

.header__img-forest {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;

    @media (max-width: 1666px) {
        width: 60%;
    }

    @include media-breakpoint-down(lg) {
        width: 50%;
    }

    @include media-breakpoint-down(md) {
        display: none;
    }
}

.header__img-tiger {
    position: absolute;
    bottom: -200px;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    max-width: 100%;

    @include media-breakpoint-down(lg) {
        top: 10%;
        right: 27%;
        width: 47%;
        left: auto;
    }

    @include media-breakpoint-down(md) {
        top: auto;
        bottom: 56px;
    }
    @include media-breakpoint-down(sm) {
        left: 50%;
        right: auto;
        width: 360px;
    }
}

.logo {
    margin-bottom: 154px;

    @include media-breakpoint-down(xl) {
        margin-bottom: 80px;
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 30px;
        display: none;
    }
}

.header__title {
    margin-bottom: 40px;
    text-shadow: 0 0 3px #000000b5;

    @include media-breakpoint-down(lg) {
        font-size: 50px;
    }

    @include media-breakpoint-down(md) {
        font-size: 40px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 15px;
    }
}

.header__subtitle {
    font-size: 23px;
    line-height: 150%;
    padding-right: 115px;

    @include media-breakpoint-down(lg) {
        font-size: 20px;
        padding-right: 0;
    }

    @include media-breakpoint-down(xs) {
        font-size: 16px;
        line-height: 24px;
    }
}

</style>
