<template>
    <div class="auth-page">
        <form class="auth-page__form"
              @submit.prevent="login"
        >
            <avatar class="auth-page__icon" />
            <div class="text-center">
                <h1 class="mb-2">
                    Авторизация
                </h1>
                <h3 class="text-primary mb-4">
                    Преподаватель
                </h3>
            </div>
            <v-input v-model="d_user.username"
                     label="E-Mail"
                     class="w-100 mb-3"
            />
            <v-input v-model="d_user.password"
                     label="Пароль"
                     class="w-100 mb-3"
                     type="password"
            />
            <form-errors
                class="mb-3"
                :errors="d_error"
            />
            <div class="d-flex justify-content-end mb-2">
                <a href="#"
                   @click.prevent="d_resetPassword = true"
                >Забыли пароль?</a>
            </div>
            <v-button class="d-block w-100"
                      schema="secondary"
                      type="submit"
                      :loading="d_loading"
            >
                Авторизоваться
            </v-button>
            <password-reset-modal v-if="d_resetPassword"
                                  @close="d_resetPassword = false"
            />
        </form>
    </div>
</template>

<script>
import PasswordResetModal from "~/components/common/PasswordResetModal";
import VInput from "~/components/common/form/VInput";
import VButton from "~/components/common/form/button/VButton";
import FormErrors from "~/components/common/form/FormErrors";
import Avatar from "~/components/common/Avatar";

export default {
    components: {
        Avatar,
        FormErrors,
        VButton,
        VInput,
        PasswordResetModal,
    },
    layout: "empty",
    data() {
        return {
            d_user: {
                username: null,
                password: null,
            },
            d_loading: false,
            d_error: false,
            d_resetPassword: false,
        };
    },
    methods: {
        async login() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_error = null;
            try {
                await this.$store.dispatch("auth/login", {
                    ...this.d_user,
                    type: "teacher",
                });
                await this.$router.push("/teacher/students");
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
    head: {
        title: "Авторизация",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped lang="scss">

</style>
