<template>
    <div class="app-container multiplayer"
         :class="`multiplayer_layout-` + d_layout"
    >
        <div ref="menu"
             class="multiplayer__menu"
             :class="{multiplayer__menu_hidden: d_hideMenu}"
        >
            <div>
                <nuxt-link to="/teacher/apps"
                           class="multiplayer__back"
                >
                    <circle-button>
                        <i class="icon-exit" />
                    </circle-button>
                    Вернуться в меню
                </nuxt-link>
            </div>
            <div class="multiplayer__players-count">
                <span>Игроков:</span>
                <v-number-input min="1"
                                max="8"
                                :value="d_players.length"
                                @decrement="removePlayer"
                                @increment="addPlayer"
                />
            </div>
            <div class="multiplayer__sound-settings">
                <v-checkbox v-model="d_sound"
                            label="Музыка"
                            class="mr-3"
                />
                <v-checkbox v-model="d_fastMode"
                            label="Скоростная тренировка"
                />
            </div>
            <v-select v-model="d_layout"
                      class="multiplayer__layout-select"
                      label="Раскладка"
                      :options="['auto', 'horizontal']"
            >
                <template #option="{option}">
                    {{ formatLayoutOption(option) }}
                </template>
                <template #singleLabel="{option}">
                    {{ formatLayoutOption(option) }}
                </template>
            </v-select>
        </div>
        <div v-show="d_hideMenu"
             ref="show"
             class="multiplayer__show-menu"
             @mousedown="d_hideMenu = false"
        >
            Показать меню ▼
        </div>
        <div class="multiplayer__grid"
             :data-count="d_players.length"
        >
            <multiplayer-player v-for="player in d_players"
                                ref="players"
                                :key="player.id"
                                class="multiplayer__player"
                                :player="player"
                                @show-settings="onAppShowSettings"
            />
        </div>
    </div>
</template>

<script>
import teacherHasAccess from "@/middleware/teacherHasAccess";
import MultiplayerPlayerFactory from "@/assets/js/factories/MultiplayerPlayerFactory";
import MultiplayerPlayer from "~/components/teacher/multiplayer/MultiplayerPlayer";
import VCheckbox from "~/components/common/form/checkbox/VCheckbox";
import CircleButton from "~/components/common/form/CircleButton";
import VNumberInput from "~/components/common/form/VNumberInput";
import VSelect from "~/components/common/form/VSelect";

export default {
    components: {
        VSelect,
        MultiplayerPlayer,
        VNumberInput,
        CircleButton,
        VCheckbox,
    },
    layout: "empty",
    data() {
        return {
            d_players: [],
            d_hideMenu: true,
            d_sound: true,
            d_fastMode: false,
            d_layout: "auto",
            d_backgroundSound: this.$config.apiHost + "/sound/background/background.mp3",
        };
    },
    watch: {
        d_sound(val) {
            if (val) {
                this.d_backgroundSound.play();
            } else {
                this.d_backgroundSound.pause();
            }
        },
        d_fastMode(val) {
            this.$refs.players.forEach((player) => {
                if (player.$refs.app) {
                    console.log(val);
                    // todo
                    // player.$refs.app.d_preferences.fastMode = val;
                }
            });
        },
    },
    mounted() {
        document.addEventListener("mousedown", this.onBodyClick);
        this.addPlayer();
        this.addPlayer();
        this.addPlayer();
        this.addPlayer();
        this.addPlayer();
        this.initBackgroundSound();
        this.playBackgroundSound();
    },
    beforeDestroy() {
        this.d_backgroundSound.pause();
        this.d_backgroundSound.pause();
    },
    methods: {
        onBodyClick(event) {
            if (event.target !== this.$refs.show && !event.path.includes(this.$refs.menu)) {
                this.d_hideMenu = true;
            }
        },
        addPlayer() {
            this.d_players.push(MultiplayerPlayerFactory.create());
        },
        removePlayer() {
            this.d_players.pop();
        },
        initBackgroundSound() {
            this.d_backgroundSound = new Audio(this.d_backgroundSound);
            this.d_backgroundSound.loop = true;
            this.d_backgroundSound.volume = 0.1;
        },
        playBackgroundSound() {
            this.d_backgroundSound.play();
        },
        formatLayoutOption(layout) {
            switch (layout) {
            case "auto":
                return "Авто раскладка";
            case "horizontal":
                return "Горизонтальная раскладка";
            case "vertical":
                return "Вертикальная раскладка";
            }
        },
        onAppShowSettings() {
            this.$refs.players.forEach((player) => {
                if (player.$refs.app) {
                    player.$refs.app.cancelCurrentTask();
                }
            });
        },
    },
    head: {
        title: "Мультиплеер",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
    middleware: [teacherHasAccess],
};
</script>

<style scoped
       lang="scss"
>
.multiplayer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.multiplayer__grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    &[data-count="1"] {

    }

    &[data-count="2"] {
        .multiplayer__player {
            width: 50%;
            height: 100%;
        }
    }

    &[data-count="3"] {
        .multiplayer__player {
            width: 33.33333333%;
            height: 100%;
        }
    }

    &[data-count="4"] {
        .multiplayer__player {
            width: 50%;
            height: 50%;
        }
    }

    &[data-count="5"] {
        .multiplayer__player {
            width: 33.33333333%;
            height: 50%;

            &:nth-child(4), &:nth-child(5) {
                width: 50%;
            }
        }
    }

    &[data-count="6"] {
        .multiplayer__player {
            width: 33.33333333%;
            height: 50%;
        }
    }

    &[data-count="7"] {
        .multiplayer__player {
            width: 25%;
            height: 50%;

            &:nth-child(5), &:nth-child(6), &:nth-child(7) {
                width: 33.33333333%;
            }
        }
    }

    &[data-count="8"] {
        .multiplayer__player {
            width: 25%;
            height: 50%;
        }
    }
}

.multiplayer__menu {
    background: white;
    padding: 5px;
    transition: all .3s ease-in;
    display: flex;
    position: absolute;
    z-index: 10;
    width: 100%;
    box-shadow: 0 10px 20px 0 #00000073;

    & > * {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid #ececec;
    }
}

.multiplayer__show-menu {
    position: absolute;
    top: 0;
    right: 15px;
    left: 0;
    z-index: 100;
    background: $secondary;
    color: $dark;
    padding: 0 15px;
    border-radius: 0 0 100px 100px;
    margin: auto;
    width: 180px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: darken($secondary, 4%);
    }
}

.multiplayer__back {
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 10px;
    justify-content: flex-start;
    border-radius: 1000px;

    &:hover {
        text-decoration: none;
    }
}

.multiplayer__players-count {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
}

.multiplayer__sound-settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.multiplayer__menu_hidden {
    margin-top: -100px;
}

.multiplayer__layout-select {
    width: 350px;
    max-width: 100%;
}

.multiplayer_layout-horizontal {
    .multiplayer__player {
        height: 100% !important;
        flex-grow: 1;
        flex-basis: 0;
    }
}
</style>
