<template>
    <div>
        <page-header>
            <h1 class="h3">
                Расписание
            </h1>
        </page-header>
        <div class="schedule">
            <div v-for="day in d_days"
                 :key="day"
                 class="schedule-day"
                 :class="{'schedule-day_today': day === d_currentDay}"
            >
                <h5 class="schedule-day__name">
                    {{ translateDay(day) }}
                </h5>
                <div v-for="item in c_schedules[day]"
                     :key="item"
                     class="schedule-day__item"
                >
                    <b>{{ item.group.name }}</b>
                    <div>{{ item.schedule.startAt.substr(0, 5) }} - {{ item.schedule.finishAt.substr(0, 5) }}</div>
                </div>
                <div v-if="c_schedules[day].length === 0"
                     class="schedule-day__item"
                >
                    <p>Нет занятий в этот день</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import teacherHasAccess from "@/middleware/teacherHasAccess";
import PageHeader from "~/components/common/PageHeader";

export default {
    name: "Schedule",
    components: { PageHeader },
    layout: "teacher",
    data() {
        const days = ["mon", "tue", "wed", "thu", "fri", "sat", "sun"];
        const currentDate = new Date();
        const currentDayIdx = (currentDate.getDay() + 6) % 7;
        const currentDay = days[currentDayIdx];
        return {
            d_days: days,
            d_currentDay: currentDay,
        };
    },
    computed: {
        c_schedules() {
            return this.$store.state.groups.items.reduce((acc, group) => {
                group.schedules.reduce((acc, schedule) => {
                    for (const day in acc) {
                        if (schedule[day]) {
                            acc[day].push({
                                schedule,
                                group,
                            });
                        }
                    }
                    return acc;
                }, acc);
                return acc;
            }, {
                mon: [],
                thu: [],
                wed: [],
                tue: [],
                fri: [],
                sat: [],
                sun: [],
            });
        },
    },
    methods: {
        translateDay(val) {
            const map = {
                mon: "Понедельник",
                tue: "Вторник",
                wed: "Среда",
                thu: "Четверг",
                fri: "Пятница",
                sat: "Суббота",
                sun: "Воскресенье",
            };
            return map[val] ? map[val] : val;
        },
    },
    head: {
        title: "Расписание",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
    middleware: [teacherHasAccess],
};
</script>

<style scoped lang="scss">
.schedule {
    display: grid;
    grid-gap: 30px;
}

.schedule-day {
    box-shadow: $card-shadow;
    background: white;
    padding: 15px;
    border-radius: 7px;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 30px;
    border: 1px solid lighten($primary, 50%);

    @include media-breakpoint-down(md) {
        grid-auto-flow: row;
        grid-gap: 15px;
    }
}

.schedule-day__name {
    color: $primary;
    width: 200px;
    margin-bottom: 0;
}

.schedule-day_today {
    background: $primary;
    color: white;

    .schedule-day__name {
        color: $secondary;
    }
}
</style>
