<template>
    <div>
        <page-header>
            Абонементы
        </page-header>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <card class="mb-4">
                    <h4 class="text-primary">
                        Подписка
                    </h4>
                    <div v-if="hasAccess">
                        <i class="icon-schedule align-middle" /> Активна до {{ hasAccess }}
                    </div>
                    <template v-else>
                        <div class="mb-3">
                            Не активна
                        </div>
                        <v-button schema="secondary"
                                  @click.native="d_showBuySubscriptionModal = true"
                        >
                            Купить подписку
                        </v-button>
                    </template>
                </card>
                <div class="subscriptions-count">
                    <div class="subscriptions-count__value">
                        {{ c_user.subscriptionsLeft }}
                    </div>
                    <div>
                        <div class="mb-2">
                            Доступных абонементов
                        </div>
                        <v-button schema="secondary"
                                  @click.native="d_showBuySubscriptionPackageModal = true"
                        >
                            Купить пакет абонементов
                        </v-button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-8">
                <loading-component v-if="$fetchState.pending" />
                <div v-else
                     class="table"
                >
                    <div class="table__head transcations-table__row">
                        <div class="table__cell">
                            Дата
                        </div>
                        <div class="table__cell">
                            Операция
                        </div>
                    </div>
                    <div v-for="transaction in d_transactions"
                         :key="transaction.id"
                         class="table__row transcations-table__row"
                    >
                        <div class="table__cell">
                            {{ formatDateTime(transaction.createdAt) }}
                        </div>
                        <div class="table__cell">
                            {{ transaction.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <subscription-buy-modal v-if="d_showBuySubscriptionModal"
                                @close="d_showBuySubscriptionModal = false"
        />
        <subscription-package-buy-modal v-if="d_showBuySubscriptionPackageModal"
                                        @close="d_showBuySubscriptionPackageModal = false"
        />
    </div>
</template>

<script>

import dateMixins from "assets/js/mixins/dateMixins";
import { mapState } from "vuex";
import LoadingComponent from "@/components/common/LoadingComponent";
import SubscriptionBuyModal from "~/components/teacher/subscriptions/SubscriptionBuyModal";
import SubscriptionPackageBuyModal from "~/components/teacher/subscriptions/SubscriptionPackageBuyModal";
import PageHeader from "~/components/common/PageHeader";
import Card from "~/components/common/VCard";
import VButton from "~/components/common/form/button/VButton";

export default {
    components: {
        LoadingComponent,
        SubscriptionPackageBuyModal,
        SubscriptionBuyModal,
        VButton,
        Card,
        PageHeader,
    },
    layout: "teacher",
    mixins: [dateMixins],
    async fetch() {
        this.d_transactions = await this.$api.subscriptions.fetchTransactions();
    },
    data() {
        return {
            d_transactions: [],
            d_showBuySubscriptionModal: false,
            d_showBuySubscriptionPackageModal: false,
        };
    },
    computed: {
        ...mapState({
            c_user: state => state.auth.user,
        }),
        hasAccess() {
            return this.c_user.hasAccess ? this.formatDate(this.c_user.hasAccess) : null;
        },
    },
};
</script>

<style lang="scss">
.subscriptions-count {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    grid-gap: 15px;
    background: $primary;
    color: white;
    box-shadow: $card-shadow;
    padding: 15px;
    border-radius: 7px;
    align-items: center;
}

.subscriptions-count__value {
    font-size: 92px;
    line-height: 92px;
}

.transcations-table__row {
    grid-template-columns: 150px auto;
}
</style>
