<template>
    <div class="container">
        <!--        <v-checkbox v-model="d_checkbox"-->
        <!--                    label="test"-->
        <!--                    position="right"-->
        <!--                    checkboxValue="qwer"/>-->
        <!--        <v-tabs v-model="d_tab"-->
        <!--                :tabs="['one', 'two', 'three']">-->
        <!--            <template #one>-->
        <!--                <div>ddsasd1111</div>-->
        <!--            </template>-->

        <!--            <template #two>-->
        <!--                <div>onesdf2222</div>-->
        <!--            </template>-->

        <!--            <template #three>-->
        <!--                <div>onesdfsdf333333</div>-->
        <!--            </template>-->

        <!--        </v-tabs>-->

        <!--        <v-radio label="Radio"-->
        <!--                 radio-value="one"-->
        <!--                 v-model="d_radio"/>-->
        <!--        <v-radio label="Two"-->
        <!--                 radio-value="two"-->
        <!--                 v-model="d_radio"/>-->

        <v-abacus v-model="d_tmp"
                  :capacity="10"
                  scheme="img"
        />
    </div>
</template>

<script>
import VAbacus from "~/components/common/abacus/VAbacus";

export default {
    layout: "auth",
    components: {
        VAbacus,
    },
    data() {
        return {
            d_checkbox: [],
            d_tab: "one",
            d_range: [12],
            d_radio: "one",
            d_tmp: 0,
        };
    },
    mounted() {
        // setInterval(() => {
        //     this.d_tmp--;
        // }, 500)
    },
};
</script>

<style lang="scss">
.container {
    display: flex;
    flex-direction: column;
}
</style>
