<template>
    <modal-component @close="$emit('close')">
        <form @submit.prevent="submit">
            <transition-collapse>
                <div v-if="!d_submitted">
                    <h3 class="text-secondary">
                        Обратная связь
                    </h3>
                    <v-input v-model="d_feedback.name"
                             label="Ваше имя"
                             class="mb-3"
                             :required="true"
                    />
                    <v-input v-model="d_feedback.phone"
                             label="Телефон"
                             class="mb-3"
                    />
                    <v-input v-model="d_feedback.email"
                             label="E-Mail"
                             class="mb-3"
                             :required="true"
                    />
                    <v-textarea v-model="d_feedback.message"
                                label="Сообщение"
                                class="mb-3 w-100"
                    />
                    <form-errors v-if="d_errors"
                                 :error="d_errors"
                                 class="mb-3"
                    />
                    <v-button schema="secondary"
                              :loading="d_loading"
                              type="submit"
                    >
                        Отправить
                    </v-button>
                </div>
            </transition-collapse>
            <transition-collapse>
                <div v-if="d_submitted">
                    <h3 class="text-secondary">
                        Спасибо!
                    </h3>
                    <p>Ваше сообщение принято и мы скоро свяжемся с вами.</p>
                </div>
            </transition-collapse>
        </form>
    </modal-component>
</template>

<script>
import ModalComponent from "@/components/common/ModalComponent";
import VInput from "@/components/common/form/VInput";
import VTextarea from "@/components/common/form/VTextarea";
import VButton from "@/components/common/form/button/VButton";
import TransitionCollapse from "@/components/common/transitions/TransitionCollapse";
import FormErrors from "@/components/common/form/FormErrors";

export default {
    name: "FeedbackModal",
    components: {
        FormErrors,
        TransitionCollapse,
        VButton,
        VTextarea,
        VInput,
        ModalComponent,
    },
    data() {
        return {
            d_feedback: {
                name: null,
                phone: this.$store.getters["auth/isAuthenticated"] ? this.$store.state.auth.user.phone : null,
                email: this.$store.getters["auth/isAuthenticated"] ? this.$store.state.auth.user.email : null,
                message: null,
            },
            d_loading: false,
            d_submitted: false,
            d_errors: null,
        };
    },
    methods: {
        async submit() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$api.feedback.store(this.d_feedback);
                this.d_submitted = true;
            } catch (e) {
                this.d_errors = e;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped>

</style>
