<template>
    <div class="footer">
        <div class="container">
            <div class="footer__content">
                <div class="footer__credentials">
                    <p>
                        ИП Балтикова А.А., ИНН 860223111603, ОГРН 315861700033025.
                    </p>
                    <p class="mt-0">
                        При сотрудничестве с Ассоциацией интеллектуально-творческого развития личности ИНН 8602277653.
                    </p>
                </div>
                <v-button schema="secondary"
                          size="small"
                          class="footer__btn"
                          @click.native="d_showModal = true"
                >
                    Нужна помощь?
                </v-button>
            </div>
        </div>
        <feedback-modal v-if="d_showModal"
                        @close="d_showModal = false"
        />
    </div>
</template>

<script>
import VButton from "@/components/common/form/button/VButton.vue";
import FeedbackModal from "@/components/common/footer/FeedbackModal";

export default {
    components: {
        FeedbackModal,
        VButton,
    },
    data() {
        return {
            d_showModal: false,
        };
    },
};
</script>

<style lang="scss">
.footer {
    width: 100%;
    padding: 10px 0;
    background: rgba($light, 0.75);
    color: $dark;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    line-height: 14px;

    .footer__btn {
        @include media-breakpoint-down(md) {
            margin-top: 15px;
            width: 100%;
        }
    }
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
        align-items: start;
        flex-direction: column;
    }
}
</style>
