<template>
    <button class="circle-button"
            :class="c_schema"
    >
        <slot />
    </button>
</template>
<script>
export default {
    name: "CircleButton",
    props: {
        schema: {
            default: "primary",
        },
    },
    computed: {
        c_schema() {
            return "circle-button_" + this.schema;
        },
    },
};
</script>

<style lang="scss">
.circle-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: radial-gradient(114% 114% at 35% 9%, #1F9BB9 3.33%, #004758 100%);
    box-shadow: $card-shadow;
    border: none;
    color: white;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .5s cubic-bezier(0.46, 0.39, 0.2, 3.29);

    &:focus {
        outline: none;
    }

    &:hover {
        transform: scale(1.1);
    }

    &_secondary {
        //width: 77px;
        //height: 77px;
        background: url('/images/button-bg.png') 42% no-repeat, $secondary;
        background-size: cover;
        color: $dark;
    }

}
</style>
