<template>
    <transition-collapse @afterLeave="handleAfterLeave">
        <div v-if="c_show"
             class="form-errors"
        >
            <div class="form-errors__message message message_danger">
                <ul v-for="(err, key) in c_errors"
                    :key="key"
                    class="message__list"
                >
                    <li class="d-flex">
                        <i class="icon-warning mr-2 mt-1 text-secondary" />
                        {{ err }}
                    </li>
                </ul>
                <slot />
            </div>
        </div>
    </transition-collapse>
</template>

<script>
import TransitionCollapse from "@/components/common/transitions/TransitionCollapse";

export default {
    name: "FormErrors",
    components: { TransitionCollapse },
    props: {
        errors: {
            type: [Object, Array],
            default() {
                return {};
            },
        },
    },
    data() {
        return {
            d_clickedClose: false,
        };
    },
    computed: {
        c_show() {
            return this.errors && Object.keys(this.errors).length > 0 && !this.d_clickedClose;
        },
        c_errors() {
            let res = [];
            if (Array.isArray(this.errors)) {
                res = this.errors;
            } else if (typeof (this.errors) === "object") {
                if (this.errors.message) {
                    res.push(this.errors.message);
                }
                if (this.errors.errors) {
                    res.push(...Object.values(this.errors.errors));
                }
            } else {
                res = [this.errors];
            }
            return res.flat();
        },
    },
    watch: {
        errors() {
            this.d_clickedClose = false;
        },
    },
    methods: {
        handleAfterLeave() {
            this.$emit("close");
        },
    },
};
</script>

<style scoped lang="scss">
.form-errors {
}

.form-errors__message {
    background: #ea4848;
    color: white;
    padding: 15px;
    border-radius: 7px;
    max-width: 600px;
}

.message__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
</style>
