<template>
    <el-date-picker :value="value"
                    class="date-picker"
                    value-format="yyyy-MM-dd"
                    format="dd.MM.yyyy"
                    :placeholder="label"
                    @input="$emit('input', arguments[0])"
    />
</template>

<script>
export default {
    name: "VInputDate",
    props: {
        value: {
            default: null,
        },
        disabled: {
            default: false,
        },
        type: {
            default: "date",
        },
        label: {
            default: undefined,
        },
        hint: {
            default: undefined,
        },
    },
};
</script>

<style lang="scss">
</style>
