<template>
    <div class="input"
         :class="{'input_filled': value || value === '0' || value === 0}"
    >
        <label class="input__label">
            <dropdown v-if="hint || $slots.hint"
                      class="input__dropdown"
                      :hover-open="true"
            >
                <i class="input__hint icon-help-circled" />
                <template #body>
                    <slot v-if="$slots.hint"
                          name="hint"
                    />
                    <div v-else>
                        {{ hint }}
                    </div>
                </template>
            </dropdown>
            <span class="input__label-text"
                  :title="label"
            >{{ label }}</span>
            <input v-model="c_value"
                   class="input__input"
                   :type="d_showPassword ? 'text' : type"
                   :step="step"
                   :disabled="disabled"
                   :required="required"
            >
            <div v-if="type === 'password'"
                 class="input__show-password"
                 @click="togglePasswordVisibility"
            >
                <i v-if="!d_showPassword"
                   class="icon-eye"
                />
                <i v-else
                   class="icon-eye-slash"
                />
            </div>
        </label>
    </div>
</template>

<script>
import Dropdown from '@/components/common/Dropdown';

export default {
    name: 'VInput',
    components: { Dropdown },
    props: {
        disabled: {
            default: false,
        },
        value: {
            default: null,
        },
        step: {
            default: undefined,
        },
        type: {
            default: 'text',
        },
        label: {
            default: undefined,
        },
        hint: {
            default: undefined,
        },
        required: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            d_showPassword: false,
        };
    },
    computed: {
        c_value: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit('input', val);
            },
        },
    },
    methods: {
        togglePasswordVisibility() {
            this.d_showPassword = !this.d_showPassword;
        },
    },
};
</script>

<style lang="scss">
.input {
    box-shadow: $card-shadow;
    border-radius: 7px;
    background: white;
    border: 1px solid $primary;
    position: relative;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}

.input_filled {
    .input__label-text {
        position: absolute;
        font-size: 12px;
        transform: translate(0px, -10px);
    }

    .input__input {
        margin-top: 6px;
        margin-bottom: 0;
    }
}

.input__input {
    border: none;
    background: none;
    outline: none !important;
    border-bottom: 1px solid $primary;
    color: $dark;
    margin-left: 7px;
    appearance: none;
    font: $base-font;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;

    ::placeholder {
        visibility: hidden;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        font: $base-font !important;
    }
}

.input__label {
    color: $primary;
    padding: 9px 15px;
    margin-bottom: 0;
    display: inline-flex;
    flex-direction: column;
    white-space: nowrap;
    width: 100%;
}

.input__dropdown {
    margin-right: 10px;
    font-size: 14px;
    line-height: 18px;
    white-space: normal;
    position: absolute !important;
    right: 0;
}

.input__hint {
    color: #b3b3b3;
    font-size: 22px;
    vertical-align: middle;
    position: absolute;
    right: 9px;

    &:hover {
        color: $primary;
    }
}

.input__show-password {
    font-size: 25px;
    position: absolute;
    right: 9px;

    &:hover {
        cursor: pointer;
    }
}

.input__label-text {
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    pointer-events: none;
    transition: all .15s ease-in;
    left: 23px;
    top: 12px;
}
</style>
