<template>
    <div class="number-input"
         :class="{'number-input_sm': small}"
    >
        <circle-button @click.native="decrement">
            <i v-if="emitDelete && value === min"
               class="icon-trash"
               @click="$emit('delete')"
            />
            <i v-else
               class="icon-minus"
            />
        </circle-button>

        <div class="number-input__value">
            {{ value }}
        </div>

        <circle-button @click.native="increment">
            <i class="icon-plus" />
        </circle-button>
    </div>
</template>

<script>
import CircleButton from "@/components/common/form/CircleButton";

export default {
    name: "VNumberInput",
    components: { CircleButton },
    props: {
        min: { default: -Infinity },
        max: { default: Infinity },
        value: { default: 1 },
        step: { default: 1 },
        small: { default: false },
        emitDelete: { default: false },
    },
    methods: {
        decrement() {
            if (this.emitDelete && this.value === this.min) {
                this.$emit("delete", this.value - this.step);
            }
            if (this.value > this.min) {
                this.$emit("input", this.value - this.step);
                this.$emit("decrement");
            }
        },
        increment() {
            if (this.value < this.max) {
                this.$emit("input", this.value + this.step);
                this.$emit("increment");
            }
        },
    },
};
</script>

<style scoped lang="scss">
.number-input {
    display: inline-grid;
    text-align: center;
    color: white;
    font-size: 20px;
    align-items: center;
    grid-auto-flow: column;
}

.number-input_sm {
    font-size: 14px;
    line-height: 24px;
    height: 24px;
}

.number-input__value {
    text-align: center;
    user-select: none;
    color: $dark;
    width: 100%;
    min-width: 50px;
    font-size: 24px;
    font-weight: bold;
}
</style>
