<template>
    <div class="radio"
         :class="`radio_${position}`"
    >
        <label class="radio__label">
            <input v-model="c_value"
                   class="radio__input"
                   type="radio"
                   :value="radioValue"
            >
            <span class="radio__icon" />
            {{ label }}
            <slot />
        </label>

        <dropdown v-if="hint || $slots.hint"
                  class="radio__dropdown"
                  width="200px"
                  :hover-open="true"
        >
            <i class="checkbox__hint icon-help-circled" />
            <template #body>
                <slot v-if="$slots.hint"
                      name="hint"
                />
                <div v-else>
                    {{ hint }}
                </div>
            </template>
        </dropdown>
    </div>
</template>

<script>
import Dropdown from "@/components/common/Dropdown";
export default {
    name: "VRadio",
    components: { Dropdown },
    props: {
        value: {
            default: null,
        },
        label: {
            default: null,
        },
        position: {
            default: "right",
        },
        radioValue: {
            default: null,
        },
        hint: {
            default: null,
        },
    },
    computed: {
        c_value: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit("input", val);
            },
        },
    },
};
</script>

<style lang="scss" scoped>
.radio__input {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.radio__label {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    margin-bottom: 0;
    cursor: pointer;
    align-items: center;
}

.radio__icon {
    position: relative;
    transition: all .1s ease-in;

    &::before {
        content: '';
        position: absolute;
        display: block;
        background: $primary;
        width: 10px;
        height: 10px;
        top: 4px;
        left: 4px;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &::after {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        box-shadow: 4px 4px 0 rgba(15, 40, 94, 0.18);
        border-radius: 50%;
        border: 1px solid $primary;
        transition: all .1s ease-in;
    }
}

.radio__input:checked + .radio__icon::before {
    opacity: 1;
}

.radio__input:checked + .radio__icon::after {
    background: $secondary;
}

.radio__input:active {
    & + .radio__icon {
        transform: translate(4px, 4px);

        &:after {
            box-shadow: 0 0 0 rgba(15, 40, 94, 0.18);
        }
    }
}

.radio_left {
    .radio__icon {
        order: 2;
    }
}

.radio_bottom {
    .radio__label {
        grid-auto-flow: dense;
        grid-gap: 0;
    }
}
.radio__dropdown {
    font-size: 14px;
    line-height: 18px;
}

.radio__hint {
    color: #b3b3b3;
    font-size: 22px;
    vertical-align: bottom;

    &:hover {
        color: $primary;
    }
}
</style>
