<template>
    <el-slider
        :value="value"
        :range="range"
        :show-stops="showStops"
        :min="min"
        :max="max"
        :step="step"
        :marks="marks"
        @input="$emit('input', arguments[0])"
    />
</template>

<script>
export default {
    name: "VRange",
    props: {
        value: {
            type: [Array, Number],
            default: () => [0, 6],
        },
        step: {
            default: 1,
        },
        min: {
            default: 0,
        },
        max: {
            default: 100,
        },
        showStops: {
            default: false,
        },
        marks: {
            type: Object,
            default: null,
        },
        // если true, то ползунок выбирает диапазон
        // если false, то выбирает одно значение
        range: {
            default: false,
        },
    },
    data() {
        return {};
    },
    methods: {},
};
</script>

<style scoped lang="scss">
</style>
