<template>
    <div class="select"
         :class="{select_hint: c_hasHint}"
    >
        <vue-multiselect :placeholder="label"
                         :options="options"
                         :value="value"
                         :label="multiselectLabel"
                         :allow-empty="allowEmpty"
                         :searchable="searchable"
                         :track-by="trackBy"
                         deselect-label=""
                         select-label="Выбрать"
                         selected-label="Выбрано"
                         @input="$emit('input', arguments[0])"
                         @mousemove.native="d_activeHint = true"
                         @mouseout.native="d_activeHint = false"
        >
            <template v-for="(_, scopedSlotName) in $scopedSlots"
                      v-slot:[scopedSlotName]="slotData"
            >
                <slot :name="scopedSlotName"
                      v-bind="slotData"
                />
            </template>
        </vue-multiselect>

        <dropdown v-if="hint || $slots.hint"
                  class="select__dropdown"
                  width="200px"
                  :hover-open="true"
        >
            <i class="select__hint icon-help-circled" />
            <template #body>
                <slot v-if="$slots.hint"
                      name="hint"
                />
                <div v-else>
                    {{ hint }}
                </div>
            </template>
        </dropdown>
    </div>
</template>

<script>
import VueMultiselect from "vue-multiselect/src/Multiselect.vue";
import Dropdown from "@/components/common/Dropdown";

export default {
    name: "VSelect",
    components: { Dropdown, VueMultiselect },
    props: {
        searchable: {
            default: false,
        },
        allowEmpty: {
            default: false,
        },
        value: {
            default: null,
        },
        type: {
            default: "text",
        },
        label: {
            default: null,
        },
        multiselectLabel: {
            default: undefined,
        },
        options: {
            default() {
                return [];
            },
        },
        hint: {
            default: null,
        },
        trackBy: {
            default: null,
        },
    },
    data() {
        return {
            d_activeHint: false,
        };
    },
    computed: {
        c_hasHint() {
            return this.hint || this.$slots.hint;
        },
        c_value: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit("input", val);
            },
        },
    },
};
</script>

<style scoped lang="scss">
.select {
    position: relative;

    &.select_hint ::v-deep {
        .multiselect__tags {
            margin-left: 20px;
        }
    }
}

.multiselect {
    background: white;
    box-shadow: $card-shadow;
    display: inline-block;
    border-radius: 7px;
    border: 1px solid $primary;
    min-height: 50px;
}

.multiselect--active {
    border-radius: 7px 7px 0 0;
}

::v-deep {
    .multiselect__tags {
        display: flex;
        padding-left: 15px;
        min-height: 42px;
        background: none;
    }

    .multiselect__input {
        //width: auto !important;
        position: static !important;
        padding: 0;
        min-width: 0;

        &::placeholder {
            color: $primary;
        }
    }

    .multiselect__placeholder {
        //display: none;
        color: $primary;
        font-size: 16px;
    }

    .multiselect__single {
        font: $base-font;
    }

    .multiselect__tags {
        border: none;
    }

    .multiselect__option--highlight {
        background: #d9ead6;
        color: $dark;

        &:after {
            background: #d9ead6;
            color: $dark;
        }
    }

    .multiselect__content-wrapper {
        border-radius: 0 0 7px 7px;
        border: 1px solid $primary;
        border-top: none;
        box-shadow: $card-shadow;
    }
}

.select__hint.active {
    display: flex;
}

.select__dropdown {
    position: absolute;
    top: 11px;
    left: 10px;
    z-index: 50;
    font-size: 14px;
    line-height: 18px;
}

.select__hint {
    color: #b3b3b3;
    font-size: 22px;
    vertical-align: bottom;

    &:hover {
        color: $primary;
    }
}
</style>
