<template>
    <div class="tabs"
         :class="c_class"
    >
        <div>
            <div v-if="$slots.title"
                 class="tabs__title"
            >
                <slot name="title" />
            </div>

            <v-select v-if="minimizeMobile"
                      v-model="c_value"
                      class="tabs__select"
                      :options="tabs"
                      :allow-empty="false"
            />

            <ul class="tabs__head"
                :class="{tabs__head_column: columnStyle}"
            >
                <li v-for="tab in tabs"
                    :key="tab"
                    class="tabs__item"
                    :class="{active: c_value === tab}"
                    @click="c_value = tab"
                >
                    {{ tab }}
                </li>
            </ul>
        </div>
        <div v-if="!c_value && $slots.default"
             class="tabs__default"
        >
            <slot name="default" />
        </div>

        <template v-for="tab in tabs">
            <slot v-if="tab === c_value"
                  :name="tab"
                  :class="{tabs__content: columnStyle}"
            />
        </template>
    </div>
</template>

<script>
import VSelect from "@/components/common/form/VSelect";

export default {
    name: "VTabs",
    components: { VSelect },
    props: {
        value: {
            default: null,
        },
        tabs: {
            default() {
                return [];
            },
        },
        columnStyle: {
            default: false,
        },
        minimizeMobile: {
            default: false,
        },
    },
    computed: {
        c_value: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit("input", val);
            },
        },
        c_class() {
            const res = [];
            if (this.minimizeMobile) {
                res.push("tabs_mobile-minimize");
            }
            if (this.columnStyle) {
                res.push("tabs_column");
            }
            return res.join(" ");
        },
    },
};
</script>

<style lang="scss" scoped>
.tabs {
    //display: grid;
    //grid-auto-flow: column;
    //grid-auto-columns: 0.4fr 1fr;
    //overflow: hidden;
    //height: 100%;
}

.tabs__select {
    margin-bottom: 15px;
}

.tabs_mobile-minimize {
    @include media-breakpoint-up(lg) {
        .tabs__select {
            display: none;
        }
    }

    @include media-breakpoint-down(md) {
        .tabs__head {
            display: none;
        }
    }
}

.tabs__head {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    background: $dark;
    border: 1px solid $dark;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    box-shadow: 4px 4px 0 rgba(15, 40, 94, 0.18);
    margin: 0 0 10px;
}

.tabs__title {
    display: block;
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
    margin: 30px 0 15px 30px;

    @include media-breakpoint-down(md) {
        margin: 0 0 15px;
    }
}

.tabs__head_column {
    flex-direction: column;
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;

    .tabs__item {
        text-align: left;
        padding: 10px 30px 10px 30px;
        border: none;
        text-transform: none;
    }
}

.tabs__item {
    list-style: none;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: $light;
    border-right: 1px solid #638e98;

    &:last-child {
        border-right: none;
    }

    &:hover {
        background: #005c74;
    }

    &.active {
        background: $secondary;
        color: $dark;
    }
}

.tabs__default {
    background: $light;
    height: 100%;
    color: $dark;
    padding: 30px;
}

.tabs_column {
    @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: 300px auto;
        height: 100%;
    }
}
</style>
