<template>
    <div class="textarea">
        <textarea v-model="c_value"
                  class="textarea__input"
                  :type="type"
                  :placeholder="label"
        />
    </div>
</template>

<script>
export default {
    name: "VTextarea",
    props: {
        value: {
            default: null,
        },
        type: {
            default: "text",
        },
        label: {
            default: null,
        },
    },
    computed: {
        c_value: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit("input", val);
            },
        },
    },
};
</script>

<style scoped lang="scss">
.textarea {
  box-shadow: $card-shadow;
  border-radius: 7px;
  background: white;
  display: inline-block;
  border: 1px solid $primary;
}

.textarea__input {
  background: none;
  outline: none !important;
  border: none;
  text-align: left;
  color: $dark;
  font-size: 16px;
  margin-left: 7px;
  padding: 12px 8px;
  appearance: none;
  font: $base-font;
  width: 100%;

  &::placeholder {
    font-size: 16px;
    color: $primary;
  }
}

</style>
