<template>
    <div>
        <breadcrumbs :items="[{name:'Тренажеры', url: '/teacher/apps'}, {name:'Новый тренажер'}]" />
        <page-header>
            Новый тренажер
        </page-header>
        <app-editor @create="$router.push('/teacher/apps')" />
    </div>
</template>

<script>
import teacherHasAccess from "@/middleware/teacherHasAccess";
import AppEditor from "~/components/teacher/apps/AppEditor";
import Breadcrumbs from "~/components/common/Breadcrumbs";
import PageHeader from "~/components/common/PageHeader";

export default {
    components: {
        AppEditor,
        PageHeader,
        Breadcrumbs,
    },
    layout: "teacher",
    head: {
        title: "Создание тренажера",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
    middleware: [teacherHasAccess],
};
</script>

<style scoped>

</style>
