<template>
    <div>
        <page-header>
            Платежи
        </page-header>
        <div class="table table_md students-table">
            <div class="table__head students-table__row">
                <div class="table__cell">
                    Дата
                </div>
                <div class="table__cell">
                    Пользователь
                </div>
                <div class="table__cell">
                    Логин/E-Mail
                </div>
                <div class="table__cell">
                    Сумма
                </div>
                <div class="table__cell">
                    Статус
                </div>
            </div>
            <div v-for="payment in d_payments"
                 :key="payment.id"
                 class="table__row students-table__row"
            >
                <div class="table__cell">
                    {{ formatDateTime(payment.createdAt) }}
                </div>
                <div class="table__cell">
                    <template v-if="payment.owner">
                        <nuxt-link v-if="payment.owner.accountType==='Преподаватель'"
                                   :to="`/admin/teachers/${payment.owner.id}`"
                        >
                            {{ payment.owner.fullName }} ({{ payment.owner.accountType }})
                        </nuxt-link>
                        <nuxt-link v-else
                                   :to="`/admin/students/${payment.owner.id}`"
                        >
                            {{ payment.owner.fullName }} ({{ payment.owner.accountType }})
                        </nuxt-link>
                    </template>
                    <template v-else>
                        Пользователь не найден
                    </template>
                </div>
                <div class="table__cell">
                    <template v-if="payment.owner">
                        {{ payment.owner.login || "-" }} / {{ payment.owner.email || "-" }}
                    </template>
                    <template v-else>
                        Пользователь не найден
                    </template>
                </div>
                <div class="table__cell">
                    {{ payment.amount }} {{ payment.currency }}
                </div>
                <div class="table__cell">
                    {{ payment.status }}
                </div>
            </div>
        </div>
        <load-more-observer ref="loadMore"
                            v-model="d_payments"
                            :fetch="fetch"
                            :chunk="30"
                            @fetch="d_loading = true"
                            @fetched="d_loading = false"
        />
    </div>
</template>

<script>
import LoadMoreObserver from "@/components/common/LoadMoreObserver";
import { formatDateTime } from "@/assets/js/filters/dayjs";
import PageHeader from "~/components/common/PageHeader";

export default {
    name: "Payments",
    components: {
        PageHeader,
        LoadMoreObserver,
    },
    async fetch() {
        await this.fetch();
    },
    data() {
        return {
            d_payments: [],
            d_loading: false,
        };
    },
    layout: "admin",
    methods: {
        formatDateTime,
        async fetch() {
            return await this.$api.payments.fetch({
                limit: 30,
                offset: this.d_payments.length,
            });
        },
    },
    head: {
        title: "Платежи",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },

};
</script>

<style scoped>
.students-table__row {
    grid-template-columns: 150px 1fr 1fr 100px 100px;
}
</style>
