<template>
    <div>
        <page-header>
            Мой профиль
        </page-header>
        <form @submit.prevent="update">
            <div>
                <div class="row">
                    <div class="col-12 col-md-4 mb-3">
                        <v-input v-model="d_user.lastName"
                                 label="Фамилия"
                        />
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <v-input v-model="d_user.firstName"
                                 label="Имя"
                        />
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <v-input v-model="d_user.email"
                                 label="E-Mail"
                        />
                    </div>
                </div>
            </div>
            <v-checkbox v-model="d_changePassword"
                        class="mb-3"
                        label="Изменить пароль"
            />
            <transition-collapse>
                <div v-if="d_changePassword"
                     class="row"
                >
                    <div class="col-12 col-md-4 mb-3">
                        <v-input v-model="d_user.currentPassword"
                                 type="password"
                                 label="Текущий пароль"
                        />
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <v-input v-model="d_user.password"
                                 type="password"
                                 label="Пароль"
                        />
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <v-input v-model="d_user.passwordConfirmation"
                                 type="password"
                                 label="Подтвердите пароль"
                        />
                    </div>
                </div>
            </transition-collapse>
            <transition-collapse>
                <div v-if="d_success"
                     class="mb-3"
                >
                    Изменения успешно сохранены.
                </div>
            </transition-collapse>
            <form-errors v-if="d_error"
                         class="mb-3"
                         :errors="d_error"
            />
            <v-button :loading="d_loading"
                      type="submit"
            >
                Сохранить
            </v-button>
        </form>
    </div>
</template>

<script>
import PageHeader from "~/components/common/PageHeader";
import VInput from "~/components/common/form/VInput";
import VCheckbox from "~/components/common/form/checkbox/VCheckbox";
import VButton from "~/components/common/form/button/VButton";
import TransitionCollapse from "~/components/common/transitions/TransitionCollapse";
import FormErrors from "~/components/common/form/FormErrors";

export default {
    components: {
        FormErrors,
        TransitionCollapse,
        VButton,
        VCheckbox,
        VInput,
        PageHeader,
    },
    layout: "admin",
    fetch() {
        this.d_accountType = this.d_user.school ? 1 : 0;
    },
    data() {
        return {
            d_user: {
                image: null,
                ...(JSON.parse(JSON.stringify(this.$store.state.auth.user))),
                password: undefined,
                passwordConfirmation: undefined,
                currentPassword: undefined,
            },
            d_accountType: 0,
            d_changePassword: null,
            d_loading: false,
            d_success: false,
            d_error: null,
        };
    },
    computed: {
        c_birthday: {
            get() {
                return this.d_user.birthday ? this.d_user.birthday.substr(0, 10) : null;
            },
            set(val) {
                this.d_user.birthday = val;
            },
        },
    },
    watch: {
        d_changePassword(val) {
            if (!val) {
                this.d_user.password = this.d_user.passwordConfirmation = this.d_user.currentPassword = undefined;
            }
        },
    },
    methods: {
        async update() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_error = null;
            try {
                await this.$store.dispatch("auth/update", {
                    ...this.d_user,
                    type: "admin",
                });
                setTimeout(() => {
                    this.d_success = false;
                }, 1500);
                this.d_success = true;
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
    head: {
        title: "Мой профиль",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped>
.test {
    clip-path: url("#test");
}
</style>
