<template>
    <div>
        <page-header>
            Настройки системы
        </page-header>
        <v-card class="mb-3">
            <form @submit.prevent="update">
                <div>
                    <h5>Стоимость пакетов абонементов</h5>
                    <div class="row">
                        <div class="col-12 col-md-4 mb-3">
                            <v-input v-model="d_settings.subscriptionPackagePrice5"
                                     label="5 абонементов"
                            />
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <v-input v-model="d_settings.subscriptionPackagePrice30"
                                     label="30 абонементов"
                            />
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <v-input v-model="d_settings.subscriptionPackagePrice50"
                                     label="50 абонементов"
                            />
                        </div>
                    </div>
                </div>
                <div>
                    <h5>Стоимость подписки преподавателя</h5>
                    <div class="row">
                        <div class="col-12 col-md-4 mb-3">
                            <v-input v-model="d_settings.subscriptionTeacherPrice1"
                                     label="1 месяц"
                            />
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <v-input v-model="d_settings.subscriptionTeacherPrice6"
                                     label="6 месяцев"
                            />
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <v-input v-model="d_settings.subscriptionTeacherPrice12"
                                     label="12 месяцев"
                            />
                        </div>
                    </div>
                </div>
                <div>
                    <h5>Стоимость подписки ученика</h5>
                    <div class="row">
                        <div class="col-12 col-md-4 mb-3">
                            <v-input v-model="d_settings.subscriptionStudentPrice1"
                                     label="1 месяц"
                            />
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <v-input v-model="d_settings.subscriptionStudentPrice6"
                                     label="6 месяцев"
                            />
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <v-input v-model="d_settings.subscriptionStudentPrice12"
                                     label="12 месяцев"
                            />
                        </div>
                    </div>
                </div>
                <div>
                    <h5>Почта для уведомлений с обратной связи</h5>
                    <div class="row">
                        <div class="col-12 col-md-4 mb-3">
                            <v-input v-model="d_settings.notificationEmail"
                                     label="Email"
                                     type="email"
                            />
                        </div>
                    </div>
                </div>
                <div>
                    <h5>Шаблон сертификата</h5>
                    <attach-area-component v-model="d_settings.attestationCertificateTemplate"
                                           :max-count="1"
                                           thumbnail-height="200px"
                                           thumbnail-width="200px"
                    />
                </div>
                <transition-collapse>
                    <div v-if="d_success"
                         class="mb-3"
                    >
                        Изменения успешно сохранены.
                    </div>
                </transition-collapse>
                <form-errors v-if="d_error"
                             class="mb-3"
                             :errors="d_error"
                />
                <v-button :loading="d_loading"
                          type="submit"
                >
                    Сохранить
                </v-button>
            </form>
        </v-card>
    </div>
</template>

<script>
import VCard from "@/components/common/VCard";
import AttachAreaComponent from "@/components/common/attachment/AttachAreaComponent";
import PageHeader from "~/components/common/PageHeader";
import VInput from "~/components/common/form/VInput";
import VButton from "~/components/common/form/button/VButton";
import TransitionCollapse from "~/components/common/transitions/TransitionCollapse";
import FormErrors from "~/components/common/form/FormErrors";

export default {
    components: {
        AttachAreaComponent,
        VCard,
        FormErrors,
        TransitionCollapse,
        VButton,
        VInput,
        PageHeader,
    },
    layout: "admin",
    data() {
        return {
            d_settings: JSON.parse(JSON.stringify(this.$store.state.settings)),
            d_loading: false,
            d_success: false,
            d_error: null,
            d_certificate: {
                type: "image/png",
                url: this.$config.apiHost + "/storage/certificates/attestation-certificate.png",
            },
        };
    },
    methods: {
        packRequest() {
            return Object.keys(this.d_settings).map(i => ({
                id: i,
                value: this.d_settings[i],
            }));
        },
        async update() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_error = null;
            try {
                await this.$store.dispatch("settings/update", { items: this.packRequest() });
                setTimeout(() => {
                    this.d_success = false;
                }, 1500);
                this.d_success = true;
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
    head: {
        title: "Настройки системы",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped lang="scss">
.system-settings__certificate {
    max-width: 100%;
    width: 500px;
}
</style>
