<template>
    <aside class="sidebar sidebar_admin"
           :class="{ sidebar_active: $store.state.sidebar.show || alwaysOpen }"
    >
        <div class="sidebar__header">
            <nuxt-link class="sidebar__settings icon-settings text-decoration-none"
                       to="/admin/profile"
            />
            <nuxt-link to="/admin/profile"
                       class="text-decoration-none d-inline-block"
            >
                <avatar class="sidebar__avatar"
                        :image="$store.getters['auth/imageUrl']"
                />
            </nuxt-link>
            <div>
                <div class="sidebar__username">
                    {{ $store.getters["auth/username"] }}
                </div>
                <div class="sidebar__role">
                    Администратор
                </div>
            </div>
            <div class="sidebar__burger"
                 @click="$store.commit('sidebar/toggle')"
            >
                <span class="sidebar__burger-btn"
                      :class="{'sidebar__burger-btn_active': $store.state.sidebar.show}"
                />
            </div>
        </div>
        <ul class="sidebar__list">
            <li>
                <nuxt-link class="sidebar__link"
                           to="/admin/students"
                >
                    <i class="sidebar__link-icon icon-student" />
                    Ученики
                </nuxt-link>
            </li>
            <li>
                <nuxt-link class="sidebar__link"
                           to="/admin/teachers"
                >
                    <i class="sidebar__link-icon icon-multiplayer" />
                    Преподаватели
                </nuxt-link>
            </li>
            <li>
                <nuxt-link class="sidebar__link"
                           to="/admin/apps"
                >
                    <i class="sidebar__link-icon icon-app" />
                    Базовые тренажеры
                </nuxt-link>
            </li>
            <li>
                <nuxt-link class="sidebar__link"
                           to="/admin/attestations"
                >
                    <i class="sidebar__link-icon icon-stopwatch" />
                    Аттестации
                </nuxt-link>
            </li>
            <li>
                <nuxt-link class="sidebar__link"
                           to="/admin/system-settings"
                >
                    <i class="sidebar__link-icon icon-settings" />
                    Настройки системы
                </nuxt-link>
            </li>
            <!--            <li>-->
            <!--                <nuxt-link class="sidebar__link"-->
            <!--                           to="/blog">-->
            <!--                    <i class="sidebar__link-icon icon-doc-text-inv"/>-->
            <!--                    Блог-->
            <!--                </nuxt-link>-->
            <!--            </li>-->
            <li>
                <nuxt-link class="sidebar__link"
                           to="/admin/payments"
                >
                    <i class="sidebar__link-icon icon-usd" />
                    Платежи
                </nuxt-link>
            </li>
            <li>
                <div role="button"
                     class="sidebar__link"
                     @click.prevent="logout"
                >
                    <i class="sidebar__link-icon icon-exit" />
                    Выйти
                </div>
            </li>
        </ul>
    </aside>
</template>

<script>
import Avatar from "~/components/common/Avatar";

export default {
    name: "Sidebar",
    components: { Avatar },
    props: {
        alwaysOpen: {
            default: false,
        },
    },
    mounted() {
        this.$router.beforeEach((to, from, next) => {
            this.$store.commit("sidebar/toggle", false);
            next();
        });
    },
    methods: {
        async logout() {
            await this.$store.dispatch("auth/logout", "admin");
            await this.$router.push("/");
        },
    },
};
</script>

<style scoped lang="scss">
</style>
