<template>
    <div class="attach-area"
         :class="{'attach-area_multiple': maxCount > 1}"
    >
        <input ref="input"
               type="file"
               name="files[]"
               style="display: none;"
               :multiple="maxCount > 1"
               :accept="accept"
               @change="inputChanged"
        >
        <button v-if="c_canAttachMore"
                class="attach-area__attach-btn"
                type="button"
                @dragover.prevent.stop
                @drop.prevent="onDrop"
                @click="onClick"
        >
            {{ label }}
            <span v-if="allowEmbed && c_canAttachMore"
                  role="button"
                  class="fal fa-external-link-alt attach-area__embed-btn"
                  title="Встроить внешнее содержимое"
                  @click.stop="handleEmbedBtnClick"
            />
        </button>
        <div class="attach-area__items"
             :style="c_areaStyle"
        >
            <div v-for="(file, i) in d_value"
                 :key="i"
                 class="attach-area__item"
                 :style="c_itemStyle"
            >
                <loading-component v-if="file && file.isLoading"
                                   size="20"
                />
                <template v-else>
                    <dropdown class="attach-area__item-dropdown"
                              width="300px"
                              :disabled="!allowAlt"
                              :context-menu="true"
                    >
                        <attachment :attachment="file"
                                    :width="thumbnailWidth"
                                    :height="thumbnailHeight"
                                    :gallery="maxCount > 1 ? galleryId : undefined"
                        />
                        <template #body="{toggle}">
                            <div class="p-3">
                                <div class="input mb-3">
                                    <input v-model="file.alt">
                                    <label>alt</label>
                                </div>
                                <button class="btn btn_primary"
                                        type="button"
                                        @click="updateAlt(file, toggle)"
                                >
                                    Применить
                                </button>
                            </div>
                        </template>
                    </dropdown>
                </template>
                <button type="button"
                        class="attach-area-item-preview__delete btn-delete"
                        @click.stop="removeFile(file)"
                >
                    &times;
                </button>
            </div>
        </div>
        <div v-if="maxCount > 1"
             class="attach-area__files-count"
        >
            {{ c_statusMsg }}
        </div>
    </div>
</template>

<script>
import Attachment from "@/components/common/attachment/Attachment";
import LoadingComponent from "@/components/common/LoadingComponent";
import Dropdown from "@/components/common/Dropdown";

export default {
    name: "AttachAreaComponent",
    components: {
        Dropdown,
        Attachment,
        LoadingComponent,
    },
    props: {
        uploadUrl: {
            default() {
                return this.$config.apiHost + "/upload";
            },
        },
        http: {
            default() {
                return this.$axios;
            },
        },
        value: {
            default: null,
        },
        maxCount: { default: 1 },
        label: { default: "Выберите файлы или перенесите в это поле" },
        accept: {
            default() {
                return ["*.*"];
            },
        },
        params: {
            default() {
                return {};
            },
        },
        thumbnailWidth: { default: "100px" },
        thumbnailHeight: { default: "100px" },
        allowEmbed: { default: false },
        allowAlt: { default: false },
        galleryId: {
            default() {
                return Math.random().toString(36).substring(7);
            },
        },
    },
    data() {
        return {
            d_value: this.value ? [].concat(this.value) : [],
        };
    },
    computed: {
        c_statusMsg() {
            const count = this.c_value.length;
            if (count > 4 && count < 20) {
                return `загружено ${count} файлов из ${this.maxCount}`;
            } else if (count % 10 === 1) {
                return `загружен ${count} файл из ${this.maxCount}`;
            } else if ([2, 3, 4].includes(count % 10)) {
                return `загружено ${count} файла из ${this.maxCount}`;
            } else {
                return `загружено ${count} файлов из ${this.maxCount}`;
            }
        },
        c_canAttachMore() {
            return (this.maxCount > 1 && this.d_value.length < this.maxCount) ||
                !this.d_value.length;
        },
        c_value() {
            if (this.maxCount > 1) {
                return this.d_value;
            } else {
                return this.d_value[0] || null;
            }
        },
        c_areaStyle() {
            return {
                minHeight: parseInt(this.thumbnailHeight) + "px",
                minWidth: parseInt(this.thumbnailWidth) + "px",
            };
        },
        c_itemStyle() {
            return {
                height: parseInt(this.thumbnailHeight) + "px",
                width: parseInt(this.thumbnailWidth) + "px",
            };
        },
    },
    watch: {
        value(val) {
            if (!val) {
                this.d_value = [];
                return;
            }

            this.d_value = Array.isArray(val) ? val : [].concat(val);
        },
    },
    methods: {
        inputChanged(event) {
            const inputFiles = event.target.files;
            this.handleFiles(inputFiles);
            event.target.value = "";
        },
        async handleFiles(files) {
            for (let i = 0; i < files.length; i++) {
                const file = files[i];

                if (!this.accept.includes("*.*")) {
                    const fileExtension = file.name.split(".").pop();
                    if (!this.accept.includes("." + fileExtension)) {
                        continue;
                    }
                }

                const attachFile = {
                    id: null,
                    isLoading: true,
                };
                this.d_value.push(attachFile);
                const res = await this.uploadFile(file);
                const index = this.d_value.indexOf(attachFile);
                if (index >= 0) {
                    this.d_value.splice(index, 1, res);
                }

                this.$emit("input", this.c_value);
            }
        },
        onClick() {
            this.$refs.input.click();
        },
        onDrop(event) {
            const dt = event.dataTransfer;
            this.handleFiles(dt.files);
            return false;
        },
        async uploadFile(file, type) {
            const formData = new FormData();
            formData.append("file", file);
            formData.append("type", type);
            for (const param in this.params) {
                formData.append(param, this.params[param]);
            }
            try {
                const res = await this.http.post(this.uploadUrl, formData, { humps: false });
                console.log(res);
                return res;
            } catch (e) {
                console.error(e);
            }
        },
        async handleEmbedBtnClick() {
            const url = window.prompt("Код для встраивания:");
            if (url) {
                const attachFile = {
                    id: null,
                    isLoading: true,
                };
                this.d_value.push(attachFile);
                const res = await this.uploadFile(url, "embed");
                const index = this.d_value.indexOf(attachFile);
                if (index >= 0) {
                    this.d_value.splice(index, 1, res);
                }

                this.$emit("input", this.c_value);
            }
        },
        removeFile(file) {
            const index = this.d_value.indexOf(file);

            if (index < 0) {
                return;
            }

            console.log(index);
            this.d_value.splice(index, 1);
            if (!file.isLoading) {
                this.$emit("input", this.c_value);
                this.$emit("remove", file);
            }
        },
        updateAlt(file, toggle) {
            toggle();
            this.http.put(`${this.uploadUrl}/${file.id}`, { alt: file.alt });
        },
    },
};
</script>

<style scoped lang="scss">
.attach-area {
    background: white;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: 1px solid $primary;
    border-radius: 7px;
    margin-bottom: 1rem;
    position: relative;
    flex-shrink: 0;
    box-shadow: $card-shadow;

    &:hover {
        background: #0000000a;
    }
}

.attach-area_multiple {
    width: 100%;
}

.attach-area__attach-btn {
    background: none;
    border: none;
    outline: none !important;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    color: #DADADA;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
}

.attach-area__embed-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aab9ff;

    &:hover {
        color: #8181f9;
    }
}

.attach-area__items {
    position: relative;
    pointer-events: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    grid-gap: 15px;
    padding: 15px;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    box-sizing: content-box;
}

.attach-area__item {
    background: #f3f3f3;
    border: 1px dashed #d6d6d6;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;

    .attach-area-item-preview__delete {
        color: rgb(255, 20, 20);
        position: absolute;
        top: -10px;
        right: -8px;
        border-radius: 50%;
        font-size: 18px;
        line-height: 1;
        width: 24px;
        height: 24px;
        outline: none !important;
        border: 1px solid #d9d9d9;
        box-shadow: 0 0 0 1px white;
        background: white;
        z-index: 5;

        &:hover {
            color: white;
            background: #ff1414;
            border: 1px solid white;
        }

        &:active {
            transform: scale(1.1);
        }
    }
}

.attach-area__item-dropdown {
    align-self: flex-start;
}

.attach-area__files-count {
    background: #e2e2e2;
    display: inline;
    color: #acacac;
    text-align: center;
    border-radius: 0 0 7px 7px;
    font-size: 12px;
    line-height: 20px;
}
</style>
