<template>
    <div class="attachment-gallery"
         @click.stop
    >
        <div class="attachment-gallery__bar">
            <div v-if="c_attachments.length > 1"
                 class="attachment-gallery__pagination"
            />
            <button class="attachment-gallery__close"
                    type="button"
                    @click="$emit('close')"
            >
                <i class="icon-close" />
            </button>
        </div>
        <div ref="slider"
             class="attachment-gallery__items swiper-container"
        >
            <div class="swiper-wrapper">
                <div v-for="a in c_attachments"
                     :key="a.id"
                     class="swiper-slide attachment-gallery__slide"
                >
                    <img v-if="attachment.type !== 'embed'"
                         class="attachment-gallery__image"
                         :src="a.url"
                         :alt="a.alt"
                    >
                    <div v-else
                         class="attachment-gallery__embed"
                         v-html="a.url"
                    />
                </div>
            </div>
            <template v-if="c_attachments.length > 1">
                <div class="swiper-button swiper-button-prev fal fa-arrow-left" />
                <div class="swiper-button swiper-button-next fal fa-arrow-right" />
            </template>
        </div>
    </div>
</template>

<script>
import { Swiper } from "swiper";

export default {

    name: "AttachmentGallery",
    props: ["gallery", "attachment"],
    data() {
        return {
            d_swiper: null,
            d_escListener: null,
        };
    },
    computed: {
        c_attachments() {
            return window.galleries[this.gallery];
        },
    },
    destroyed() {
        if (this.d_swiper) {
            this.d_swiper.destroy();
        }
        document.body.removeEventListener("keydown", this.onKeyPress);
    },
    mounted() {
        document.body.appendChild(this.$el);
        if (this.c_attachments && this.c_attachments.length > 1) {
            const activeSlideIndex = this.c_attachments.indexOf(this.attachment);
            this.d_swiper = new Swiper(this.$refs.slider, {
                initialSlide: activeSlideIndex,
                observer: true,
                pagination: {
                    el: ".attachment-gallery__pagination",
                    type: "fraction",
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        }
        document.body.addEventListener("keydown", this.onKeyPress);
    },
    methods: {
        onKeyPress(event) {
            if (event.key === "Escape") {
                this.$emit("close");
            }
        },
    },
};
</script>

<style scoped lang="scss">
.attachment-gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000de;
    z-index: 1001;
    color: white;
    cursor: default;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.attachment-gallery__bar {
    height: 40px;
    display: flex;
}

.attachment-gallery__close {
    background: none;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    margin-left: auto;
    transition: transform .1s ease-in;
    outline: none !important;

    &:hover {
        transform: scale(1.3);
    }
}

.attachment-gallery__pagination {
    padding: 5px 5px 5px 10px;
}

.attachment-gallery__items {
    height: 100%;
    width: 100%;
}

.attachment-gallery__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attachment-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.attachment-gallery__embed {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    padding: 30px;

    &::v-deep {
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.swiper-wrapper, .swiper-slide {
    height: 100%;
}
</style>
