<template>
    <div>
        <breadcrumbs :items="[{name:'Тренажеры', url: '/student/apps'}, {name:'Редактирование тренажера'}]" />
        <page-header>
            Редактирование тренажера
        </page-header>
        <card>
            <app-editor :id="$route.params.id"
                        @update="$router.push('/student/apps')"
            />
        </card>
    </div>
</template>

<script>
import AppEditor from "~/components/teacher/apps/AppEditor";
import Breadcrumbs from "~/components/common/Breadcrumbs";
import PageHeader from "~/components/common/PageHeader";
import Card from "~/components/common/VCard";

export default {
    components: {
        Card,
        AppEditor,
        PageHeader,
        Breadcrumbs,
    },
    layout: "student",
    head: {
        title: "Редактирование тренажера",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped>

</style>
