<template>
    <div class="app-container">
        <transition-fade>
            <sidebar v-if="d_showSidebar"
                     class="dynamic-app__sidebar"
                     :always-open="true"
            />
        </transition-fade>
        <component :is="c_component"
                   v-if="d_session"
                   :id="$route.params.id"
                   :session="d_session"
                   :sidebar="true"
                   @sidebar="showSidebar"
        />

        <need-subscription-modal v-if="d_needSubscription" />
    </div>
</template>

<script>
import Sidebar from "@/components/student/sidebar/Sidebar";
import DynamicApp from "~/components/common/apps/dynamic-app/DynamicApp";
import StaticApp from "~/components/common/apps/static-app/StaticApp";
import TransitionFade from "~/components/common/transitions/TransitionFade";
import ModalComponent from "~/components/common/ModalComponent";
import VButton from "~/components/common/form/button/VButton";
import FlashApp from "~/components/common/apps/flash-app/FlashApp";
import MultiplicationApp from "~/components/common/apps/multiplication-app/MultiplicationApp";
import NeedSubscriptionModal from "~/components/student/subscription/NeedSubscriptionModal";

export default {
    layout: "empty",
    components: {
        NeedSubscriptionModal,
        VButton,
        ModalComponent,
        TransitionFade,
        DynamicApp,
        StaticApp,
        Sidebar,
    },
    props: ["session"],
    async fetch() {
        if (!this.d_session) {
            if (this.$route.query.session) {
                await this.continue(this.$route.query.session);
            } else {
                await this.start();
            }
        }
    },
    data() {
        return {
            d_session: null,
            d_showSidebar: false,
            d_needSubscription: false,
        };
    },
    computed: {
        c_component() {
            switch (this.d_session.appType) {
            case "static":
                return StaticApp;
            case "dynamic":
                return DynamicApp;
            case "flash":
                return FlashApp;
            case "multiplication":
                return MultiplicationApp;
            default:
                return null;
            }
        },
    },
    methods: {
        async start() {
            try {
                this.d_session = await this.$api.apps.play(this.$route.params.id);
                const appId = this.d_session.app.id;
                await this.$router.push({
                    to: `/student/apps/${appId}/play`,
                    query: { session: this.d_session.id },
                    params: { session: this.d_session },
                });
            } catch (e) {
                this.d_needSubscription = true;
                console.error(e);
            }
        },
        async continue(sessionId) {
            try {
                this.d_session = await this.$api.appSessions.fetchOne(sessionId);
            } catch (e) {
                this.d_needSubscription = true;
                console.error(e);
            }
        },
        showSidebar() {
            this.d_showSidebar = true;
            document.addEventListener("click", this.onBodyClickListener, true);
        },
        onBodyClickListener() {
            this.d_showSidebar = false;
            document.removeEventListener("click", this.onBodyClickListener, true);
        },
    },
    head: {
        title: "Игра",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped lang="scss">
</style>
