<template>
    <div>
        <loading-component v-if="$fetchState.pending" />
        <need-subscription-modal v-else-if="d_needSubscription">
            Для прохождения аттестаций необходима подписка.
        </need-subscription-modal>
        <template v-else>
            <attestation-stage-header ref="header"
                                      :print-variant="printVariant"
                                      :stage="d_stage"
                                      :with-timer="withTimer"
                                      @timeleft="onTimeLeft"
            />
            <table class="stage-table">
                <thead>
                    <tr class="stage-table__row">
                        <td class="stage-table__td stage-table__td_service">
                            №
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            1
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            2
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            3
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            4
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            5
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in d_stage.tasks[0].length"
                        :key="'row' + row"
                        class="stage-table__row"
                    >
                        <td class="stage-table__td stage-table__td_service">
                            {{ row }}
                        </td>
                        <td v-for="col in 5"
                            :key="'col' + col"
                            class="stage-table__td"
                        >
                            {{ commaFormat(d_stage.tasks[col - 1][row - 1]) }}
                        </td>
                    </tr>
                    <tr class="stage-table__row stage-table__row_answer">
                        <td class="stage-table__td stage-table__td_service small">
                            Ответ
                        </td>
                        <td v-for="i in 5"
                            :key="'ans' + i"
                            class="stage-table__td stage-table__td_answer"
                        >
                            <v-input v-model="d_answers[i-1]"
                                     :disabled="c_showAnswers"
                            />
                            <div v-if="c_showAnswers"
                                 class="text-icon mt-3"
                            >
                                {{ d_stage.answers[i - 1] }}
                                <i v-if="+d_stage.answers[i-1] === +d_answers[i-1]"
                                   class="icon-check-round text-success"
                                />
                                <i v-else
                                   class="icon-warning text-warning"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="stage-table">
                <thead>
                    <tr class="stage-table__row">
                        <td class="stage-table__td stage-table__td_service">
                            №
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            6
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            7
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            8
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            9
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            10
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in d_stage.tasks[0].length"
                        :key="'row' + row"
                        class="stage-table__row"
                    >
                        <td class="stage-table__td stage-table__td_service">
                            {{ row }}
                        </td>
                        <td v-for="col in 5"
                            :key="'col' + col"
                            class="stage-table__td"
                        >
                            {{ commaFormat(d_stage.tasks[5 + col - 1][row - 1]) }}
                        </td>
                    </tr>
                    <tr class="stage-table__row stage-table__row_answer">
                        <td class="stage-table__td stage-table__td_service small">
                            Ответ
                        </td>
                        <td v-for="i in 5"
                            :key="'ans' + i"
                            class="stage-table__td stage-table__td_answer"
                        >
                            <v-input v-model="d_answers[5+i-1]"
                                     :disabled="c_showAnswers"
                            />
                            <div v-if="c_showAnswers"
                                 class="text-icon mt-3"
                            >
                                {{ d_stage.answers[5 + i - 1] }}
                                <i v-if="+d_stage.answers[5+i-1] === +d_answers[5+i-1]"
                                   class="icon-check-round text-success"
                                />
                                <i v-else
                                   class="icon-warning text-warning"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table v-if="d_stage.tasks.length > 10"
                   class="stage-table"
            >
                <thead>
                    <tr class="stage-table__row">
                        <td class="stage-table__td stage-table__td_service">
                            №
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            11
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            12
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            13
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            14
                        </td>
                        <td class="stage-table__td stage-table__td_service"
                            style="width: 20%;"
                        >
                            Ответ
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in 5"
                        :key="'row' + row"
                        class="stage-table__row"
                    >
                        <td class="stage-table__td stage-table__td_service">
                            {{ 10 + 4 + row }}
                        </td>
                        <td v-for="col in 4"
                            :key="'col' + col"
                            class="stage-table__td"
                        >
                            {{ commaFormat(d_stage.tasks[10 + col - 1][row - 1]) }}
                        </td>
                        <td class="stage-table__td stage-table__td_answer">
                            <v-input v-model="d_answers[14+row-1]"
                                     :disabled="c_showAnswers"
                            />
                            <div v-if="c_showAnswers"
                                 class="text-icon mt-3"
                            >
                                {{ d_stage.answers[14 + row - 1] }}
                                <i v-if="+d_stage.answers[14+row-1] === +d_answers[14+row-1]"
                                   class="icon-check-round text-success"
                                />
                                <i v-else
                                   class="icon-warning text-warning"
                                />
                            </div>
                        </td>
                    </tr>
                    <tr class="stage-table__row stage-table__row_answer">
                        <td class="stage-table__td stage-table__td_service small">
                            Ответ
                        </td>
                        <td v-for="i in 4"
                            :key="'ans' + i"
                            class="stage-table__td stage-table__td_answer"
                        >
                            <v-input v-model="d_answers[10+i-1]"
                                     :disabled="c_showAnswers"
                            />
                            <div v-if="c_showAnswers"
                                 class="text-icon mt-3"
                            >
                                {{ d_stage.answers[10 + i - 1] }}
                                <i v-if="+d_stage.answers[10+i-1] === +d_answers[10+i-1]"
                                   class="icon-check-round text-success"
                                />
                                <i v-else
                                   class="icon-warning text-warning"
                                />
                            </div>
                        </td>
                        <td key="ans19"
                            class="stage-table__td stage-table__td_answer"
                        >
                            <v-input v-model="d_answers[19]"
                                     :disabled="c_showAnswers"
                            />
                            <div v-if="c_showAnswers"
                                 class="text-icon mt-3"
                            >
                                {{ d_stage.answers[19] }}
                                <i v-if="+d_stage.answers[19] === +d_answers[19]"
                                   class="icon-check-round text-success"
                                />
                                <i v-else
                                   class="icon-warning text-warning"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <attestation-stage-footer v-if="showControls"
                                      ref="footer"
                                      class="mt-3"
                                      :stage.sync="d_stage"
                                      :answers="d_answers"
                                      @finished="$refs.header.stop()"
                                      @next="$emit('next')"
            />
        </template>
    </div>
</template>

<script>
import LoadingComponent from "@/components/common/LoadingComponent";
import VInput from "@/components/common/form/VInput";
import AttestationStageFooter from "@/components/common/attestations/AttestationStageFooter";
import AttestationStageHeader from "@/components/common/attestations/AttestationStageHeader";
import BaseAttestationStage from "assets/js/mixins/BaseAttestationStage";
import NeedSubscriptionModal from "@/components/student/subscription/NeedSubscriptionModal";

export default {
    name: "AdditionStage",
    components: {
        NeedSubscriptionModal,
        AttestationStageHeader,
        AttestationStageFooter,
        VInput,
        LoadingComponent,
    },
    mixins: [BaseAttestationStage],
};
</script>

<style scoped lang="scss">
</style>
