<template>
    <modal-component overflow="visible"
                     width="700px"
                     @close="$emit('close')"
    >
        <template v-if="!d_completed">
            <h4>Назначение аттестации</h4>
            <form class="attestation-assignment"
                  @submit.prevent="submit"
            >
                <div class="attestation-assignment__common">
                    <v-select v-model="d_data.type"
                              class="mb-3"
                              label="Режим"
                              :options="['mental', 'abakus']"
                    >
                        <template #option="{option}">
                            {{ formatAttestationType(option) }}
                        </template>
                        <template #singleLabel="{option}">
                            {{ formatAttestationType(option) }}
                        </template>
                    </v-select>
                    <v-select v-model="d_data.level"
                              class="mb-3"
                              label="Выберите уровень"
                              :options="[13,12,11,10,9,8,7,6,5,4,3,2,1,0]"
                    >
                        <template #option="{option}">
                            <div class="text-icon">
                                Уровень {{ formatAttestationLevel(option) }}
                            </div>
                        </template>
                        <template #singleLabel="{option}">
                            <div class="text-icon">
                                Уровень {{ formatAttestationLevel(option) }}
                            </div>
                        </template>
                    </v-select>
                    <v-checkbox v-model="d_data.isTraining"
                                class="mb-3"
                                label="Режим тренировки"
                    />
                    <form-errors v-if="d_error"
                                 class="mb-3"
                                 :errors="d_error"
                    />
                    <v-button schema="secondary"
                              :loading="d_loading"
                              type="submit"
                    >
                        Запуск
                    </v-button>
                </div>
                <v-card class="attestation-assignment__students">
                    <students-select-list v-model="d_data.students" />
                </v-card>
            </form>
        </template>
        <template v-else>
            <h3>Отлично!</h3>
            <p class="mb-3">
                Аттестация для учеников успешно назначена. Вы можете просмотреть пройденные аттестации на странице ученика.
            </p>
            <v-button tag="nuxt-link"
                      to="/teacher/students"
                      schema="light"
            >
                На страницу учеников
            </v-button>
        </template>
    </modal-component>
</template>

<script>
import ModalComponent from "@/components/common/ModalComponent";
import VButton from "@/components/common/form/button/VButton";
import VCheckbox from "@/components/common/form/checkbox/VCheckbox";
import VSelect from "@/components/common/form/VSelect";
import formatAttestationType from "@/assets/js/filters/formatAttestationType";
import FormErrors from "@/components/common/form/FormErrors";
import StudentsSelectList from "@/components/teacher/student/StudentsSelectList";
import VCard from "@/components/common/VCard";
import formatAttestationLevel from "@/assets/js/filters/formatAttestationLevel";

export default {
    name: "AttestationAssignmentModal",
    components: {
        VCard,
        StudentsSelectList,
        FormErrors,
        VSelect,
        VCheckbox,
        VButton,
        ModalComponent,
    },
    data() {
        return {
            d_data: {
                level: 13,
                isTraining: false,
                type: "mental",
                students: [],
            },
            d_completed: false,
            d_error: false,
            d_loading: null,
        };
    },
    computed: {
        c_currentUserLevel() {
            return this.$store.state.auth.user.level || 14;
        },
    },
    methods: {
        formatAttestationLevel,
        formatAttestationType,
        async submit() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$api.attestations.assign(this.d_data);
                this.d_completed = true;
            } catch (e) {
                console.log(e);
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped lang="scss">
.attestation-assignment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.attestation-assignment__students {
    max-height: 500px;
    overflow: auto;

    @include styled-scroll;

    @include media-breakpoint-down(md) {
        overflow: visible;
        max-height: none;
        order: -1;
    }
}
</style>
