<template>
    <div class="attestation-stage-header"
         :class="{'attestation-stage-header_static': !withTimer}"
    >
        <div class="h3 mb-0">
            <div v-if="printVariant">
                Вариант {{ printVariant }}
            </div>
            <div>
                <span class="text-primary">{{ formatAttestationStageType(stage.type) }}</span>
                (уровень&nbsp;{{ formatAttestationLevel(stage.attestation.level) }})
            </div>
        </div>
        <div v-if="printVariant"
             class="attestation-stage-header__score"
        />
        <div v-if="withTimer"
             class="attestation-stage-header__timer"
        >
            {{ c_timeLeft }}
        </div>
        <modal-component v-if="d_showTimeLeftModal"
                         ref="modal"
                         @close="d_showTimeLeftModal = false;"
        >
            <h3 class="text-icon">
                <i class="icon-stopwatch" /> Время вышло
            </h3>
            <p class="mb-3">
                Введеные ответы зафиксированы.
            </p>
            <v-button schema="secondary"
                      @click.native="$refs.modal.close()"
            >
                Понятно
            </v-button>
        </modal-component>
    </div>
</template>

<script>
import formatAttestationStageType from "@/assets/js/filters/formatAttestationStageType";
import ModalComponent from "@/components/common/ModalComponent";
import VButton from "@/components/common/form/button/VButton";
import formatAttestationLevel from "@/assets/js/filters/formatAttestationLevel";

export default {
    name: "AttestationStageHeader",
    components: {
        VButton,
        ModalComponent,
    },
    props: {
        printVariant: {
            type: Number,
            default: null,
        },
        stage: {
            type: Object,
            required: true,
        },
        withTimer: {
            type: Boolean,
            default: false,
        },
    },
    fetch() {
        const totalTime = this.stage.attestation.type === "mental" ? 180 : 600;
        this.d_timeLeft = totalTime - Math.round((new Date() - new Date(this.stage.startedAt)) / 1000);
    },
    data() {
        return {
            d_timeLeft: 600,
            d_timer: null,
            d_showTimeLeftModal: false,
        };
    },
    computed: {
        c_timeLeft() {
            return this.d_timeLeft > 0
                ? new Date(this.d_timeLeft * 1000).toISOString().substr(14, 5)
                : "00:00";
        },
    },
    mounted() {
        if (this.withTimer) {
            this.tick();
        }
    },
    methods: {
        formatAttestationLevel,
        formatAttestationStageType,
        tick() {
            this.d_timeLeft--;
            if (this.d_timeLeft > 0) {
                this.d_timer = setTimeout(this.tick, 1000);
            } else {
                this.$emit("timeleft");
                this.d_showTimeLeftModal = true;
            }
        },
        stop() {
            clearTimeout(this.d_timer);
        },
    },
};
</script>

<style scoped lang="scss">
.attestation-stage-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(.attestation-stage-header_static) {
        position: sticky;
        background: rgba(#F9F9F9, 0.6);
        backdrop-filter: blur(10px);
        top: 0;
        padding: 10px 25px;
        margin: 0 -25px;

        @include media-breakpoint-down(md) {
            padding: 10px 15px;
            margin: 0 -15px;
        }
    }
}

.attestation-stage-header__timer {
    font-size: 24px;
    font-weight: 500;
}

.attestation-stage-header__score {
    border: 1px solid black;
    width: 100px;
    height: 70px;

    &:before {
        content: 'Результат';
        width: 100%;
        display: block;
        text-align: center;
        border-bottom: 1px solid black;
    }
}
</style>
