<template>
    <loading-component v-if="$fetchState.pending"
                       class="mt-3"
    />
    <div v-else-if="d_items.length"
         class="table table_md attestations-table"
    >
        <div class="table__row table__head attestations-table__row">
            <div class="table__cell">
                Дата начала
            </div>
            <div class="table__cell">
                Режим
            </div>
            <div class="table__cell">
                Уровень
            </div>
            <div class="table__cell">
                Тренировка
            </div>
            <div class="table__cell">
                Результат
            </div>
            <div class="table__cell" />
        </div>
        <div v-for="item in d_items"
             :key="item.id"
             class="table__row attestations-table__row"
        >
            <div class="table__cell">
                <span class="table__md-label">Дата создания</span>{{ formatDateTime(item.createdAt) }}
            </div>
            <div class="table__cell">
                <span class="table__md-label">Режим</span>{{ formatAttestationType(item.type) }}
            </div>
            <div class="table__cell">
                <span class="table__md-label">Уровень</span>{{ formatAttestationLevel(item.level) }}
            </div>
            <div class="table__cell">
                <span class="table__md-label">Тренировка</span>{{ item.isTraining ? "Да" : "Нет" }}
            </div>
            <div class="table__cell">
                <span class="table__md-label">Результат</span>{{
                    item.finishedAt ? (item.stagesSumScore + " баллов") : "Не завершено"
                }}
            </div>
            <div class="table__cell table__actions">
                <span v-if="item.isTraining"
                      role="button"
                      class="link text-danger icon-trash"
                      @click="remove(item)"
                />
                <nuxt-link :to="getLink(item)"
                           class="link link-primary text-decoration-none"
                           :class="item.finishedAt ? 'icon-eye' : 'icon-play'"
                />
            </div>
        </div>
    </div>
    <p v-else>
        Список аттестаций пуст.
    </p>
</template>

<script>
import LoadingComponent from "@/components/common/LoadingComponent";
import { formatDateTime } from "@/assets/js/filters/dayjs";
import formatAttestationType from "@/assets/js/filters/formatAttestationType";
import formatAttestationLevel from "@/assets/js/filters/formatAttestationLevel";

export default {
    name: "AttestationsTable",
    components: {
        LoadingComponent,
    },
    async fetch() {
        this.d_items = await this.$api.attestations.fetch();
    },
    data() {
        return {
            d_items: [],
        };
    },
    methods: {
        formatAttestationLevel,
        formatAttestationType,
        formatDateTime,
        async remove(attestation) {
            await this.$api.attestations.delete(attestation.id);
            this.d_items = this.d_items.filter(i => i.id !== attestation.id);
        },
        getLink(attestation) {
            switch (this.$store.state.auth.accountType) {
            case "student":
                return `/student/attestations/${attestation.id}`;
            case "teacher":
                return `/teacher/attestations/${attestation.id}`;
            }
        },
    },
};
</script>

<style scoped lang="scss">
.attestations-table {
    .attestations-table__row {
        grid-template-columns: 200px 170px 100px 150px 150px auto;

        @include media-breakpoint-down(lg) {
            grid-template-columns: 150px 170px 100px 150px 150px auto;
        }

        @include media-breakpoint-down(md) {
            grid-auto-flow: row;
            grid-template-columns: 1fr;
            grid-gap: 0;
            padding: 10px 0;
        }
    }
}
</style>
