<template>
    <v-overlay @close="$emit('close')">
        <addition-stage v-if="stage.type === 'addition'"
                        key="addition"
                        :show-controls="false"
                        :with-timer="false"
                        :stage="stage"
        />
        <multiplication-stage v-else-if="stage.type === 'multiplication'"
                              key="multiplication"
                              :show-controls="false"
                              :with-timer="false"
                              :stage="stage"
        />
        <multiplication-stage v-else-if="stage.type === 'division'"
                              key="division"
                              :show-controls="false"
                              :stage="stage"
                              :with-timer="false"
                              :division="true"
        />
    </v-overlay>
</template>

<script>
import VOverlay from "@/components/common/VOverlay";
import MultiplicationStage from "@/components/common/attestations/MultiplicationStage";
import AdditionStage from "@/components/common/attestations/AdditionStage";

export default {
    name: "AttestationStageDetails",
    components: {
        AdditionStage,
        MultiplicationStage,
        VOverlay,
    },
    props: {
        stage: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {};
    },
};
</script>

<style scoped lang="scss">
</style>
