<template>
    <div v-if="!d_attestation.finishedAt">
        Аттестация еще не завершена.
    </div>
    <div v-else
         class="attestation-result card p-md-5"
    >
        <div>
            <div class="attestation-result__header">
                Аттестация завершена!
            </div>
            <div class="mb-3">
                <span class="badge badge-dark">{{ formatAttestationLevel(d_attestation.level) }} уровень</span>
                <span class="badge badge-dark">{{ d_attestation.localizedType }}</span>
                <span v-if="d_attestation.isTraining"
                      class="badge badge-dark"
                >Тренировка</span>
            </div>
            <div class="mb-3">
                <div v-for="stage in d_attestation.stages"
                     :key="stage.type"
                >
                    <b>{{ formatAttestationStageType(stage.type) }}</b>: {{ stage.score }} баллов
                    <small class="link text-primary"
                           role="button"
                           @click="d_showStageDetails = stage"
                    >(Подробнее)</small>
                </div>
                <div class="mb-0">
                    Общее количество баллов: {{ d_attestation.stagesSumScore }} ({{
                        d_attestation.scorePercent * 100
                    }}%)
                </div>
            </div>
            <div class="attestation-result__buttons">
                <v-button v-if="offerRestart && d_attestation.isTraining"
                          schema="secondary"
                          :loading="d_restarting"
                          @click.native="restart"
                >
                    Повторить
                </v-button>
                <v-button v-if="showHomeButton"
                          tag="nuxt-link"
                          :to="`/${$store.state.auth.accountType}/attestations`"
                >
                    Вернуться к списку аттестаций
                </v-button>
            </div>
        </div>
        <div class="attestation-result__certificate-wrap">
            <attachment
                v-if="d_attestation.attestationLevelDetails && d_attestation.attestationLevelDetails.certificate"
                class="attestation-result__certificate"
                :attachment="d_attestation.attestationLevelDetails.certificate"
            />
            <stars-score :gradation="[0.3,0.5,0.7]"
                         class="attestation-result__stars"
                         :value="d_attestation.scorePercent"
            />
        </div>
        <attestation-stage-details v-if="d_showStageDetails"
                                   :stage="d_showStageDetails"
                                   @close="d_showStageDetails = false"
        />
    </div>
</template>

<script>
import formatAttestationStageType from "@/assets/js/filters/formatAttestationStageType";
import StarsScore from "@/components/common/stars-score/StarsScore";
import AttestationStageDetails from "@/components/common/attestations/AttestationStageDetails";
import Attachment from "@/components/common/attachment/Attachment";
import formatAttestationLevel from "@/assets/js/filters/formatAttestationLevel";
import VButton from "~/components/common/form/button/VButton";

export default {
    name: "AttestationResult",
    components: {
        Attachment,
        VButton,
        AttestationStageDetails,
        StarsScore,
    },
    props: {
        offerRestart: {
            type: Boolean,
            default: false,
        },
        attestation: {
            type: Object,
            required: true,
        },
        showHomeButton: {
            type: Boolean,
            default: true,
        },
    },
    // async fetch() {
    //     this.d_attestation = this.attestation.finishedAt
    //         ? this.attestation
    //         : await this.$api.attestations.fetchOne(this.attestation.id);
    // },
    data() {
        return {
            d_restarting: false,
            d_attestation: this.attestation,
            d_showStageDetails: null,
        };
    },
    methods: {
        formatAttestationLevel,
        formatAttestationStageType,
        async restart() {
            if (this.d_restarting) {
                return;
            }

            this.d_restarting = true;
            const res = await this.$api.attestations.store({
                level: this.d_attestation.level,
                type: this.d_attestation.type,
            });
            const url = this.$store.getters["auth/buildUrl"](`/attestations/${res.id}`);
            await this.$router.push(url);
            this.d_restarting = false;
        },
    },
};
</script>

<style scoped lang="scss">
.attestation-result {
    display: grid;
    grid-template-columns: auto max-content;
    grid-gap: 15px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.attestation-result__certificate {
    max-width: 250px;
    margin-bottom: 15px;

    @include media-breakpoint-down(sm) {
        width: 100%;
        max-width: 100%;
    }
}

.attestation-result__header {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: $primary;
    margin-bottom: 15px;

    @include media-breakpoint-down(md) {
        font-size: 24px;
    }
}

.attestation-result__stars {
    --star-size: 55px;
    @include media-breakpoint-down(md) {
        margin-top: 0;
        order: -1;
    }
}

.attestation-result__buttons {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    grid-auto-columns: max-content;

    @include media-breakpoint-down(md) {
        grid-auto-flow: row;
    }
}

.attestation-result__certificate-wrap {
    @include media-breakpoint-down(md) {
        order: -1;
    }
}
</style>
