<template>
    <v-card>
        <div v-if="!stage.finishedAt"
             class="d-flex align-items-center flex-column flex-md-row"
        >
            <v-button schema="secondary"
                      class="mb-3 mb-md-0 mr-md-3 col-12 col-md-auto"
                      :loading="d_submitting"
                      @click.native="submit"
            >
                Отправить ответы
            </v-button>
            <span>Введенные ответы нельзя будет изменить после отправки. Внимательно проверьте поля ввода.</span>
        </div>
        <div v-else
             class="attestation-stage-footer attestation-stage-footer_finish"
        >
            <h3 class="mb-0">
                Количество баллов: {{ stage.score }}
            </h3>
            <v-button v-if="stage.finishedAt"
                      schema="secondary"
                      @click.native="$emit('next')"
            >
                Далее
            </v-button>
        </div>
    </v-card>
</template>

<script>
import VButton from "@/components/common/form/button/VButton";
import VCard from "@/components/common/VCard";

export default {
    name: "AttestationStageFooter",
    components: {
        VCard,
        VButton,
    },
    props: {
        stage: {
            type: Object,
            required: true,
        },
        answers: {
            type: Array,
            required: true,
        },
    },
    data() {
        return {
            d_submitting: false,
        };
    },
    methods: {
        async submit() {
            if (this.d_submitting) {
                return;
            }
            this.d_submitting = true;
            const res = await this.$api.attestations.answerStage(this.stage.id, { answers: this.answers });
            this.$emit("update:stage", res);
            this.$emit("finished");
            this.d_submitting = false;
        },
    },
};
</script>

<style scoped lang="scss">
.attestation-stage-footer {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    grid-gap: 15px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 100%;
    }
}
</style>
