<template>
    <div>
        <loading-component v-if="$fetchState.pending" />
        <need-subscription-modal v-else-if="d_needSubscription">
            Для прохождения аттестаций необходима подписка.
        </need-subscription-modal>
        <template v-else>
            <attestation-stage-header ref="header"
                                      :print-variant="printVariant"
                                      :stage="d_stage"
                                      :with-timer="withTimer"
                                      @timeleft="onTimeLeft"
            />
            <table class="stage-table mb-3">
                <tbody>
                    <tr v-for="row in d_stage.tasks.length"
                        :key="'row' + row"
                        class="stage-table__row stage-table__row_border"
                    >
                        <td class="stage-table__td stage-table__td_service">
                            {{ row }}
                        </td>
                        <td class="stage-table__td"
                            style="width: 50%"
                        >
                            {{ d_stage.tasks[row - 1][2] ? "$" : "" }} {{ commaFormat(d_stage.tasks[row - 1][0]) }}
                            {{ division ? "÷" : "×" }} {{ commaFormat(d_stage.tasks[row - 1][1]) }}
                        </td>
                        <td class="stage-table__td stage-table__td_answer"
                            style="width: 50%"
                        >
                            <v-input v-model="d_answers[row-1]"
                                     class="w-100"
                                     :disabled="c_showAnswers"
                            />
                            <div v-if="c_showAnswers"
                                 class="text-icon ml-3"
                            >
                                {{ d_stage.answers[row - 1] }}
                                <i v-if="+d_stage.answers[row-1] === +d_answers[row-1]"
                                   class="icon-check-round text-success"
                                />
                                <i v-else
                                   class="icon-warning text-warning"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <attestation-stage-footer v-if="showControls"
                                      ref="footer"
                                      :stage.sync="d_stage"
                                      :answers="d_answers"
                                      @finished="$refs.header.stop()"
                                      @next="$emit('next')"
            />
        </template>
    </div>
</template>

<script>
import LoadingComponent from "@/components/common/LoadingComponent";
import VInput from "@/components/common/form/VInput";
import AttestationStageFooter from "@/components/common/attestations/AttestationStageFooter";
import AttestationStageHeader from "@/components/common/attestations/AttestationStageHeader";
import BaseAttestationStage from "assets/js/mixins/BaseAttestationStage";
import NeedSubscriptionModal from "@/components/student/subscription/NeedSubscriptionModal";

export default {
    name: "MultiplicationStage",
    components: {
        NeedSubscriptionModal,
        AttestationStageHeader,
        AttestationStageFooter,
        VInput,
        LoadingComponent,
    },
    mixins: [BaseAttestationStage],
    props: {
        division: {
            type: Boolean,
            default: false,
        },
    },
};
</script>

<style scoped lang="scss">
</style>
