<template>
    <modal-component overflow="visible"
                     width="350px"
                     @close="$emit('close')"
    >
        <h4>Запуск аттестации</h4>
        <form @submit.prevent="submit">
            <v-select v-model="d_data.type"
                      class="mb-3"
                      label="Режим"
                      :options="['mental', 'abakus']"
            >
                <template #option="{option}">
                    {{ formatAttestationType(option) }}
                </template>
                <template #singleLabel="{option}">
                    {{ formatAttestationType(option) }}
                </template>
            </v-select>
            <v-select v-model="d_data.level"
                      class="mb-3"
                      label="Выберите уровень"
                      :options="[13,12,11,10,9,8,7,6,5,4,3,2,1,0]"
            >
                <template #option="{option}">
                    <div class="text-icon">
                        <i v-if="isLevelLocked(option)"
                           class="text-muted icon-lock"
                        /> Уровень {{ formatAttestationLevel(option) }}
                    </div>
                </template>
                <template #singleLabel="{option}">
                    <div class="text-icon">
                        <i v-if="isLevelLocked(option)"
                           class="text-muted icon-lock"
                        /> Уровень {{ formatAttestationLevel(option) }}
                    </div>
                </template>
            </v-select>
            <v-checkbox v-model="d_data.isTraining"
                        class="mb-3"
                        label="Режим тренировки"
            />
            <form-errors v-if="d_error"
                         class="mb-3"
                         :errors="d_error"
            />
            <v-button schema="secondary"
                      :loading="d_loading"
                      type="submit"
            >
                Запуск
            </v-button>
        </form>
    </modal-component>
</template>

<script>
import ModalComponent from "@/components/common/ModalComponent";
import VButton from "@/components/common/form/button/VButton";
import VCheckbox from "@/components/common/form/checkbox/VCheckbox";
import VSelect from "@/components/common/form/VSelect";
import formatAttestationType from "@/assets/js/filters/formatAttestationType";
import FormErrors from "@/components/common/form/FormErrors";
import formatAttestationLevel from "@/assets/js/filters/formatAttestationLevel";

export default {
    name: "NewAttestationModal",
    components: {
        FormErrors,
        VSelect,
        VCheckbox,
        VButton,
        ModalComponent,
    },
    data() {
        return {
            d_data: {
                level: 13,
                isTraining: false,
                type: "mental",
            },
            d_error: false,
            d_loading: null,
        };
    },
    computed: {
        c_currentUserLevel() {
            return this.$store.state.auth.user.level || 14;
        },
        c_pickedImpossibleLevel() {
            return false;
            // return this.d_data.level < 13 && this.d_data.level < this.c_currentUserLevel - 1;
        },
    },
    methods: {
        formatAttestationLevel,
        formatAttestationType,
        isLevelLocked(level) {
            return false;
        },
        async submit() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                const res = await this.$api.attestations.store(this.d_data);
                const url = this.$store.getters["auth/buildUrl"](`/attestations/${res.id}`);
                await this.$router.push(url);
            } catch (e) {
                console.log(e);
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped>

</style>
