<template>
    <modal-component overflow="visible"
                     width="350px"
                     @close="$emit('close')"
    >
        <h4>Печать бланков</h4>
        <form @submit.prevent="submit">
            <v-select v-model="d_data.type"
                      class="mb-3"
                      label="Режим"
                      :options="['mental','abakus']"
            >
                <template #option="{option}">
                    {{ formatAttestationType(option) }}
                </template>
                <template #singleLabel="{option}">
                    {{ formatAttestationType(option) }}
                </template>
            </v-select>
            <v-select v-model="d_data.level"
                      class="mb-3"
                      :required="true"
                      label="Выберите уровень"
                      :options="[13,12,11,10,9,8,7,6,5,4,3,2,1,0]"
            >
                <template #option="{option}">
                    Уровень {{ formatAttestationLevel(option) }}
                </template>
                <template #singleLabel="{option}">
                    Уровень {{ formatAttestationLevel(option) }}
                </template>
            </v-select>
            <v-input v-model="d_data.count"
                     label="Вариантов"
                     type="number"
                     :required="true"
                     class="mb-3"
            />
            <v-button schema="secondary"
                      type="submit"
            >
                Печать
            </v-button>
        </form>
    </modal-component>
</template>

<script>
import ModalComponent from "@/components/common/ModalComponent";
import VButton from "@/components/common/form/button/VButton";
import VSelect from "@/components/common/form/VSelect";
import VInput from "@/components/common/form/VInput";
import formatAttestationType from "@/assets/js/filters/formatAttestationType";
import formatAttestationLevel from "@/assets/js/filters/formatAttestationLevel";

export default {
    name: "PrintAttestationsModal",
    components: {
        VInput,
        VSelect,
        VButton,
        ModalComponent,
    },
    data() {
        return {
            d_data: {
                type: "mental",
                level: 12,
                count: 1,
            },
        };
    },
    methods: {
        formatAttestationLevel,
        formatAttestationType,
        async submit() {
            await this.$router.push(`/teacher/attestations/print?type=${this.d_data.type}&count=${this.d_data.count}&level=${this.d_data.level}`);
        },
    },
};
</script>

<style scoped>

</style>
