<template>
    <div>
        <loading-component v-if="$fetchState.pending" />
        <template v-else-if="c_currentStage">
            <addition-stage v-if="c_currentStage.type === 'addition'"
                            key="addition"
                            :show-controls="true"
                            :stage="c_currentStage"
                            @next="onNext"
            />
            <multiplication-stage v-else-if="c_currentStage.type === 'multiplication'"
                                  key="multiplication"
                                  :show-controls="true"
                                  :stage="c_currentStage"
                                  @next="onNext"
            />
            <multiplication-stage v-else-if="c_currentStage.type === 'division'"
                                  key="division"
                                  :show-controls="true"
                                  :stage="c_currentStage"
                                  :division="true"
                                  @next="onNext"
            />
        </template>
        <attestation-result v-else
                            :offer-restart="true"
                            :attestation="d_attestation"
        />
    </div>
</template>

<script>
import LoadingComponent from "@/components/common/LoadingComponent";
import AdditionStage from "@/components/common/attestations/AdditionStage";
import MultiplicationStage from "@/components/common/attestations/MultiplicationStage";
import AttestationResult from "@/components/common/attestations/AttestationResult";

export default {
    name: "VAttestation",
    components: {
        AttestationResult,
        MultiplicationStage,
        AdditionStage,
        LoadingComponent,
    },
    props: {
        attestation: {
            type: Object,
            required: true,
        },
    },
    async fetch() {
        this.d_attestation = await this.$api.attestations.fetchOne(this.attestation.id);
        this.d_currentStageIdx = this.d_attestation.stages.findIndex(i => !i.finishedAt);
    },
    data() {
        return {
            d_attestation: null,
            d_currentStageIdx: 0,
        };
    },
    computed: {
        c_currentStage() {
            return this.d_currentStageIdx >= 0 ? this.d_attestation.stages[this.d_currentStageIdx] : null;
        },
    },
    methods: {
        async onNext() {
            if (this.d_currentStageIdx + 1 < this.d_attestation.stages.length) {
                this.d_currentStageIdx++;
            } else {
                this.d_attestation = await this.$api.attestations.fetchOne(this.attestation.id);
                this.d_currentStageIdx++;
            }
        },
    },
};
</script>

<style scoped>

</style>
