<template>
    <modal-component :closable="false">
        <div class="need-subscription-modal">
            <v-tiger class="need-subscription-modal__tiger" />
            <div>
                <h3>Доступ запрещён</h3>
                <slot>
                    <p>
                        Для прохождения этого тренажёра необходима подписка.
                    </p>
                </slot>
                <div class="mt-3">
                    <v-button tag="nuxt-link"
                              schema="secondary"
                              :to="c_url"
                    >
                        Купить подписку
                    </v-button>
                </div>
            </div>
        </div>
    </modal-component>
</template>

<script>
import ModalComponent from "~/components/common/ModalComponent";
import VButton from "~/components/common/form/button/VButton";
import VTiger from "~/components/student/Tiger/VTiger";

export default {
    name: "NeedSubscriptionModal",
    components: {
        VTiger,
        VButton,
        ModalComponent,
    },
    computed: {
        c_url() {
            return this.$store.getters["auth/buildUrl"]("/subscriptions?action=buy");
        },
    },
};
</script>

<style scoped lang="scss">
.need-subscription-modal {
    display: grid;
    grid-template-columns: 400px 300px;
    align-items: center;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.need-subscription-modal__tiger {
    width: 400px;
    height: 300px;

    @include media-breakpoint-down(sm) {
        height: 200px;
    }
}
</style>
