<template>
    <modal-component width="350px"
                     @close="$emit('close')"
    >
        <v-line-pick v-model="d_count"
                     class="mb-3"
                     :top="['Месяц', '6 мес.', '12 мес.']"
                     :bottom="c_pricesPerMonth"
        />
        <payment-methods class="mb-3" />
        <v-button schema="secondary"
                  :loading="d_loading"
                  @click.native="buy"
        >
            Оплатить {{ c_price }} рублей
        </v-button>
    </modal-component>
</template>

<script>
import PaymentMethods from "~/components/teacher/subscriptions/PaymentMethods";
import ModalComponent from "~/components/common/ModalComponent";
import VLinePick from "~/components/common/VLinePick";
import VButton from "~/components/common/form/button/VButton";

export default {
    name: "SubscriptionBuyModal",
    components: {
        PaymentMethods,
        VButton,
        VLinePick,
        ModalComponent,
    },
    data() {
        return {
            d_count: 0,
            d_loading: false,
            d_error: null,
        };
    },
    computed: {
        c_prices() {
            return [
                this.$store.state.settings.subscriptionStudentPrice1,
                this.$store.state.settings.subscriptionStudentPrice6,
                this.$store.state.settings.subscriptionStudentPrice12,
            ];
        },
        c_pricesPerMonth() {
            return [
                (this.$store.state.settings.subscriptionStudentPrice1 / 1).toFixed(2) + " ₽/мес.",
                (this.$store.state.settings.subscriptionStudentPrice6 / 6).toFixed(2) + " ₽/мес.",
                (this.$store.state.settings.subscriptionStudentPrice12 / 12).toFixed(2) + " ₽/мес.",
            ];
        },
        c_price() {
            return this.c_prices[this.d_count];
        },
        c_count() {
            return [1, 6, 12][this.d_count];
        },
    },
    methods: {
        async buy() {
            this.d_loading = true;
            try {
                window.document.location.href = await this.$api.subscriptions.buySubscription({
                    count: this.c_count,
                });
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped>

</style>
