<template>
    <div>
        <breadcrumbs :items="[{name: 'Преподаватели', url: '/admin/teachers'}, {name:'Редактирование преподавателя'}]" />
        <page-header>
            Редактирование преподавателя
            <template #actions>
                <loading-component v-if="d_deleting"
                                   size="16"
                />
                <div v-else
                     class="text-danger"
                     role="button"
                     @click="destroy"
                >
                    <i class="icon-trash" /> Удалить
                </div>
            </template>
        </page-header>
        <form v-if="d_teacher"
              @submit.prevent="store"
        >
            <h5>Основная информация</h5>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_teacher.lastName"
                             label="Фамилия"
                    />
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_teacher.firstName"
                             label="Имя"
                    />
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_teacher.middleName"
                             label="Отчество"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input-date v-model="d_teacher.birthday"
                                  label="Дата рождения"
                    />
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_teacher.city"
                             label="Город"
                    />
                </div>
            </div>
            <h5>Абонементы</h5>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <v-input v-model="d_teacher.subscriptionsLeft"
                             label="Количество абонементов"
                             type="number"
                    >
                        <template #hint>
                            <p>Эти абонементы преподаватель может передавать ученикам.</p>
                            <p>1 абонемент - 1 месяц.</p>
                        </template>
                    </v-input>
                </div>
            </div>
            <h5>Данные авторизации</h5>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <v-input v-model="d_teacher.email"
                             label="E-Mail"
                             type="email"
                    />
                </div>
            </div>
            <v-checkbox v-model="d_changePassword"
                        class="mb-3"
                        label="Сменить пароль"
            />
            <transition-collapse>
                <div v-if="d_changePassword"
                     class="row"
                >
                    <div class="col-12 col-md-6 col-xl-4 mb-3">
                        <v-input v-model="d_teacher.password"
                                 label="Пароль"
                                 type="password"
                        />
                    </div>
                    <div class="col-12 col-md-6 col-xl-4 mb-3">
                        <v-input v-model="d_teacher.passwordConfirmation"
                                 label="Подтвердите пароль"
                                 type="password"
                        />
                    </div>
                </div>
            </transition-collapse>
            <form-errors v-if="d_error"
                         class="mb-3"
                         :errors="d_error"
            />
            <v-button :loading="d_loading"
                      type="submit"
            >
                Сохранить
            </v-button>
        </form>
        <loading-component v-else />
    </div>
</template>

<script>
import TeacherFactory from "@/assets/js/factories/TeacherFactory";
import Breadcrumbs from "~/components/common/Breadcrumbs";
import VInput from "~/components/common/form/VInput";
import VButton from "~/components/common/form/button/VButton";
import FormErrors from "~/components/common/form/FormErrors";
import PageHeader from "~/components/common/PageHeader";
import LoadingComponent from "~/components/common/LoadingComponent";
import VCheckbox from "~/components/common/form/checkbox/VCheckbox";
import TransitionCollapse from "~/components/common/transitions/TransitionCollapse";
import VInputDate from "~/components/common/form/VInputDate";

export default {
    name: "Create",
    components: {
        VInputDate,
        TransitionCollapse,
        VCheckbox,
        LoadingComponent,
        PageHeader,
        FormErrors,
        VButton,
        VInput,
        Breadcrumbs,
    },
    layout: "admin",
    async fetch() {
        const teacher = await this.$api.teachers.fetchOne(this.$route.params.id);
        this.d_teacher = TeacherFactory.create({
            ...teacher,
            password: null,
            passwordConfirmation: null,
        });
    },
    data() {
        return {
            d_teacher: null,
            d_loading: null,
            d_changePassword: false,
            d_error: null,
            d_exists: 0,
            d_deleting: false,
        };
    },
    watch: {
        d_changePassword() {
            this.d_teacher.password = null;
            this.d_teacher.passwordConfirmation = null;
        },
    },
    methods: {
        async store() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$api.teachers.update(this.$route.params.id, this.d_teacher);
                this.$router.push("/admin/teachers");
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
        async destroy() {
            if (this.d_loading || this.d_deleting) {
                return;
            }
            const confirm = window.confirm("Вы уверены, что хотите удалить этого пользователя? Это действие нельзя отменить!");
            if (!confirm) {
                return;
            }

            this.d_deleting = true;
            try {
                await this.$api.teachers.delete(this.$route.params.id);
                this.$router.push("/admin/teachers");
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_deleting = false;
        },
    },
    head: {
        title: "Редактирование преподавателя",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped>

</style>
