<template>
    <loading-component v-if="!d_teacher" />
    <div v-else>
        <breadcrumbs :items="[{url: '/admin/teachers', name: 'Преподаватели'}, {name: c_fullName}]" />
        <page-header>
            {{ c_fullName }}
        </page-header>
        <div class="row">
            <div class="col-12 mb-5">
                <div class="teacher-info">
                    <avatar class="teacher-info__avatar"
                            :image="c_imageUrl"
                            :level="d_teacher.level"
                    />
                    <div>
                        <p class="teacher-info__row">
                            <span>E-Mail:</span> {{ d_teacher.email }}
                        </p>
                        <p class="teacher-info__row">
                            <span>Телефон:</span> {{ d_teacher.phone }}
                        </p>
                        <p class="teacher-info__row">
                            <span>Аккаунт зарегистрирован:</span> {{ formatDate(d_teacher.createdAt) }}
                        </p>
                        <p v-if="d_teacher.birthday"
                           class="teacher-info__row"
                        >
                            <span>Дата рождения:</span> {{ formatDate(d_teacher.birthday) }}
                        </p>
                        <p class="teacher-info__row">
                            <span>Подписка:</span>
                            <template v-if="!d_teacher.subscriptions || !d_teacher.subscriptions.length">
                                не оформлялась
                            </template>
                            <template v-else-if="isBefore(d_teacher.subscriptions[0].expiredAt)">
                                закончилась {{ formatDate(d_teacher.subscriptions[0].expiredAt) }}
                            </template>
                            <template v-else>
                                до {{ formatDate(d_teacher.subscriptions[0].expiredAt) }}
                            </template>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-5">
                <section>
                    <h4>Подписки</h4>
                    <student-subscriptions v-if="d_teacher"
                                           :subscriptions="d_teacher.subscriptions"
                                           :can-remove="true"
                                           @remove="onSubscriptionRemove"
                    />
                    <v-button class="mt-3"
                              schema="secondary"
                              @click.native="d_showEditorModal = true"
                    >
                        Выдать доступ
                    </v-button>
                    <teacher-subscription-editor v-if="d_showEditorModal"
                                                 :subscription="d_showEditorModal"
                                                 :teacher="d_teacher"
                                                 @close="d_showEditorModal = null"
                                                 @store="onSubscriptionStore"
                    />
                </section>
            </div>
        </div>
        <section class="mb-5">
            <h4>Тренажеры</h4>
            <user-apps :apps="c_apps" />
        </section>
        <section class="mb-5">
            <h4>Домашние задания</h4>
            <user-apps :apps="c_homeworks" />
        </section>
        <section class="mb-5">
            <h4>Студенты</h4>
            <div class="teacher-info__students">
                <student-card v-for="student in d_teacher.students"
                              :key="student.id"
                              :student="student"
                />
                <div v-if="!d_teacher.students.length">
                    Список учеников пуст
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import UserApps from "@/components/teacher/homeworks/UserApps";
import TeacherSubscriptionEditor from "~/components/admin/teacher/TeacherSubscriptionEditor";
import StudentSubscriptions from "~/components/teacher/student/StudentSubscriptions";
import StudentCard from "~/components/teacher/student/StudentCard";
import LoadingComponent from "~/components/common/LoadingComponent";
import VButton from "~/components/common/form/button/VButton";
import Avatar from "~/components/common/Avatar";
import Breadcrumbs from "~/components/common/Breadcrumbs";
import PageHeader from "~/components/common/PageHeader";

export default {
    name: "Index",
    components: {
        UserApps,
        TeacherSubscriptionEditor,
        StudentSubscriptions,
        StudentCard,
        VButton,
        LoadingComponent,
        Avatar,
        Breadcrumbs,
        PageHeader,
    },
    layout: "admin",
    mixins: [dateMixins],
    async fetch() {
        this.d_teacher = await this.$api.teachers.fetchOne(this.$route.params.id, {
            include: ["students.lastSubscription", "subscriptions", "apps"],
        });
    },
    data() {
        return {
            d_teacher: null,
            d_showEditorModal: null,
        };
    },
    computed: {
        c_imageUrl() {
            return this.d_teacher.image && this.d_teacher.image.url;
        },
        c_homeworks() {
            if (!this.d_teacher) {
                return null;
            }
            return this.d_teacher.apps.filter(item => item.isHomework);
        },
        c_apps() {
            if (!this.d_teacher) {
                return null;
            }
            return this.d_teacher.apps.filter(item => !item.isHomework);
        },
        c_fullName() {
            if (!this.d_teacher) {
                return null;
            }
            return this.d_teacher.lastName + " " + this.d_teacher.firstName;
        },
        c_teacher() {
            if (!this.d_teacher || !this.d_teacher.group) {
                return null;
            }
            return this.d_teacher.group.teacher;
        },
    },
    methods: {
        onSubscriptionStore(subscription) {
            this.d_teacher.subscriptions.splice(0, 0, arguments[0]);
            this.d_showEditorModal = false;
        },
        onSubscriptionRemove(subscription) {
            const idx = this.d_teacher.subscriptions.findIndex(item => item.id === subscription.id);
            if (idx >= 0) {
                this.d_teacher.subscriptions.splice(idx, 1);
            }
        },
    },
    head() {
        return {
            title: this.c_fullName,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: "Home page description",
                },
            ],
        };
    },
};
</script>

<style scoped lang="scss">
.teacher-info {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    align-items: center;

    @include media-breakpoint-down(md) {
        grid-auto-flow: row;
        grid-gap: 10px;
    }
}

.teacher-info__avatar {
    width: 150px;
    height: 150px;

    @include media-breakpoint-down(md) {
        margin: auto;
    }
}

.teacher-info__row {
    span {
        font-weight: 500;
    }

    & + & {
        margin-top: 5px;
    }
}

.teacher-info__students {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));

    @include media-breakpoint-down(sm) {
        grid-template-columns: 1fr;
    }
}
</style>
