<template>
    <modal-component width="500px"
                     @close="$emit('close')"
    >
        <div class="small">
            Ученик (зарегистрирован {{ formatDate(student.createdAt) }})
        </div>
        <h4 class="mb-0">
            {{ student.lastName }} {{ student.firstName }} {{ student.middleName }}
        </h4>
        <nuxt-link class="d-block text-secondary mb-3"
                   :to="`/admin/students/${student.id}`"
        >
            Перейти на страницу ученика
        </nuxt-link>
        <div>
            <div v-if="student.birthday">
                Дата рождения {{ formatDate(student.birthday) }}
            </div>

            <loading-component v-if="d_student.averageQuality === undefined"
                               size="16"
            />
            <template v-else>
                <div>
                    Абонемент:
                    <template v-if="!d_student.lastSubscription">
                        не оформлялся
                    </template>
                    <template v-else-if="isBefore(d_student.lastSubscription.expiredAt)">
                        закончился {{ formatDate(d_student.lastSubscription.expiredAt) }}
                    </template>
                    <template v-else>
                        до {{ formatDate(d_student.lastSubscription.expiredAt) }}
                    </template>
                </div>

                <div>
                    Завершенных сессий: {{ d_student.finishedSessionsCount }}
                </div>
                <div>
                    Средняя результативность: {{ d_student.averageQuality }}%
                </div>
            </template>
        </div>
    </modal-component>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import StudentFactory from "@/assets/js/factories/StudentFactory";
import ModalComponent from "~/components/common/ModalComponent";
import LoadingComponent from "~/components/common/LoadingComponent";

export default {
    name: "StudentModal",
    components: {
        LoadingComponent,
        ModalComponent,
    },
    mixins: [dateMixins],
    props: ["student"],
    data() {
        return {
            d_student: StudentFactory.create({
                ...this.student,
                groups: null,
            }),
        };
    },
    async mounted() {
        if (!this.d_student.apps) {
            this.d_loading = true;
            this.d_student = await this.$api.students.fetchOne(this.d_student.id, {
                include: ["finishedSessionsCount", "lastSubscription"],
                append: ["averageQuality"],
            });
            this.d_loading = false;
        }
    },
    methods: {},
};
</script>

<style scoped lang="scss">
.student-modal__students {
    display: grid;
    grid-gap: 15px;
}

.student-modal__student {
    cursor: pointer;
    transition: all .1s ease-in;

    &:hover {
        background: #f1f1f1;
        transform: scale(1.05);
    }
}
</style>
