<template>
    <modal-component width="450px"
                     overflow="visible"
                     @close="$emit('close')"
    >
        <form @submit.prevent="c_id ? update() : store()">
            <h3>{{ c_id ? "Редактирование абонемента" : "Выдача абонемента" }}</h3>
            <student-card
                :student="student"
                :mini="true"
                :show-details-link="false"
            />

            <v-input-date v-model="d_subscription.expiredAt"
                          label="Действителен до"
                          hint="Срок действия сертификата"
                          class="d-block mt-3"
            />
            <form-errors v-if="d_error"
                         class="mb-3"
                         :errors="d_error"
            />
            <loading-component v-if="d_loading"
                               class="mt-3"
            />
            <v-button v-else
                      schema="secondary"
                      type="submit"
                      class="mt-3"
            >
                Сохранить
            </v-button>
        </form>
    </modal-component>
</template>

<script>
import StudentCard from "@/components/teacher/student/StudentCard";
import SubscriptionFactory from "@/assets/js/factories/SubscriptionFactory";
import ModalComponent from "~/components/common/ModalComponent";
import VButton from "~/components/common/form/button/VButton";
import FormErrors from "~/components/common/form/FormErrors";
import LoadingComponent from "~/components/common/LoadingComponent";
import VInputDate from "~/components/common/form/VInputDate";

export default {
    name: "StudentSubscriptionEditor",
    components: {
        LoadingComponent,
        StudentCard,
        FormErrors,
        VButton,
        ModalComponent,
        VInputDate,
    },
    props: {
        subscription: {
            default: null,
        },
        student: {
            type: Object,
            default: null,
            required: true,
        },
    },
    data() {
        return {
            d_subscription: SubscriptionFactory.create(null),
            d_loading: false,
            d_error: null,
        };
    },
    computed: {
        c_id() {
            return this.subscription && this.subscription.id;
        },
    },
    methods: {
        async store() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_error = null;
            try {
                const res = await this.$api.students.storeSubscription(
                    this.student.id,
                    this.d_subscription,
                );
                this.$emit("store", res);
            } catch (e) {
                console.error(e);
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
        async update() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                const res = await this.$api.subscriptions.store(
                    this.student.id,
                    this.d_subscription,
                );
                this.$emit("store", res);
            } catch (e) {
                console.error(e);
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped>
</style>
