<template>
    <div class="avatar">
        <img v-if="image"
             class="avatar__img"
             :src="image"
             :alt="alt"
        >
        <i v-else
           class="icon-user"
        />
        <template v-if="level">
            <div class="avatar__level-label">
                <span class="d-none d-md-inline mr-1">Уровень</span> {{ level }}
            </div>
        </template>
    </div>
</template>

<script>
export default {
    name: "Avatar",
    props: {
        image: {
            type: String,
            default: null,
        },
        alt: {
            type: String,
            default: null,
        },
        level: {
            type: Number,
            default: null,
        },
    },
};
</script>

<style scoped lang="scss">
.avatar {
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: $card-shadow;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: #c3c3c3;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    position: relative;

    @include media-breakpoint-down(md) {
        font-size: 24px;
        border-width: 2px;
    }
}

.avatar__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.avatar__level-label {
    font-size: 14px;
    position: absolute;
    background: $secondary;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    color: $dark;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    bottom: -3px;
    z-index: 2;
    padding: 0 5px;

    @include media-breakpoint-down(md) {
        font-size: 12px;
        line-height: 14px;
        bottom: -2px;
    }

    --back-color: #d5c300;

    &:before, &:after {
        z-index: 1;
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border-style: solid;
        border-width: 10px;
        top: 5px;

        @include media-breakpoint-down(md) {
            border-width: 5px;
        }
    }

    &:before {
        border-color: var(--back-color) var(--back-color) var(--back-color) transparent;
        left: -20px;

        @include media-breakpoint-down(md) {
            left: -9px;
        }
    }

    &:after {
        border-color: var(--back-color) transparent var(--back-color) var(--back-color);
        right: -20px;

        @include media-breakpoint-down(md) {
            right: -9px;
        }
    }
}
</style>
