<template>
    <ul class="breadcrumbs">
        <li v-for="(item, idx) in items"
            :key="idx"
            class="breadcrumbs__item"
        >
            <nuxt-link v-if="item.url"
                       :to="item.url"
            >
                {{ item.name }}
            </nuxt-link>
            <template v-else>
                {{ item.name }}
            </template>
        </li>
    </ul>
</template>

<script>
export default {
    name: "Breadcrumbs",
    props: {
        items: {
            default() {
                return [];
            },
        },
    },
};
</script>

<style scoped lang="scss">
.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    justify-content: flex-start;
}

.breadcrumbs__item + .breadcrumbs__item {
    margin-left: 7px;

    &:before {
        font-family: 'icomoon', serif;
        content: 'q';
        font-size: 12px;
        margin-right: 7px;
    }
}

.breadcrumbs__item:last-of-type {
    opacity: 0.5;
}
</style>
