<template>
    <div class="dropdown"
         :class="{dropdown_open: d_open}"
         @mouseleave="handleMouseLeave"
         @mouseenter.capture="handleMouseEnter"
    >
        <div class="dropdown__toggle"
             @touchstart.prevent="handleClick"
             @click="handleClick"
             @contextmenu.prevent="handleContextMenu"
        >
            <slot />
        </div>
        <transition name="dropdown">
            <div v-if="d_open"
                 ref="body"
                 class="dropdown__body"
                 :style="{width: width, ...d_position}"
            >
                <slot name="body"
                      :toggle="toggle"
                />
            </div>
        </transition>
    </div>
</template>

<script>

export default {
    name: "Dropdown",
    components: {},
    props: {
        width: { default: "auto" },
        hoverOpen: { default: false },
        contextMenu: { default: false },
        disabled: { default: false },
    },
    data() {
        return {
            d_open: false,
            d_position: null,
            d_timer: null,
        };
    },
    methods: {
        handleClick() {
            if (!this.disabled && !this.contextMenu) {
                this.toggle();
            }
        },
        handleContextMenu() {
            if (!this.disabled && this.contextMenu) {
                this.toggle();
            }
        },
        toggle(val) {
            this.d_open = val !== undefined ? val : !this.d_open;

            this.$emit("toggle", this.d_open, this.$el);

            if (!this.d_open) { this.$emit("close"); } else {
                this.updatePosition();
                this.$emit("open");
            }

            setTimeout(() => {
                if (this.d_open) { document.body.addEventListener("click", this.handleBodyClick); } else { document.body.removeEventListener("click", this.handleBodyClick); }
            }, 50);
        },
        handleBodyClick(event) {
            if (!event.path.includes(this.$el)) { this.toggle(false); }
        },
        updatePosition() {
            this.$nextTick(() => {
                const clientWidth = document.body.clientWidth;
                const el = this.$refs.body;
                const rect = el.getBoundingClientRect();
                const parentRect = el.offsetParent.getBoundingClientRect();

                const posX = (parentRect.x + rect.width);
                const left = posX < clientWidth ? 0 : (clientWidth - posX + "px");
                const toTop = (parentRect.y + parentRect.height + rect.height) < window.innerHeight;

                this.d_position = {
                    top: toTop ? "100%" : "auto",
                    bottom: toTop ? "auto" : "100%",
                    left,
                };
            });
        },
        handleMouseEnter(event) {
            if (this.hoverOpen) {
                clearTimeout(this.d_timer);
                this.toggle(true);
            }
        },
        handleMouseLeave() {
            if (this.hoverOpen) {
                this.d_timer = setTimeout(() => {
                    this.toggle(false);
                }, 500);
            }
        },
    },
};
</script>

<style scoped lang="scss">
.dropdown {
    display: inline-block;
    position: relative;
    text-align: left;
}

.dropdown__body {
    flex-direction: column;
    position: absolute;
    z-index: 2;
    max-height: 400px;
    overflow-y: auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 11px 20px -10px #0000006b;
    margin-top: 10px;
    color: $dark;
}

.dropdown__body::v-deep > ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

    [role="button"] {
        padding: 7px 15px;
        line-height: 1.2;
        display: block;
        color: $dark;
        cursor: pointer;

        &:hover {
            color: $dark;
            background: #f2f2f2;
            text-decoration: none;
        }
    }
}

.dropdown_open {
    z-index: 11;
}

.dropdown-enter-active, .dropdown-leave-active {
    transition: opacity .3s, transform .3s;
    pointer-events: none;
}

.dropdown-enter, .dropdown-leave-to {
    opacity: 0;
    transform: translateY(-15px);
}
</style>
