<template>
    <div class="loading">
        <div class="lds-ring"
             :style="c_sizeCss"
        >
            <div :style="{borderWidth: size/8 + 'px'}" />
            <div :style="{borderWidth: size/8 + 'px'}" />
            <div :style="{borderWidth: size/8 + 'px'}" />
            <div :style="{borderWidth: size/8 + 'px'}" />
        </div>
        <div class="loading__label">
            <slot />
        </div>
    </div>
</template>

<script>
export default {
    name: "LoadingComponent",
    props: { size: { default: 40 }, color: { default: "secondary" } },
    computed: {
        c_color() {
            const colorMap = {
                primary: "#0497BA",
                secondary: "#FFD00C",
                light: "#D1E9EA",
            };
            return colorMap[this.color];
        },
        c_sizeCss() {
            return {
                width: this.size + "px",
                height: this.size + "px",
                borderWidth: this.size / 8 + "px",
                borderColor: this.c_color + " transparent transparent transparent",
            };
        },
    },
};
</script>

<style scoped lang="scss">
    .loading {
        display: inline-flex;
        align-items: center;
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 32px;
        height: 32px;
        vertical-align: top;
    }

    //noinspection CssReplaceWithShorthandSafely
    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 8px solid;
        border-color: inherit;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .loading__label:not(:empty) {
        margin-left: 7px;
    }
</style>
