<template>
    <v-intersection-observer v-if="d_canFetchMore"
                             @observe="handleObserve"
    />
</template>
<script>

import VIntersectionObserver from "@/components/common/VIntersectionObserver";

export default {
    name: "LoadMoreObserver",
    components: { VIntersectionObserver },
    props: ["fetch", "value", "chunk"],
    data() {
        return {
            d_canFetchMore: true,
            d_fetching: false,
            d_items: [],
        };
    },
    methods: {
        async handleObserve() {
            if (this.d_fetching) { return; }
            this.$emit("fetch");
            this.d_fetching = true;
            const res = await this.fetch();
            this.d_items.push(...res);
            this.d_canFetchMore = res.length === this.chunk;
            this.$nextTick(() => {
                this.d_fetching = false;
                this.$emit("fetched");
            });
            this.$emit("input", this.d_items);
        },
        reset() {
            this.d_fetching = false;
            this.d_canFetchMore = true;
            this.d_items = [];
            this.$emit("input", this.d_items);
        },
    },
};
</script>

<style scoped>

</style>
