<template>
    <transition name="modal"
                @after-leave="handleAfterLeave"
    >
        <div v-if="d_show"
             class="modal-mask"
        >
            <div class="modal-wrapper"
                 @mousedown.self="close"
            >
                <div class="modal-container"
                     :style="[sizeStyle]"
                >
                    <button v-if="closable"
                            class="modal__close-button"
                            type="button"
                            @click="close"
                    >
                        &times;
                    </button>
                    <div class="modal-body"
                         :style="{overflow: overflow}"
                    >
                        <slot />
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>

export default {
    name: "ModalComponent",
    props: {
        width: {
            default: "auto",
        },
        height: {
            default: "auto",
        },
        closable: {
            default: true,
        },
        overflow: {
            default: "auto",
        },
    },
    data() {
        return {
            d_show: false,
        };
    },
    computed: {
        sizeStyle() {
            return {
                width: this.width,
                height: this.height,
            };
        },
    },
    mounted() {
        document.body.appendChild(this.$el);
        const scrollBarWidth = window.innerWidth - document.documentElement.clientWidth;
        document.body.style.paddingRight = scrollBarWidth + "px";
        document.documentElement.classList.toggle("modal-opened", true);
        this.d_show = true;
        this.$emit("open");
    },
    destroyed() {
        if (this.$el.parentElement) {
            this.$el.parentElement.removeChild(this.$el);
        }
        if (!document.getElementsByClassName("modal-mask").length) {
            document.documentElement.classList.toggle("modal-opened", false);
            document.body.style.paddingRight = "0";
        }
    },
    methods: {
        handleAfterLeave() {
            if (!document.getElementsByClassName("modal-mask").length) {
                document.documentElement.classList.toggle("modal-opened", false);
                document.body.style.paddingRight = "0";
            }
            this.$emit("close");
        },
        close() {
            if (this.closable) {
                this.d_show = false;
            }
        },
    },
};
</script>

<style lang="scss">
.modal-opened {
    overflow-y: hidden;

    .sticky-menu__content {
        padding-right: 14px;
    }
}
</style>

<style scoped lang="scss">
.modal-mask {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 24, 24, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.modal-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-height: 90%;
    min-width: 300px;
    position: relative;
    margin: 0 auto;
    background-color: $primary;
    border-radius: 10px;
    max-width: 95%;
    color: white;

    @include media-breakpoint-down(md) {
        border-radius: 0;
        width: 100% !important;
        height: 100% !important;
        max-height: 100%;
        max-width: 100%;
    }
}

.modal-header {
    margin-top: 0;
    color: #000000;
}

.modal-body {
    padding: 25px;
    height: 100%;
    overflow: auto;

    @include styled-scroll;

    @include media-breakpoint-down(md) {
        padding: 15px;
        overflow: auto!important;
    }
}

.modal__close-button {
    position: absolute;
    outline: none;
    font-weight: 100;
    cursor: pointer;
    line-height: 18px;
    border-radius: 50%;
    padding: 0;
    width: 30px;
    height: 30px;
    transform: translate(50%, -50%);
    right: 15px;
    top: 15px;
    opacity: 1;
    transition: all .15s ease-in;
    flex-shrink: 0;
    background: none;
    border: none;
    font-size: 30px;
    color: #ff8a8a;

    &:hover {
        transform: translate(50%, -50%) scale(1.1);
        color: $danger;
    }

    @include media-breakpoint-down(md) {
        transform: none;
        z-index: 1;
        top: 10px;
        right: 10px;

        &:hover {
            transform: scale(1.3);
        }
    }
}

.modal-enter-active, .modal-leave-active {
    transition: opacity .3s;

    .modal-container {
        transition: transform .3s cubic-bezier(0.46, 0.39, 0.2, 3.29)
    }
}

.modal-enter, .modal-leave-to {
    opacity: 0;

    .modal-container {
        transform: scale(1.1);
    }
}
</style>
