<template>
    <div class="page-header">
        <div>
            <h1 class="h3">
                <slot />
            </h1>
            <h2 v-if="$slots.subTitle"
                class="h5 text-muted"
            >
                <slot name="subTitle" />
            </h2>
        </div>
        <div v-if="this.$slots.actions"
             class="page-header__actions"
        >
            <slot name="actions" />
        </div>
    </div>
</template>

<script>
export default {
    name: "PageHeader",
};
</script>

<style lang="scss">
.page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    @include media-breakpoint-down(md) {
        flex-direction: column;
    }

    h1 {
        margin-bottom: 0;
    }
}

.page-header__actions {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    align-self: center;

    @include media-breakpoint-down(md) {
        margin-top: 15px;
        grid-auto-flow: row;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;

        .button {
            width: 100%;
        }
    }
}
</style>
