<template>
    <modal-component width="450px"
                     @close="$emit('close')"
    >
        <transition-collapse>
            <form v-if="d_step === 0"
                  @submit.prevent="submitEmail"
            >
                <h4>Восстановление пароля</h4>
                <v-input v-model="d_email"
                         class="mb-3"
                         label="E-Mail"
                />
                <v-checkbox v-model="d_isTeacher"
                            class="mb-3"
                            label="Я преподаватель"
                />
                <form-errors v-if="d_error"
                             class="mb-3"
                             :errors="d_error"
                />
                <v-button schema="secondary"
                          type="submit"
                          :loading="d_loading"
                >
                    Отправить код для восстановления
                </v-button>
            </form>
        </transition-collapse>
        <transition-collapse>
            <form v-if="d_step === 1"
                  @submit.prevent="submitCode"
            >
                <h4>Восстановление пароля</h4>
                <v-input v-model="d_code"
                         class="mb-3"
                         label="Код из письма"
                />
                <v-input v-model="d_password"
                         class="mb-3"
                         type="password"
                         label="Пароль"
                />
                <v-input v-model="d_passwordConfirmation"
                         class="mb-3"
                         type="password"
                         label="Еще раз пароль"
                />
                <form-errors v-if="d_error"
                             class="mb-3"
                             :errors="d_error"
                />
                <v-button schema="secondary"
                          type="submit"
                          :loading="d_loading"
                >
                    Изменить пароль
                </v-button>
            </form>
        </transition-collapse>
        <transition-collapse>
            <div v-if="d_step === 2">
                <h4 class="text-secondary">
                    Новый пароль установлен
                </h4>
                <p>Теперь вы можете авторизоваться на сайте, используя новый пароль.</p>
            </div>
        </transition-collapse>
    </modal-component>
</template>

<script>
import ModalComponent from "@/components/common/ModalComponent";
import VInput from "@/components/common/form/VInput";
import VButton from "@/components/common/form/button/VButton";
import TransitionCollapse from "@/components/common/transitions/TransitionCollapse";
import FormErrors from "@/components/common/form/FormErrors";
import VCheckbox from "@/components/common/form/checkbox/VCheckbox";

export default {
    name: "PasswordResetModal",
    components: {
        VCheckbox,
        FormErrors,
        TransitionCollapse,
        VButton,
        VInput,
        ModalComponent,
    },
    data() {
        return {
            d_step: 0,
            d_isTeacher: false,
            d_email: null,
            d_error: null,
            d_loading: false,
            d_token: null,
            d_code: null,
            d_password: null,
            d_passwordConfirmation: null,
            d_success: null,
        };
    },
    methods: {
        async submitEmail() {
            if (this.d_loading) {
                return;
            }
            this.d_error = null;
            this.d_loading = true;
            try {
                this.d_token = await this.$api.auth.sendResetPasswordCode({
                    email: this.d_email,
                    type: this.d_isTeacher ? "teacher" : "student",
                });
                this.d_step = 1;
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_codeSent = true;
            this.d_loading = false;
        },
        async submitCode() {
            if (this.d_loading) {
                return;
            }
            this.d_error = null;
            this.d_loading = true;
            try {
                await this.$api.auth.resetPassword({
                    token: this.d_token,
                    code: this.d_code,
                    password: this.d_password,
                    passwordConfirmation: this.d_passwordConfirmation,
                });
                this.d_step = 2;
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped>

</style>
