<template>
    <div class="card">
        <slot />
    </div>
</template>

<script>
export default {
    name: "VCard",
};
</script>

<style lang="scss">
.card {
    background: white;
    box-shadow: $card-shadow;
    padding: 15px;
    border-radius: 7px;
    border: 1px solid lighten($primary, 50%);
    color: $dark;
}
</style>
