<template>
    <div class="collapse">
        <button class="collapse__btn"
                :class="[active ? 'collapse_open' : '' ]"
                @click="active = !active"
        >
            <span class="collapse__icon" />
            <slot />
        </button>
        <transition-collapse>
            <div v-if="active"
                 class="collapse__content"
            >
                <slot name="body" />
            </div>
        </transition-collapse>
    </div>
</template>

<script>
import TransitionCollapse from "@/components/common/transitions/TransitionCollapse";

export default {
    name: "Collapse",
    components: { TransitionCollapse },
    data() {
        return {
            active: false,
        };
    },
    methods: {
        handleClick() {

        },
    },
};
</script>

<style scoped lang="scss">
.collapse__btn {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    background: transparent;
    border: 0;
    color: $light;
    text-align: left;
    outline: none;
}

.collapse__content {
    color: $secondary;
    margin-left: 34px;
    margin-bottom: 16px;
}

.collapse_open {
    .collapse__icon {
        &:before {
            width: 13px;
            height: 2px;
        }
    }
}

.collapse__icon {
    display: block;
    min-width: 24px;
    margin-right: 8px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid $light;
    position: relative;

    &:before, &:after {
        content: '';
        position: absolute;
        background: $light;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:before {
        width: 2px;
        height: 13px;
        transition: width .3s, height .3s;
    }

    &:after {
        width: 13px;
        height: 2px;
    }
}

</style>
