<template>
    <div class="line-pick">
        <div v-for="(point, idx) in c_pointsLength"
             :key="idx"
             class="line-pick__point"
             :class="getClassForPoint(idx)"
             @click="$emit('input', idx)"
        >
            <div class="line-pick__point-top">
                {{ top.length >= point ? top[idx] : "" }}
            </div>
            <div class="line-pick__point-circle" />
            <div class="line-pick__point-bottom">
                {{ bottom.length >= point ? bottom[idx] : "" }}
            </div>
            <div class="line-pick__point-track" />
        </div>
    </div>
</template>

<script>
export default {
    name: "VLinePick",
    props: {
        top: {
            default() {
                return [];
            },
        },
        bottom: {
            default() {
                return [];
            },
        },
        value: {
            default: 0,
        },
    },
    computed: {
        c_pointsLength() {
            return this.top.length;
        },
    },
    methods: {
        getClassForPoint(idx) {
            return {
                "line-pick__point_active": idx <= this.value,
                "line-pick__point_current": idx === this.value,
            };
        },
    },
};
</script>

<style scoped lang="scss">
.line-pick {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    font-size: 14px;
}

.line-pick__point {
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: color .2s ease-in;

    &:hover {
        color: $secondary;

        .line-pick__point-circle {
            color: darken($secondary, 5%);
        }
    }
}

.line-pick__point_active {
    color: $secondary;

    .line-pick__point-track {
        background: $secondary;
    }
}

.line-pick__point_current {
    .line-pick__point-circle {
        //color: darken($secondary, 10%);
        transform: scale(1.3);
    }
}

.line-pick__point:first-of-type {
    color: $secondary;

    .line-pick__point-track {
        background: $secondary;
    }

    .line-pick__point-track {
        //left: 50%;
        //width: 50%;
        border-radius: 50px 0 0 50px;
    }
}

.line-pick__point:last-of-type {
    .line-pick__point-track {
        //width: 50%;
        border-radius: 0 50px 50px 0;
    }

    .line-pick__point-circle {
        box-shadow: $card-shadow;
    }
}

.line-pick__point-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: currentColor;
    margin: 5px auto;
    z-index: 1;
    position: relative;
    transition: transform .5s cubic-bezier(0.46, 0.39, 0.2, 3.29);
}

.line-pick__point-track {
    background: white;
    height: 10px;
    width: 100%;
    left: -50%;
    position: absolute;
    pointer-events: none;
    bottom: 0;
    top: 0;
    margin: auto;
    box-shadow: $card-shadow;
}
</style>
