<template>
    <div class="message"
         :class="c_class"
    >
        <slot />
    </div>
</template>

<script>
export default {
    name: "VMessage",
    props: {
        schema: {
            default: null,
        },
    },
    computed: {
        c_class() {
            return this.schema ? "message_" + this.schema : null;
        },
    },
};
</script>

<style scoped lang="scss">
.message {
    box-shadow: $card-shadow;
    color: $dark;
    font-size: 14px;
    border-radius: 7px;
    padding: 15px;
    background: white;
    border: 1px solid #e7e7e7;
}

.message_primary {
    background: $primary;
    color: white;
    border: none;
}

.message_secondary {
    background: $secondary;
    color: $dark;
    border: none;
}
</style>
