<template>
    <div class="timer"
         :style="c_timerStyle"
    >
        <svg class="timer__svg"
             xmlns="http://www.w3.org/2000/svg"
        >
            <circle :r="radius - 4"
                    :cx="radius"
                    :cy="radius"
                    fill="transparent"
                    :stroke-dasharray="c_strokeDashArray"
                    stroke-dashoffset="0"
            />
            <circle ref="circle"
                    class="timer__bar"
                    :r="radius - 4"
                    :cx="radius"
                    :cy="radius"
                    fill="transparent"
                    :stroke-dasharray="c_strokeDashArray"
                    stroke-dashoffset="0"
                    :style="c_barStyle"
            />
        </svg>
    </div>
</template>

<script>
export default {
    name: "VTimer",
    props: {
        time: {
            default: 0,
        },
        radius: {
            default: 90,
        },
    },
    data() {
        return {
            d_timePass: 0,
            d_timer: null,
        };
    },
    computed: {
        c_percent() {
            return ((this.time * 1000 - this.d_timePass) / (this.time * 1000)) * 100;
        },
        c_barStyle() {
            const r = this.radius - 4;
            const c = Math.PI * (r * 2);

            // if (this.value < 0) { this.value = 0;}
            // if (this.value > 100) { this.value = 100;}

            const pct = ((100 - this.c_percent) / 100) * c;

            return {
                strokeDashoffset: pct,
                strokeWidth: this.radius / 3 + "px",
            };
        },
        c_timerStyle() {
            return {
                width: 2 * this.radius + "px",
                height: 2 * this.radius + "px",
            };
        },
        c_strokeDashArray() {
            return (this.radius - 4) * 2 * Math.PI;
        },
    },
    watch: {
        d_timePass(val) {
            if (val >= this.time * 1000) {
                clearInterval(this.d_timer);
                this.$emit("finish");
            }
        },
    },
    mounted() {
        this.d_timer = setInterval(this.tick, 100);
    },
    destroyed() {
        clearInterval(this.d_timer);
    },
    methods: {
        tick() {
            this.d_timePass += 100;
        },
    },
};
</script>

<style scoped lang="scss">
.timer__svg {
    width: 100%;
    height: 100%;
}

.timer__svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.1s linear;
    stroke: #666;
}

.timer__bar {
    stroke: #FF9F1E !important;
}
</style>
