.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('/images/background-light.png');
  background-size: cover;
}

.auth-page__form {
  width: 500px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 71, 88, 0.19);
  border-radius: 15px;
  box-shadow: $card-shadow;

  @include media-breakpoint-down(md) {
    padding: 15px;
    border-radius: 0;
    height: 100%;
  }
}

.auth-page__icon {
  width: 190px;
  height: 190px;
  font-size: 90px;
  margin: auto;
}

.auth-page__social-auth {
  display: flex;
  justify-content: center;
}
