.sidebar {
  position: relative;
  z-index: 100;
  transition: left 0.5s ease;
  box-shadow: inset -10px 0px 30px -1px #0000001f;

  @include media-breakpoint-up(lg) {
    background: #f9f9f9e3;
    background-size: auto 40%;
    height: 100%;
    position: fixed;
    width: 300px;
  }

  &.sidebar_teacher {
    background: linear-gradient(90deg, #f9f9f9eb 0%, #f9f9f9eb 100%), url(/images/sidebar-bg.png) no-repeat bottom left, #f9f9f9;
  }

  &.sidebar_admin {
    @include media-breakpoint-up(lg) {
      background: $dark;
      color: white;

      .sidebar__link {
        color: white;

        &:hover {
          background: none;
        }

        &.nuxt-link-exact-active {
          background: $dark !important;
          color: $secondary;
        }
      }
    }
  }
}

.sidebar__help {
  position: absolute !important;
  bottom: 15px;
  left: 15px;
  width: calc(100% - 30px);
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

@include media-breakpoint-down(md) {
  .sidebar_active .sidebar__list {
    transform: translateX(0);
    opacity: 1;
    box-shadow: 10px 0 0 10000px #00000099;
  }
}

.sidebar__header {
  text-align: center;
  padding: 15px;
  position: relative;

  @include media-breakpoint-down(md) {
    position: fixed;
    top: 0;
    background: $dark;
    color: white;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    z-index: 4;
    height: 65px;
    left: 0;
  }
}

.sidebar__settings {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 50%;
  transition: all 0.15s ease-in;
  width: 24px;
  height: 24px;
  font-size: 24px;

  &:hover {
    opacity: 1;
    transform: rotate(-90deg);
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.sidebar__avatar {
  margin: auto auto 10px;
  width: 100px;
  height: 100px;
  transition: transform .15s ease-in;

  &:hover {
    transform: scale(1.1);
  }

  @include media-breakpoint-down(md) {
    display: none;
    width: 50px !important;
    height: 50px !important;
    font-size: 24px;
    border: none;
    margin: 0 15px 0 0;
  }
}

.sidebar__user {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 15px;
  text-align: left;

  @include media-breakpoint-down(md) {
    .brains__val {
      color: white;
    }
  }
}

.sidebar__username {
  font-weight: 500;
}

.sidebar__role {
  font-size: 14px;
  color: $primary;
  line-height: 16px;

  @include media-breakpoint-down(md) {
    color: $secondary;
  }
}

.sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @include media-breakpoint-down(md) {
    position: fixed;
    height: 100%;
    width: 300px;
    padding-top: 65px;
    background: #f9f9f9;
    background-size: auto 40%;
    transform: translateX(-300px);
    opacity: 0;
    transition: all .3s ease-in;
    z-index: 3;
    top: 0;
    left: 0;
  }
}

.sidebar__link {
  padding: 6px 15px;
  display: grid;
  grid-template-columns: 24px auto;
  grid-gap: 15px;
  color: $dark;
  transition: background 0.3s;

  &:hover {
    text-decoration: none;
    background: #ffffff;
    color: lighten($dark, 5%);

    .sidebar__link-icon {
      opacity: 1;
    }
  }

  &.nuxt-link-exact-active {
    background: $secondary !important;

    .sidebar__link-icon {
      opacity: 1;
    }
  }
}

.sidebar__link-icon {
  font-size: 24px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.sidebar__burger {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: auto;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.sidebar__burger-btn {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  height: 2px;
  background: $light;
  transition: background 0.1s ease;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: $light;
    transition: top 0.3s ease, transform 0.3s ease;
  }

  &::before {
    top: -12px;
  }

  &::after {
    top: 12px;
  }
}

.sidebar__burger-btn_active {
  background: none;

  &::before {
    top: 0;
    transform: rotate(45deg);
  }

  &::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
