.stage-table {
  border-radius: 5px;
  width: 100%;
  page-break-inside: avoid;
  --border-color: rgba(0, 0, 0, 0.3);

  @include media-breakpoint-down(md) {
    font-size: 12px;
    overflow: auto;
    display: block;

    .input__label {
      padding: 0;
    }

    .input__input {
      margin: 0;
      border-bottom: none;
    }
  }

  @media print {
    --border-color: black;
    .input {
      display: none;
    }
  }
}

.stage-table + .stage-table {
  margin-top: 30px;

  @media print {
    margin-top: 15px;
  }
}

.stage-table__row_answer {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  .stage-table__td {
    background: $primary !important;

    @media print {
      padding: 5px;
      border-color: var(--border-color);
    }
  }
}

.stage-table__td {
  background: white;
  padding: 10px;
  text-align: center;
  width: max-content;
  border-right: 1px solid var(--border-color);
  font-family: Leto Text Sans Defect, cursive;
  font-size: 18px;

  @include media-breakpoint-down(md) {
    padding: 3px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }

  @media print {
    padding: 2px 3px;
  }

  &:nth-child(even) {
    background: #dadada;
  }
}

.stage-table__td_service {
  background: $primary !important;
  color: white;
  width: auto;
  border: 1px solid var(--border-color);
  font-weight: bold;
  font-family: $base-font-family;
}

.stage-table__td_answer {
  background: $primary !important;
  border: 1px solid var(--border-color);
  color: white;
}


.stage-table__row_border {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
