body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    background: $light;
    background-size: cover;
    color: $dark;
    backface-visibility: hidden;
    position: relative;
}

html, body {
    min-height: 100vh;
    scroll-behavior: smooth;
}
