.table {
  width: 100%;
  border-radius: 7px;
  display: grid;
  grid-gap: 7px;

  td, .table__cell {
    padding: 15px;
  }

  .table__row:not(tr), .table__head:not(tr) {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    border-radius: 7px;
    align-items: center;
  }

  tr, .table__row {
    background: white;

    &:nth-child(even) {
      background: #F0F0F0;
    }
  }

  thead, .table__head {
    background: $dark;
    color: white;
    overflow: hidden;
  }

  .table__md-label {
    font-weight: bold;
    margin-right: 5px;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .table__lg-label {
    font-weight: bold;
    margin-right: 5px;

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  .table__actions {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: flex-end;
  }
}

.table.table_md {
  @include media-breakpoint-down(md) {
    .table__cell {
      padding: 0 15px;
    }

    .table__head {
      display: none !important;
    }

    .table__row {
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      grid-gap: 4px;
      padding: 15px 0;
    }

    .table__actions {
      font-size: 24px;
      grid-gap: 10px;
    }
  }
}


.table.table_lg {
  @include media-breakpoint-down(lg) {
    .table__cell {
      padding: 0 15px;
    }

    .table__head {
      display: none !important;
    }

    .table__row {
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      grid-gap: 4px;
      padding: 15px 0;
    }

    .table__actions {
      font-size: 24px;
      grid-gap: 10px;
    }
  }
}
