<template>
    <div>
        <form class="auth-form"
              @submit.prevent="login"
        >
            <v-input v-model="d_user.username"
                     class="mb-4"
                     label="Логин"
            />
            <v-input v-model="d_user.password"
                     class="mb-3"
                     label="Пароль"
                     type="password"
            />
            <v-checkbox v-model="d_isTeacher"
                        class="text-dark mb-3"
                        label="Я преподаватель"
            />
            <form-errors class="mb-3 text-danger"
                         :errors="d_error"
            />
            <div class="d-flex align-items-center mb-4">
                <v-button schema="secondary"
                          class="w-100 mr-3"
                          :loading="d_loading"
                          type="submit"
                >
                    Войти
                </v-button>
                <span role="button"
                      class="text-nowrap small text-dark"
                      @click="d_resetPassword = true"
                >Забыли пароль?
                </span>
            </div>
            <div class="auth-form__reg-buttons">
                <v-button class="px-3"
                          @click.native="d_showRegModal = true"
                >
                    Зарегистрироваться
                </v-button>
                <social-auth />
            </div>
        </form>
        <v-modal-registration v-if="d_showRegModal"
                              @close="d_showRegModal = null"
        />
        <password-reset-modal v-if="d_resetPassword"
                              @close="d_resetPassword = false"
        />
    </div>
</template>

<script>
import VButton from "@/components/common/form/button/VButton";
import VInput from "@/components/common/form/VInput";
import FormErrors from "@/components/common/form/FormErrors";
import VModalRegistration from "@/components/common/auth-form/VModalRegistration";
import PasswordResetModal from "@/components/common/PasswordResetModal";
import SocialAuth from "@/components/common/form/auth/SocialAuth";
import VCheckbox from "@/components/common/form/checkbox/VCheckbox";

export default {
    name: "AuthForm",
    components: {
        PasswordResetModal,
        VButton,
        VInput,
        FormErrors,
        VModalRegistration,
        SocialAuth,
        VCheckbox,
    },
    data() {
        return {
            d_user: {
                username: null,
                password: null,
            },
            d_isTeacher: false,
            d_error: null,
            d_resetPassword: null,
            d_loading: false,
            d_showRegModal: null,
        };
    },
    methods: {
        async login() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_error = null;
            try {
                await this.$store.dispatch("auth/login", {
                    ...this.d_user,
                    type: this.d_isTeacher ? "teacher" : "student",
                });
                await this.$router.push(this.$store.getters["auth/home"]);
                // if (this.d_isTeacher) {
                //     await this.$store.dispatch("initTeacher");
                //     await this.$store.dispatch("auth/init");
                // } else {
                //     await this.$store.dispatch("initStudent");
                //     await this.$store.dispatch("auth/init");
                //     await this.$router.push("/student");
                // }
            } catch (err) {
                this.d_error = err.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped lang="scss">
.auth-form {
    @include media-breakpoint-up(md) {
        border-radius: 25px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
    }
}

.auth-form__reg-buttons {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
        button {
            font-size: 13px;
        }
    }
}
</style>
