<template>
    <modal-component width="600px"
                     @close="$emit('close')"
    >
        <h3>Регистрация учителя</h3>
        <form @submit.prevent="registration">
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <v-input v-model="d_user.first_name"
                             label="Имя"
                    />
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <v-input v-model="d_user.lastName"
                             label="Фамилия"
                    />
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <v-input v-model="d_user.email"
                             label="Email"
                    />
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <v-input v-model="d_user.city"
                             label="Город"
                    />
                </div>

                <div class="col-12 col-md-6 mb-3">
                    <v-input v-model="d_user.password"
                             label="Пароль"
                             type="password"
                    />
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <v-input v-model="d_user.passwordConfirmation"
                             label="Подтвердите пароль"
                             type="password"
                    />
                </div>
            </div>
            <form-errors v-if="d_error"
                         class="mb-3 text-secondary"
                         :errors="d_error"
            />
            <hr class="splitter">
            <div class="row mt-3">
                <!-- <div class="col-12 col-md-6 mt-3">
                    <v-checkbox label="Согласен с условиями Пользовательского соглашения"
                                v-model="d_agree" />
                </div> -->
                <div class="col-12 text-center">
                    <v-button class="w-100 mt-3"
                              schema="secondary"
                              :loading="d_loading"
                              type="submit"
                    >
                        Зарегистрироваться
                    </v-button>
                </div>
            </div>
        </form>
    </modal-component>
</template>

<script>
import ModalComponent from "@/components/common/ModalComponent";
import VInput from "@/components/common/form/VInput";
import VButton from "@/components/common/form/button/VButton";
import FormErrors from "@/components/common/form/FormErrors";

export default {
    name: "VModalRegistrationTeacher",
    components: {
        ModalComponent,
        VInput,
        VButton,
        FormErrors,
    },
    data() {
        return {
            d_user: {
                first_name: null,
                lastName: null,
                email: null,
                city: null,

                password: null,
                passwordConfirmation: null,
            },
            d_agree: false,
            d_error: null,
            d_loading: false,
        };
    },
    methods: {
        async registration() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_error = null;

            try {
                await this.$store.dispatch("auth/register", {
                    ...this.d_user,
                    type: "teacher",
                });
                await this.$router.push("/teacher");
            } catch (e) {
                console.log(e);
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style lang="scss" scoped>
.splitter {
    border: 1px solid rgba(15, 40, 94, 0.18);
}
</style>
