<template>
    <modal-component v-if="d_activeModal === 'select'"
                     @close="$emit('close')"
    >
        <h2 class="text-center">
            Кто вы?
        </h2>
        <div class="registration-modal__form">
            <v-button schema="light"
                      @click.native="d_activeModal = 'teacher'"
            >
                <img class="registration-modal__type-img"
                     src="/images/teacher.svg"
                     alt="teacher"
                >
                <div>Я учитель</div>
            </v-button>
            <v-button schema="light"
                      @click.native="d_activeModal = 'student'"
            >
                <img class="registration-modal__type-img"
                     src="/images/student.svg"
                     alt="teacher"
                >
                <div>Я ученик</div>
            </v-button>
        </div>
    </modal-component>
    <v-modal-registration-student v-else-if="d_activeModal === 'student'"
                                  @close="$emit('close')"
    />
    <v-modal-registration-teacher v-else-if="d_activeModal === 'teacher'"
                                  @close="$emit('close')"
    />
</template>

<script>
import ModalComponent from "@/components/common/ModalComponent";
import VModalRegistrationStudent from "@/components/common/auth-form/VModalRegistrationStudent";
import VModalRegistrationTeacher from "@/components/common/auth-form/VModalRegistrationTeacher";
import VButton from "@/components/common/form/button/VButton";

export default {
    components: {
        VButton,
        ModalComponent,
        VModalRegistrationStudent,
        VModalRegistrationTeacher,
    },
    data() {
        return {
            d_activeModal: "select",
        };
    },
};
</script>

<style lang="scss" scoped>
.registration-modal__form{
    display: grid;
    grid-template-columns: repeat(2, 260px);
    grid-gap: 30px;

    @include media-breakpoint-down(md) {
        grid-template-columns: auto;
    }
}

.registration-modal__type-img {
    height: 250px;
    margin-bottom: 15px;

    @include media-breakpoint-down(md) {
        height: 160px;
    }
}
</style>
