<template>
    <div class="teacher-card"
         :class="c_class"
    >
        <avatar class="teacher-card__avatar"
                :image="c_image"
        />
        <div>
            <div class="teacher-card__role">
                Преподаватель
            </div>
            <div class="teacher-card__username">
                {{ teacher.firstName }} {{ teacher.lastName }}
            </div>
            <div class="teacher-card__attrs small">
                <div>
                    <b>Зарегистрирован:</b> {{ formatFromNow(teacher.createdAt) }}
                </div>
                <div v-if="teacher.birthday">
                    <b>Дата рождения:</b> {{ formatDateTime(teacher.birthday) }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import Avatar from "~/components/common/Avatar";

export default {
    name: "TeacherCard",
    components: {
        Avatar,
    },
    mixins: [dateMixins],
    props: {
        teacher: {
            default() {
                return null;
            },
        },
        mini: {
            default: false,
        },
    },
    computed: {
        c_image() {
            return this.teacher.image && this.teacher.image.url;
        },
        c_class() {
            const res = [];
            if (this.mini) {
                res.push("teacher-card_mini");
            }
            return res.join(" ");
        },
    },
    methods: {},
};
</script>

<style scoped lang="scss">
.teacher-card {
    box-shadow: $card-shadow;
    padding: 15px;
    background: white;
    border-radius: 7px;
    border: 1px solid lighten($primary, 50%);
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    grid-template-columns: min-content auto;
    align-items: center;
    width: 500px;
    max-width: 100%;
    color: $dark;

    @include media-breakpoint-down(md) {
        grid-gap: 15px;
        padding: 10px;
    }

    b {
        font-weight: 500;
    }
}

.teacher-card_mini {
    box-shadow: none;
    border: none;
}

.teacher-card__role {
    font: $small-font;
    color: gray;
    margin-bottom: 5px;
}

.teacher-card__username {
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 800;
}

.teacher-card__avatar {
    width: 150px;
    height: 150px;

    @include media-breakpoint-down(md) {
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
}

.teacher-card__details {
    margin-top: 15px;
    display: inline-block;
}
</style>
