<template>
    <modal-component width="600px"
                     @close="$emit('close')"
    >
        <div>
            <h3 class="text-secondary">
                Подробности аттестации
            </h3>
            <div>
                Пользователь: {{ attestation.user.fullName }} ({{ attestation.user.accountType }})
            </div>
            <div>
                Дата создания: {{ formatDateTime(attestation.createdAt) }}
            </div>
            <div>
                Уровень: {{ formatAttestationLevel(attestation.level) }} ({{ formatAttestationType(attestation.type) }})
            </div>

            <loading-component v-if="$fetchState.pending">
                Загрузка этапов
            </loading-component>
            <div v-else>
                <div v-for="stage in d_attestation.stages"
                     :key="stage.type"
                >
                    <b>{{ formatAttestationStageType(stage.type) }}</b>:
                    <template v-if="stage.finishedAt">
                        {{ stage.score }} баллов
                    </template>
                    <template v-else>
                        Не завершено
                    </template>
                    <small class="link text-secondary"
                           role="button"
                           @click="d_showStageDetails = stage"
                    >(Подробнее)</small>
                </div>
            </div>
        </div>

        <attestation-stage-details v-if="d_showStageDetails"
                                   :stage="d_showStageDetails"
                                   @close="d_showStageDetails = false"
        />
    </modal-component>
</template>

<script>
import formatAttestationType from "assets/js/filters/formatAttestationType";
import { formatDateTime } from "assets/js/filters/dayjs";
import formatAttestationStageType from "assets/js/filters/formatAttestationStageType";
import formatAttestationLevel from "@/assets/js/filters/formatAttestationLevel";
import ModalComponent from "~/components/common/ModalComponent";
import LoadingComponent from "~/components/common/LoadingComponent";
import AttestationStageDetails from "~/components/common/attestations/AttestationStageDetails";

export default {
    name: "AdminAttestationModal",
    components: { AttestationStageDetails, LoadingComponent, ModalComponent },
    props: {
        attestation: {
            type: Object,
            required: true,
        },
    },
    async fetch() {
        this.d_attestation = await this.$api.attestations.fetchOne(this.attestation.id);
    },
    data() {
        return {
            d_attestation: null,
            d_showStageDetails: null,
        };
    },
    methods: {
        formatAttestationLevel,
        formatAttestationType,
        formatAttestationStageType,
        formatDateTime,
    },
};
</script>

<style scoped>

</style>
