<template>
    <loading-component v-if="$fetchState.pending"
                       class="mt-3"
    />
    <div v-else-if="d_items.length"
         class="table table_md attestations-table"
    >
        <div class="table__row table__head attestations-table__row">
            <div class="table__cell">
                Пользователь
            </div>
            <div class="table__cell">
                Дата начала
            </div>
            <div class="table__cell">
                Уровень
            </div>
            <div class="table__cell">
                Тренировка
            </div>
            <div class="table__cell">
                Результат
            </div>
        </div>
        <div v-for="item in d_items"
             :key="item.id"
             class="table__row attestations-table__row"
             role="button"
             @click="d_showModal = item"
        >
            <div class="table__cell">
                <span class="table__md-label">Пользователь</span>
                <template v-if="item.user">
                    {{ item.user.fullName }} ({{ item.user.accountType }})
                </template>
                <template v-else>
                    Не найден
                </template>
            </div>
            <div class="table__cell">
                <span class="table__md-label">Дата создания</span>{{ formatDateTime(item.createdAt) }}
            </div>
            <div class="table__cell">
                <span class="table__md-label">Уровень</span>{{ formatAttestationLevel(item.level) }} ({{ formatAttestationType(item.type) }})
            </div>
            <div class="table__cell">
                <span class="table__md-label">Тренировка</span>{{ item.isTraining ? "Да" : "Нет" }}
            </div>
            <div class="table__cell">
                <span class="table__md-label">Результат</span>{{
                    item.finishedAt ? (item.stagesSumScore + " баллов") : "Не завершено"
                }}
            </div>
        </div>
        <attestation-modal v-if="d_showModal"
                           :attestation="d_showModal"
                           @close="d_showModal = false"
        />
    </div>
    <p v-else>
        Список аттестаций пуст.
    </p>
</template>

<script>
import LoadingComponent from "@/components/common/LoadingComponent";
import { formatDateTime } from "@/assets/js/filters/dayjs";
import formatAttestationType from "@/assets/js/filters/formatAttestationType";
import formatAttestationLevel from "@/assets/js/filters/formatAttestationLevel";
import AttestationModal from "~/components/admin/attestations/AdminAttestationModal";

export default {
    name: "AdminAttestationsTable",
    components: {
        AttestationModal,
        LoadingComponent,
    },
    async fetch() {
        this.d_items = await this.$api.attestations.fetch();
    },
    data() {
        return {
            d_items: [],
            d_showModal: false,
        };
    },
    methods: {
        formatAttestationLevel,
        formatAttestationType,
        formatDateTime,
        async remove(attestation) {
            await this.$api.attestations.delete(attestation.id);
            this.d_items = this.d_items.filter(i => i.id !== attestation.id);
        },
    },
};
</script>

<style scoped lang="scss">
.attestations-table {
    .attestations-table__row {
        grid-template-columns: auto 170px 170px 250px 150px;

        @include media-breakpoint-down(md) {
            grid-auto-flow: row;
            grid-template-columns: 1fr;
            grid-gap: 0;
            padding: 10px 0;
        }
    }
}
</style>
