<template>
    <component :is="c_detailsComponents"
               :session="session"
               @close="$emit('close')"
    />
</template>

<script>
import DynamicAppPassingDetails from "@/components/common/apps/dynamic-app/DynamicAppPassingDetails";
import MultiplicationAppPassingDetails
from "@/components/common/apps/multiplication-app/MultiplicationAppPassingDetails";
import FlashAppPassingDetails from "@/components/common/apps/flash-app/FlashAppPassingDetails";

export default {
    name: "AppDetailsModal",
    props: {
        session: {
            type: Object,
            required: true,
        },
    },
    computed: {
        c_detailsComponents() {
            switch (this.session.appType) {
            case "static":
            case "dynamic":
                return DynamicAppPassingDetails;
            case "multiplication":
                return MultiplicationAppPassingDetails;
            case "flash":
                return FlashAppPassingDetails;
            default:
                return "div";
            }
        },
    },
};
</script>

<style scoped>

</style>
