<template>
    <div class="app-header">
        <div class="app-header__actions">
            <circle-button v-if="sidebar"
                           @click.native="$emit('sidebar')"
            >
                <i class="icon-menu" />
            </circle-button>
            <circle-button v-if="!session.finished"
                           @click.native="$emit('settings')"
            >
                <i class="icon-settings" />
            </circle-button>
            <circle-button v-if="!session.finished"
                           @click.native="$emit('restart')"
            >
                <i class="icon-repeat" />
            </circle-button>
        </div>
        <div v-if="!session.finished"
             class="app-header__step"
        >
            {{ session.step + 1 }}/{{ session.settings.taskCount }}
        </div>

        <progress-bar v-if="!hideProgress"
                      class="app-header__progress"
                      :value="session.quality.toFixed(0)"
        />
    </div>
</template>

<script>
import ProgressBar from "@/components/common/form/progress-bar/ProgressBar";
import CircleButton from "@/components/common/form/CircleButton";

export default {
    name: "AppHeader",
    components: {
        CircleButton,
        ProgressBar,
    },
    props: ["session", "sidebar", "hideProgress"],
    data() {
        return {};
    },
    computed: {},
    methods: {},
};
</script>

<style lang="scss">
.app-header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-gap: 30px;
    z-index: 2;
}

.app-header__actions {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    justify-content: flex-start;
}

.app-header__step {
    text-align: center;
    line-height: 64px;
    font-weight: bold;
    color: $secondary;
    $shadowColor: rgba(15, 40, 94, 0.3);
    text-shadow: 3px 3px 0 $shadowColor, -1px -1px 0 $shadowColor,
    1px -1px 0 $shadowColor, -1px 1px 0 $shadowColor, 1px 1px 0 $shadowColor;
}

.app-header__sidebar {
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 10px 0 0 10000px #00000099;
    width: 300px;
    height: 100%;
}

//adaptive
.app-header__actions {
    button {
        width: 2.4em;
        height: 2.4em;
        font-size: 0.9em;
    }
}

.app-header__progress {
    .progress-bar__track {
        font-size: 0.7em;
    }
}

.app-header__step {
    font-size: 3em;
}

.app_mobile {
    .app-header {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        gap: 0;
    }

    .app-header__progress {
        width: 100%;
    }

    .app-header__actions {
        button {
            width: 2em;
            height: 2em;
            font-size: 0.7em;
        }
    }

    .app-header__step {
        font-size: 1.5em;
    }
}
</style>
