<template>
    <card>
        <h4 class="mt-3">
            Интерфейс
        </h4>

        <div class="row align-items-center">
            <div class="col-12 col-md-4 mb-3">
                <v-select v-model="d_preferences.colorScheme"
                          :options="['standard', 'light', 'dark']"
                          label="Цветовая схема"
                          :allow-empty="false"
                >
                    <template #option="{option}">
                        {{ translateAppColor(option) }}
                    </template>
                    <template #singleLabel="{option}">
                        {{ translateAppColor(option) }}
                    </template>
                </v-select>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <v-select v-model="d_preferences.interfaceScale"
                          :options="['standard', 'bigger', 'biggest']"
                          label="Размер интерфейса"
                          :allow-empty="false"
                >
                    <template #option="{option}">
                        {{ translateAppSize(option) }}
                    </template>
                    <template #singleLabel="{option}">
                        {{ translateAppSize(option) }}
                    </template>
                </v-select>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <v-select v-model="d_preferences.beadImg"
                          :options="['standard', 'blue', 'tiger', 'alien', 'heart']"
                          label="Вид бусин"
                          :allow-empty="false"
                >
                    <template #option="{option}">
                        {{ translateAppBead(option) }}
                    </template>
                    <template #singleLabel="{option}">
                        {{ translateAppBead(option) }}
                    </template>
                </v-select>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <v-checkbox v-model="d_preferences.pictures"
                            label="Использовать изображения"
                />
            </div>
            <div class="col-12 col-md-4 mb-3">
                <v-checkbox v-model="d_preferences.fastMode"
                            label="Скоростная тренировка"
                />
            </div>
        </div>

        <h4 class="mt-3">
            Звук
        </h4>
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <v-checkbox v-model="d_preferences.sound"
                            label="Озвучивать слагаемые и результат"
                />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <v-checkbox v-model="d_preferences.music"
                            label="Музыка"
                />
            </div>
        </div>

        <div class="col-12 text-right">
            <v-button schema="secondary"
                      @click.native="save"
            >
                Применить
            </v-button>
        </div>
    </card>
</template>

<script>
import VCheckbox from "@/components/common/form/checkbox/VCheckbox";
import VSelect from "@/components/common/form/VSelect";
import VButton from "@/components/common/form/button/VButton";
import Card from "@/components/common/VCard";

export default {
    name: "AppPreferences",
    components: {
        Card,
        VCheckbox,
        VSelect,
        VButton,
    },
    props: {
        type: {
            type: String,
            default: null,
        },
    },
    data() {
        return {
            d_preferences: { ...this.$store.state.preferences },
        };
    },
    methods: {
        translateAppColor(val) {
            const map = {
                standard: "Стандартные цвета",
                light: "Светлые цвета",
                dark: "Темные цвета",
            };
            return map[val] ? map[val] : val;
        },
        translateAppSize(val) {
            const map = {
                standard: "Стандартный интерфейс",
                bigger: "Увеличенный интерфейс",
                biggest: "Большой интерфейс",
            };
            return map[val] ? map[val] : val;
        },
        translateAppBead(val) {
            const map = {
                standard: "Светлые бусины",
                blue: "Синие бусины",
                tiger: "Бусины: Тигр",
                alien: "Бусины: Пришелец",
                heart: "Бусины: Сердце",
            };
            return map[val] ? map[val] : val;
        },
        async save() {
            await this.$store.dispatch("preferences/update", this.d_preferences);
            this.$emit("update");
        },
    },
};
</script>

<style scoped>
</style>
