<template>
    <div class="app-play">
        <circle-button class="app-play__button"
                       schema="secondary"
                       @touchstart.prevent.stop.native="$emit('play')"
                       @click.native="onPlay"
        >
            <i v-if="!loading"
               class="icon-play"
            />
            <loading-component v-else
                               color="primary"
            />
        </circle-button>
        <span class="app-play__text">Начать</span>
    </div>
</template>

<script>
import CircleButton from "@/components/common/form/CircleButton";
import LoadingComponent from "@/components/common/LoadingComponent";

export default {
    name: "AppPlay",
    components: {
        LoadingComponent,
        CircleButton,
    },
    props: {
        loading: {
            type: Boolean,
            default: false,
        },
    },
    mounted() {
        document.addEventListener("keydown", this.onPlay);
    },
    beforeDestroy() {
        document.removeEventListener("keydown", this.onPlay);
    },
    methods: {
        onPlay() {
            if (!this.loading) {
                this.$emit("play");
            }
        },
    },
};
</script>

<style lang="scss">
.app-play {
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    grid-gap: 20px;
}

.app-play__button {
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    margin: auto;
}

.app-play__text {
    font-size: 1.5em;
}

.app_mobile {
    .app-play__button {
        width: 1.7em;
        height: 1.7em;
        font-size: 1em;
    }

    .app-play__text {
        font-size: 0.5em;
    }
}
</style>
