<template>
    <div class="app-result">
        <stars-score :value="quality"
                     class="mb-3"
        />
        <div class="app-result__label h2">
            Тренажер завершен!
        </div>
        <div class="app-result__true-count">
            Результат: <span class="text-secondary">{{ +quality.toFixed(0) }}%
                ({{ c_trueCount }}/{{ session.settings.taskCount }})</span>
        </div>
        <div class="app-result__buttons">
            <v-button v-if="showDetails"
                      schema="light"
                      @click.native="d_showDetails = true"
            >
                Смотреть детали прохождения
            </v-button>
            <nuxt-link :to="c_homeLink">
                <v-button type="button"
                          class="w-100"
                          schema="secondary"
                >
                    Вернуться к моим тренажерам
                </v-button>
            </nuxt-link>
        </div>
        <app-details-modal v-if="d_showDetails"
                           :session="session"
                           @close="d_showDetails = false"
        />
    </div>
</template>

<script>
import StarsScore from "@/components/common/stars-score/StarsScore";
import VButton from "@/components/common/form/button/VButton";
import DynamicAppPassingDetails from "@/components/common/apps/dynamic-app/DynamicAppPassingDetails";
import MultiplicationAppPassingDetails
from "@/components/common/apps/multiplication-app/MultiplicationAppPassingDetails";
import FlashAppPassingDetails from "@/components/common/apps/flash-app/FlashAppPassingDetails";
import AppDetailsModal from "@/components/common/apps/utils/AppDetailsModal";

export default {
    name: "AppResult",
    components: {
        AppDetailsModal,
        VButton,
        StarsScore,
    },
    props: {
        quality: {
            type: Number,
            required: true,
        },
        session: {
            type: Object,
            required: true,
        },
        showDetails: {
            type: Boolean,
            default: true,
        },
    },
    data() {
        return {
            d_showDetails: false,
        };
    },
    computed: {
        c_detailsComponents() {
            switch (this.session.appType) {
            case "static":
            case "dynamic":
                return DynamicAppPassingDetails;
            case "multiplication":
                return MultiplicationAppPassingDetails;
            case "flash":
                return FlashAppPassingDetails;
            default:
                return "div";
            }
        },
        c_trueCount() {
            return (this.session.settings.taskCount / 100 * this.quality).toFixed(0);
        },
        c_homeLink() {
            switch (this.$store.state.auth.accountType) {
            case "teacher":
                return "/teacher/apps";
            case "admin":
                return "/admin/apps";
            default:
                return "/student/apps";
            }
        },
    },
};
</script>

<style lang="scss">
.app-result {
    text-align: center;
}

.app-result__buttons {
    display: grid;
    grid-gap: 15px;
    margin-top: 30px;
}

.app_mobile {
    .app-result__label {
        font-size: 24px;
    }

    .stars-score {
        grid-gap: 7px !important;
    }

    .stars-score__star {
        width: 40px !important;
        height: 40px !important;
    }
}

.app-result__true-count {
    margin-bottom: 15px;
}
</style>
