<template>
    <modal-component width="980px"
                     overflow="auto"
                     @close="$emit('close')"
    >
        <v-tabs v-model="d_tab"
                :tabs="['Текущие параметры', 'Визуальные настройки']"
                :minimize-mobile="true"
        >
            <template slot="Текущие параметры">
                <v-card>
                    <component :is="c_component"
                               v-model="d_settings"
                               class="mb-3"
                               :session="session"
                               :task="task"
                    />
                    <form-errors v-if="d_error"
                                 class="mb-3"
                                 :errors="d_error"
                    />
                    <v-button schema="secondary"
                              :loading="d_loading"
                              @click.native="save"
                    >
                        Сохранить
                    </v-button>
                </v-card>
            </template>
            <app-preferences slot="Визуальные настройки"
                             :type="type"
                             @update="$emit('close')"
            />
        </v-tabs>
    </modal-component>
</template>

<script>
import ModalComponent from "@/components/common/ModalComponent";
import VTabs from "@/components/common/form/VTabs";
import AppPreferences from "@/components/common/apps/utils/AppPreferences";
import FormErrors from "@/components/common/form/FormErrors";
import VButton from "@/components/common/form/button/VButton";
import VCard from "@/components/common/VCard";
import FlashAppConfigurator from "@/components/common/apps/flash-app/FlashAppConfigurator";
import MultiplicationAppConfigurator from "@/components/common/apps/multiplication-app/MultiplicationAppConfigurator";
import DynamicAppConfigurator from "@/components/common/apps/dynamic-app/DynamicAppConfigurator";
import StaticAppConfigurator from "@/components/common/apps/static-app/StaticAppConfigurator";

export default {
    name: "AppSettingsModal",
    components: {
        VCard,
        VButton,
        FormErrors,
        AppPreferences,
        VTabs,
        ModalComponent,
    },
    props: ["session", "task", "type"],
    data() {
        return {
            d_tab: "Текущие параметры",
            d_settings: JSON.parse(JSON.stringify(this.session.settings)),
            d_loading: false,
            d_error: null,
        };
    },
    computed: {
        c_component() {
            switch (this.type) {
            case "dynamic":
                return DynamicAppConfigurator;
            case "static":
                return StaticAppConfigurator;
            case "flash":
                return FlashAppConfigurator;
            case "multiplication":
                return MultiplicationAppConfigurator;
            default:
                return null;
            }
        },
    },
    methods: {
        async save() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                const res = await this.$api.appSessions.updateSettings(
                    this.session.id,
                    { settings: this.d_settings },
                );
                this.$emit("settings-update", res.settings);
                this.$emit("close");
            } catch (e) {
                console.error(e);
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped>
</style>
