<template>
    <success-answer v-if="value.result" />
    <wrong-answer v-else
                  :value="value"
    />
</template>

<script>
import SuccessAnswer from "@/components/common/answers/SuccessAnswer";
import WrongAnswer from "@/components/common/answers/WrongAnswer";

export default {
    name: "AppTaskResult",
    components: {
        WrongAnswer,
        SuccessAnswer,
    },
    props: {
        value: {
            type: Object,
            required: true,
        },
        timer: {
            type: Number,
            default: 1000,
        },
    },
    mounted() {
        setTimeout(() => this.$emit("timer"), this.timer);
    },
};
</script>
