<template>
    <div class="numeric-answer"
         :style="c_gridStyle"
    >
        <numeric-answer-button v-for="(digit, index) in [1,2,3,4,5,6,7,8,9,0,'-','.']"
                               :key="index"
                               @touchstart.native.prevent.stop="addToAnswer(digit)"
                               @click.native="addToAnswer(digit)"
        >
            {{ digit }}
        </numeric-answer-button>
        <numeric-answer-button
            class="numeric-answer__backspace"
            @touchstart.native.prevent.stop="backspace"
            @click.native="backspace"
        >
            <i class="icon-backspace" />
        </numeric-answer-button>
        <numeric-answer-button class="numeric-answer__send"
                               @touchstart.native.prevent.stop="onAnswer"
                               @click.native="onAnswer"
        >
            <loading-component v-if="loading"
                               size="16"
            />
            <i v-else
               class="icon-check-round"
            />
        </numeric-answer-button>

        <div class="numeric-answer__bottom">
            <v-timer v-if="timer"
                     :time="timer"
                     :radius="d_size / 5"
                     @finish="onTimeLeft"
            />
            Ответ: <span class="numeric-answer__digit">{{ c_answerLabel }}</span> <span v-if="c_needAnswer"
                                                                                        class="numeric-answer__cursor"
            >_</span>
        </div>
    </div>
</template>

<script>
import LoadingComponent from "@/components/common/LoadingComponent";
import VTimer from "@/components/common/VTimer";
import NumericAnswerButton from "@/components/common/apps/utils/NumericAnswerButton";

export default {
    name: "NumericAnswer",
    components: {
        NumericAnswerButton,
        VTimer,
        LoadingComponent,
    },
    props: {
        timer: {
            type: Number,
            default: 0,
        },
        loading: {
            type: Boolean,
            default: false,
        },
        answersCount: {
            type: Number,
            default: 1,
        },
    },
    data() {
        return {
            d_answers: [],
            d_answer: "",
            d_size: 100,
        };
    },
    computed: {
        c_strAnswer() {
            return String(this.d_answer || "");
        },
        c_needAnswer() {
            return this.d_answers.length < this.answersCount;
        },
        c_answerLabel() {
            const res = [...this.d_answers];
            if (this.d_answer) {
                res.push(this.d_answer);
            }
            if (!this.d_answer && this.d_answers.length > 0 && this.d_answers.length < this.answersCount) {
                res.push("");
            }
            return res.join(" ; ");
        },
        c_gridStyle() {
            return {
                "grid-template-columns": `repeat(4, ${this.d_size}px)`,
                "grid-template-rows": `repeat(4, ${this.d_size}px)`,
                "font-size": `${this.d_size / 2.5}px`,
                "grid-gap": `${this.d_size / 6}px`,
            };
        },
    },
    mounted() {
        this.onResize();
        document.addEventListener("keydown", this.onKeyDown);
        window.addEventListener("resize", this.onResize);
    },
    beforeDestroy() {
        document.removeEventListener("keydown", this.onKeyDown);
        window.removeEventListener("resize", this.onResize);
    },
    methods: {
        onResize() {
            const parentMinSize = Math.min(this.$el.parentElement.offsetHeight, this.$el.parentElement.offsetWidth);
            this.d_size = parentMinSize / 8;
        },
        onAnswer() {
            this.d_answers.push(this.d_answer);
            if (this.d_answers.length >= this.answersCount) {
                this.sendAnswer();
            }
            this.d_answer = null;
        },
        onTimeLeft() {
            if (this.loading) {
                return;
            }

            this.onAnswer();
        },
        sendAnswer() {
            if (this.loading) {
                return;
            }
            this.$emit("answer", this.d_answers);
        },
        onKeyDown(event) {
            const keyName = event.key;
            if (["1", "2", "3", "4", "5", "6", "7", "8", "9", "0", ".", "-"].includes(keyName)) {
                this.addToAnswer(keyName);
            } else if (keyName === "Backspace") {
                event.preventDefault();
                this.backspace();
            } else if (keyName === "Enter") {
                this.onAnswer();
            }
        },
        backspace() {
            if (this.c_strAnswer.length > 0) {
                this.d_answer = this.c_strAnswer.slice(0, -1);
            } else {
                this.d_answer = "";
            }
        },
        addToAnswer(char) {
            if (char === ".") {
                if (this.d_answer.includes(char)) {
                    return null;
                }
            } else if (char === "-") {
                if (this.d_answer[0] === "-") {
                    this.d_answer = this.d_answer.slice(1);
                } else {
                    this.d_answer = "-" + this.d_answer;
                }
                return;
            }
            this.d_answer = this.c_strAnswer + char;
        },
    },
};
</script>

<style lang="scss">
.numeric-answer {
    max-width: 100%;
    display: grid;
    grid-gap: 15px;
    width: min-content;
    justify-content: center;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.numeric-answer__bottom {
    grid-column: 1/5;
    font-weight: bold;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}

.numeric-answer__backspace {
    grid-row: 1/3;
    grid-column: 4;
    height: 100%;
}

.numeric-answer__send {
    color: #9BDD0F;
    grid-row: 3/5;
    grid-column: 4;
    height: 100%;
}

.numeric-answer__digit {
    color: $secondary;
}

.app_light {
    .numeric-answer__digit {
        color: $primary;
    }
}

@keyframes blink-animation {
    to {
        opacity: 0;
    }
}

@-webkit-keyframes blink-animation {
    to {
        opacity: 1;
    }
}

.numeric-answer__cursor {
    animation: blink-animation 0.8s infinite;
}
</style>
