<template>
    <button class="app-button"
            type="button"
    >
        <span class="app-button__content">
            <slot />
        </span>
    </button>
</template>

<script>
export default {
    name: "NumericAnswerButton",
    props: {},
};
</script>

<style lang="scss">
.app-button {
    border-radius: 20px;
    font-weight: bold;
    color: white;
    border: none;
    position: relative;
    padding: 2px;
    box-sizing: content-box;
    background: linear-gradient(to bottom, white 0%, $dark 100%);
    transition: all .5s cubic-bezier(0.46, 0.39, 0.2, 3.29);
    display: flex;

    &:focus {
        outline: none;
    }

    &:hover {
        transform: scale(1.1);

        .app-button__content {
            background: lighten($dark, 3%);
        }
    }
}

.app-button__content {
    display: flex;
    border-radius: 20px;
    align-items: center;
    background: $dark;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    justify-content: center;
    transition: background .5s cubic-bezier(0.46, 0.39, 0.2, 3.29);
}

.app_dark {
    .app-button {
        background: linear-gradient(to top, $primary 0%, $secondary 100%);

        &:hover {
            transform: scale(1.1);

            .app-button__content {
                background: lighten($primary, 3%);
            }
        }
    }

    .app-button__content {
        background: $primary;
        color: $secondary;
    }
}

.app_light {
    .app-button {
        background: linear-gradient(to bottom, white 0%, $primary 100%);

        &:hover {
            transform: scale(1.1);

            .app-button__content {
                background: lighten($light, 3%);
            }
        }
    }

    .app-button__content {
        background: $light;
        color: $primary;
    }
}
</style>
