<template>
    <div class="app-card">
        <div>
            <circle-button schema="secondary"
                           @click.native="d_showSessions = true"
            >
                <i class="icon-play" />
            </circle-button>
        </div>
        <div>
            <h4 class="mb-0">
                {{ app.name }}
            </h4>
            <div class="text-muted">
                {{ formatCalendar(app.createdAt) }}
            </div>
            <!--            <v-button schema="link"-->
            <!--                      @click.native="d_showSessions = true"-->
            <!--            >{{ app.userSessionsCount }} {{ format(app.userSessionsCount, "Попытка", "Попытки", "Попыток") }}-->
            <!--            </v-button>-->
            <div>Лучшее прохождение: {{ app.userMaxQuality }}%</div>
            <dropdown v-if="app.isOwned"
                      class="app-card__dropdown"
            >
                <i class="icon-menu app-card__dropdown-toggle" />
                <template #body>
                    <ul>
                        <li>
                            <nuxt-link role="button"
                                       :to="`/student/apps/${app.id}/edit`"
                            >
                                Редактировать
                            </nuxt-link>
                        </li>
                        <li>
                            <span role="button"
                                  class="text-danger"
                                  @click="remove"
                            >
                                Удалить
                            </span>
                        </li>
                    </ul>
                </template>
            </dropdown>
        </div>
        <user-sessions-modal v-if="d_showSessions"
                             :app-id="app.id"
                             :name="app.name"
                             @close="d_showSessions = false"
        />
    </div>
</template>

<script>
import dateMixins from "@/assets/js/mixins/dateMixins";
import CircleButton from "~/components/common/form/CircleButton";
import Dropdown from "~/components/common/Dropdown";
import UserSessionsModal from "~/components/student/apps/UserSessionsModal";

export default {
    name: "AppCard",
    components: {
        Dropdown,
        CircleButton,
        UserSessionsModal,
    },
    mixins: [dateMixins],
    props: ["app"],
    data() {
        return {
            d_showSessions: false,
        };
    },
    methods: {
        /**
         * Выбирает склонение числа, соответствующее числу
         * пример использования f_choiceNominative(13, 'точка', 'точки', 'точек')
         * 1 21 точка
         * 2 3 4 22 23 24 точки
         * 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 точек
         * */
        format(value, a, b, c) {
            if (value >= 20) {
                value = value % 10;
            }
            if (value === 1) {
                return a;
            }
            if (value !== 0 && value < 5) {
                return b;
            }
            return c;
        },
        async remove() {
            const confirm = window.confirm("Вы уверены, что хотите удалить этот тренажер?");
            if (!confirm) {
                return;
            }
            await this.$api.apps.delete(this.app.id);
            this.$emit("remove");
        },
    },
};
</script>

<style scoped lang="scss">
.app-card {
    box-shadow: $card-shadow;
    padding: 15px;
    border-radius: 15px;
    background: white;
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap: 15px;
    position: relative;
}

.app-card__img {
    width: 100%;
}

.app-card__dropdown {
    position: absolute;
    top: 15px;
    right: 15px;
}

.app-card__dropdown-toggle {
    cursor: pointer;
    color: gray;

    &:hover {
        color: black;
    }
}
</style>
