<template>
    <tr class="app-row">
        <td class="app-row__id">
            {{ app.id }}
        </td>
        <td class="app-row__date">
            {{ formatCalendar(app.createdAt) }}
        </td>
        <td class="app-row__name">
            {{ app.name }}
            <!--<span class="text-muted small">{{
                                      translateAppType(app.instanceType)
                                                                                                      }}</span>-->
        </td>
        <td class="app-row__sessions">
            <v-button schema="link"
                      @click.native="d_showSessions = true"
            >
                {{ app.userSessionsCount }} попытки
            </v-button>
        </td>
        <td class="app-row__max-quality">
            {{ app.userMaxQuality }}%
        </td>
        <td class="app-row__actions">
            <nuxt-link :to="`/student/apps/${app.id}/play`">
                <v-button schema="link">
                    <i class="icon-play" />
                </v-button>
            </nuxt-link>
            <nuxt-link v-if="app.isOwned"
                       :to="`/student/apps/${app.id}/edit`"
            >
                <v-button schema="link">
                    <i class="icon-edit-alt" />
                </v-button>
            </nuxt-link>
            <v-button v-if="app.isOwned"
                      schema="link"
                      @click.native="remove"
            >
                <i class="text-danger icon-trash" />
            </v-button>
        </td>
        <user-sessions-modal v-if="d_showSessions"
                             :app-id="app.id"
                             @close="d_showSessions = false"
        />
    </tr>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import VButton from "~/components/common/form/button/VButton";
import UserSessionsModal from "~/components/student/apps/UserSessionsModal";

export default {
    name: "AppsTableRow",
    components: {
        UserSessionsModal,
        VButton,
    },
    mixins: [dateMixins],
    props: ["app"],
    data() {
        return {
            d_showStudents: false,
            d_showSessions: null,
        };
    },
    methods: {
        translateAppType(val) {
            const map = {
                "App\\Models\\DynamicApp": "Динамический тренажер",
            };
            return map[val] ? map[val] : val;
        },
        async remove() {
            await this.$api.apps.delete(this.app.id);
            this.$emit("remove");
        },
    },
};
</script>

<style scoped lang="scss">
.app-row, {
    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
    }
}

.app-row td {
    @include media-breakpoint-down(md) {
        padding: 5px 15px;
    }
}

.app-row__actions {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 25px);
    justify-content: flex-end;
    width: 125px;
    text-align: center;

    @include media-breakpoint-down(md) {
        justify-content: flex-start;
    }
}

.app-row__id {
    @include media-breakpoint-down(md) {
        &:before {
            content: '№: ';
            font-weight: 500;
        }
    }
}

.app-row__date {
    @include media-breakpoint-down(md) {
        &:before {
            content: 'Дата создания: ';
            font-weight: 500;
        }
    }
}

.app-row__name {
    @include media-breakpoint-down(md) {
        order: -1;
    }
}

.app-row__sessions {
    @include media-breakpoint-down(md) {
        &:before {
            content: 'Количество попыток: ';
            font-weight: 500;
        }
    }
}

.app-row__max-quality {
    @include media-breakpoint-down(md) {
        &:before {
            content: 'Лучший результат: ';
            font-weight: 500;
        }
    }
}
</style>
