<template>
    <div>
        <v-table>
            <template #head>
                <tr class="apps-table__header">
                    <td>№</td>
                    <td>Дата создания</td>
                    <td>Название</td>
                    <td>История прохождений</td>
                    <td>Лучший результат</td>
                    <td />
                </tr>
            </template>
            <template #body>
                <apps-table-row v-for="(app, index) in d_apps"
                                :key="app.id"
                                :app="app"
                                @remove="d_apps.splice(index, 1)"
                />
            </template>
        </v-table>
        <loading-component v-if="d_loading"
                           class="mt-3"
        />
    </div>
</template>

<script>
import VTable from "~/components/common/table/VTable";
import LoadingComponent from "~/components/common/LoadingComponent";
import AppsTableRow from "~/components/student/apps/AppsTableRow";

export default {
    name: "AppsTable",
    components: {
        LoadingComponent,
        AppsTableRow,
        VTable,
    },
    props: {
        filter: {
            default() {
                return {};
            },
        },
    },
    async fetch() {
        this.d_loading = true;
        this.d_apps = await this.$api.apps.fetch({
            filter: this.filter,
            include: "userSessionsCount",
        });
        this.d_loading = false;
    },
    data() {
        return {
            d_apps: null,
            d_loading: false,
        };
    },
};
</script>

<style scoped lang="scss">
.apps-table__header {
    @include media-breakpoint-down(md) {
        display: none;
    }
}
</style>
