<template>
    <modal-component width="400px"
                     @close="$emit('close')"
    >
        <h4>{{ name }}</h4>
        <div class="user-sessions-modal__row">
            <div class="h5 mb-0">
                Новая игра
            </div>
            <div>
                <router-link :to="{path: `/student/apps/${appId}/play`}">
                    <circle-button><i class="icon-play" /></circle-button>
                </router-link>
            </div>
        </div>
        <h5>Последние сессии</h5>
        <loading-component v-if="d_loading"
                           :size="16"
        />
        <template v-else>
            <div v-for="session in d_sessions"
                 :key="session.id"
                 class="user-sessions-modal__row"
                 :class="{'user-sessions-modal__row_finished': session.finished}"
            >
                <div>
                    <div>{{ formatCalendar(session.updatedAt) }}</div>
                    <div><b>Пройдено задач:</b> {{ session.answers.length }}/{{ session.settings.taskCount }}</div>
                    <div><b>Результативность:</b> {{ session.quality }}%</div>
                </div>
                <div v-if="!session.finished">
                    <router-link :to="{path: `/student/apps/${appId}/play`, query: {session: session.id}}">
                        <circle-button><i class="icon-play" /></circle-button>
                    </router-link>
                </div>
                <div v-else>
                    <circle-button schema="dark"
                                   title="Детали прохождения"
                                   @click.native="d_showSessionDetails = session"
                    >
                        <i class="icon-graph-bar" />
                    </circle-button>
                </div>
            </div>
            <p v-if="!d_sessions.length">
                Ты ещё не запускал этот тренажер.
            </p>
        </template>
        <app-details-modal v-if="d_showSessionDetails"
                           :session="d_showSessionDetails"
                           @close="d_showSessionDetails = null"
        />
    </modal-component>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import AppDetailsModal from "@/components/common/apps/utils/AppDetailsModal";
import ModalComponent from "~/components/common/ModalComponent";
import LoadingComponent from "~/components/common/LoadingComponent";
import CircleButton from "~/components/common/form/CircleButton";

export default {
    name: "UserSessionsModal",
    components: {
        AppDetailsModal,
        CircleButton,
        LoadingComponent,
        ModalComponent,
    },
    mixins: [dateMixins],
    props: ["appId", "name"],
    data() {
        return {
            d_sessions: [],
            d_showSessionDetails: null,
            d_loading: null,
        };
    },
    async mounted() {
        this.d_loading = true;
        this.d_sessions = await this.$api.appSessions.fetch({
            filter: {
                app_id: this.appId,
            },
            limit: 5,
        });
        this.d_loading = false;
    },
    methods: {},
};
</script>

<style scoped lang="scss">
.user-sessions-modal__row {
    color: $dark;
    border-radius: 7px;
    margin-bottom: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    background: $secondary;
    box-shadow: $card-shadow;
    transition: background .2s ease-in;

    &:hover {
        background: darken($secondary, 5%);
    }
}

.user-sessions-modal__row_finished {
    background: white;

    &:hover {
        background: darken(white, 5%);
    }
}
</style>
