<template>
    <div>
        <page-header>
            Тренажеры
            <template #actions>
                <nuxt-link to="/student/apps/create">
                    <v-button schema="secondary">
                        Сконфигурировать новый тренажер
                    </v-button>
                </nuxt-link>
            </template>
        </page-header>
        <div class="apps">
            <app-card v-for="(app, idx) in d_apps"
                      :key="app.id"
                      :app="app"
                      @remove="d_apps.splice(idx,1)"
            />
        </div>
        <loading-component v-if="d_loading" />
    </div>
</template>

<script>
import AppCard from "@/components/student/apps/AppCard";
import PageHeader from "~/components/common/PageHeader";
import VButton from "~/components/common/form/button/VButton";
import LoadingComponent from "~/components/common/LoadingComponent";

export default {
    components: {
        LoadingComponent,
        AppCard,
        VButton,
        PageHeader,
    },
    layout: "student",
    async fetch() {
        this.d_apps = await this.$api.apps.fetch({
            filter: {
                isHomework: 0,
            },
            include: "userSessionsCount",
        });
        this.d_loading = false;
    },
    data() {
        return {
            d_apps: null,
            d_loading: true,
        };
    },
    head: {
        title: "Тренажеры",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped lang="scss">
.apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}
</style>
