<template>
    <div>
        <page-header>
            Ученики
            <template #actions>
                <nuxt-link to="/admin/students/create">
                    <v-button schema="secondary">
                        Добавить
                    </v-button>
                </nuxt-link>
                <v-input v-model="d_query"
                         label="Поиск"
                />
            </template>
        </page-header>
        <div class="table table_lg students-table">
            <div class="table__head students-table__row">
                <div class="table__cell" />
                <div class="table__cell">
                    ФИО
                </div>
                <div class="table__cell">
                    Логин/E-Mail
                </div>
                <div class="table__cell">
                    Статус абонемента
                </div>
                <div class="table__cell">
                    Брейники
                </div>
            </div>
            <div v-for="student in d_students"
                 :key="student.id"
                 class="table__row students-table__row"
            >
                <div class="table__cell">
                    <avatar class="students-table__avatar"
                            :image="student.image && student.image.url"
                            :level="student.level"
                    />
                </div>
                <div class="table__cell">
                    <span class="table__lg-label">ФИО: </span>
                    <nuxt-link :to="`/admin/students/${student.id}`">
                        {{ student.lastName }} {{ student.firstName }}
                    </nuxt-link>
                </div>
                <div class="table__cell">
                    <span class="table__lg-label">Логин/Пароль: </span>
                    {{ student.login }} / {{ student.email || "-" }}
                </div>
                <div class="table__cell">
                    <span class="table__lg-label">Абонемент: </span>
                    <template v-if="!student.lastSubscription">
                        не оформлялся
                    </template>
                    <template v-else-if="isBefore(student.lastSubscription.expiredAt)">
                        закончился {{ formatDate(student.lastSubscription.expiredAt) }}
                    </template>
                    <template v-else>
                        до {{ formatDate(student.lastSubscription.expiredAt) }}
                    </template>
                </div>
                <div class="table__cell">
                    <span class="table__lg-label">Брейники: </span>
                    {{ student.brains }}
                </div>
                <div class="table__cell table__actions">
                    <nuxt-link :to="`/admin/students/${student.id}/edit`"
                               title="Редактировать"
                    >
                        <v-button schema="link">
                            <i class="icon-edit-alt" />
                        </v-button>
                    </nuxt-link>
                </div>
            </div>
        </div>
        <loading-component v-if="d_loading"
                           class="mt-3"
        />
        <load-more-observer ref="loadMore"
                            v-model="d_students"
                            :fetch="fetch"
                            :chunk="30"
                            @fetch="d_loading = true"
                            @fetched="d_loading = false"
        />
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import debounce from "lodash.debounce";
import PageHeader from "~/components/common/PageHeader";
import VButton from "~/components/common/form/button/VButton";
import Avatar from "~/components/common/Avatar";
import LoadingComponent from "~/components/common/LoadingComponent";
import LoadMoreObserver from "~/components/common/LoadMoreObserver";
import VInput from "~/components/common/form/VInput";

export default {
    components: {
        VInput,
        LoadMoreObserver,
        LoadingComponent,
        Avatar,
        VButton,
        PageHeader,
    },
    layout: "admin",
    mixins: [dateMixins],
    data() {
        return {
            d_students: [],
            d_loading: false,
            d_query: null,
        };
    },
    watch: {
        d_query: debounce(function() {
            this.$refs.loadMore.reset();
        }, 500),
    },
    methods: {
        async fetch() {
            return await this.$api.students.fetch({
                filter: {
                    query: this.d_query || undefined,
                },
                limit: 30,
                offset: this.d_students.length,
                include: ["lastSubscription", "lastBrains"],
                append: ["brains"],
            });
        },
    },
    head: {
        title: "Преподаватели",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped lang="scss">
.students-table__avatar {
}

.students-table__row {
    grid-template-columns: 100px 1fr 1fr 1fr 150px 100px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

@include media-breakpoint-down(md) {
    .students-table__avatar {
        width: 100px;
        height: 100px;
    }
}
</style>
