<template>
    <div ref="abacus"
         class="abacus"
         :class="c_class"
         :style="c_abacusStyle"
    >
        <div v-if="value < 0"
             class="abacus__minus"
        >
            -
        </div>
        <v-abacus-column v-for="(bit, idx) in c_bits"
                         :key="idx"
                         :value="bit"
                         :hint="false"
                         :dot="(idx === c_bits.length-1) || !((c_bits.length - idx) % 4)"
                         @input="setBit(idx, arguments[0])"
        />
    </div>
</template>

<script>
import VAbacusColumn from "@/components/common/abacus/VAbacusColumn";

export default {
    name: "VAbacus",
    components: { VAbacusColumn },
    props: {
        capacity: {
            default: null,
        },
        value: {
            default: 0,
        },
        scheme: {
            default: null,
        },
        hint: {
            default: false,
        },
    },
    data() {
        return {
            d_abacusWidth: 0,
        };
    },
    computed: {
        c_value: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit("input", val);
            },
        },
        c_bits() {
            const bits = [...String(Math.abs(this.value))].map(item =>
                parseInt(item),
            );
            if (this.capacity === null) {
                return bits;
            } else if (this.capacity > bits.length) {
                const nullArray = new Array(this.capacity - bits.length).fill(
                    0,
                );
                return nullArray.concat(bits);
            } else {
                return bits;
            }
        },
        c_class() {
            return this.scheme ? "abacus_" + this.scheme : null;
        },
        c_abacusStyle() {
            return {
                height: this.d_abacusWidth / 2.3 + "px",
            };
        },
    },
    mounted() {
        this.onResize();
        document.addEventListener("keydown", this.onKeyDown);
        window.addEventListener("resize", this.onResize);
    },
    beforeDestroy() {
        document.removeEventListener("keydown", this.onKeyDown);
        window.removeEventListener("resize", this.onResize);
    },
    methods: {
        onResize() {
            this.d_abacusWidth = Math.max(this.$el.parentElement.offsetWidth, this.$el.parentElement.offsetHeight);
        },
        setBit(idx, val) {
            const arr = [...this.c_bits];
            arr[idx] = val;
            this.$emit(
                "input",
                (this.value < 0 ? -1 : 1) * parseInt(arr.join("")),
            );
        },
    },
};
</script>

<style lang="scss" scoped>
.abacus {
    display: flex;
    width: 100%;
    justify-content: center;
    user-select: none;
    padding: 0 15%;
    max-height: 80%;

    @include media-breakpoint-down(sm) {
        padding: 0 5%;
    }
}

.abacus__minus {
    font-size: 130px;
    font-weight: bold;
    color: $dark;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}

.abacus ::v-deep {
    .abacus-bead {
        background: radial-gradient(
                114% 114% at 35% 9%,
                #ffffff 3.33%,
                #7c944d 100%
        );
    }

    .abacus__minus {
        color: white;
    }
}

.abacus_blue ::v-deep {
    .abacus-bead {
        background: radial-gradient(
                114% 114% at 35% 9%,
                #ffffff 3.33%,
                #2f72f4 100%
        );
    }
}

.abacus_tiger ::v-deep {
    .abacus-bead {
        height: 10%;
        background: url("/icons/tiger.svg") center no-repeat;
        background-size: contain;
        border-radius: 0;

        &:after {
            content: none;
        }
    }
}

.abacus_alien ::v-deep {
    .abacus-bead {
        height: 10%;
        background: url("/icons/aliens.svg") center no-repeat;
        background-size: contain;
        border-radius: 0;

        &:after {
            content: none;
        }
    }
}

.abacus_heart ::v-deep {
    .abacus-bead {
        height: 10%;
        background: url("/icons/heart.svg") center no-repeat;
        background-size: contain;
        border-radius: 0;

        &:after {
            content: none;
        }
    }
}
</style>
