<template>
    <div class="abacus-column">
        <span v-if="hint"
              class="abacus-column__value"
        >{{ value }}</span>
        <span v-if="dot"
              class="abacus-column__dot"
        />
        <v-abacus-bead v-for="(digit, index) in [5,4,3,2,1]"
                       :key="index"
                       v-model="c_value"
                       :digit="digit"
        />
    </div>
</template>

<script>
import VAbacusBead from "@/components/common/abacus/VAbacusBead";

export default {
    name: "VAbacusColumn",
    components: { VAbacusBead },
    props: {
        value: {
            default: 0,
        },
        hint: {
            default: false,
        },
        dot: {
            default: false,
        },
    },
    data() {
        return {};
    },
    computed: {
        c_value: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit("input", val);
            },
        },
    },

    watch: {},
};
</script>

<style lang="scss" scoped>
.abacus-column {
    width: 100%;
    max-width: 8.3%;
    height: 100%;
    position: relative;

    &::before {
        // спица
        content: '';
        display: block;
        width: 10%;
        height: 100%;
        margin: 0 auto;
        border-radius: 500px;
        background: linear-gradient(0deg, #5e5e5e, #959595);
    }

    &::after {
        // разделительная полоса между нижними и верхней бусинами
        content: '';
        display: block;
        width: 100%;
        height: 3%;
        background: linear-gradient(0deg, #5e5e5e, #959595);
        position: absolute;
        top: 22%;
    }

    &:first-of-type::after {
        border-top-left-radius: 500px;
        border-bottom-left-radius: 500px;
    }

    &:last-of-type::after {
        border-top-right-radius: 500px;
        border-bottom-right-radius: 500px;
    }

    .abacus-column__value {
        position: absolute;
        top: -12%;
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .abacus-column__dot {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: linear-gradient(180deg, #FFEC00 0%, #C4B500 100%);
        position: absolute;
        top: calc(22% + 2px);
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        @include media-breakpoint-down(sm) {
            top: calc(22%);
            width: 5px;
            height: 5px;
        }
    }
}
</style>
