<template>
    <div class="abacus-bead"
         :style="{top: c_position}"
         @click="toggle"
    />
</template>

<script>
export default {
    name: "VAbacusBead",
    props: {
        value: { default: false },
        digit: { default: null },
    },
    computed: {
        c_position() {
            switch (this.digit) {
            case 5:
                return !this.c_active ? "0" : "11%";
            case 4:
                return !this.c_active ? "90%" : "56%";
            case 3:
                return !this.c_active ? "80%" : "46%";
            case 2:
                return !this.c_active ? "70%" : "36%";
            default:
                return !this.c_active ? "60%" : "26%";
            }
        },
        c_active() {
            switch (this.digit) {
            case 1:
                return this.value !== 5 && this.value !== 0;
            case 2:
                return ![0, 1, 5, 6].includes(this.value);
            case 3:
                return ![0, 1, 2, 5, 6, 7].includes(this.value);
            case 4:
                return ![0, 1, 2, 3, 5, 6, 7, 8].includes(this.value);
            default:
                return this.value >= 5;
            }
        },
    },
    methods: {
        toggle() {
            if (this.digit === 5) {
                this.$emit("input", this.value + (this.c_active ? -this.digit : this.digit));
            } else if (this.c_active) {
                const tmp = 4 - this.value % 5;
                this.$emit("input", this.value - [4, 3, 2, 1][this.digit - 1] + tmp);
            } else {
                this.$emit("input", this.value + this.digit - (this.value % 5));
            }
        },
    },
};
</script>

<style lang="scss" scoped>
.abacus-bead {
    width: 90%;
    height: 10%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease;
    padding: 0 1%;
    background: radial-gradient(114% 114% at 35% 9%, #1F9BB9 3.33%, #004758 100%);
    cursor: pointer;

    &:after {
        content: "";
        background: radial-gradient(114% 114% at 35% 9%, #4ac7e7 3.33%, #136679 100%);
        opacity: 0;
        transition: opacity .1s ease-in;
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        left: 0;
        top: 0;
    }

    &:hover {
        &:after {
            opacity: 1;
        }
    }

    &:active {
        transform: scale(1.2) translateX(-45%);
        z-index: 5;
    }
}
</style>
