<template>
    <div v-if="d_app">
        <section class="mb-3">
            <div class="row">
                <div v-if="!id"
                     class="col-12 col-md-6 mb-3"
                >
                    <v-select v-model="d_app.type"
                              :options="['dynamic','static','flash','multiplication']"
                              label="Тип тренажера"
                              :allow-empty="false"
                    >
                        <template #option="{option}">
                            {{ translateAppType(option) }}
                        </template>
                        <template #singleLabel="{option}">
                            {{ translateAppType(option) }}
                        </template>
                    </v-select>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <v-input v-model="d_app.name"
                             label="Название"
                    />
                </div>
            </div>
            <div v-if="c_isTeacher"
                 class="row"
            >
                <div class="col-12 col-md-6">
                    <v-checkbox v-model="d_app.isHomework"
                                label="Пометить тренажер как домашнее задание"
                    />
                </div>
                <transition-collapse>
                    <div v-if="d_app.isHomework"
                         class="col-12 col-md-6"
                    >
                        <p>Минимальный балл</p>
                        <v-range v-model="d_app.minQuality"
                                 :min="0"
                                 :max="100"
                        />
                    </div>
                </transition-collapse>
            </div>
        </section>

        <section class="mb-4">
            <h4 class="text-primary">
                Параметры
            </h4>
            <component :is="c_configurator"
                       v-if="c_configurator"
                       v-model="d_app.settings"
                       :re-init="!id"
                       :open-handbook="!d_app.id"
            />
        </section>

        <section v-if="c_isTeacher"
                 class="mb-3"
        >
            <h4>Ученики</h4>
            <div class="row">
                <div class="col-12 col-md-6">
                    <v-input v-model="d_studentsQuery"
                             class="mb-3"
                             label="Поиск"
                    />
                </div>
            </div>
            <transition-list name="list-complete"
                             tag="p"
            >
                <v-checkbox v-for="student in c_filteredStudents"
                            :key="student.id"
                            v-model="d_app.students"
                            class="mb-3"
                            :checkbox-value="student"
                            track-by="id"
                >
                    {{ student.firstName }} {{ student.lastName }}
                    <span class="text-muted">({{ getStudentGroup(student).name }})</span>
                </v-checkbox>
                <div v-if="c_filteredStudents.length === 0"
                     :key="'empty'"
                >
                    Список пуст
                </div>
            </transition-list>
        </section>

        <form-errors v-if="d_error"
                     class="mb-3"
                     :errors="d_error"
        />
        <v-button type="button"
                  :loading="d_loading"
                  @click.native="id ? update() : store()"
        >
            {{ id ? "Применить изменения" : "Создать" }}
        </v-button>
    </div>
    <loading-component v-else />
</template>

<script>
import { mapState } from 'vuex';
import VInput from '~/components/common/form/VInput';
import FormErrors from '~/components/common/form/FormErrors';
import VButton from '~/components/common/form/button/VButton';
import VCheckbox from '~/components/common/form/checkbox/VCheckbox';
import TransitionCollapse from '~/components/common/transitions/TransitionCollapse';
import DynamicAppConfigurator from '~/components/common/apps/dynamic-app/DynamicAppConfigurator';
import StaticAppConfigurator from '~/components/common/apps/static-app/StaticAppConfigurator';
import VRange from '~/components/common/form/VRange';
import VTabs from '~/components/common/form/VTabs';
import VSelect from '~/components/common/form/VSelect';
import TransitionList from '~/components/common/transitions/TransitionList';
import LoadingComponent from '~/components/common/LoadingComponent';
import FlashAppConfigurator from '~/components/common/apps/flash-app/FlashAppConfigurator';
import MultiplicationAppConfigurator from '~/components/common/apps/multiplication-app/MultiplicationAppConfigurator';

export default {
    name: 'AppEditor',
    components: {
        LoadingComponent,
        TransitionList,
        TransitionCollapse,
        FormErrors,
        VCheckbox,
        VRange,
        VTabs,
        VButton,
        VInput,
        VSelect,
    },
    props: {
        openHandbook: {
            type: Boolean,
            default: false,
        },
        id: {
            default: null,
        },
    },
    data() {
        return {
            d_app: null,
            d_loading: false,
            d_error: null,
            d_studentsQuery: null,
        };
    },
    computed: {
        c_configurator() {
            switch (this.d_app.type) {
            case 'dynamic':
                return DynamicAppConfigurator;
            case 'static':
                return StaticAppConfigurator;
            case 'flash':
                return FlashAppConfigurator;
            case 'multiplication':
                return MultiplicationAppConfigurator;
            default:
                return MultiplicationAppConfigurator;
            }
        },
        c_isTeacher() {
            return this.$store.state.students;
        },
        ...mapState({
            c_students: state => state.students.items,
        }),
        c_filteredStudents() {
            if (this.d_studentsQuery) {
                const lowQuery = this.d_studentsQuery.toLowerCase();
                return this.c_students.filter(
                    item => item.lastName.toLowerCase().includes(lowQuery) || item.firstName.toLowerCase().includes(lowQuery),
                );
            } else {
                return this.c_students;
            }
        },
    },
    async mounted() {
        if (this.id) {
            this.d_loading = true;
            const res = await this.$api.apps.fetchOne(this.id, {
                include: ['students'],
            });
            res.settings = res.instance;
            delete res.instance;
            this.d_app = res;
            this.d_loading = false;
        } else {
            this.d_app = {
                type: 'dynamic',
                name: null,
                minQuality: 0.75,
                isHomework: false,
                settings: null,
                students: [],
            };
        }
    },
    methods: {
        getStudentGroup(student) {
            return this.$store.getters['groups/findById'](student.groupId) || {};
        },
        translateAppType(val) {
            const map = {
                dynamic: 'Динамический',
                static: 'Статический',
                flash: 'Флэш',
                multiplication: 'Умножение',
            };
            return map[val] ? map[val] : val;
        },
        async store() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                const res = await this.$api.apps.store(this.d_app);
                this.$emit('create', res);
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
        async update() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                const res = await this.$api.apps.update(this.id, this.d_app);
                this.$emit('update', res);
            } catch (e) {
                console.error(e);
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped lang="scss">
</style>
