<template>
    <modal-component width="450px"
                     @close="$emit('close')"
    >
        <h4>Ученики</h4>
        <template v-if="!d_loading">
            <div v-for="student in d_students"
                 :key="student.id"
                 class="mb-3"
            >
                <b>{{ student.lastName }} {{ student.firstName }}</b>
                <div v-if="student.bestSession">
                    Лучшее прохождение: {{ student.bestSession.quality }}%
                    <span class="text-muted small">{{ student.bestSession.createdAt }}</span>
                </div>
                <div v-else>
                    История прохождений пуста
                </div>
            </div>
            <p v-if="d_students.length === 0">
                Список пуст
            </p>
        </template>
    </modal-component>
</template>

<script>
import ModalComponent from "~/components/common/ModalComponent";

export default {
    name: "AppStudentsModal",
    components: { ModalComponent },
    props: ["appId"],
    data() {
        return {
            d_students: [],
            d_loading: false,
        };
    },
    async mounted() {
        this.d_loading = true;
        this.d_students = await this.$api.apps.fetchStudents(this.appId);
        this.d_loading = false;
    },
};
</script>

<style scoped>

</style>
