<template>
    <div class="apps-table">
        <div class="apps-table__header">
            <div>№</div>
            <div>Дата создания</div>
            <div>Название</div>
            <div>Ученики</div>
            <div />
        </div>
        <apps-table-row v-for="(app, index) in apps"
                        :key="app.id"
                        class="apps-table__row"
                        :app="app"
                        @remove="apps.splice(index, 1)"
        />
    </div>
</template>

<script>
import AppsTableRow from "~/components/teacher/apps/AppsTableRow";

export default {
    name: "AppsTable",
    components: { AppsTableRow },
    props: ["apps"],
};
</script>

<style scoped lang="scss">
.apps-table__header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px 115px auto 200px 180px;
    grid-gap: 15px;
    margin-bottom: 7px;
    border-radius: 7px;
    padding: 10px;
}

.apps-table__header {
    background: $dark;
    color: white;
    font-weight: 500;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

</style>
