<template>
    <div class="app-row">
        <div class="app-row__id">
            {{ app.id }}
        </div>
        <div class="app-row__date">
            {{ formatCalendar(app.createdAt) }}
        </div>
        <div class="app-row__name">
            {{ app.name }}
            <div class="text-muted small">
                {{ formatAppType(app.type) }}
            </div>
        </div>
        <div class="app-row__show-students">
            <v-button schema="link"
                      @click.native="toggleStudentsList"
            >
                {{ d_showStudents ? "Скрыть" : "Показать" }} список
            </v-button>
        </div>
        <div class="app-row__actions">
            <nuxt-link :to="`/teacher/apps/${app.id}/play`"
                       title="Запустить"
            >
                <v-button schema="link">
                    <i class="icon-play" />
                </v-button>
            </nuxt-link>
            <nuxt-link v-if="app.isOwned"
                       :to="`/teacher/apps/${app.id}/edit`"
                       title="Редактировать"
            >
                <v-button schema="link">
                    <i class="icon-edit-alt" />
                </v-button>
            </nuxt-link>
            <loading-component v-if="d_deleting"
                               size="16"
            />
            <v-button v-else-if="app.isOwned"
                      schema="link"
                      title="Удалить"
                      @click.native="remove"
            >
                <i class="text-danger icon-trash" />
            </v-button>
        </div>
        <transition-collapse>
            <div v-if="d_showStudents"
                 class="app-row__students"
            >
                <loading-component v-if="d_loading" />
                <apps-table-row-students v-else
                                         :students="d_students"
                />
            </div>
        </transition-collapse>
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import formatAppType from "@/assets/js/filters/formatAppType";
import AppsTableRowStudents from "~/components/teacher/apps/AppsTableRowStudents";
import VButton from "~/components/common/form/button/VButton";
import LoadingComponent from "~/components/common/LoadingComponent";
import TransitionCollapse from "~/components/common/transitions/TransitionCollapse";

export default {
    name: "AppsTableRow",
    components: {
        TransitionCollapse,
        AppsTableRowStudents,
        LoadingComponent,
        VButton,
    },
    mixins: [dateMixins],
    props: ["app"],
    data() {
        return {
            d_showStudents: false,
            d_students: null,
            d_loading: false,
            d_deleting: false,
        };
    },
    methods: {
        formatAppType,
        async remove() {
            this.d_deleting = true;
            await this.$api.apps.delete(this.app.id);
            this.$emit("remove");
            this.d_deleting = false;
        },
        async fetchStudents() {
            this.d_loading = true;
            this.d_students = await this.$api.apps.fetchStudents(this.app.id);
            this.d_loading = false;
        },
        toggleStudentsList() {
            this.d_showStudents = !this.d_showStudents;
            if (this.d_showStudents && !this.d_students) {
                this.fetchStudents();
            }
        },
    },
};
</script>

<style scoped lang="scss">
.app-row {
    display: grid;
    grid-template-columns: 50px 115px auto 200px 180px;
    grid-gap: 15px;
    margin-bottom: 7px;
    border-radius: 7px;
    padding: 10px;
    background: white;

    &:nth-child(even) {
        background: #F0F0F0;
    }

    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
    }
}

.app-row__actions {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 25px);
    justify-content: flex-end;
    align-items: center;

    @include media-breakpoint-down(md) {
        order: 4;
    }
}

.app-row__id {
    @include media-breakpoint-down(md) {
        &:before {
            content: '№: ';
            font-weight: 500;
        }
    }
}

.app-row__date {
    @include media-breakpoint-down(md) {
        &:before {
            content: 'Дата создания: ';
            font-weight: 500;
        }
    }
}

.app-row__actions {
    @include media-breakpoint-down(md) {
        margin-top: 15px;
        order: 3;
    }
}

.app-row__students {
    grid-row: 2;
    grid-column: 3/6;
}

@include media-breakpoint-down(md) {
    .app-row__date, .app-row__name, .app-row__show-students, .app-row__actions, .app-row__students {
        grid-column: none;
    }
}
</style>
