<template>
    <div class="apps-table-row-students">
        <img class="apps-table-row-students__arrow"
             src="./arrow.svg"
        >
        <div class="apps-table-row-students__content">
            <div class="apps-table-row-students__header">
                <div>Ученик</div>
                <div>Дата последнего запуска</div>
                <div>Лучшее прохождение</div>
            </div>
            <div v-for="student in students"
                 :key="student.id"
                 class="apps-table-row-students__row"
            >
                <div class="apps-table-row-students__name">
                    {{ student.lastName }} {{ student.firstName }}
                </div>
                <div v-if="student.lastSession"
                     class="apps-table-row-students__last-session"
                >
                    {{ formatCalendar(student.lastSession.updatedAt) }}
                </div>
                <p v-else
                   class="apps-table-row-students__no-sessions"
                >
                    Ученик ещё не запускал этот тренажер
                </p>
                <div v-if="student.bestSession"
                     class="apps-table-row-students__best-session"
                >
                    {{ student.bestSession.quality }}% ({{ formatCalendar(student.lastSession.updatedAt) }})
                </div>
            </div>
            <div v-if="!students || !students.length"
                 class="apps-table-row-students__row"
            >
                Нет активных учеников
            </div>
        </div>
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";

export default {
    name: "AppsTableRowStudents",
    mixins: [dateMixins],
    props: ["students"],
    methods: {},
};
</script>

<style scoped lang="scss">
.apps-table-row-students {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    grid-template-columns: min-content auto;

    @include media-breakpoint-down(lg) {
        display: block;
    }
}

.apps-table-row-students__arrow {
    opacity: 0.4;
    height: 85px;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.apps-table-row-students__content {
    background: $primary;
    color: white;
    border-radius: 7px;
    padding: 10px;
    margin: 0 0 0 -10px;

    @include media-breakpoint-down(md) {
        margin: 0;
    }
}

.apps-table-row-students__header, .apps-table-row-students__row {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    padding: 10px 0;
    grid-gap: 7px;
}

.apps-table-row-students__header {
    font-weight: 500;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.apps-table-row-students__row {
    @include media-breakpoint-down(lg) {
        display: block;
    }
}

.apps-table-row-students__no-sessions {
    grid-column: 2/4;

    @include media-breakpoint-down(lg) {
        font-size: 14px;
    }
}

.apps-table-row-students__last-session {
    @include media-breakpoint-down(lg) {
        font-size: 14px;

        &:before {
            content: 'Последний запуск: ';
            font-weight: 500;
        }
    }
}

.apps-table-row-students__best-session {
    @include media-breakpoint-down(lg) {
        font-size: 14px;

        &:before {
            content: 'Лучший результат: ';
            font-weight: 500;
        }
    }
}

.apps-table-row-students__name {
    @include media-breakpoint-down(lg) {
        font-weight: bold;
        color: $secondary;
    }
}
</style>
