<template>
    <aside class="sidebar sidebar_teacher"
           :class="{ sidebar_active: $store.state.sidebar.show || alwaysOpen }"
    >
        <div class="sidebar__header">
            <nuxt-link class="sidebar__settings icon-settings text-decoration-none"
                       to="/teacher/profile"
            />
            <nuxt-link to="/teacher/profile"
                       class="text-decoration-none d-inline-block"
            >
                <avatar class="sidebar__avatar"
                        :level="$store.state.auth.user.level"
                        :image="$store.getters['auth/imageUrl']"
                />
            </nuxt-link>
            <div>
                <div class="sidebar__username">
                    {{ $store.getters["auth/username"] }}
                </div>
                <div class="sidebar__role">
                    Преподаватель
                </div>
            </div>
            <div class="sidebar__burger"
                 @click="$store.commit('sidebar/toggle')"
            >
                <span class="sidebar__burger-btn"
                      :class="{'sidebar__burger-btn_active': $store.state.sidebar.show}"
                />
            </div>
        </div>
        <ul class="sidebar__list">
            <template v-if="$store.state.auth.user.hasAccess">
                <li>
                    <nuxt-link class="sidebar__link"
                               to="/teacher/students"
                    >
                        <i class="sidebar__link-icon icon-student" />
                        Ученики
                    </nuxt-link>
                </li>
                <li>
                    <nuxt-link class="sidebar__link"
                               to="/teacher/schedule"
                    >
                        <i class="sidebar__link-icon icon-schedule" />
                        Расписание
                    </nuxt-link>
                </li>
                <li>
                    <nuxt-link class="sidebar__link"
                               to="/teacher/apps"
                    >
                        <i class="sidebar__link-icon icon-app" />
                        Тренажеры
                    </nuxt-link>
                </li>
                <li>
                    <nuxt-link class="sidebar__link"
                               to="/teacher/homeworks"
                    >
                        <i class="sidebar__link-icon icon-homework" />
                        Домашние задания
                    </nuxt-link>
                </li>
                <li v-if="$store.state.media.lg">
                    <nuxt-link class="sidebar__link"
                               to="/teacher/multiplayer"
                    >
                        <i class="sidebar__link-icon icon-multiplayer" />
                        Мультиплеер
                    </nuxt-link>
                </li>
            </template>
            <li>
                <nuxt-link class="sidebar__link"
                           to="/teacher/subscriptions"
                >
                    <i class="sidebar__link-icon icon-subscription" />
                    Абонементы
                </nuxt-link>
            </li>
            <li>
                <nuxt-link class="sidebar__link"
                           to="/teacher/attestations"
                >
                    <i class="sidebar__link-icon icon-stopwatch" />
                    Аттестация
                </nuxt-link>
            </li>
            <li>
                <div role="button"
                     class="sidebar__link"
                     @click.prevent="logout"
                >
                    <i class="sidebar__link-icon icon-exit" />
                    Выйти
                </div>
            </li>
            <li>
                <v-button schema="light"
                          class="sidebar__help"
                          @click.native="showFeedbackModal"
                >
                    Нужна помощь?
                </v-button>
            </li>
        </ul>
    </aside>
</template>

<script>
import VButton from "@/components/common/form/button/VButton";
import Avatar from "~/components/common/Avatar";

export default {
    name: "Sidebar",
    components: {
        VButton,
        Avatar,
    },
    props: {
        alwaysOpen: {
            default: false,
        },
    },
    mounted() {
        this.$router.beforeEach((to, from, next) => {
            this.$store.commit("sidebar/toggle", false);
            next();
        });
    },
    methods: {
        async logout() {
            await this.$store.dispatch("auth/logout", "teacher");
            await this.$router.push("/");
        },
        showFeedbackModal() {
            window.showFeedbackModal();
        },
    },
};
</script>

<style scoped lang="scss">
</style>
