<template>
    <div class="forwho">
        <div class="container">
            <h2 class="h1 forwho__title">
                Для кого
            </h2>
            <div class="forwho__inner">
                <div class="forwho__inner-item finger1"
                     @mouseenter="showModal(1)"
                     @mouseleave="onMouseLeave"
                >
                    <img src="/images/forwho/item1.jpg"
                         class="forwho__inner-item-img"
                         alt=""
                         style=""
                    >
                    <div class="forwho__inner-item-title">
                        Детям
                    </div>
                    <svg width="0"
                         height="0"
                    >
                        <defs>
                            <clipPath id="finger1"
                                      clipPathUnits="objectBoundingBox"
                                      transform="scale(0.0037, 0.003703704)"
                            >
                                <path
                                    d="M211.221 26.8947C189.498 11.5394 163.231 5.11199 137.049 5.0186C110.617 4.92432 85.0631 12.2547 62.7037 26.2275C39.924 40.463 15.2722 59.027 7.29972 86.7036C3.28527 100.64 5.03172 114.392 8.67802 127.49C11.0198 135.901 14.3101 144.516 17.4779 152.811C19.1401 157.163 20.7685 161.426 22.2085 165.526C23.4399 169.032 24.6452 172.673 25.87 176.374C28.7564 185.095 31.7513 194.143 35.4509 202.513C40.7983 214.611 47.9084 226.064 59.1422 234.601C81.3496 251.477 110.692 252.039 136.407 252.532L136.935 252.542C163.5 253.052 192.668 252.895 216.693 237.766C241.137 222.372 259.585 197.87 267.023 170.014C274.352 142.571 266.453 114.496 256.669 89.4735C247.217 65.2971 233.138 42.387 211.221 26.8947Z"
                                    stroke="#0497BA"
                                    stroke-width="10"
                                />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="forwho__inner-item finger2"
                     @mouseenter="showModal(2)"
                     @mouseleave="onMouseLeave"
                >
                    <img src="/images/forwho/item1.jpg"
                         class="forwho__inner-item-img"
                         alt=""
                         style=""
                    >
                    <div class="forwho__inner-item-title">
                        Родителям
                    </div>
                    <svg width="0"
                         height="0"
                    >
                        <defs>
                            <clipPath id="finger2"
                                      clipPathUnits="objectBoundingBox"
                                      transform="scale(0.003921569, 0.003773585)"
                            >
                                <path
                                    d="M197.284 44.0143C194.345 41.6313 191.333 39.0813 188.258 36.4774C181.196 30.4985 173.798 24.2353 166.177 19.0568C155.06 11.5024 142.657 5.63301 128.326 5.39058C113.976 5.14784 101.241 10.4377 89.7364 17.5584C80.8099 23.0831 72.2752 29.9493 64.2 36.4459C61.967 38.2423 59.7691 40.0105 57.6078 41.7142C57.2388 42.0051 56.8688 42.2966 56.4979 42.5889C37.4879 57.567 16.0313 74.4728 8.43797 99.6114C0.763453 125.019 9.7292 151.244 17.6204 174.237C25.4063 196.923 34.4976 222.591 55.8445 237.756C66.5991 245.396 78.7804 248.909 91.1081 250.655C101.023 252.059 111.351 252.35 121.24 252.629C123.544 252.694 125.824 252.758 128.069 252.836C130.974 252.936 133.941 253.07 136.948 253.206C146.649 253.644 156.756 254.101 166.507 253.504C179.412 252.714 192.307 250.073 203.964 242.855C227.516 228.271 241.754 202.921 249.172 177.321C256.538 151.902 255.298 124.614 245.629 99.9709C236.17 75.8639 216.093 59.2652 197.284 44.0143Z"
                                    stroke="#0497BA"
                                    stroke-width="10"
                                />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="forwho__inner-item finger3"
                     @mouseenter="showModal(3)"
                     @mouseleave="onMouseLeave"
                >
                    <img src="/images/forwho/item1.jpg"
                         class="forwho__inner-item-img"
                         alt=""
                         style=""
                    >
                    <div class="forwho__inner-item-title">
                        Учителям
                    </div>
                    <svg width="0"
                         height="0"
                    >
                        <defs>
                            <clipPath id="finger3"
                                      clipPathUnits="objectBoundingBox"
                                      transform="scale(0.003636364, 0.003703704)"
                            >
                                <path
                                    d="M227.594 30.4229C204.558 12.3187 173.263 3.76966 143.236 5.93007C113.83 8.04577 89.6398 25.0985 68.4324 41.3996C48.0084 57.0985 32.2056 76.3236 21.8442 98.9235C11.0986 122.361 0.733501 148.95 7.44808 175.668C14.3232 203.024 32.5359 228.249 58.5589 243.298C71.4958 250.779 85.8279 253.719 100.267 254.852C110.68 255.669 121.489 255.557 131.978 255.448C135.903 255.408 139.784 255.367 143.583 255.376C148.397 255.388 153.448 255.533 158.598 255.681C168.155 255.955 178.054 256.24 187.416 255.698C202.077 254.851 216.674 251.98 229.238 243.511C253.784 226.966 260.76 197.36 266.591 172.61L266.791 171.764C272.481 147.627 270.189 123.687 263.749 100.237C263.492 99.2997 263.234 98.3571 262.975 97.4096C256.557 73.9382 249.33 47.5064 227.594 30.4229Z"
                                    stroke="#0497BA"
                                    stroke-width="10"
                                />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="forwho__inner-item finger4"
                     @mouseenter="showModal(4)"
                     @mouseleave="onMouseLeave"
                >
                    <img src="/images/forwho/item1.jpg"
                         class="forwho__inner-item-img"
                         alt=""
                         style=""
                    >
                    <div class="forwho__inner-item-title">
                        Детским центрам
                    </div>
                    <svg width="0"
                         height="0"
                    >
                        <defs>
                            <clipPath id="finger4"
                                      clipPathUnits="objectBoundingBox"
                                      transform="scale(0.004, 0.004347826)"
                            >
                                <path
                                    d="M196.693 24.9489C176.178 9.67412 149.626 5.97168 124.91 5.42905C99.7505 4.8767 72.4049 7.0948 50.7226 21.7381C28.9664 36.4314 16.9931 59.9808 10.0632 83.2534C3.23561 106.183 3.00082 130.611 11.3793 153.375C19.6317 175.796 35.5443 194.814 56.0415 208.191C76.2765 221.398 100.393 228.063 124.893 227.608C149.149 227.157 172.309 219.129 191.798 205.703C211.177 192.353 226.896 174.08 234.307 152.028C241.742 129.906 238.601 106.822 232.301 85.4817C225.857 63.6531 216.932 40.0181 196.693 24.9489Z"
                                    stroke="#FFEC00"
                                    stroke-width="10"
                                />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="forwho__inner-main"
                     :class="{'forwho__inner-main_active': d_activeContent}"
                >
                    <div class="forwho__inner-main-img-wrap">
                        <div v-if="d_activeContent"
                             class="forwho__modal-fade"
                             @click="onMouseLeave"
                        />
                        <transition-fade translate-y="100px">
                            <div v-if="d_activeContent">
                                <circle-button class="forwho__modal-btn-close"
                                               schema="secondary"
                                               @click.native="hideModal"
                                >
                                    <i class="icon-close" />
                                </circle-button>
                                <div v-if="d_activeContent === 'finger1'">
                                    <h3 class="mb-4 mb-md-3 px-5">
                                        Детям
                                    </h3>
                                    <p>
                                        Современным детям важно включать в Учебный процесс интерактивные технологии.
                                        Онлайн тренажёры помогут ребятам в игровой форме осваивать навыки быстрого
                                        ментального
                                        счёта , воображение, тренировать разные виды памяти - тем самым способствовать
                                        гармоничному развитию личности.
                                    </p>
                                </div>
                                <div v-if="d_activeContent === 'finger2'">
                                    <h3 class="mb-4 mb-md-3 px-5">
                                        Родителям
                                    </h3>
                                    <p>
                                        Это уникальная возможность развивать своего ребенка,
                                        когда рядом нет педагога, и быть уверенным, что время на
                                        тренировку затрачено с пользой. Вы можете отслеживать прогресс
                                        освоения материала по ментальной арифметике, просматривать статистику выполнения
                                        тренажеров и просматривать график успешности развития ребенка.
                                    </p>
                                </div>
                                <div v-if="d_activeContent === 'finger3'">
                                    <h3 class="mb-4 mb-md-3 px-5">
                                        Учителям
                                    </h3>
                                    <p>
                                        В тренажёре реализована лучшая мотивация для каждого ребенка!
                                        Ученики, тренируясь, зарабатывают виртуальную валюту «Брэйники»,
                                        на которые можно приобретать инструменты и аксессуары в интерактивной игре!
                                        Так же формируется рейтинг как среди учеников группы, так и среди остальных
                                        занимающихся.
                                        Вы сможете создавать индивидуальные и групповые тренажеры для занятий дома,
                                        выбрав необходимые настройки. Аналитика позволяет скорректировать
                                        учебную программу для конкретных групп и учеников.
                                    </p>
                                </div>
                                <div v-if="d_activeContent === 'finger4'">
                                    <h3 class="mb-4 mb-md-3 px-5">
                                        Детским центрам
                                    </h3>
                                    <p>
                                        Руководители детских центров могут отслеживать динамику успеваемости учащихся,
                                        и , соответственно, результативность работы педагогов, даже если руководитель
                                        не владеет методикой «ментальная арифметика». На платформе формируется
                                        расписание работы каждой
                                        группы, строится статистика в виде графика, учитывающего сложность выполнения
                                        заданий детьми и
                                        правильность выполнения. Руководитель центра рассмотрев аналитику сможет сделать
                                        выводы о об уровне
                                        подготовленности учеников и преподавателей.
                                    </p>
                                </div>
                            </div>
                        </transition-fade>
                    </div>
                    <svg width="0"
                         height="0"
                    >
                        <clipPath id="main-img"
                                  clipPathUnits="objectBoundingBox"
                                  transform="scale(0.001545595, 0.00174216)"
                        >
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M336.895 0.493068C409.459 1.23749 430.478 68.1867 488.748 107.111C531.396 151.013 613.343 145.732 643.71 205.45C658.27 264.151 636.918 305.308 620.611 363.636C603.078 426.352 577.886 481.38 522.858 522.973C457.117 548.248 410.55 579.332 336.895 574.278C266.89 569.474 180.874 559.943 123.939 522.973C66.8183 485.881 57.6545 448.613 32.4252 389.429C6.41755 328.42 -10.2266 262.335 9.94621 199.563C40.7447 152.144 130.24 176.703 177.819 107.111C217.933 60.0973 263.453 -0.260363 336.895 0.493068Z"
                                  fill="black"
                            />
                        </clipPath>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import CircleButton from "@/components/common/form/CircleButton";
import TransitionFade from "@/components/common/transitions/TransitionFade";

export default {
    name: "VForWho",
    components: {
        TransitionFade,
        CircleButton,
    },
    data() {
        return {
            d_activeContent: null,
            d_windowInnerWidth: null,
        };
    },
    mounted() {
        this.d_windowInnerWidth = window.innerWidth;
    },
    methods: {
        showModal(val) {
            this.d_activeContent = "finger" + val;
            if (window.innerWidth < 992) {
                document.documentElement.style.overflowY = "hidden";
            }
        },
        hideModal() {
            this.d_activeContent = null;
            document.documentElement.style.overflowY = "auto";
        },
        onMouseLeave() {
            if (window.innerWidth >= 992) {
                this.d_activeContent = null;
            }
        },
    },
};
</script>

<style lang="scss">
.forwho {
    background: url('/images/forwho/math-bg.png'),
    linear-gradient(
            90deg,
            #197294 -8.88%,
            #2AB5CE 36.17%,
            #2AB5CE 66.79%,
            #197294 112.19%
    ),
    #FFFFFF;
    text-align: center;

    .forwho__title {
        color: $light;
        margin-bottom: 60px;
    }

    .forwho__inner {
        position: relative;
        margin: auto;
        height: 720px;
        width: 1000px;

        @include media-breakpoint-down(lg) {
            width: 960px;
            height: 570px;
        }

        @include media-breakpoint-down(md) {
            width: 720px;
            height: 400px;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
            height: 300px;
        }
    }

    .forwho__inner-item {
        position: absolute;
        width: 23%;
        height: 32%;
        font-weight: bold;
        font-size: 30px;
        line-height: 110%;
        letter-spacing: 0.7px;
        color: $light;

        @include media-breakpoint-down(md) {
            width: 25%;
            height: 30%;
            font-size: 12px;
            font-weight: 400;
        }

        .forwho__inner-item-title {
            position: absolute;
            transition: all 0.3s ease;
            margin: auto;
            top: 0;
            bottom: 0;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        .forwho__inner-item-img {
            filter: brightness(0.3);
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: filter 0.3s ease;
        }

        &:hover {
            .forwho__inner-item-img {
                filter: brightness(1);
            }

            .forwho__inner-item-title {
                transform: translateY(-300px);
            }
        }

        &.finger1 {
            left: 0;
            top: 17%;
            clip-path: url(#finger1);
        }

        &.finger2 {
            left: 23%;
            top: -4%;
            clip-path: url(#finger2);
        }

        &.finger3 {
            left: 53%;
            top: -5%;
            clip-path: url(#finger3);
        }

        &.finger4 {
            right: 0%;
            top: 12%;
            clip-path: url(#finger4);
        }
    }

    .forwho__inner-main {
        padding: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 70%;
        width: 65%;

        &:before {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            clip-path: url(#main-img);
            background: #2d2d2d;
        }

        .forwho__inner-main-img-wrap {
            clip-path: url(#main-img);
            background: url('/images/forest.jpg') center no-repeat;
            background-size: cover;
            padding: 100px;
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;

            @include media-breakpoint-down(lg) {
                font-size: 14px;
                line-height: 20px;
                padding: 50px;
            }

            &::before {
                content: '';
                background: radial-gradient(
                        62.22% 62.22% at 50% 50%,
                        rgba(255, 255, 255, 0.8) 43.75%,
                        rgba(255, 255, 255, 0) 100%
                );
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 0.1s ease-in;
                z-index: -1;
            }
        }
    }

    .forwho__inner-main_active {
        .forwho__inner-main-img-wrap:before {
            opacity: 1;
        }

        @include media-breakpoint-down(md) {
            .forwho__inner-main-img-wrap {
                position: fixed;
                width: 100%;
                height: 100%;
                z-index: 1;
                clip-path: none;
                top: 0;
                left: 0;
                padding: 15px;
            }
        }
    }

    .forwho__modal-btn-close {
        display: none;
        font-size: 16px;

        @include media-breakpoint-down(md) {
            display: block;
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
}
</style>
