<template>
    <div class="multiplayer-app-row">
        <h5>{{ app.name }}</h5>
        <div class="small">
            <div v-if="app.isHomework"
                 class="text-primary"
            >
                Домашняя работа
            </div>
            <div v-if="app.lastSession"
                 class="text-muted"
            >
                Последний запуск {{ formatFromNow(app.lastSession.updatedAt) }}
            </div>
            <div v-if="app.bestSession"
                 class="text-muted"
            >
                Лучший результат {{ app.bestSession.quality }}%
            </div>
        </div>
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";

export default {
    name: "MultiplayerAppRow",
    mixins: [dateMixins],
    props: ["app", "student"],
};
</script>

<style scoped lang="scss">
.multiplayer-app-row {
    padding: 15px;
    background: white;
    border-radius: 7px;
    border: 1px solid #bff2fe;
}
</style>
