<template>
    <div class="multiplayer-player"
         :class="{'multiplayer-player__no-player': !c_ready}"
    >
        <div v-if="!c_playerSelected">
            <h3>Выберите игрока</h3>
            <div class="multiplayer-player__player-select">
                <student-card v-for="student in c_students"
                              :key="student.id"
                              class="multiplayer-player__player-card"
                              :student="student"
                              :mini="true"
                              :show-details-link="false"
                              @click.native="selectPlayer(student)"
                />
            </div>
        </div>
        <div v-else-if="!d_player.app">
            <loading-component v-if="!d_player.apps"
                               color="primary"
            />
            <template v-else>
                <div class="d-inline-block mb-3"
                     role="button"
                     @click="clearPlayer"
                >
                    <i class="icon-arrow-left align-middle" /> {{ d_player.name }}
                </div>
                <div class="multiplayer-player__app-select">
                    <multiplayer-app-row v-for="app in d_player.apps"
                                         :key="app.id"
                                         class="multiplayer-player__app-card"
                                         :app="app"
                                         :student="d_player.student"
                                         @click.native="startApp(app)"
                    />
                    <div v-if="!d_player.apps.length"
                         class="multiplayer-player__no-apps"
                    >
                        Список тренажеров пуст
                    </div>
                </div>
            </template>
        </div>
        <component :is="c_component"
                   v-else-if="d_player.session"
                   :id="d_player.app.id"
                   ref="app"
                   :hide-progress="true"
                   :session.sync="d_player.session"
                   :disable-sound="true"
                   @show-settings="$emit('show-settings')"
        />
    </div>
</template>

<script>
import StudentCard from "~/components/teacher/student/StudentCard";
import MultiplayerAppRow from "~/components/teacher/multiplayer/MultiplayerAppRow";
import StudentFactory from "~/assets/js/factories/StudentFactory";
import LoadingComponent from "~/components/common/LoadingComponent";
import StaticApp from "~/components/common/apps/static-app/StaticApp";
import DynamicApp from "~/components/common/apps/dynamic-app/DynamicApp";
import FlashApp from "~/components/common/apps/flash-app/FlashApp";
import MultiplicationApp from "~/components/common/apps/multiplication-app/MultiplicationApp";

export default {
    name: "MultiplayerPlayer",
    components: {
        MultiplayerAppRow,
        LoadingComponent,
        StudentCard,
    },
    props: {
        player: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            d_player: this.player,
        };
    },
    computed: {
        c_students() {
            const anonymous = StudentFactory.create({
                lastName: "Анонимный игрок",
                firstName: "",
            });
            return this.$store.state.students.items.concat([anonymous]);
        },
        c_playerSelected() {
            return this.d_player.name;
        },
        c_ready() {
            return this.c_playerSelected && this.d_player.session;
        },
        c_component() {
            if (!this.d_player.session) {
                return;
            }

            switch (this.d_player.session.appType) {
            case "static":
                return StaticApp;
            case "dynamic":
                return DynamicApp;
            case "flash":
                return FlashApp;
            case "multiplication":
                return MultiplicationApp;
            default:
                return MultiplicationApp;
            }
        },
    },
    methods: {
        selectPlayer(student) {
            this.d_player.student = JSON.parse(JSON.stringify(student));
            this.d_player.name = student.lastName + " " + student.firstName;
            this.fetchPlayerApps();
        },
        async fetchPlayerApps() {
            this.d_player.apps = null;
            if (this.d_player.student.id) {
                this.d_player.apps = await this.$api.students.fetchStudentApps(this.d_player.student.id);
            } else {
                this.d_player.apps = await this.$api.apps.fetch();
            }
        },
        async startApp(app) {
            this.d_player.app = app;
            this.d_player.session = await this.$api.apps.play(app.id, {
                studentId: this.d_player.student.id,
            });
        },
        clearPlayer() {
            this.d_player.name = null;
            this.d_player.student = null;
        },
    },
};
</script>

<style scoped lang="scss">
.multiplayer-player {
    border: 1px solid #717171;
    overflow: hidden;
    position: relative;
}

.multiplayer-player__no-player {
    padding: 30px;
    overflow-y: auto;
    @include styled-scroll;
}

.multiplayer-player__player-select, .multiplayer-player__app-select {
    display: grid;
    grid-gap: 15px;
    height: 100%;
}

.multiplayer-player__player-card, .multiplayer-player__app-card {
    cursor: pointer;
    transition: all .1s ease-in;

    ::v-deep {
        .avatar__level-label {
            font-size: 12px;
            line-height: 14px;
            bottom: -2px;

            span {
                display: none!important;
            }

            &:before, &:after {
                border-width: 5px;
            }

            &:before{
                left: -9px;
            }

            &:after{
                right: -9px;
            }
        }
    }

    &:hover {
        background: #f1f1f1;
        transform: scale(1.05);
    }
}

.multiplayer-player__no-apps {
    padding: 15px;
    background: white;
    border-radius: 7px;
    border: 1px solid #bff2fe;
}

::v-deep {
    .student-card__avatar {
        width: 50px;
        height: 50px;
        font-size: 24px;
    }
}
</style>
