<template>
    <div class="dynamic-app-task">
        <!--        <transition-fade mode="out-in">-->
        <v-abacus v-if="c_isAbacus"
                  :key="new Date()"
                  class="dynamic-app-task__abacus"
                  :value="parseFloat(c_addendum)"
                  :scheme="preferences.beadImg"
        />
        <div v-else
             :key="d_addendumIdx"
             class="dynamic-app-task__addendum"
             :data-index="d_addendumIdx % 2 ? 'odd' : 'even'"
             :style="c_addendumStyle"
        >
            {{ c_addendum }}
        </div>
        <!--        </transition-fade>-->
    </div>
</template>

<script>
import VAbacus from "@/components/common/abacus/VAbacus";

export default {
    name: "DynamicAppTask",
    components: {
        VAbacus,
    },
    props: {
        session: {
            type: Object,
            required: true,
        },
        preferences: {
            type: Object,
            required: true,
        },
        task: {
            type: Object,
            required: true,
        },
        width: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            d_addendumIdx: -1,
            d_timer: null,
            d_addendumSounds: [],
            d_addendumWidth: 0,
        };
    },
    computed: {
        c_addendum() {
            let res = this.task.addendums[this.d_addendumIdx];
            res = parseFloat(res);
            if (res > 0) {
                res = "+" + res;
            }
            return res;
        },
        c_isAbacus() {
            const val = this.task.addendums[this.d_addendumIdx];
            return typeof val === "string" && val.includes("'");
        },
        c_addendumsSpeech() {
            if (!this.task || this.c_isAbacus) {
                return;
            }
            return this.preferences.sound && this.task.watchTime > 0.4;
        },
        c_addendumStyle() {
            return {
                "font-size": this.d_addendumWidth / 289 + "em",
            };
        },
    },
    watch: {
        width() {
            this.d_addendumWidth = this.$el.clientWidth;
        },
    },
    async mounted() {
        try {
            await this.fetchAddendumsSounds();
        } catch (e) {
            console.error(e);
        }
        this.d_addendumWidth = this.$el.clientWidth;
        console.log(this.$el.clientWidth);
        await this.showNextAddendum();
    },
    beforeDestroy() {
        clearTimeout(this.d_timer);
    },
    methods: {
        showNextAddendum() {
            if (this.d_addendumIdx + 1 < this.task.addendums.length) {
                this.d_addendumIdx++;

                if (this.c_addendumsSpeech) {
                    this.playAddendumSound();
                }
                this.d_timer = setTimeout(this.showNextAddendum, this.task.watchTime * 1000);
            } else {
                this.d_timer = null;
                this.$emit("needAnswer");
            }
        },
        fetchAddendumsSounds() {
            this.d_addendumSounds = [];
            let countLeftToLoad = 0;

            return new Promise((resolve) => {
                this.task.addendums.forEach((item) => {
                    countLeftToLoad++;
                    item = +String(item).replace("'", "");
                    let fileName = "";
                    fileName += item > 0 ? "+" : "-";
                    fileName += Math.abs(item) + ".mp3";
                    const sound = new Audio(this.$config.apiHost + "/sound/addendums/" + fileName);
                    sound.preload = "auto";
                    sound.addEventListener("canplaythrough", () => {
                        countLeftToLoad--;
                        if (countLeftToLoad <= 0) {
                            resolve();
                        }
                    });
                    sound.addEventListener("error", () => {
                        countLeftToLoad--;
                        if (countLeftToLoad <= 0) {
                            resolve();
                        }
                    });
                    sound.load();
                    this.d_addendumSounds.push(sound);
                });
            });
        },
        playAddendumSound() {
            try {
                const audio = this.d_addendumSounds[this.d_addendumIdx];
                if (!audio) {
                    return;
                }
                if (this.task.watchTime < audio.duration) {
                    // с поправкой 0.2 лучше звучит
                    audio.playbackRate = (audio.duration - 0.2) / this.task.watchTime;
                }
                audio.play();
            } catch (e) {

            }
        },
    },
};
</script>

<style lang="scss">
.dynamic-app-task {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dynamic-app-task__addendum {
    font-weight: 900;
    word-break: break-all;
    line-height: normal;

    &[data-index=odd] {
        color: #eeee5c;
    }
}

.dynamic-app-task__play {
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    grid-gap: 20px;
}

.dynamic-app-task__play-button {
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    margin: auto;
}

.dynamic-app-task__play-text {
    font-size: 1.5em;
}

.dynamic-app-task__abacus {
    height: 330px !important;
}

.app_mobile {
    .dynamic-app-task__play-button {
        width: 1.8em;
        height: 1.8em;
        font-size: 1em;
    }

    .dynamic-app-task__play-text {
        font-size: 0.5em;
    }
}

.app_light {
    .dynamic-app-task__addendum[data-index=odd] {
        color: #406618;
    }
}

.app_dark {
    .dynamic-app-task__addendum[data-index=odd] {
        color: white;
    }
}
</style>
