<template>
    <modal-component width="1200px"
                     @close="$emit('close')"
    >
        <div class="theme-modal">
            <v-tabs v-model="d_tab"
                    :tabs="d_tabs"
                    :minimize-mobile="true"
                    :column-style="true"
            >
                <template #default>
                    <div class="h2">
                        Не знаешь с чего начать?
                    </div>
                    <p>
                        Мы подготовили для тебя список тем, которые помогут улучшить твои навыки устного счета.
                        Начинай с темы - <b>"Простой счет"</b>, как только поймешь, что стало легко, переходи к
                        следующей
                        теме.
                    </p>
                    <p>
                        Так же, ты сможешь возвращаться к любой теме, если подзабыл или просто, чтобы
                        потренироваться.
                    </p>
                </template>

                <template #title>
                    Темы:
                </template>

                <template slot="Простой счет">
                    <div class="tab__content">
                        <div class="h2">
                            Простой счет
                        </div>
                        <p class="mb-4">
                            Данная тема предназначна для усвоения основных простых операций сложения и
                            вычитания, без применения
                            формул. Мы рекомендуем начать ваше обучение именно с простого счета.
                        </p>
                        <v-button schema="dark"
                                  type="button"
                                  @click.native="setSimple"
                        >
                            Выбрать эту тему
                        </v-button>
                    </div>
                </template>

                <template slot="Формулы в пятерке">
                    <div class="tab__content">
                        <div class="h2">
                            Формулы в пятерке
                        </div>
                        <p class="mb-4">
                            Начиная с этой темы, ты перейдешь к знакомству с формулами,
                            необходимыми в некоторых ситуациях. Например для решения следующего примера: <b>4&nbsp;+&nbsp;3&nbsp;=&nbsp;?</b>
                        </p>
                        <b>В качестве подсказки, мы подготовили для тебя все формулы из данной темы:</b>
                        <div class="content__formulas">
                            <ul class="formulas__list">
                                <li>+1 = +5 - 4</li>
                                <li>+2 = +5 - 3</li>
                                <li>+3 = +5 - 2</li>
                                <li>+4 = +5 - 1</li>
                            </ul>
                            <ul class="formulas__list">
                                <li>-1 = -5 + 4</li>
                                <li>-2 = -5 + 3</li>
                                <li>-3 = -5 + 2</li>
                                <li>-4 = -5 + 1</li>
                            </ul>
                        </div>

                        <v-button schema="dark"
                                  type="button"
                                  @click.native="setFive"
                        >
                            Выбрать эту тему
                        </v-button>
                    </div>
                </template>

                <template slot="Формулы в десятке">
                    <div class="tab__content">
                        <div class="h2">
                            Формулы в десятке
                        </div>
                        <p class="mb-4">
                            Если ты уже освоил тему "Формулы в пятерке", пора переходить к более сложным
                            "Формулам в десятке". Данная тема поможет тебе разобраться с подобными
                            примерами:
                            <b>7&nbsp;+&nbsp;5&nbsp;=&nbsp;?</b>
                        </p>
                        <b>В качестве подсказки, мы подготовили для тебя все формулы из данной темы:</b>
                        <div class="content__formulas">
                            <ul class="formulas__list">
                                <li>+1 = -9 +10</li>
                                <li>+2 = -8 +10</li>
                                <li>+3 = -7 +10</li>
                                <li>+4 = -6 +10</li>
                                <li>+5 = -5 +10</li>
                                <li>+6 = -4 +10</li>
                                <li>+7 = -3 +10</li>
                                <li>+8 = -2 +10</li>
                                <li>+9 = -1 +10</li>
                            </ul>
                            <ul class="formulas__list">
                                <li>-1 = +9 -10</li>
                                <li>-2 = +8 -10</li>
                                <li>-3 = +7 -10</li>
                                <li>-4 = +6 -10</li>
                                <li>-5 = +5 -10</li>
                                <li>-6 = +4 -10</li>
                                <li>-7 = +3 -10</li>
                                <li>-8 = +2 -10</li>
                                <li>-9 = +1 -10</li>
                            </ul>
                        </div>
                        <v-button schema="dark"
                                  type="button"
                                  @click.native="setTen"
                        >
                            Выбрать эту тему
                        </v-button>
                    </div>
                </template>

                <template slot="Смешанные формулы">
                    <div class="tab__content">
                        <div class="h2">
                            Смешанные формулы
                        </div>
                        <p class="mb-4">
                            Легко справляешься с <b>"Формулами в пятерке"</b> и <b>"Формулами в десятке"</b>? Смело
                            выбирай данную
                            тему и тренируйся применять обе изученные формулы в одном примере! Когда освоишь данную
                            тему, сможешь
                            решать подобные примеры: <b>5 + 7 = ?</b>
                        </p>
                        <v-button schema="dark"
                                  type="button"
                                  @click.native="setMixed"
                        >
                            Выбрать эту тему
                        </v-button>
                    </div>
                </template>

                <template slot="Любые формулы">
                    <div class="tab__content">
                        <div class="h2">
                            Любые формулы
                        </div>
                        <p class="mb-4">
                            Случайный подбор всех ранее изученных формул в произвольном порядке.
                        </p>
                        <v-button schema="dark"
                                  type="button"
                                  @click.native="setAny"
                        >
                            Выбрать эту тему
                        </v-button>
                    </div>
                </template>

                <template slot="Международные уровни МА">
                    <div class="tab__content">
                        <div class="h2">
                            Международные уровни МА
                        </div>
                        <p class="mb-4">
                            Набор настроек тренажера в соответствие с уровнями международной системы тестирования
                            навыков ментальной арифметики.
                        </p>
                        <v-select v-model="d_samaGlobal.type"
                                  class="mb-3"
                                  label="Выберите режим"
                                  :options="['mental', 'abakus']"
                        >
                            <template #option="{option}">
                                {{ formatAttestationType(option) }}
                            </template>
                            <template #singleLabel="{option}">
                                {{ formatAttestationType(option) }}
                            </template>
                        </v-select>
                        <v-select v-model="d_samaGlobal.level"
                                  class="mb-3"
                                  label="Выберите уровень"
                                  :options="[13,12,11,10,9,8,7,6,5,4,3,2,1]"
                        >
                            <template #option="{option}">
                                <div class="text-icon">
                                    Уровень {{ option }}
                                </div>
                            </template>
                            <template #singleLabel="{option}">
                                <div class="text-icon">
                                    Уровень {{ option }}
                                </div>
                            </template>
                        </v-select>
                        <v-button schema="dark"
                                  type="button"
                                  @click.native="setSamaGlobal"
                        >
                            Выбрать эту тему
                        </v-button>
                    </div>
                </template>
            </v-tabs>
        </div>
    </modal-component>
</template>

<script>
import ModalComponent from "@/components/common/ModalComponent";
import VTabs from "@/components/common/form/VTabs";
import VButton from "@/components/common/form/button/VButton";
import VSelect from "@/components/common/form/VSelect";
import formatAttestationType from "assets/js/filters/formatAttestationType";

export default {
    name: "DynamicAppThemeModal",
    components: {
        VSelect,
        ModalComponent,
        VTabs,
        VButton,
    },
    props: {
        value: {
            default: null,
        },
    },
    data() {
        return {
            d_tabs: [
                "Простой счет",
                "Формулы в пятерке",
                "Формулы в десятке",
                "Смешанные формулы",
                "Любые формулы",
                "Международные уровни МА",
            ],
            d_tab: null,
            d_samaGlobal: {
                level: null,
                type: null,
            },
        };
    },
    computed: {
        c_value: {
            get() {
                return this.value;
            },
            set(val) {
                this.$emit("input", val);
            },
        },
    },
    methods: {
        formatAttestationType,
        setSimple() {
            this.c_value = {
                ...this.c_value,
                operations: "mixed",
                operationAlt: true,
                bitAlt: false,
                formulas: "none",
                disableMixedFormulas: true,
            };
            this.$emit("close");
        },
        setFive() {
            this.c_value = {
                ...this.c_value,
                operations: "mixed",
                operationAlt: true,
                bitAlt: false,
                formulas: "five",
                bitFormulas: "except_up",
                disableMixedFormulas: true,
            };
            this.$emit("close");
        },
        setTen() {
            this.c_value = {
                ...this.c_value,
                operations: "mixed",
                operationAlt: true,
                bitAlt: false,
                formulas: "ten",
                bitFormulas: "except_up",
                disableMixedFormulas: true,
            };
            this.$emit("close");
        },
        setMixed() {
            this.c_value = {
                ...this.c_value,
                operations: "mixed",
                operationAlt: true,
                bitAlt: false,
                formulas: "mixed",
                bitFormulas: "except_up",
                disableMixedFormulas: true,
            };
            this.$emit("close");
        },
        setAny() {
            this.c_value = {
                ...this.c_value,
                operations: "mixed",
                operationAlt: true,
                bitAlt: false,
                formulas: "all",
                bitFormulas: "except_up",
                disableMixedFormulas: true,
            };
            this.$emit("close");
        },
        setSamaGlobal() {
            if (!this.d_samaGlobal.level || !this.d_samaGlobal.type) {
                return;
            }

            const config = {
                abakus: {
                    1: {
                        formulas: "all",
                        digitsCapacity: [
                            7,
                            8,
                        ],
                        taskSize: 10,
                        fraction: 2,
                        mode: "digits",
                        operations: "mixed",
                        negative: 1,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    2: {
                        formulas: "all",
                        digitsCapacity: [
                            5,
                            6,
                        ],
                        taskSize: 10,
                        fraction: 2,
                        mode: "digits",
                        operations: "mixed",
                        negative: 1,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    3: {
                        formulas: "all",
                        digitsCapacity: [
                            3,
                            4,
                        ],
                        taskSize: 10,
                        fraction: 2,
                        mode: "digits",
                        operations: "mixed",
                        negative: 1,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    4: {
                        formulas: "all",
                        digitsCapacity: [
                            2,
                            3,
                        ],
                        taskSize: 10,
                        fraction: 2,
                        mode: "digits",
                        operations: "mixed",
                        negative: 1,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    5: {
                        formulas: "all",
                        digitsCapacity: [
                            1,
                            2,
                        ],
                        taskSize: 10,
                        fraction: 2,
                        mode: "digits",
                        negative: 1,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    6: {
                        formulas: "all",
                        digitsCapacity: [
                            1,
                            2,
                        ],
                        taskSize: 10,
                        fraction: 2,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    7: {
                        formulas: "all",
                        digitsCapacity: [
                            2,
                            3,
                        ],
                        taskSize: 10,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    8: {
                        formulas: "all",
                        digitsCapacity: [
                            2,
                            2,
                        ],
                        taskSize: 10,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    9: {
                        formulas: "all",
                        digitsCapacity: [
                            1,
                            2,
                        ],
                        taskSize: 10,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    10: {
                        formulas: "all",
                        digitsCapacity: [
                            1,
                            1,
                        ],
                        taskSize: 10,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    11: {
                        formulas: "ten",
                        digitsCapacity: [
                            1,
                            1,
                        ],
                        taskSize: 7,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    12: {
                        formulas: "five",
                        digitsCapacity: [
                            1,
                            1,
                        ],
                        taskSize: 5,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    13: {
                        formulas: "five",
                        digitsCapacity: [
                            1,
                            1,
                        ],
                        taskSize: 5,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                },
                mental: {
                    1: {
                        formulas: "all",
                        digitsCapacity: [
                            1,
                            2,
                        ],
                        taskSize: 10,
                        fraction: 2,
                        mode: "digits",
                        operations: "mixed",
                        negative: 1,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    2: {
                        formulas: "all",
                        digitsCapacity: [
                            1,
                            2,
                        ],
                        taskSize: 10,
                        fraction: 2,
                        mode: "digits",
                        operations: "mixed",
                        negative: 1,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    3: {
                        formulas: "all",
                        digitsCapacity: [
                            2,
                            2,
                        ],
                        taskSize: 10,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 1,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    4: {
                        formulas: "all",
                        digitsCapacity: [
                            2,
                            2,
                        ],
                        taskSize: 8,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 1,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    5: {
                        formulas: "all",
                        digitsCapacity: [
                            2,
                            2,
                        ],
                        taskSize: 6,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 1,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    6: {
                        formulas: "all",
                        digitsCapacity: [
                            2,
                            2,
                        ],
                        taskSize: 4,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    7: {
                        formulas: "all",
                        digitsCapacity: [
                            1,
                            1,
                        ],
                        taskSize: 7,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    8: {
                        formulas: "all",
                        digitsCapacity: [
                            1,
                            1,
                        ],
                        taskSize: 6,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    9: {
                        formulas: "ten",
                        digitsCapacity: [
                            1,
                            1,
                        ],
                        taskSize: 5,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    10: {
                        formulas: "ten",
                        digitsCapacity: [
                            1,
                            1,
                        ],
                        taskSize: 3,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    11: {
                        formulas: "five",
                        digitsCapacity: [
                            1,
                            1,
                        ],
                        taskSize: 3,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    12: {
                        digitsCapacity: [
                            1,
                            1,
                        ],
                        taskSize: 3,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                    13: {
                        digitsCapacity: [
                            1,
                            1,
                        ],
                        taskSize: 3,
                        fraction: 0,
                        mode: "digits",
                        operations: "mixed",
                        negative: 0,
                        operationAlt: 0,
                        mirror: 0,
                        bitAlt: 1,
                        withoutCrossIn: "none",
                        bitFormulas: "all",
                    },
                },
            };

            this.c_value = {
                ...this.c_value,
                ...config[this.d_samaGlobal.type][this.d_samaGlobal.level],
            };
            this.$emit("close");
        },
    },
};
</script>

<style lang="scss">
.tab__content {
    background: $light;
    height: 100%;
    color: $dark;
    padding: 30px;

    @include media-breakpoint-down(md) {
        padding: 15px;
    }
}

.theme-modal {
    margin: -25px;
    height: 700px;

    @include media-breakpoint-down(md) {
        height: auto;
        margin: 0;
    }
}

.content__formulas {
    display: grid;
    justify-content: center;
    margin-top: 10px;
    grid-gap: 50px;
    grid-auto-flow: column;

    @include media-breakpoint-down(sm) {
        grid-auto-flow: row;
        grid-gap: 15px;
    }

    .formulas__list {
        list-style: none;
        padding: 15px;
        border: 1px solid $dark;
        border-radius: 20px;
        background: $secondary;
        box-shadow: 4px 4px 0 rgba(15, 40, 94, 0.18);
    }
}
</style>
