<template>
    <div v-if="value">
        <dynamic-app-theme-modal v-if="d_modal"
                                 v-model="value"
                                 @close="d_modal = false"
        />
        <v-button class="mb-3"
                  schema="link"
                  @click.native="d_modal = true"
        >
            Выбрать тему из справочника <i class="icon-caret" />
        </v-button>

        <div class="row">
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-select v-model="value.mode"
                          :options="['digits', 'combinations', 'mixed']"
                          label="Режим"
                >
                    <template #singleLabel="{option}">
                        {{ translateMode(option) }}
                    </template>
                    <template #option="{option}">
                        {{ translateMode(option) }}
                    </template>
                </v-select>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-select v-model="value.operations"
                          :options="['sum', 'sub', 'mixed']"
                          label="Операции"
                >
                    <template #singleLabel="{option}">
                        {{ translateOperations(option) }}
                    </template>
                    <template #option="{option}">
                        {{ translateOperations(option) }}
                    </template>
                </v-select>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-select v-model="value.formulas"
                          :options="['none', 'five', 'ten', 'mixed', 'all']"
                          label="Формулы"
                >
                    <template #singleLabel="{option}">
                        {{ translateFormulas(option) }}
                    </template>
                    <template #option="{option}">
                        {{ translateFormulas(option) }}
                    </template>
                </v-select>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-select v-model="value.bitFormulas"
                          :options="['all', 'except_up']"
                          label="Формулы на"
                >
                    <template #singleLabel="{option}">
                        {{ translateBitFormulas(option) }}
                    </template>
                    <template #option="{option}">
                        {{ translateBitFormulas(option) }}
                    </template>
                </v-select>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-input v-model.number="value.inputTime"
                         label="Время на ввод ответа"
                         type="number"
                         step="0.1"
                         hint="Укажите 0, если ограничение не требуется"
                />
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-input v-model="value.taskCount"
                         label="Количество примеров"
                         type="number"
                         step="1"
                />
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-input v-model.number="value.taskSize"
                         label="Слагаемых в примере"
                         type="number"
                         step="1"
                />
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <v-input v-model.number="value.watchTime"
                         label="Время на просмотр"
                         type="number"
                         step="0.1"
                />
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mb-4">
                <div class="mb-2">
                    Разрядность числа
                </div>
                <v-range v-model="value.digitsCapacity"
                         :range="true"
                         :min="1"
                         :max="12"
                         :marks="{1:'1',2:'2',3:'3',4:'4',5:'5',6:'6',7:'7',8:'8',9:'9',10:'10',11:'11',12:'12'}"
                         :show-stops="true"
                />
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <v-checkbox v-model="d_useFraction"
                            class="mb-3"
                            label="Дробные числа"
                />
                <transition-collapse>
                    <v-input v-if="d_useFraction"
                             v-model.number="value.fraction"
                             class="mb-3"
                             label="Знаков после запятой"
                             type="number"
                             step="1"
                    />
                </transition-collapse>
            </div>
            <div class="col-12 col-md-6">
                <v-checkbox v-model="value.watchTimeProgress"
                            class="mb-3"
                            label="Прогресс скорости"
                >
                    <template #hint>
                        <p>
                            При активации этого режима время на просмотр будет уменьшаться (увеличиваться) на 0.1с в
                            случае 5 правильных (неправильных) ответов подряд.
                        </p>
                    </template>
                </v-checkbox>
                <transition-collapse>
                    <v-input v-if="value.watchTimeProgress"
                             v-model.number="value.minWatchTime"
                             class="mb-3"
                             label="Минимальное время"
                             type="number"
                             step="0.1"
                    />
                </transition-collapse>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-6 mb-3">
                <v-checkbox v-model="value.negative"
                            label="Отрицательные числа в результате"
                />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <v-checkbox v-model="value.mirror"
                            label="Зеркальные числа"
                >
                    <template #hint>
                        <p>При активации этого режима будут часто генерироваться слагаемые вида 111, 222, 555...</p>
                    </template>
                </v-checkbox>
            </div>
            <div v-if="value.operations === 'mixed'"
                 class="col-12 col-md-6 mb-3"
            >
                <v-checkbox v-model="value.operationAlt"
                            label="Чередование операций"
                >
                    <template #hint>
                        <p>
                            При активации этого режима будут чередоваться операции сложения и вычитания в тех случаях,
                            когда это возможно.
                        </p>
                    </template>
                </v-checkbox>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <v-checkbox v-model="value.bitAlt"
                            label="Чередование разрядности слагаемых"
                />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <v-checkbox v-model="value.taskSizeProgress"
                            label="Прогресс количества слагаемых"
                >
                    <template #hint>
                        <p>
                            При активации этого режима количество слагаемых будет увеличиваться (уменьшаться) на 1 в
                            случае 5
                            правильных (неправильных) ответов подряд.
                        </p>
                    </template>
                </v-checkbox>
            </div>
        </div>

        <div>
            <v-brains :value="c_brainsPerTask" />
            <div class="small text-muted">
                за правильный ответ
            </div>
        </div>
    </div>
</template>

<script>
import VButton from '@/components/common/form/button/VButton';
import VSelect from '@/components/common/form/VSelect';
import VCheckbox from '@/components/common/form/checkbox/VCheckbox';
import VRange from '@/components/common/form/VRange';
import VInput from '@/components/common/form/VInput';
import TransitionCollapse from '@/components/common/transitions/TransitionCollapse';
import DynamicAppThemeModal from '@/components/common/apps/dynamic-app/DynamicAppThemeModal';
import VBrains from '@/components/common/brains/VBrains';

export default {
    name: 'DynamicAppConfigurator',
    components: {
        VBrains,
        TransitionCollapse,
        VInput,
        VRange,
        VCheckbox,
        VSelect,
        VButton,
        DynamicAppThemeModal,
    },
    props: {
        openHandbook: {
            type: Boolean,
            default: false,
        },
        value: {
            type: Object,
            default: null,
        },
        reInit: {
            type: Boolean,
            default: false,
        },
    },
    data() {
        return {
            d_useFraction: false,
            d_modal: this.openHandbook,
        };
    },
    computed: {
        c_brainsPerTask() {
            try {
                const l = {
                    none: 0.3,
                    five: 0.45,
                    ten: 0.6,
                    all: 0.5,
                    mixed: 0.7,
                }[this.value.formulas];
                let k = 1;
                if (this.value.mirror) {
                    k += 2;
                }

                const d = this.value.fraction + (this.value.digitsCapacity[0] + this.value.digitsCapacity[1]) / 2;
                return (this.value.taskSize * l * d / (this.value.watchTime * k)).toFixed(2);
            } catch (e) {
                return 0;
            }
        },
    },
    watch: {
        d_useFraction(val) {
            if (!val) {
                this.$emit('input', {
                    ...this.value,
                    fraction: 0,
                });
            }
        },
    },
    created() {
        if (this.reInit) {
            this.$emit('input', {
                mode: 'digits',
                operations: 'mixed',
                formulas: 'all',
                bitFormulas: 'all',
                withoutCrossIn: 'none',
                digitsCapacity: [1, 2],
                useFraction: false,
                fraction: 0,
                watchTime: 2,
                watchTimeProgress: false,
                minWatchTime: 0.5,
                mirror: false,
                operationAlt: false,
                bitAlt: false,
                negative: false,
                taskCount: 20,
                taskSize: 5,
                taskSizeProgress: false,
                inputTime: 10,
            });
        }
    },
    mounted() {
        if (this.value && this.value.fraction > 0) {
            this.d_useFraction = true;
        }
    },
    methods: {
        translateMode(val) {
            const map = {
                digits: 'Цифры',
                combinations: 'Бусины',
                mixed: 'Смешанный',
            };
            return map[val] ? map[val] : val;
        },
        translateOperations(val) {
            const map = {
                sum: 'Сложение',
                sub: 'Вычитание',
                mixed: 'Сложение и вычитание',
            };
            return map[val] ? map[val] : val;
        },
        translateFormulas(val) {
            const map = {
                none: 'Без формул',
                all: 'Все',
                five: 'В пятерке',
                ten: 'В десятке',
                mixed: 'Смешанные',
            };
            return map[val] ? map[val] : val;
        },
        translateBitFormulas(val) {
            const map = {
                all: 'На всех разрядах',
                except_up: 'Всех разрядах, кроме старшего',
            };
            return map[val] ? map[val] : val;
        },
    },
};
</script>

<style scoped>
</style>
