<template>
    <div class="app-card">
        <h4 class="mb-0">
            {{ app.name }}
        </h4>
        <div class="text-muted">
            {{ formatCalendar(app.createdAt) }}
        </div>
        <dropdown class="app-card__dropdown">
            <i class="icon-menu app-card__dropdown-toggle" />
            <template #body>
                <ul>
                    <li>
                        <nuxt-link role="button"
                                   :to="`/admin/apps/${app.id}/edit`"
                        >
                            Редактировать
                        </nuxt-link>
                    </li>
                    <li>
                        <span role="button"
                              class="text-danger"
                              @click="remove"
                        >
                            Удалить
                        </span>
                    </li>
                </ul>
            </template>
        </dropdown>
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import Dropdown from "~/components/common/Dropdown";

export default {
    name: "AppCard",
    components: {
        Dropdown,
    },
    mixins: [dateMixins],
    props: ["app"],
    data() {
        return {
            d_showSessions: false,
        };
    },
    methods: {
        /**
         * Выбирает склонение числа, соответствующее числу
         * пример использования f_choiceNominative(13, 'точка', 'точки', 'точек')
         * 1 21 точка
         * 2 3 4 22 23 24 точки
         * 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 точек
         * */
        format(value, a, b, c) {
            if (value >= 20) {
                value = value % 10;
            }
            if (value === 1) {
                return a;
            }
            if (value !== 0 && value < 5) {
                return b;
            }
            return c;
        },
        async remove() {
            const confirm = window.confirm("Вы уверены, что хотите удалить этот тренажер?");
            if (!confirm) {
                return;
            }
            await this.$api.apps.delete(this.app.id);
            this.$emit("remove");
        },
    },
};
</script>

<style scoped lang="scss">
.app-card {
    box-shadow: $card-shadow;
    padding: 15px;
    border-radius: 15px;
    background: white;
    position: relative;
}

.app-card__img {
    width: 100%;
}

.app-card__dropdown {
    position: absolute;
    top: 15px;
    right: 15px;
}

.app-card__dropdown-toggle {
    cursor: pointer;
    color: gray;

    &:hover {
        color: black;
    }
}
</style>
