<template>
    <card class="group-invites">
        <h4 class="text-primary">
            Приглашения в группы
        </h4>
        <loading-component v-if="$fetchState.pending" />
        <div v-else-if="d_invites.length"
             class="group-invites__grid"
        >
            <div v-for="invite in d_invites"
                 :key="invite.id"
                 class="group-invite"
            >
                <teacher-card :teacher="invite.group.teacher" />
                <div>
                    <div>Получено {{ formatFromNow(invite.createdAt) }}</div>
                    <div class="mt-2">
                        <v-button class="mr-3"
                                  schema="primary"
                                  :loading="invite.loading"
                                  @click.native="accept(invite)"
                        >
                            Принять
                        </v-button>
                        <v-button schema="link"
                                  :loading="invite.loading"
                                  @click.native="decline(invite)"
                        >
                            Отклонить
                        </v-button>
                    </div>
                </div>
            </div>
        </div>
        <p v-else>
            У вас нет активных приглашений на вступление в группу.
        </p>
    </card>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import TeacherCard from "@/components/student/teacher/TeacherCard";
import LoadingComponent from "~/components/common/LoadingComponent";
import Card from "~/components/common/VCard";
import VButton from "~/components/common/form/button/VButton";

export default {
    name: "GroupInvites",
    components: {
        TeacherCard,
        VButton,
        Card,
        LoadingComponent,
    },
    mixins: [dateMixins],
    async fetch() {
        this.d_invites = await this.$api.invites.fetch();
    },
    data() {
        return {
            d_invites: [],
        };
    },
    methods: {
        async accept(invite) {
            try {
                this.$set(invite, "loading", true);
                await this.$api.invites.accept(invite.id);
                invite.loading = false;

                const idx = this.d_invites.indexOf(invite);
                if (idx >= 0) {
                    this.d_invites.splice(idx, 1);
                }
                await this.$store.dispatch("group/fetch");
            } catch (e) {
                console.error(e);
            }
        },
        async decline(invite) {
            try {
                this.$set(invite, "loading", true);
                await this.$api.invites.decline(invite.id);
                invite.loading = false;

                const idx = this.d_invites.indexOf(invite);
                if (idx >= 0) {
                    this.d_invites.splice(idx, 1);
                }
            } catch (e) {
                console.error(e);
            }
        },
    },
};
</script>

<style scoped lang="scss">
.group-invites__grid {
    display: grid;
    grid-gap: 30px;
}

.group-invite {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 30px;
    align-items: center;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}
</style>
