<template>
    <div class="possibilities">
        <img src="/images/figure-top.svg"
             alt=""
             class="possibilities_img-top"
        >
        <img src="/images/figure-bottom.svg"
             alt=""
             class="possibilities__img-bottom"
        >
        <div class="container">
            <h2 class="possibilities__title">
                Возможности
            </h2>
            <div class="possibilities__content">
                <img src="/images/possibilities/line.svg"
                     alt=""
                     class="d-none d-lg-block mx-auto possibilities__content-img"
                >
                <div v-if="d_activeGroup"
                     class="possibilities__group-info-fade"
                     @click="hideModal"
                />

                <div class="possibilities__group possibilities__homework"
                     @mouseenter="showModal('possibilities__homework');"
                     @mouseleave="hideModal"
                >
                    <div class="possibilities__group-label">
                        Домашние <br> задания
                    </div>
                    <div class="possibilities__group-dot" />
                    <transition-fade translate-y="50px">
                        <div v-if="d_activeGroup === 'possibilities__homework'"
                             class="possibilities__group-info"
                        >
                            <circle-button class="possibilities__btn-close"
                                           schema="secondary"
                                           @click.native="hideModal"
                            >
                                <i class="icon-close" />
                            </circle-button>
                            <img src="/images/possibilities/children.jpg"
                                 alt=""
                            >
                            <div class="p-3">
                                <div class="possibilities__group-info-title">
                                    Домашние задания
                                </div>
                                <p class="possibilities__group-info-subtitle">
                                    Педагог может устанавливать любой тренажер для работы дома группе детей или
                                    индивидуально
                                    отдельным ученикам. Доступна многократная тренировка дома. Автоматическое ускорение
                                    примеров
                                    при многократном верном решении. Лучшая скорость сохраняется, и на занятии ребёнок
                                    продолжает
                                    тренировку в тех параметрах, какие были достигнуты дома.
                                </p>
                            </div>
                        </div>
                    </transition-fade>
                </div>

                <div class="possibilities__group possibilities__subscription"
                     @mouseenter="showModal('possibilities__subscription');"
                     @mouseleave="hideModal"
                >
                    <div class="possibilities__group-label">
                        Абонементы
                    </div>
                    <div class="possibilities__group-dot" />
                    <transition-fade translate-y="50px">
                        <div v-if="d_activeGroup === 'possibilities__subscription'"
                             class="possibilities__group-info"
                        >
                            <circle-button class="possibilities__btn-close"
                                           schema="secondary"
                                           @click.native="hideModal();"
                            >
                                <i class="icon-close" />
                            </circle-button>
                            <img src="/images/possibilities/children.jpg"
                                 alt=""
                            >
                            <div class="p-3">
                                <div class="possibilities__group-info-title">
                                    Абонементы
                                </div>
                                <p class="possibilities__group-info-subtitle">
                                    Возможность бесплатного использования простого тренажера и приобретения абонементов
                                    на разный период по выгодным ценам.
                                </p>
                            </div>
                        </div>
                    </transition-fade>
                </div>
                <div class="possibilities__group possibilities__class-formation"
                     @mouseenter="showModal('possibilities__class-formation')"
                     @mouseleave="hideModal"
                >
                    <div class="possibilities__group-label">
                        Формирование групп
                    </div>
                    <div class="possibilities__group-dot" />
                    <transition-fade translate-y="50px">
                        <div v-if="d_activeGroup === 'possibilities__class-formation'"
                             class="possibilities__group-info"
                        >
                            <circle-button class="possibilities__btn-close"
                                           schema="secondary"
                                           @click.native="hideModal();"
                            >
                                <i class="icon-close" />
                            </circle-button>
                            <img src="/images/possibilities/children.jpg"
                                 alt=""
                            >
                            <div class="p-3">
                                <div class="possibilities__group-info-title">
                                    Формирование групп
                                </div>
                                <p class="possibilities__group-info-subtitle">
                                    Педагог может объединить своих учеников в группы с индивидуальным расписанием, видимым для учеников - дети не пропустят свои занятия.
                                </p>
                            </div>
                        </div>
                    </transition-fade>
                </div>
                <div class="possibilities__group possibilities__simulators"
                     @mouseenter="showModal('possibilities__simulators')"
                     @mouseleave="hideModal"
                >
                    <div class="possibilities__group-dot" />
                    <div class="possibilities__group-label">
                        Индивидуальные <br> тренажеры
                    </div>
                    <transition-fade translate-y="50px">
                        <div v-if="d_activeGroup === 'possibilities__simulators'"
                             class="possibilities__group-info"
                        >
                            <circle-button class="possibilities__btn-close"
                                           schema="secondary"
                                           @click.native="hideModal();"
                            >
                                <i class="icon-close" />
                            </circle-button>
                            <img src="/images/possibilities/children.jpg"
                                 alt=""
                            >
                            <div class="p-3">
                                <div class="possibilities__group-info-title">
                                    Индивидуальные тренажеры
                                </div>
                                <p class="possibilities__group-info-subtitle">
                                    Бережное развитие ребенка - залог успеха каждого! Поэтому реализована возможность
                                    индивидуально каждому занимающемуся настраивать тренажеры по способностям, скорости
                                    счета и восприятия. Имеются настройки для слабовидящих лиц, в том числе с
                                    нарушениями цветоразличительных функций.
                                </p>
                            </div>
                        </div>
                    </transition-fade>
                </div>
                <div class="possibilities__group possibilities__statistics"
                     @mouseenter="showModal('possibilities__statistics')"
                     @mouseleave="hideModal"
                >
                    <div class="possibilities__group-dot" />
                    <div class="possibilities__group-label">
                        Статистика
                    </div>
                    <transition-fade translate-y="50px">
                        <div v-if="d_activeGroup === 'possibilities__statistics'"
                             class="possibilities__group-info"
                        >
                            <circle-button class="possibilities__btn-close"
                                           schema="secondary"
                                           @click.native="hideModal();"
                            >
                                <i class="icon-close" />
                            </circle-button>
                            <img src="/images/possibilities/children.jpg"
                                 alt=""
                            >
                            <div class="p-3">
                                <div class="possibilities__group-info-title">
                                    Статистика
                                </div>
                                <p class="possibilities__group-info-subtitle">
                                    Статистику тренировок занимающегося можно просмотреть как в его личном кабинете,
                                    так и в кабинете педагога. Сохраняется история всех попыток тренировок как дома,
                                    так и в классе, фиксируется процент правильности и по специальной формуле
                                    рассчитывается
                                    коэффициент успешности и прогресс занимающегося. Кроме это есть возможность самому
                                    создавать
                                    тренажёры, и достигать лучших результатов.
                                </p>
                            </div>
                        </div>
                    </transition-fade>
                </div>
                <div class="possibilities__group possibilities__motivation"
                     @mouseenter="showModal('possibilities__motivation')"
                     @mouseleave="hideModal"
                >
                    <div class="possibilities__group-dot" />
                    <div class="possibilities__group-label">
                        Мотивация
                    </div>
                    <transition-fade translate-y="50px">
                        <div v-if="d_activeGroup === 'possibilities__motivation'"
                             class="possibilities__group-info"
                        >
                            <circle-button v-if="d_activeGroup !== ''"
                                           class="possibilities__btn-close"
                                           schema="secondary"
                                           @click.native="hideModal();"
                            >
                                <i class="icon-close" />
                            </circle-button>
                            <img src="/images/possibilities/children.jpg"
                                 alt=""
                            >
                            <div class="p-3">
                                <div class="possibilities__group-info-title">
                                    Мотивация
                                </div>
                                <p class="possibilities__group-info-subtitle">
                                    За каждую тренировку ребенок получает брэйники - это детская виртуальная валюта,
                                    которую ребенок обменивает на аксессуары в интерактивной игре со зверятами. Кроме
                                    этого,
                                    занимающиеся видят рейтинг своей группы и всех участников платформы BrainUp,
                                    это мотивирует ребёнка занять лидерскую позицию.
                                </p>
                            </div>
                        </div>
                    </transition-fade>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CircleButton from "@/components/common/form/CircleButton";
import TransitionFade from "@/components/common/transitions/TransitionFade";

export default {
    name: "VPossibilities",
    components: {
        TransitionFade,
        CircleButton,
    },
    data() {
        return {
            d_activeGroup: null,
        };
    },
    methods: {
        showModal(val) {
            this.d_activeGroup = val;
            if (window.innerWidth < 992) {
                document.documentElement.style.overflowY = "hidden";
            }
        },
        hideModal() {
            this.d_activeGroup = null;
            if (window.innerWidth < 992) {
                document.documentElement.style.overflowY = "auto";
            }
        },
    },
};
</script>

<style lang="scss">
.possibilities {
    padding: 140px 0 140px 0;
    background: url('/images/possibilities/light-circle-bg.png') center no-repeat,
    radial-gradient(
                    55.67% 55.67% at 50% 50%,
                    rgba(0, 71, 88, 0.1) 0%,
                    rgba(0, 72, 89, 0.96) 100%
    ),
    url('/images/forest.jpg') center no-repeat;
    background-size: contain, auto, cover;
    position: relative;

    @include media-breakpoint-down(xs) {
        padding: 100px 0;
    }
}

.possibilities_img-top,
.possibilities__img-bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-down(xl) {
        width: 100%;
    }
}

.possibilities_img-top {
    top: 0;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

.possibilities__img-bottom {
    bottom: -2px;
}

.possibilities__title {
    font-size: 56px;
    margin-bottom: 150px;
    color: $light;
    text-align: center;
    letter-spacing: 1.86667px;

    @include media-breakpoint-down(lg) {
        margin-bottom: 90px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 38px;
        margin-bottom: 70px;
    }
}

.possibilities__content {
    position: relative;
}

.possibilities__content-img {
    @include media-breakpoint-down(lg) {
        width: 50%;
    }
}

.possibilities__group {
    position: absolute;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
        position: relative;
        top: auto !important;
        right: auto !important;
        bottom: auto !important;
        left: auto !important;
        margin-bottom: 15px;
        justify-content: flex-start;
    }

    &:hover {
        .possibilities__group-dot {
            z-index: 2;
        }

        .possibilities__group-info {
            z-index: 1;
        }
    }

    &.possibilities__homework,
    &.possibilities__subscription,
    &.possibilities__class-formation {
        @include media-breakpoint-down(md) {
            flex-direction: row-reverse;
            justify-content: flex-end;

            .possibilities__group-label {
                margin: 0 0 0 12px;
            }
        }
    }

    &.possibilities__homework {
        bottom: 16%;
        left: 1%;

        @include media-breakpoint-down(lg) {
            bottom: 13%;
            left: 7%;
        }

        .possibilities__group-info {
            left: -35%;
            top: -190%;
        }
    }

    &.possibilities__subscription {
        top: 38%;
        left: 7%;

        @include media-breakpoint-down(lg) {
            top: 37%;
            left: 7%;
        }

        .possibilities__group-info {
            left: -22%;
            top: -243%;
        }
    }

    &.possibilities__class-formation {
        top: 17%;
        left: 16%;

        @include media-breakpoint-down(lg) {
            top: 16%;
            left: 9%;
        }

        @include media-breakpoint-down(md) {
            flex-direction: row-reverse;

            .possibilities__group-label {
                margin: 0 0 0 12px;
            }
        }

        .possibilities__group-info {
            left: 13%;
            top: -242%;
        }
    }

    &.possibilities__simulators {
        bottom: 28%;
        left: 55%;

        @include media-breakpoint-down(lg) {
            bottom: 26%;
            left: 52%;
        }

        .possibilities__group-info {
            right: 90%;
            top: -189%;
        }
    }

    &.possibilities__statistics {
        bottom: 51%;
        right: 4%;

        @include media-breakpoint-down(lg) {
            bottom: 49%;
            right: 5%;
        }

        .possibilities__group-info {
            right: 87%;
            top: -242%;
        }
    }

    &.possibilities__motivation {
        top: 4%;
        right: 21%;

        @include media-breakpoint-down(lg) {
            top: 2%;
            right: 19%;
        }

        .possibilities__group-info {
            top: -241%;
            right: 87%;
        }
    }
}

.possibilities__group-label {
    background: #004758;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 24px;
    margin-left: 12px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.5px;
    color: $light;
    display: inline-block;

    p {
        margin: 0;
    }

    @include media-breakpoint-down(sm) {
        font-size: 18px;
        max-width: 210px;
        text-align: left;
    }
}

.possibilities__group-dot {
    display: inline-block;
    width: 56px;
    height: 56px;
    border: 3px solid $light;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    z-index: 0;

    &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 40px;
        height: 40px;
        background: $secondary;
        border-radius: 50%;
    }
}

.possibilities__group-info-fade {
    display: none;

    @include media-breakpoint-down(md) {
        display: block;

        &:before {
            content: '';
            background: #000;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            z-index: 80;
            //transition: background 1s ease;
        }
    }
}

.possibilities__group-info {
    width: 288px;
    background: $light;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;

    @include media-breakpoint-down(md) {
        position: fixed;
        z-index: 100 !important;
        left: 50% !important;
        top: 0 !important;
        transform: translateX(-50%);
        height: 70%;
        width: 450px;
        margin: auto;
        bottom: 0;
        overflow-y: scroll;
    }

    @include media-breakpoint-between(xs, xs) {
        transform: translateX(00);
        left: 15px !important;
        height: 70%;
        width: calc(100% - 30px);
    }

    .possibilities__btn-close {
        display: none;
        font-size: 16px;

        @include media-breakpoint-down(md) {
            display: block;
            position: fixed;
            top: 28px;
            right: 8px;
            width: 40px;
            height: 40px;
            margin: -20px 0 0 -20px;

            img {
                width: 14px;
                height: 14px;
            }
        }
    }

    img {
        width: 100%;
        height: 135px;
        @include media-breakpoint-down(md) {
            height: auto;
        }
    }

    .possibilities__group-info-title {
        margin-bottom: 16px;
        font-weight: 700;
    }

    .possibilities__group-info-subtitle {
        font-size: 14px;
        line-height: 120%;
    }
}
</style>
