<template>
    <div class="app">
        <sidebar class="app__sidebar" />
        <Nuxt class="app__content" />
    </div>
</template>

<style lang="scss" scoped>
.app__content {
    margin-left: 300px;
    padding: 30px;
    position: relative;

    @include media-breakpoint-down(md) {
        margin-left: 0;
        padding: 80px 15px 15px;
    }
}

.app__content .modal-mask {
    width: calc(100% - 300px) !important;
    left: auto !important;
    right: 0 !important;
}
</style>
<script>
import Sidebar from "@/components/admin/sidebar/Sidebar";

export default {
    components: {
        Sidebar,
    },
    middleware: "authenticated",
    data() {
        return {
            d_sidebar: false,
        };
    },
};
</script>
