<template>
    <div class="app">
        <sidebar class="app__sidebar" />
        <Nuxt class="app__content" />
        <feedback-modal v-if="d_showFeedbackModal"
                        @close="d_showFeedbackModal = false"
        />
    </div>
</template>

<script>
import Sidebar from "@/components/student/sidebar/Sidebar";
import FeedbackModal from "@/components/common/footer/FeedbackModal";

export default {
    components: {
        FeedbackModal,
        Sidebar,
    },
    middleware: "authenticated",
    data() {
        return {
            d_showFeedbackModal: false,
            d_sidebar: false,
        };
    },
    mounted() {
        window.showFeedbackModal = () => {
            this.d_showFeedbackModal = true;
        };
    },
};
</script>

<style lang="scss" scoped>
.app__loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 40px;
}

.app__content {
    margin-left: 300px;
    padding: 30px;
    position: relative;
    background-size: 100% auto;
    min-height: 100vh;
    background: linear-gradient(0, #ffffff82, white), url(/images/background.png) no-repeat bottom;
    background-size: 100% auto;

    @include media-breakpoint-down(md) {
        margin-left: 0;
        padding: 80px 15px 15px;
    }
}
</style>
