<template>
    <div class="app">
        <sidebar class="app__sidebar" />
        <Nuxt class="app__content" />
        <feedback-modal v-if="d_showFeedbackModal"
                        @close="d_showFeedbackModal = false"
        />
    </div>
</template>

<style lang="scss">
.app__content {
    margin-left: 300px;
    padding: 30px;
    position: relative;

    @include media-breakpoint-down(md) {
        margin-left: 0;
        padding: 80px 15px 15px;
    }
}

.app__content .modal-mask {
    width: calc(100% - 300px) !important;
    left: auto !important;
    right: 0 !important;
}
</style>
<script>
import Sidebar from "@/components/teacher/sidebar/Sidebar";
import FeedbackModal from "@/components/common/footer/FeedbackModal";

export default {
    components: {
        FeedbackModal,
        Sidebar,
    },
    middleware: "authenticated",
    data() {
        return {
            d_showFeedbackModal: false,
            d_sidebar: false,
        };
    },
    mounted() {
        window.showFeedbackModal = () => {
            this.d_showFeedbackModal = true;
        };
    },
};
</script>
