<template>
    <transition-group class="transition-list"
                      name="list-complete"
                      tag="div"
    >
        <slot />
    </transition-group>
</template>

<script>
export default {
    name: "TransitionList",
};
</script>

<style lang="scss">
.list-complete-item {
    transition: all 1s;
}

.list-complete-enter, .list-complete-leave-to {
    opacity: 0;
    transform: translateY(30px);
}

.list-complete-leave-active {
    position: absolute;
}

.transition-list > * {
    transition: all 1s;
}
</style>
