<template>
    <div class="stars-score">
        <div v-for="i in 3"
             :key="i"
             class="stars-score__star"
             :class="{'stars-score__star_filled': value >= gradation[i-1]}"
        />
    </div>
</template>

<script>
export default {
    name: "StarsScore",
    props: {
        value: {
            type: Number,
            required: true,
        },
        gradation: {
            type: Array,
            default() {
                return [50, 70, 90];
            },
        },
    },
};
</script>

<style scoped lang="scss">
.stars-score {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-gap: 15px;

    --star-size: 100px;
}

.stars-score__star {
    width: var(--star-size);
    height: var(--star-size);
    background-image: url('/icons/star.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.stars-score__star_filled {
    background-image: url('/icons/star-filled.svg');
}
</style>
