<template>
    <div>
        <v-header />
        <v-lessons />
        <v-possibilities />
        <v-for-who />
        <v-subscription />
        <v-footer />
    </div>
</template>
<script>
import VFooter from "~/components/common/footer/VFooter";
import VHeader from "~/components/common/header/VHeader";
import VLessons from "~/components/common/lessons/VLessons";
import VPossibilities from "~/components/common/possibilities/VPossibilities";
import VSubscription from "~/components/common/subscription/VSubscription";
import VForWho from "~/components/common/forwho/VForWho";

export default {
    components: {
        VForWho,
        VHeader,
        VLessons,
        VPossibilities,
        VSubscription,
        VFooter,
    },
};
</script>

<style lang="scss">

</style>
