<template>
    <div>
        <breadcrumbs :items="[{name: 'Ученики', url: '/teacher/students'}, {name:'Редактирование группы'}]" />
        <page-header>
            Редактирование группы
            <template #actions>
                <v-button schema="extra"
                          :loading="d_removing"
                          @click.native="remove"
                >
                    Удалить группу
                </v-button>
            </template>
        </page-header>
        <group-editor :id="$route.params.id"
                      @update="$router.push('/teacher/students')"
        />
    </div>
</template>

<script>
import teacherHasAccess from "@/middleware/teacherHasAccess";
import GroupEditor from "~/components/teacher/group/GroupEditor";
import Breadcrumbs from "~/components/common/Breadcrumbs";
import PageHeader from "~/components/common/PageHeader";
import VButton from "~/components/common/form/button/VButton";

export default {
    name: "Edit",
    components: {
        VButton,
        PageHeader,
        GroupEditor,
        Breadcrumbs,
    },
    layout: "teacher",
    data() {
        return {
            d_removing: false,
        };
    },
    methods: {
        async remove() {
            console.log("asd");
            if (this.d_removing) {
                return;
            }
            this.d_removing = true;
            try {
                await this.$store.dispatch("groups/remove", { id: this.$route.params.id });
                this.$router.push("/teacher/students");
            } catch (e) {

            }
            this.d_removing = false;
        },
    },
    head: {
        title: "Редактирование группы",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
    middleware: [teacherHasAccess],
};
</script>

<style scoped>

</style>
