<template>
    <div class="sessions-table">
        <div class="sessions-table__header">
            <div>Тренажер</div>
            <div>Завершен</div>
            <div>Результативность</div>
            <div>Последний запуск</div>
        </div>
        <div v-for="session in sessions"
             :key="session.id"
             class="sessions-table__row"
        >
            <div class="sessions-table__app-type">
                {{ session.app.name }}
            </div>
            <div class="sessions-table__finished">
                {{ session.finished ? "Да" : "Нет" }}
            </div>
            <div class="sessions-table__quality">
                {{ session.quality }}%
            </div>
            <div class="sessions-table__last-activity">
                {{ formatCalendar(session.updatedAt) }}
            </div>
        </div>
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";

export default {
    name: "UserSessions",
    mixins: [dateMixins],
    props: ["sessions"],
    methods: {},
};
</script>

<style scoped lang="scss">
.sessions-table__header, .sessions-table__row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 180px 180px 295px;
    grid-gap: 15px;
    margin-bottom: 7px;
    border-radius: 7px;
    padding: 10px;
}

.sessions-table__header {
    background: $dark;
    color: white;
    font-weight: 500;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.sessions-table__row {
    background: white;

    &:nth-child(even) {
        background: #F0F0F0;
    }

    @include media-breakpoint-down(md) {
        display: block;
    }
}

.sessions-table__app-type {
    @include media-breakpoint-down(md) {
        &:before {
            content: "Тип тренажера:";
            font-weight: 500;
        }
    }
}

.sessions-table__finished {
    @include media-breakpoint-down(md) {
        &:before {
            content: "Завершен:";
            font-weight: 500;
        }
    }
}

.sessions-table__quality {
    @include media-breakpoint-down(md) {
        &:before {
            content: "Результативность:";
            font-weight: 500;
        }
    }
}

.sessions-table__last-activity {
    @include media-breakpoint-down(md) {
        &:before {
            content: "Последний запуск:";
            font-weight: 500;
        }
    }
}
</style>
