<template>
    <div>
        <breadcrumbs :items="[{name: 'Ученики', url: '/teacher/students'}, {name:'Новая группа'}]" />
        <page-header>
            Формирование группы
        </page-header>
        <group-editor @create="$router.push('/teacher/students')" />
    </div>
</template>

<script>
import teacherHasAccess from "@/middleware/teacherHasAccess";
import GroupEditor from "~/components/teacher/group/GroupEditor";
import Breadcrumbs from "~/components/common/Breadcrumbs";
import PageHeader from "~/components/common/PageHeader";

export default {
    name: "Create",
    components: {
        PageHeader,
        GroupEditor,
        Breadcrumbs,
    },
    layout: "teacher",
    head: {
        title: "Создание группы",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
    middleware: [teacherHasAccess],
};
</script>

<style scoped>

</style>
