<template>
    <div />
</template>

<script>
export default {
    name: "Payment",
    async middleware({
        route,
        $api,
        redirect,
    }) {
        const accountType = await $api.payments.getPaymentAccountType(route.query._payform_order_id);
        switch (accountType) {
        case "Ученик":
            redirect("/student/subscriptions");
            break;
        case "Преподаватель":
            redirect("/teacher/subscriptions");
            break;
        }
    },
};
</script>

<style scoped>

</style>
