<template>
    <v-card class="small">
        <p class="mb-2">
            Для оплаты и ввода реквизитов Вашей карты Вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК.
        </p>
        <transition-collapse>
            <div v-if="d_expand">
                <p>
                    Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с
                    использованием
                    протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения
                    интернет-платежей МИР , VISA International, Mastercard Worldwide, JCB для проведения платежа также
                    может
                    потребоваться ввод специального пароля.
                </p>
                <p>
                    Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной
                    информации
                    обеспечивается ПАО СБЕРБАНК. Введённая информация не будет предоставлена третьим лицам за
                    исключением
                    случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам
                    осуществляется в
                    строгом соответствии с требованиями платёжных систем МИР , VISA International, Mastercard Worldwide,
                    JCB.
                </p>
                <p>
                    Получатель платежа ИП Балтикова Анастасия Александровна, ИНН 860223111603.
                </p>
            </div>
        </transition-collapse>

        <v-button schema="link"
                  @click.native="d_expand = !d_expand"
        >
            {{ d_expand ? "Скрыть информацию" : "Читать подробнее" }}
        </v-button>

        <div class="payment-methods mt-3">
            <img src="/icons/sber.png"
                 alt="sberbank"
            >
            <img src="/icons/visa.png"
                 alt="visa"
            >
            <img src="/icons/mastercard.png"
                 alt="mastercard"
            >
        </div>
    </v-card>
</template>

<script>
import VCard from "~/components/common/VCard";
import TransitionCollapse from "~/components/common/transitions/TransitionCollapse";
import VButton from "~/components/common/form/button/VButton";

export default {
    name: "PaymentMethods",
    components: { VButton, TransitionCollapse, VCard },
    data() {
        return {
            d_expand: false,
        };
    },
};
</script>

<style scoped lang="scss">
.payment-methods {
    opacity: 0.5;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 15px;
    align-items: center;
    justify-content: flex-start;
}
</style>
