<template>
    <modal-component width="600px"
                     @close="$emit('close')"
    >
        <div class="h5">
            Количество абонементов:
        </div>
        <v-line-pick v-model="d_count"
                     class="mb-3"
                     :top="['5 шт.', '30 шт.', '50 шт.']"
                     :bottom="c_pricesPerOne"
        />
        <payment-methods class="mb-3" />
        <form-errors v-if="d_error"
                     class="mb-3"
                     :errors="d_error"
        />
        <v-button schema="secondary"
                  :loading="d_loading"
                  @click.native="buy"
        >
            Оплатить {{ c_price }} ₽
        </v-button>
    </modal-component>
</template>

<script>
import PaymentMethods from "~/components/teacher/subscriptions/PaymentMethods";
import ModalComponent from "~/components/common/ModalComponent";
import VLinePick from "~/components/common/VLinePick";
import VButton from "~/components/common/form/button/VButton";
import FormErrors from "~/components/common/form/FormErrors";

export default {
    name: "SubscriptionPackageBuyModal",
    components: {
        FormErrors,
        PaymentMethods,
        VButton,
        VLinePick,
        ModalComponent,
    },
    data() {
        return {
            d_count: 0,
            d_loading: false,
            d_error: null,
        };
    },
    computed: {
        c_prices() {
            return [
                this.$store.state.settings.subscriptionPackagePrice5,
                this.$store.state.settings.subscriptionPackagePrice30,
                this.$store.state.settings.subscriptionPackagePrice50,
            ];
        },
        c_pricesPerOne() {
            return [
                (this.$store.state.settings.subscriptionPackagePrice5 / 5).toFixed(2) + " ₽/шт.",
                (this.$store.state.settings.subscriptionPackagePrice30 / 30).toFixed(2) + " ₽/шт.",
                (this.$store.state.settings.subscriptionPackagePrice50 / 50).toFixed(2) + " ₽/шт.",
            ];
        },
        c_price() {
            return this.c_prices[this.d_count];
        },
        c_count() {
            return [5, 30, 50][this.d_count];
        },
    },
    methods: {
        async buy() {
            this.d_loading = true;
            try {
                window.document.location.href = await this.$api.subscriptions.buyPackage({
                    count: this.c_count,
                });
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped>

</style>
