<template>
    <dropdown ref="dropdown"
              class="subscription-transfer"
              width="300px"
    >
        <v-button schema="secondary">
            Выдать абонемент
        </v-button>
        <template #body>
            <h4>Передача абонемента</h4>
            <p>
                Доступно абонементов: {{ c_subscriptionsLeft }}
            </p>
            <p class="mb-3 text-danger">
                Вы уверены, что хотите передать абонемент этому ученику? Это действие нельзя отменить.
            </p>
            <form-errors v-if="d_error"
                         class="mb-3"
                         :errors="d_error"
            />
            <v-button :loading="d_loading"
                      @click.native="submit"
            >
                Подтвердить
            </v-button>
        </template>
    </dropdown>
</template>

<script>
import Dropdown from "~/components/common/Dropdown";
import VButton from "~/components/common/form/button/VButton";
import FormErrors from "~/components/common/form/FormErrors";

export default {
    name: "SubscriptionTransfer",
    components: { FormErrors, VButton, Dropdown },
    props: {
        student: {
            default: null,
        },
    },
    data() {
        return {
            d_loading: false,
            d_error: null,
        };
    },
    computed: {
        c_subscriptionsLeft() {
            return this.$store.state.auth.user.subscriptionsLeft;
        },
    },
    methods: {
        async submit() {
            this.d_loading = true;
            this.d_error = null;
            try {
                const res = await this.$store.dispatch("students/giveSubscription", {
                    id: this.student.id,
                });
                this.$refs.dropdown.toggle(false);
                this.$emit("transfer", res);
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
};
</script>

<style scoped
       lang="scss">
.subscription-transfer {
    display: block;
}
</style>
