<template>
    <div>
        <breadcrumbs :items="[{name: 'Ученики', url: '/teacher/students'}, {name:'Добавление ученика'}]" />
        <page-header>
            Добавление ученика
        </page-header>
        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <v-radio v-model="d_exists"
                         label="Ученик ещё не зарегистрирован на платформе"
                         :radio-value="0"
                />
            </div>
            <div class="col-12 col-md-6">
                <v-radio v-model="d_exists"
                         label="Ученик уже зарегистрирован на платформе"
                         :radio-value="1"
                />
            </div>
        </div>
        <form v-if="!d_exists"
              @submit.prevent="store"
        >
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <v-input v-model="d_student.email"
                             label="E-Mail"
                             type="email"
                    />
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <v-input v-model="d_student.login"
                             label="Логин"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_student.lastName"
                             label="Фамилия"
                    />
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_student.firstName"
                             label="Имя"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input-date v-model="d_student.birthday"
                                  label="Дата рождения"
                    />
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_student.city"
                             label="Город"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_student.password"
                             label="Пароль"
                             type="password"
                    />
                </div>
                <div class="col-12 col-md-6 col-xl-4 mb-3">
                    <v-input v-model="d_student.passwordConfirmation"
                             label="Подтвердите пароль"
                             type="password"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 mb-3">
                    <v-select v-model="d_student.group"
                              :options="$store.state.groups.items"
                              label="Группа"
                              multiselect-label="name"
                    />
                </div>
            </div>
            <form-errors
                class="mb-3"
                :errors="d_error"
            />
            <v-button :loading="d_loading"
                      type="submit"
            >
                Зарегистрировать ученика
            </v-button>
        </form>
        <form v-else
              @submit.prevent="invite"
        >
            <div class="row">
                <div class="col-12 col-md-6">
                    <v-input v-model="d_inviteEmail"
                             class="mb-3"
                             label="E-Mail пользователя"
                    />
                </div>
            </div>
            <form-errors class="mb-3"
                         :errors="d_error"
            />
            <transition-collapse>
                <div v-if="d_userInvited">
                    <p class="mb-3">
                        Приглашение присоединиться к вашей группе отправлено ученику на E-Mail.
                    </p>
                </div>
            </transition-collapse>
            <v-button :loading="d_loading"
                      type="submit"
            >
                Пригласить ученика
            </v-button>
        </form>
    </div>
</template>

<script>
import StudentFactory from "@/assets/js/factories/StudentFactory";
import teacherHasAccess from "@/middleware/teacherHasAccess";
import Breadcrumbs from "~/components/common/Breadcrumbs";
import VInput from "~/components/common/form/VInput";
import VButton from "~/components/common/form/button/VButton";
import FormErrors from "~/components/common/form/FormErrors";
import VSelect from "~/components/common/form/VSelect";
import VRadio from "~/components/common/form/VRadio";
import PageHeader from "~/components/common/PageHeader";
import TransitionCollapse from "~/components/common/transitions/TransitionCollapse";
import VInputDate from "~/components/common/form/VInputDate";

export default {
    name: "Create",
    components: {
        VInputDate,
        TransitionCollapse,
        PageHeader,
        VRadio,
        VSelect,
        FormErrors,
        VButton,
        VInput,
        Breadcrumbs,
    },
    layout: "teacher",
    data() {
        return {
            d_student: StudentFactory.create({
                group: null,
                password: null,
                passwordConfirmation: null,
            }),
            d_loading: null,
            d_error: null,
            d_exists: 0,
            d_inviteEmail: null,
            d_userInvited: false,
        };
    },
    methods: {
        async store() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                await this.$store.dispatch("students/store", this.d_student);
                this.$router.push("/teacher/students");
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
        async invite() {
            this.d_loading = true;
            try {
                await this.$api.students.invite({
                    email: this.d_inviteEmail,
                });
                this.d_userInvited = true;
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
    head: {
        title: "Добавление ученика",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
    middleware: [teacherHasAccess],
};
</script>

<style scoped>

</style>
