<template>
    <div>
        <page-header>
            Ученики <span class="text-muted">{{ c_students.length }}</span>
            <template #actions>
                <nuxt-link to="/teacher/students/create">
                    <v-button schema="secondary">
                        Добавить ученика
                    </v-button>
                </nuxt-link>
                <nuxt-link to="/teacher/groups/create">
                    <v-button schema="dark">
                        Сформировать группу
                    </v-button>
                </nuxt-link>
            </template>
        </page-header>

        <group v-for="group in c_groups"
               :key="group.id"
               class="mb-3"
               :group="group"
        />
    </div>
</template>

<script>
import { mapState } from "vuex";
import teacherHasAccess from "@/middleware/teacherHasAccess";
import Group from "~/components/teacher/group/Group";
import PageHeader from "~/components/common/PageHeader";
import VButton from "~/components/common/form/button/VButton";

export default {
    components: {
        PageHeader,
        Group,
        VButton,
    },
    layout: "teacher",
    middleware: [teacherHasAccess],
    computed: {
        ...mapState({
            c_students: state => state.students.items,
            c_groups: state => state.groups.items,
        }),
    },
    head: {
        title: "Ученики",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped>
</style>
