<template>
    <div>
        <breadcrumbs :items="[{name:'Тренажеры', url: '/admin/apps'}, {name:'Новый тренажер'}]" />
        <page-header>
            Новый тренажер
        </page-header>
        <card>
            <app-editor @create="$router.push('/admin/apps')" />
        </card>
    </div>
</template>

<script>
import AppEditor from "~/components/teacher/apps/AppEditor";
import Breadcrumbs from "~/components/common/Breadcrumbs";
import PageHeader from "~/components/common/PageHeader";
import Card from "~/components/common/VCard";

export default {
    components: {
        Card,
        AppEditor,
        PageHeader,
        Breadcrumbs,
    },
    layout: "admin",
    head: {
        title: "Создание тренажера",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped>

</style>
