<template>
    <div>
        <page-header>
            {{ c_title }}
            <template v-if="c_group.id"
                      #subTitle
            >
                Моя группа
            </template>
            <template #actions>
                <v-button v-if="c_group.id"
                          schema="danger"
                          :loading="d_leaving"
                          @click.native="leave"
                >
                    Выйти из группы
                </v-button>
            </template>
        </page-header>
        <template v-if="c_group.id">
            <section class="mb-4">
                <teacher-card :teacher="c_group.teacher" />
            </section>
            <section class="mb-4">
                <card>
                    <h4 class="text-primary">
                        Расписание группы
                    </h4>
                    <div v-if="c_group.schedules.length"
                         class="schedule"
                    >
                        <div v-for="(day, idx) in c_days"
                             :key="idx"
                             class="schedule-day"
                             :class="{'schedule-day_today': day === d_currentDay}"
                        >
                            <h5 class="schedule-day__name">
                                {{ translateDay(day) }}
                            </h5>
                            <div v-for="item in c_schedule[day]"
                                 :key="item.id"
                                 class="schedule-day__item"
                            >
                                <div>
                                    {{ item.schedule.startAt.substr(0, 5) }} - {{
                                        item.schedule.finishAt.substr(0, 5)
                                    }}
                                </div>
                            </div>
                            <div v-if="c_schedule[day].length === 0"
                                 class="schedule-day__item"
                            >
                                <p>Нет занятий в этот день</p>
                            </div>
                        </div>
                    </div>
                    <p v-else>
                        Расписание ещё не заполнено
                    </p>
                </card>
            </section>
            <section>
                <card>
                    <h4 class="text-primary">
                        Ученики
                    </h4>
                    <div class="students">
                        <student-card v-for="student in c_students"
                                      :key="student.id"
                                      :student="student"
                                      :show-details-link="false"
                                      :mini="true"
                        />
                    </div>
                </card>
            </section>
        </template>
        <div v-else>
            Пока что, ты не числишься ни в одной из групп.
        </div>

        <group-invites v-if="c_checkInvites"
                       class="mt-4"
        />
    </div>
</template>

<script>
import { mapState } from "vuex";
import StudentCard from "~/components/teacher/student/StudentCard";
import PageHeader from "~/components/common/PageHeader";
import Card from "~/components/common/VCard";
import VButton from "~/components/common/form/button/VButton";
import TeacherCard from "~/components/student/teacher/TeacherCard";
import GroupInvites from "~/components/student/group/GroupInvites";

export default {
    components: {
        VButton,
        GroupInvites,
        TeacherCard,
        StudentCard,
        Card,
        PageHeader,
    },
    layout: "student",
    data() {
        const days = ["mon", "tue", "wed", "thu", "fri", "sat", "sun"];
        const currentDate = new Date();
        const currentDayIdx = (currentDate.getDay() + 6) % 7;
        const currentDay = days[currentDayIdx];
        return {
            d_currentDay: currentDay,
            d_days: days,
            d_leaving: false,
        };
    },
    computed: {
        c_days() {
            return this.d_days.filter(day => this.c_schedule[day].length);
        },
        c_title() {
            if (this.c_group && this.c_group.id) {
                return this.c_group.name;
            } else {
                return "Моя группа";
            }
        },
        ...mapState({
            c_group: state => state.group,
            c_schedules: state => state.group.schedules,
        }),
        c_schedule() {
            return this.c_schedules.reduce((acc, schedule) => {
                for (const day in acc) {
                    if (schedule[day]) {
                        acc[day].push({
                            schedule,
                        });
                    }
                }
                return acc;
            }, {
                mon: [],
                thu: [],
                wed: [],
                tue: [],
                fri: [],
                sat: [],
                sun: [],
            });
        },
        c_checkInvites() {
            return this.$route.query.action === "check-invites";
        },
        c_students() {
            return JSON.parse(JSON.stringify(this.c_group.students)).sort((a, b) => b.brains - a.brains);
        },
    },
    methods: {
        translateDay(val) {
            const map = {
                mon: "Понедельник",
                tue: "Вторник",
                wed: "Среда",
                thu: "Четверг",
                fri: "Пятница",
                sat: "Суббота",
                sun: "Воскресенье",
            };
            return map[val] ? map[val] : val;
        },
        async leave() {
            const confirm = window.confirm("Ты уверен, что хочешь покинуть эту группу?");
            if (!confirm) {
                return;
            }

            this.d_leaving = true;
            await this.$store.dispatch("group/leave");
            this.d_leaving = false;
        },
    },
    head: {
        title: "Моя группа",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped lang="scss">
.schedule {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}

.schedule-day {
    box-shadow: $card-shadow;
    background: $secondary;
    color: $dark;
    padding: 15px;
    border-radius: 7px;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    //border: 1px solid lighten($primary, 50%);

    @include media-breakpoint-down(md) {
        grid-auto-flow: row;
        grid-gap: 15px;
    }
}

.schedule-day__name {
    //color: $primary;
    margin-bottom: 5px;
    font-size: 14px;
}

.schedule-day__item {
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
}

.schedule-day_today {
    background: $primary;
    color: white;

    .schedule-day__name {
        color: $secondary;
    }
}

.students {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 30px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}
</style>
