<template>
    <div class="auth-page">
        <form class="auth-page__form"
              @submit.prevent="login"
        >
            <avatar class="auth-page__icon" />
            <div class="text-center">
                <h1 class="mb-2">
                    Авторизация
                </h1>
                <h3 class="text-primary mb-4">
                    Ученик
                </h3>
            </div>
            <v-input v-model="d_user.username"
                     label="E-Mail или логин"
                     class="w-100 mb-3"
            />
            <v-input v-model="d_user.password"
                     label="Пароль"
                     class="w-100 mb-3"
                     type="password"
            />
            <form-errors v-if="d_error"
                         class="mb-3"
                         :errors="d_error"
            />
            <v-button class="d-block w-100 mb-2"
                      schema="secondary"
                      type="submit"
                      :loading="d_loading"
            >
                Авторизоваться
            </v-button>
            <div class="d-flex justify-content-end mb-2">
                <a href="#"
                   @click.prevent="d_resetPassword = true"
                >Забыли пароль?</a>
            </div>

            <div class="d-flex">
                <v-button class="mr-auto"
                          schema="primary"
                          @click.native="d_showRegModal = true"
                >
                    Зарегистрироваться
                </v-button>
                <social-auth />
            </div>
            <v-modal-registration-student v-if="d_showRegModal"
                                          @close="d_showRegModal = false"
            />
            <password-reset-modal v-if="d_resetPassword"
                                  @close="d_resetPassword = false"
            />
        </form>
    </div>
</template>

<script>
import VModalRegistrationStudent from "~/components/common/auth-form/VModalRegistrationStudent";
import PasswordResetModal from "~/components/common/PasswordResetModal";
import VInput from "~/components/common/form/VInput";
import VButton from "~/components/common/form/button/VButton";
import FormErrors from "~/components/common/form/FormErrors";
import Avatar from "~/components/common/Avatar";
import SocialAuth from "~/components/common/form/auth/SocialAuth";

export default {
    components: {
        VModalRegistrationStudent,
        Avatar,
        FormErrors,
        VButton,
        VInput,
        SocialAuth,
        PasswordResetModal,
    },
    layout: "empty",
    data() {
        return {
            d_user: {
                username: null,
                password: null,
            },
            d_loading: false,
            d_error: false,
            d_showRegModal: false,
            d_resetPassword: false,
        };
    },
    methods: {
        async login() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_error = null;
            try {
                await this.$store.dispatch("auth/login", {
                    ...this.d_user,
                    type: "student",
                });
                await this.$router.push("/student");
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
    },
    head: {
        title: "Авторизация",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
    middleware({
        store,
        redirect,
    }) {
        if (store.state.auth.token) {
            redirect("/apps");
        }
    },
};
</script>

<style scoped lang="scss">
</style>
