<template>
    <div>
        <page-header>
            Настройки
        </page-header>
        <card>
            <form @submit.prevent="update">
                <div class="d-flex flex-column flex-md-row">
                    <attach-area-component v-model="d_user.image"
                                           class="mr-md-4"
                    />
                    <div>
                        <div class="row">
                            <div class="col-12 col-md-4 mb-3">
                                <v-input v-model="d_user.lastName"
                                         label="Фамилия"
                                />
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <v-input v-model="d_user.firstName"
                                         label="Имя"
                                />
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <v-input v-model="d_user.middleName"
                                         label="Отчество"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <v-input-date v-model="d_user.birthday"
                                              label="Дата рождения"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <v-input v-model="d_user.email"
                                 label="E-Mail"
                        />
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <v-input v-model="d_user.phone"
                                 label="Телефон"
                        />
                    </div>
                </div>

                <v-checkbox v-model="d_changePassword"
                            class="mb-3"
                            label="Изменить пароль"
                />
                <transition-collapse>
                    <div v-if="d_changePassword"
                         class="row"
                    >
                        <div class="col-12 col-md-4 mb-3">
                            <v-input v-model="d_user.currentPassword"
                                     type="password"
                                     label="Текущий пароль"
                            />
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <v-input v-model="d_user.password"
                                     type="password"
                                     label="Пароль"
                            />
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <v-input v-model="d_user.passwordConfirmation"
                                     type="password"
                                     label="Подтвердите пароль"
                            />
                        </div>
                    </div>
                </transition-collapse>
                <attachment v-if="c_currentUserLevel && c_currentUserLevel.certificate"
                            :attachment="c_currentUserLevel.certificate"
                            class="profile-attestation mb-3"
                />
                <transition-collapse>
                    <div v-if="d_success"
                         class="mb-3"
                    >
                        Изменения успешно сохранены.
                    </div>
                </transition-collapse>
                <form-errors v-if="d_error"
                             class="mb-3"
                             :errors="d_error"
                />
                <v-button :loading="d_loading"
                          type="submit"
                >
                    Сохранить
                </v-button>
            </form>
        </card>
    </div>
</template>

<script>
import Attachment from "@/components/common/attachment/Attachment";
import VInputDate from "~/components/common/form/VInputDate";
import PageHeader from "~/components/common/PageHeader";
import VInput from "~/components/common/form/VInput";
import VCheckbox from "~/components/common/form/checkbox/VCheckbox";
import VButton from "~/components/common/form/button/VButton";
import TransitionCollapse from "~/components/common/transitions/TransitionCollapse";
import FormErrors from "~/components/common/form/FormErrors";
import Card from "~/components/common/VCard";
import AttachAreaComponent from "~/components/common/attachment/AttachAreaComponent";

export default {
    components: {
        Attachment,
        VInputDate,
        AttachAreaComponent,
        Card,
        FormErrors,
        TransitionCollapse,
        VButton,
        VCheckbox,
        VInput,
        PageHeader,
    },
    data() {
        return {
            d_user: {
                image: null,
                password: undefined,
                passwordConfirmation: undefined,
                currentPassword: undefined,
                ...JSON.parse(JSON.stringify(this.$store.state.auth.user)),
            },
            d_accountType: 0,
            d_changePassword: null,
            d_loading: false,
            d_success: false,
            d_error: null,
        };
    },
    computed: {
        c_currentUserLevel() {
            return this.$store.state.auth.user.attestationLevel;
        },
    },
    layout: "student",
    watch: {
        d_changePassword(val) {
            if (!val) {
                this.d_user.password = this.d_user.passwordConfirmation = this.d_user.currentPassword = undefined;
            }
        },
    },
    mounted() {
        this.d_accountType = this.d_user.school ? 1 : 0;
    },
    methods: {
        async update() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_error = null;
            try {
                await this.$store.dispatch("auth/update", {
                    ...this.d_user,
                    type: "student",
                });
                setTimeout(() => {
                    this.d_success = false;
                }, 1500);
                this.d_success = true;
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
        translateAppColor(val) {
            const map = {
                standard: "Стандартная",
                light: "Светлая",
                dark: "Темная",
            };
            return map[val] ? map[val] : val;
        },
        translateAppSize(val) {
            const map = {
                standard: "Стандартный",
                bigger: "Увеличенный",
                biggest: "Большой",
            };
            return map[val] ? map[val] : val;
        },
    },
    head: {
        title: "Настройки",
        meta: [
            {
                hid: "description",
                name: "description",
                content: "Home page description",
            },
        ],
    },
};
</script>

<style scoped lang="scss">
.profile-attestation {
    width: 350px;
    max-width: 100%;
}
</style>
