<template>
    <div>
        <page-header>
            Мои результаты
        </page-header>
        <div class="row">
            <div class="col-12 col-xl-7 mb-4 mb-xl-0">
                <v-card>
                    <h4 class="text-primary">
                        Таблица лидеров
                    </h4>
                    <div v-if="d_leaders"
                         class="leaders"
                    >
                        <div v-for="student in d_leaders"
                             :key="student.id"
                             class="leader"
                             :class="{'leader_me' : student.id === c_user.id}"
                        >
                            <div class="leader__position">
                                {{ student.position }}
                            </div>
                            <student-row class="leader__student-card"
                                         :student="student"
                            />
                        </div>
                    </div>
                    <loading-component v-else />
                </v-card>
            </div>
            <div class="col-12 col-xl-5">
                <v-card class="results__chart">
                    <h4 class="text-primary">
                        График результативности
                    </h4>
                    <brains-chart v-if="d_brains"
                                  :brains="d_brains"
                    />
                    <loading-component v-else />
                </v-card>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from "vuex";
import StudentRow from "@/components/teacher/student/StudentRow";
import BrainsChart from "~/components/teacher/student/BrainsChart";
import PageHeader from "~/components/common/PageHeader";
import VCard from "~/components/common/VCard";
import LoadingComponent from "~/components/common/LoadingComponent";

export default {
    name: "Results",
    components: {
        StudentRow,
        LoadingComponent,
        VCard,
        BrainsChart,
        PageHeader,
    },
    layout: "student",
    async fetch() {
        [this.d_brains, this.d_leaders] = await Promise.all([
            this.$api.profile.fetchBrains(),
            this.$api.leaderBoard.fetch(),
        ]);
    },
    data() {
        return {
            d_brains: null,
            d_leaders: null,
        };
    },
    computed: {
        ...mapState({
            c_user: state => state.auth.user,
        }),
    },
};
</script>

<style scoped lang="scss">
.leaders {
    display: grid;
}

.leader {
    display: grid;
    align-items: center;
    grid-template-columns: max-content auto;
    padding: 10px 0;
    grid-gap: 10px;
}

.leader + .leader {
    border-top: 1px solid #ebebeb;
}

.leader__position {
    font-size: 18px;
    font-weight: bold;
    color: $primary;
}

.leader_me {
    background: $primary;
    color: white;
    margin: 0 -15px;
    padding-left: 15px;
    padding-right: 15px;

    .leader__student-card {
        color: white;
        background: $primary;

        &::v-deep {
            .brains__val {
                color: $secondary;
            }
        }
    }

    .leader__position {
        color: white;
    }
}
</style>
