<template>
    <div class="progress-bar">
        <div class="progress-bar__track">
            <div class="progress-bar__value">
                {{ value }}%
            </div>
            <div class="progress-bar__fill"
                 :style="c_progressWidth"
            >
                <svg class="progress-bar__fill-end"
                     width="15"
                     height="23"
                     viewBox="0 0 15 23"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                >
                    <path d="M1.97502 12.5C6.37502 7.3 5.83333 2.16667 4 0H15.0001V23H4C2.16667 21.8333 -2.42498 17.7 1.97502 12.5Z"
                          fill="#004758"
                    />
                </svg>
            </div>
        </div>
        <div class="progress-bar__icon">
            <slot name="icon" />
            <img src="/icons/trophy.svg">
        </div>
    </div>
</template>

<script>
export default {
    name: "ProgressBar",
    props: {
        value: {
            default: 40,
        },
    },
    computed: {
        c_progressWidth() {
            return {
                width: this.value + "%",
            };
        },
    },
};
</script>

<style scoped lang="scss">
.progress-bar {
    width: 100%;
    display: flex;
    align-items: center;
}

.progress-bar__track {
    width: 100%;
    height: 20px;
    border-radius: 50px;
    background: $dark;
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    box-shadow: $card-shadow;
    position: relative;
    overflow: hidden;
}

.progress-bar__value {
    position: relative;
    z-index: 10;
    $shadowColor: transparentize($dark, 0.5);
    text-shadow: 1px 1px 0 $shadowColor,
    -1px -1px 0 $shadowColor,
    1px -1px 0 $shadowColor,
    -1px 1px 0 $shadowColor,
    1px 1px 0 $shadowColor;
}

@keyframes fill-animation {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 14px;
    }
}

.progress-bar__fill {
    background: $secondary;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-radius: 50px 0 0 50px;
    background: linear-gradient(to bottom, transparent 0, #f4ff63 100%),
    repeating-linear-gradient(-45deg, #FFEC00 5px, #d4c601 5px, #d4c601 10px, #FFEC00 10px, #FFEC00 15px);
    padding: 0 15px;
    box-sizing: content-box;
    margin-left: -15px;
    transition: width .3s ease-in;

    animation: fill-animation 1s forwards infinite linear;
}

.progress-bar__fill-end {
    height: 100%;
    position: absolute;
    right: -9px;
}

.progress-bar__icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: radial-gradient(114% 114% at 35% 9%, #1F9BB9 3.33%, #004758 100%);
    margin-left: -10px;
    box-shadow: $card-shadow;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 11;

    img {
        width: 60%;
    }
}
</style>
