<template>
    <div class="attestations-answers">
        <div v-for="(variant, idx) in attestations"
             :key="variant.id"
             class="attestations-answers__variant mb-4"
        >
            <h4 class="mb-0">
                Вариант {{ idx + 1 }}
            </h4>
            <div class="attestations-answers__stages">
                <div v-for="(stage) in variant.stages"
                     :key="stage.id"
                     class="attestations-answers__stage mt-3"
                >
                    <div class="font-weight-medium text-primary">
                        {{ formatAttestationStageType(stage.type) }}
                    </div>
                    <ol class="attestations-answers__answers pl-3">
                        <li v-for="(answer, answerIdx) in stage.answers"
                            :key="answerIdx"
                        >
                            <div class="font-weight-medium">
                                {{ answer }}
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import formatAttestationStageType from "@/assets/js/filters/formatAttestationStageType";

export default {
    name: "AttestationsAnswers",
    props: {
        attestations: {
            type: Array,
            required: true,
        },
    },
    methods: {
        formatAttestationStageType,
    },
};
</script>

<style scoped lang="scss">
.attestations-answers__stages{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.attestations-answers__answers {
    //display: flex;
    //flex-wrap: wrap;
}

.attestations-answers__answer {
    //border: 1px solid rgba(0, 0, 0, 0.5);
    //padding: 5px;
    //min-width: 60px;
}

.attestations-answers__variant {
    page-break-inside: avoid;
}
</style>
