<template>
    <modal-component width="500px"
                     overflow="visible"
                     @close="$emit('close')"
    >
        <template v-if="!d_res">
            <v-message class="mb-3">
                <h5 class="text-icon">
                    <i class="icon-warning text-warning" /> Внимание!
                </h5>
                <p>
                    Данное окно предназначено для фиксирования успешного прохождения оффлайн аттестации.
                    После сохранения у ученика появится отметка, что аттестация выбранного уровня пройдена успешно.
                </p>
            </v-message>

            <form @submit.prevent="submit">
                <v-select v-model="d_level"
                          class="mb-3"
                          label="Выберите уровень"
                          :options="[13,12,11,10,9,8,7,6,5,4,3,2,1]"
                >
                    <template #option="{option}">
                        <div class="text-icon">
                            Уровень {{ formatAttestationLevel(option) }}
                        </div>
                    </template>
                    <template #singleLabel="{option}">
                        <div class="text-icon">
                            Уровень {{ formatAttestationLevel(option) }}
                        </div>
                    </template>
                </v-select>
                <v-button type="submit"
                          :loading="d_loading"
                          schema="secondary"
                >
                    Сохранить
                </v-button>
            </form>
        </template>
        <template v-else>
            <h3 class="text-secondary">
                Отлично!
            </h3>
            <p class="mb-3">
                Уровень подготовки успешно сохранён.
            </p>
            <attachment :attachment="d_res.certificate" />
        </template>
    </modal-component>
</template>

<script>
import ModalComponent from "@/components/common/ModalComponent";
import VMessage from "@/components/common/VMessage";
import VButton from "@/components/common/form/button/VButton";
import VSelect from "@/components/common/form/VSelect";
import Attachment from "@/components/common/attachment/Attachment";
import formatAttestationLevel from "@/assets/js/filters/formatAttestationLevel";

export default {
    name: "GrantAttestationLevelModal",
    components: {
        Attachment,
        VSelect,
        VButton,
        VMessage,
        ModalComponent,
    },
    props: {
        studentId: {
            type: Number,
            required: true,
        },
    },
    data() {
        return {
            d_level: null,
            d_res: null,
            d_loading: false,
        };
    },
    methods: {
        formatAttestationLevel,
        async submit() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            this.d_res = await this.$api.students.grantAttestationLevel(this.studentId, { level: this.d_level });
            this.d_loading = false;
        },
    },
};
</script>

<style scoped>

</style>
