<template>
    <loading-component v-if="$fetchState.pending"
                       class="mt-3"
    />
    <div v-else-if="d_items.length"
         class="table table_md attestations-table"
    >
        <div class="table__row table__head attestations-table__row">
            <div class="table__cell">
                Дата начала
            </div>
            <div class="table__cell">
                Режим
            </div>
            <div class="table__cell">
                Уровень
            </div>
            <div class="table__cell">
                Тренировка
            </div>
            <div class="table__cell">
                Результат
            </div>
            <div class="table__cell" />
        </div>
        <div v-for="item in d_items"
             :key="item.id"
             class="table__row attestations-table__row"
             @click="d_showAttestationDetails = item"
        >
            <div class="table__cell">
                <span class="table__md-label">Дата создания</span>{{ formatDateTime(item.createdAt) }}
            </div>
            <div class="table__cell">
                <span class="table__md-label">Режим</span>{{ formatAttestationType(item.type) }}
            </div>
            <div class="table__cell">
                <span class="table__md-label">Уровень</span>{{ formatAttestationLevel(item.level) }}
            </div>
            <div class="table__cell">
                <span class="table__md-label">Тренировка</span>{{ item.isTraining ? "Да" : "Нет" }}
            </div>
            <div class="table__cell">
                <span class="table__md-label">Результат</span>{{
                    item.finishedAt ? (item.stagesSumScore + " баллов") : "Не завершено"
                }}
            </div>
        </div>
        <modal-component v-if="d_showAttestationDetails"
                         @close="d_showAttestationDetails = false"
        >
            <attestation-result :show-home-button="false"
                                :attestation="d_showAttestationDetails"
            />
        </modal-component>
    </div>
    <p v-else>
        Список аттестаций пуст.
    </p>
</template>

<script>
import LoadingComponent from "@/components/common/LoadingComponent";
import { formatDateTime } from "@/assets/js/filters/dayjs";
import formatAttestationType from "@/assets/js/filters/formatAttestationType";
import AttestationResult from "@/components/common/attestations/AttestationResult";
import ModalComponent from "@/components/common/ModalComponent";
import formatAttestationLevel from "@/assets/js/filters/formatAttestationLevel";

export default {
    name: "StudentAttestationsTable",
    components: {
        ModalComponent,
        AttestationResult,
        LoadingComponent,
    },
    props: {
        studentId: {
            type: Number,
            required: true,
        },
    },
    async fetch() {
        this.d_items = await this.$api.students.fetchStudentAttestations(this.studentId);
    },
    data() {
        return {
            d_showAttestationDetails: false,
            d_items: [],
        };
    },
    methods: {
        formatAttestationLevel,
        formatAttestationType,
        formatDateTime,
    },
};
</script>

<style scoped lang="scss">
.attestations-table {
    .attestations-table__row {
        grid-template-columns: 200px 170px 100px 150px 150px;

        &:not(.table__head) {
            transition: transform .1s ease-in;
            cursor: pointer;

            &:hover {
                transform: scale(1.01);
            }
        }

        @include media-breakpoint-down(lg) {
            grid-template-columns: 150px 170px 100px 150px 150px;
        }

        @include media-breakpoint-down(md) {
            grid-auto-flow: row;
            grid-template-columns: 1fr;
            grid-gap: 0;
            padding: 10px 0;
        }
    }
}
</style>
