<template>
    <td class="table__cell">
        <span v-if="label"
              class="table__cell-label"
        >{{ label }}
        </span>
        <slot />
    </td>
</template>

<script>
export default {
    name: "VTableCell",
    props: ["label"],
};
</script>

<style lang="scss">
</style>
