<template>
    <table class="table"
           :class="c_class"
    >
        <thead>
            <slot name="head" />
        </thead>
        <tbody>
            <slot name="body" />
        </tbody>
    </table>
</template>

<script>
import ResizeObserver from "resize-observer-polyfill";

export default {
    name: "VTable",
    props: {
        adaptFrom: {
            default: null,
        },
    },
    data() {
        return {
            d_adapt: false,
            d_observer: null,
        };
    },
    computed: {
        c_class() {
            return this.d_adapt ? "table_adapt" : null;
        },
    },
    mounted() {
        if (this.adaptFrom) {
            this.d_observer = new ResizeObserver((entries) => {
                this.d_adapt = this.$el.offsetWidth < this.adaptFrom;
            });
            this.d_observer.observe(this.$el);
        }
    },
    beforeDestroy() {
        if (this.d_observer) {
            this.d_observer.unobserve(this.$el);
        }
    },
};
</script>

<style lang="scss">
</style>
