<template>
    <div>
        <breadcrumbs :items="[{url: '/teacher/students', name: 'Ученики'}, {name: c_studentFullName}]" />
        <page-header>
            {{ c_studentFullName }}
            <v-brains v-if="c_student.brains !== undefined"
                      class="student-card__brains"
                      :mini="true"
                      :value="c_student.brains"
            />
            <template #actions>
                <v-button schema="danger"
                          :loading="d_kicking"
                          size="small"
                          @click.native="kick"
                >
                    Исключить ученика
                </v-button>
            </template>
        </page-header>
        <div class="user-info mb-5">
            <avatar class="user-info__avatar"
                    :image="c_imageUrl"
                    :level="c_student.level"
            />
            <div>
                <p class="user-info__row">
                    <span>Аккаунт зарегистрирован:</span> {{ formatDate(c_student.createdAt) }}
                </p>
                <p v-if="c_student.birthday"
                   class="user-info__row"
                >
                    <span>Дата рождения:</span> {{ formatDate(c_student.birthday) }}
                </p>
                <p class="user-info__row">
                    <span>Логин:</span> {{ c_student.login || "-" }}
                </p>
                <p class="user-info__row">
                    <span>E-Mail:</span> {{ c_student.email || "-" }}
                </p>
                <p class="user-info__row">
                    <span>Группа:</span> {{ c_group.name }}
                </p>
                <p class="user-info__row">
                    <span>Абонемент:</span>
                    <template v-if="!c_student.lastSubscription">
                        не оформлялся
                        <subscription-transfer class="mt-3"
                                               :student="c_student"
                        />
                    </template>
                    <template v-else-if="isBefore(c_student.lastSubscription.expiredAt)">
                        закончился {{ formatDate(c_student.lastSubscription.expiredAt) }}
                        <subscription-transfer class="mt-3"
                                               :student="c_student"
                        />
                    </template>
                    <template v-else>
                        до {{ formatDate(c_student.lastSubscription.expiredAt) }}
                    </template>
                </p>
            </div>
        </div>
        <section class="mb-5">
            <h4>График результативности</h4>
            <loading-component v-if="!d_brains" />
            <brains-chart v-else
                          :brains="d_brains"
            />
        </section>
        <section class="mb-5">
            <h4>Тренажеры</h4>
            <loading-component v-if="!c_apps" />
            <user-apps v-else
                       :apps="c_apps"
            />
        </section>
        <section class="mb-5">
            <h4>Домашние задания</h4>
            <loading-component v-if="!c_homeworks" />
            <user-apps v-else
                       :apps="c_homeworks"
                       :homeworks="true"
            />
        </section>
        <section class="mb-5">
            <h4>Последние Сессии</h4>
            <loading-component v-if="!d_sessions" />
            <user-sessions v-else
                           :sessions="d_sessions"
            />
        </section>
        <section class="mb-5">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-3">
                <h4 class="mb-3 mb-md-0">
                    Аттестации
                </h4>
                <v-button schema="secondary"
                          @click.native="d_showGrantLevel = true"
                >
                    Ввести офлайн аттестацию
                </v-button>
            </div>
            <student-attestations-table :student-id="+this.$route.params.id" />
        </section>
        <grant-attestation-level-modal v-if="d_showGrantLevel"
                                       :student-id="+this.$route.params.id"
                                       @close="d_showGrantLevel = false"
        />
    </div>
</template>

<script>
import dateMixins from "assets/js/mixins/dateMixins";
import teacherHasAccess from "@/middleware/teacherHasAccess";
import StudentAttestationsTable from "@/components/teacher/attestations/StudentAttestationsTable";
import GrantAttestationLevelModal from "@/components/teacher/attestations/GrantAttestationLevelModal";
import UserSessions from "~/components/teacher/sessions/UserSessions";
import UserApps from "~/components/teacher/homeworks/UserApps";
import BrainsChart from "~/components/teacher/student/BrainsChart";
import SubscriptionTransfer from "~/components/teacher/subscriptions/SubscriptionTransfer";
import PageHeader from "~/components/common/PageHeader";
import Breadcrumbs from "~/components/common/Breadcrumbs";
import Avatar from "~/components/common/Avatar";
import VBrains from "~/components/common/brains/VBrains";
import LoadingComponent from "~/components/common/LoadingComponent";
import VButton from "~/components/common/form/button/VButton";

export default {
    name: "Index",
    components: {
        GrantAttestationLevelModal,
        StudentAttestationsTable,
        SubscriptionTransfer,
        VButton,
        BrainsChart,
        LoadingComponent,
        VBrains,
        UserApps,
        UserSessions,
        Avatar,
        Breadcrumbs,
        PageHeader,
    },
    layout: "teacher",
    mixins: [dateMixins],
    async fetch() {
        [this.d_apps, this.d_sessions, this.d_brains] = await Promise.all([
            this.$api.students.fetchStudentApps(this.$route.params.id),
            this.$api.students.fetchStudentSessions(this.$route.params.id, {
                limit: 10,
            }),
            this.$api.students.fetchStudentBrainsHistory(this.$route.params.id),
        ]);
    },
    data() {
        return {
            d_apps: null,
            d_sessions: null,
            d_brains: null,
            d_kicking: null,
            d_showGrantLevel: false,
        };
    },
    computed: {
        c_student() {
            return this.$store.getters["students/findById"](this.$route.params.id);
        },
        c_imageUrl() {
            return this.c_student.image && this.c_student.image.url;
        },
        c_studentFullName() {
            return this.c_student.firstName + " " + this.c_student.lastName;
        },
        c_group() {
            return this.$store.getters["groups/findById"](this.c_student.groupId);
        },
        c_homeworks() {
            if (!this.d_apps) {
                return null;
            }
            return this.d_apps.filter(item => item.isHomework);
        },
        c_apps() {
            if (!this.d_apps) {
                return null;
            }
            return this.d_apps.filter(item => !item.isHomework);
        },
    },
    methods: {
        async kick() {
            const confirm = window.confirm("Вы уверены, что хотите исключить этого ученика?");
            if (!confirm) {
                return;
            }
            this.d_kicking = true;
            await this.$store.dispatch("students/remove", { id: this.c_student.id });
            await this.$router.push("/teacher/");
            this.d_kicking = false;
        },
    },
    head() {
        return {
            title: this.c_studentFullName,
            meta: [
                {
                    hid: "description",
                    name: "description",
                    content: "Home page description",
                },
            ],
        };
    },
    middleware: [teacherHasAccess],
};
</script>

<style scoped
       lang="scss"
>
.user-info {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    align-items: center;

    @include media-breakpoint-down(md) {
        grid-auto-flow: row;
        grid-gap: 10px;
    }
}

.user-info__avatar {
    width: 150px;
    height: 150px;

    @include media-breakpoint-down(md) {
        margin: auto;
    }
}

.user-info__row {
    span {
        font-weight: 500;
    }

    & + & {
        margin-top: 5px;
    }
}
</style>
