<template>
    <div>
        <card v-for="(schedule, sIndex) in value"
              :key="sIndex"
              class="schedule-row"
        >
            <v-button class="schedule-row__delete"
                      type="button"
                      schema="link"
                      @click.native="value.splice(sIndex, 1)"
            >
                <i class="icon-trash" />
            </v-button>
            <v-input v-model="schedule.startAt"
                     class="schedule-row__from"
                     label="С"
                     type="time"
            />
            <v-input v-model="schedule.finishAt"
                     class="schedule-row__to"
                     label="До"
                     type="time"
            />
            <div class="schedule-row__days">
                <v-checkbox v-model="schedule.mon"
                            position="bottom"
                            label="Пн"
                />
                <v-checkbox v-model="schedule.tue"
                            position="bottom"
                            label="Вт"
                />
                <v-checkbox v-model="schedule.wed"
                            position="bottom"
                            label="Ср"
                />
                <v-checkbox v-model="schedule.thu"
                            position="bottom"
                            label="Чт"
                />
                <v-checkbox v-model="schedule.fri"
                            position="bottom"
                            label="Пт"
                />
                <v-checkbox v-model="schedule.sat"
                            position="bottom"
                            label="Сб"
                />
                <v-checkbox v-model="schedule.sun"
                            position="bottom"
                            label="Вс"
                />
            </div>
        </card>
        <v-button class="btn btn_link"
                  type="button"
                  schema="secondary"
                  @click.native="addSchedule"
        >
            Добавить время
        </v-button>
    </div>
</template>

<script>
import ScheduleFactory from "~/assets/js/factories/ScheduleFactory";
import VButton from "~/components/common/form/button/VButton";
import VInput from "~/components/common/form/VInput";
import VCheckbox from "~/components/common/form/checkbox/VCheckbox";
import Card from "~/components/common/VCard";

export default {
    name: "GroupScheduleEditor",
    components: { Card, VCheckbox, VInput, VButton },
    props: ["value"],
    methods: {
        addSchedule() {
            this.value.push(ScheduleFactory.create());
        },
    },
};
</script>

<style scoped lang="scss">
.schedule-row {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 15px;
    width: fit-content;
    margin-bottom: 15px;

    .schedule-row__days {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 15px;
    }

    @include media-breakpoint-down(md) {
        flex-direction: column;
        .schedule-row__from {
            grid-row: 1;
        }
        .schedule-row__to {
            grid-row: 2;
        }
        .schedule-row__days {
            grid-row: 3;
        }
    }

    .schedule-row__delete {
        color: $danger;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}
</style>
