<template>
    <div v-if="c_canEdit || c_students.length"
         class="group"
    >
        <div class="group__header h4">
            <nuxt-link v-if="c_canEdit"
                       class="group__edit icon-edit"
                       :to="`/teacher/groups/${group.id}/edit`"
            />
            {{ group.name }}
        </div>
        <div class="group__students">
            <student-card v-for="student in c_students"
                          :key="student.id"
                          :student="student"
            />
            <p v-if="!c_students.length">
                Список учеников для этой группы пуст
            </p>
        </div>
    </div>
</template>

<script>
import StudentCard from "@/components/teacher/student/StudentCard";

export default {
    name: "Group",
    components: { StudentCard },
    props: ["group"],
    computed: {
        c_students() {
            return this.$store.getters["students/findByGroupId"](this.group.id).sort((a, b) => b.brains - a.brains);
        },
        c_canEdit() {
            return this.group.name !== "Нераспределенные ученики";
        },
    },
};
</script>

<style scoped lang="scss">
.group__edit {
    vertical-align: middle;
}

.group__students {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 30px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}
</style>
