<template>
    <form @submit.prevent="id ? update() : store()">
        <section class="mb-3">
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <v-input v-model="d_group.name"
                             label="Название"
                    />
                </div>
            </div>
            <v-textarea v-model="d_group.description"
                        class="w-100"
                        label="Описание"
            />
        </section>

        <section class="mb-3">
            <h4>Расписание</h4>
            <group-schedule-editor v-model="d_group.schedules" />
        </section>

        <section class="mb-3">
            <h4>Ученики</h4>
            <v-checkbox v-for="student in c_students"
                        :key="student.id"
                        v-model="d_group.students"
                        class="mb-3"
                        :checkbox-value="student"
            >
                {{ student.firstName }} {{ student.lastName }}
                <span class="text-muted">({{ getStudentGroup(student).name }})</span>
            </v-checkbox>
            <p v-if="c_students.length === 0">
                Список студентов пуст
            </p>
        </section>

        <form-errors v-if="d_error"
                     class="mb-3"
                     :errors="d_error"
        />
        <v-button :loading="d_loading"
                  type="submit"
        >
            {{ id ? "Применить изменения" : "Создать группу" }}
        </v-button>
    </form>
</template>

<script>
import { mapState } from "vuex";
import GroupScheduleEditor from "~/components/teacher/group/GroupScheduleEditor";
import GroupFactory from "~/assets/js/factories/GroupFactory";
import VInput from "~/components/common/form/VInput";
import FormErrors from "~/components/common/form/FormErrors";
import VTextarea from "~/components/common/form/VTextarea";
import VButton from "~/components/common/form/button/VButton";
import VCheckbox from "~/components/common/form/checkbox/VCheckbox";

export default {
    name: "GroupEditor",
    components: {
        GroupScheduleEditor,
        VCheckbox,
        VButton,
        VTextarea,
        FormErrors,
        VInput,
    },
    props: {
        id: {
            type: [Number, String],
            default: null,
        },
    },
    data() {
        const group = this.id
            ? this.$store.getters["groups/findById"](this.id)
            : null;
        const students = this.id
            ? this.$store.getters["students/findByGroupId"](this.id)
            : [];
        return {
            d_group: GroupFactory.create({
                schedules: [],
                students,
                ...group,
            }),
            d_loading: null,
            d_error: null,
        };
    },
    computed: {
        ...mapState({
            c_students: state => state.students.items,
        }),
    },
    methods: {
        async store() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                const res = await this.$store.dispatch("groups/store", this.d_group);
                this.$emit("create", res);
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
        async update() {
            if (this.d_loading) {
                return;
            }
            this.d_loading = true;
            try {
                const res = await this.$store.dispatch("groups/update", {
                    id: this.id,
                    data: this.d_group,
                });
                this.$emit("update", res);
            } catch (e) {
                this.d_error = e.data;
            }
            this.d_loading = false;
        },
        getStudentGroup(student) {
            return this.$store.getters["groups/findById"](student.groupId) || {};
        },
    },
};
</script>

<style scoped>

</style>
