<template>
    <div class="brains"
         :class="c_class"
    >
        <img src="/icons/brains.png"
             class="brains__img"
             alt="Брейники"
        >
        <div v-if="value !== undefined"
             class="brains__val"
        >
            {{ value }}
        </div>
    </div>
</template>

<script>
export default {
    name: "VBrains",
    props: {
        value: {
            default: undefined,
        },
        mini: {
            default: false,
        },
        vertical: {
            default: false,
        },
    },
    computed: {
        c_class() {
            const res = [];
            if (this.mini) {
                res.push("brains_mini");
            }
            if (this.vertical) {
                res.push("brains_vertical");
            }
            return res.join(" ");
        },
    },
};
</script>

<style lang="scss">
.brains {
    position: relative;
    vertical-align: middle;
    display: inline-grid;
    grid-template-columns: 50px auto;
    align-items: center;
    grid-gap: 5px;
    font-size: 22px;
    text-align: center;
    line-height: 22px;
    font-weight: 900;
    color: $dark;

    @include media-breakpoint-down(md) {
        font-size: 14px;
    }
}

.brains_mini {
    grid-template-columns: 30px auto;
    font-weight: 500;
    font-size: 16px;
    grid-gap: 2px;

    .brains__img {
        width: 25px;
        height: 25px;
    }
}

.brains_vertical {
    grid-template-columns: auto;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    grid-gap: 0;
}

.brains_vertical.brains_mini {
    font-size: 16px;
    line-height: 16px;
}

.brains__img {
    width: 50px;
    height: 50px;
    margin: auto;
}
</style>
