<template>
    <aside class="sidebar"
           :class="{sidebar_active: $store.state.sidebar.show || alwaysOpen}"
    >
        <div class="sidebar__header">
            <nuxt-link class="sidebar__settings icon-settings text-decoration-none"
                       to="/student/profile"
            />
            <nuxt-link to="/student/profile"
                       class="text-decoration-none d-inline-block"
            >
                <avatar class="sidebar__avatar"
                        :level="$store.state.auth.user.level"
                        :image="$store.getters['auth/imageUrl']"
                />
            </nuxt-link>
            <div class="sidebar__user">
                <v-brains :value="$store.state.auth.user.brains"
                          :mini="true"
                          :vertical="true"
                />
                <div>
                    <div class="sidebar__username">
                        {{ $store.getters["auth/username"] }}
                    </div>
                    <div class="sidebar__role">
                        Ученик
                    </div>
                </div>
            </div>
            <div class="sidebar__burger"
                 @click="$store.commit('sidebar/toggle')"
            >
                <span class="sidebar__burger-btn"
                      :class="{'sidebar__burger-btn_active': $store.state.sidebar.show}"
                />
            </div>
        </div>
        <ul class="sidebar__list">
            <li>
                <nuxt-link class="sidebar__link"
                           to="/student/apps"
                >
                    <i class="sidebar__link-icon icon-app" />
                    Тренажеры
                </nuxt-link>
            </li>
            <li>
                <nuxt-link class="sidebar__link"
                           to="/student/results"
                >
                    <i class="sidebar__link-icon icon-chart-line" />
                    Мои результаты
                </nuxt-link>
            </li>
            <li>
                <nuxt-link v-if="c_group.id"
                           class="sidebar__link"
                           to="/student/group"
                >
                    <i class="sidebar__link-icon icon-schedule" />
                    Моя группа
                </nuxt-link>
            </li>
            <li>
                <nuxt-link v-if="c_group.id"
                           class="sidebar__link"
                           to="/student/homeworks"
                >
                    <i class="sidebar__link-icon icon-homework" />
                    Домашние задания
                </nuxt-link>
            </li>
            <li>
                <nuxt-link class="sidebar__link"
                           to="/student/subscriptions"
                >
                    <i class="sidebar__link-icon icon-subscription" />
                    Абонементы
                </nuxt-link>
            </li>
            <li>
                <nuxt-link class="sidebar__link"
                           to="/student/attestations"
                >
                    <i class="sidebar__link-icon icon-stopwatch" />
                    Аттестация
                </nuxt-link>
            </li>
            <li>
                <div role="button"
                     class="sidebar__link"
                     @click.prevent="logout"
                >
                    <i class="sidebar__link-icon icon-exit" />
                    Выйти
                </div>
            </li>
            <li>
                <v-button schema="light"
                          class="sidebar__help"
                          @click.native="showFeedbackModal"
                >
                    Нужна помощь?
                </v-button>
            </li>
        </ul>
    </aside>
</template>

<script>
import { mapState } from "vuex";
import VButton from "@/components/common/form/button/VButton";
import Avatar from "~/components/common/Avatar";
import VBrains from "~/components/common/brains/VBrains";

export default {
    name: "Sidebar",
    components: {
        VButton,
        VBrains,
        Avatar,
    },
    props: {
        alwaysOpen: {
            default: false,
        },
    },
    computed: {
        ...mapState({
            c_group: state => state.group,
        }),
    },
    mounted() {
        this.$router.beforeEach((to, from, next) => {
            this.$store.commit("sidebar/toggle", false);
            next();
        });
    },
    methods: {
        async logout() {
            await this.$store.dispatch("auth/logout", "student");
            await this.$router.push("/");
        },
        showFeedbackModal() {
            window.showFeedbackModal();
        },
    },
};
</script>

<style scoped lang="scss">

</style>
